Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

implemented simplification of scalar matrix scalar addition and subtraction operations
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
Due: compiler

update two encode methods for PassThrough and Recode
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderPassThroughTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderRecodeTest.java
Due: runtime

corrected lines that may have caused an error
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyScalarMatrixPMOperationTest.java
  src/test/scripts/functions/rewrite/RewriteScalarMinusMatrixMinusScalar.R
  src/test/scripts/functions/rewrite/RewriteScalarPlusMatrixMinusScalar.R
Due: compiler

corrected lines that may have caused an error
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyScalarMatrixPMOperationTest.java
Due: none

Main logic in ColumnDecoderComposite done, ColumnDecoderBin as example done, test passes for Bin
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

Add Debugging Log for Checking FType Propagation
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedAll.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedL2SVMPlanningTest.java
Due: compiler

Rewrite Comments into English
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/parser/StatementBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/BinaryMatrixScalarFEDInstruction.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanVisualizer.py
Due: runtime, compiler

added dedup builtin + comments
  scripts/builtin/dedup.dml
Due: none

R version now shows memory usage
  src/test/scripts/functions/builtin/scaleRobust.R
Due: none

added bigger matrix
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
Due: none

correct step2GatherNNZGeam
  src/main/java/org/apache/sysds/runtime/instructions/gpu/context/CSRPointer.java
  src/test/java/org/apache/sysds/test/functions/lineage/GPUFullReuseTest.java
Due: runtime

meauser memory for dml in the java test class
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
  src/test/scripts/functions/builtin/scaleRobust.R
Due: none

[SYSTEMDS-3889] New simplification rewrite for matrix-scalar ops
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyScalarMatrixPMOperationTest.java
  src/test/scripts/functions/rewrite/RewriteScalarMinusMatrixMinusScalar.R
  src/test/scripts/functions/rewrite/RewriteScalarMinusMatrixMinusScalar.dml
  src/test/scripts/functions/rewrite/RewriteScalarPlusMatrixMinusScalar.R
  src/test/scripts/functions/rewrite/RewriteScalarPlusMatrixMinusScalar.dml
Due: compiler

[SYSTEMDS-3889] Fix new matrix-scalar rewrite test (missing cast)
  src/test/scripts/functions/rewrite/RewriteScalarMinusMatrixMinusScalar.dml
Due: none

Mixed test and optimization on Pass through
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

added computeDRMatrix function
  scripts/builtin/dedup.dml
Due: none

added LSH blocking (for cosine similarity)
  scripts/builtin/dedup.dml
Due: none

added formBuckets function + comments process steps
  scripts/builtin/dedup.dml
Due: none

fixed bracket mistake
  scripts/builtin/dedup.dml
Due: none

correct csr2dense
  src/main/java/org/apache/sysds/runtime/instructions/gpu/context/CSRPointer.java
  src/main/java/org/apache/sysds/runtime/matrix/data/CudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/DoublePrecisionCudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/SinglePrecisionCudaSupportFunctions.java
Due: runtime, matrix

ensure rows are correctly sorted
  src/main/java/org/apache/sysds/runtime/instructions/gpu/context/CSRPointer.java
Due: runtime

use checkGPU() in GPUFullReuseTest again after all tests pass now
  src/test/java/org/apache/sysds/test/functions/lineage/GPUFullReuseTest.java
Due: none

added scikit Robust Scaler for comparison
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
  src/test/scripts/functions/builtin/scaleRobust.py
Due: none

R version cleaned
  src/test/scripts/functions/builtin/scaleRobust.R
Due: none

Unify and Extend allowsFederated & getFType
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/runtime/instructions/FEDInstructionParser.java
Due: runtime, compiler

Unify and Extend allowsFederated & getFType
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
Due: compiler

Fix visted hops in cost-based enumerate program
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
Due: compiler

Fix pruneFedPlans() == null, getFedPlanAfterPrune == null
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
Due: compiler

Wire built-in function calls with live-out variable
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
Due: compiler

Unify Printer & Logger in Cost-based Federated Planner, Add Debugging Log
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedCostBased.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerLogger.java
Due: compiler

Unify Printer & Logger in Cost-based Federated Planner, Add Debugging Log
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
Due: compiler

Should fix "detectAndResolveConflictFedPlan"
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
Due: compiler

Translate korean comments into english
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
Due: compiler

Middle version
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnBlock.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnInput.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnEncoderBinDecoderTest.java
Due: runtime

Fix compile errors caused by merge (rebase)
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/runtime/instructions/FEDInstructionParser.java
Due: runtime, compiler

Middle version
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
Due: runtime
