Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Add TopKData holder class
  src/main/java/org/apache/sysds/runtime/compress/TopK/TopKData.java
Due: runtime, compress

Add TopKCompressor implementation
  src/main/java/org/apache/sysds/runtime/compress/TopK/TopKCompressor.java
Due: runtime, compress

Fix MatrixBlock API: setValue -> set in TopKCompressor
  src/main/java/org/apache/sysds/runtime/compress/TopK/TopKCompressor.java
Due: runtime, compress

PiecewiseLinearUtils.computeBreakpointSuccessive is compressed in O(n)
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
Due: runtime, compress

WIP: add setName and getName first basics
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameFrameCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnaryFrameCPInstruction.java
Due: runtime, compiler, util

docs: update OOC project plan
  README.md
Due: none

.
  README.md
Due: none

Shorten daemon event-loop comment in FederatedWorker
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
Due: runtime

Fix Flaky Tests from Blocking Thread Pools
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime

[MINOR] Fix Flaky Tests from Blocking Thread Pools (#2489)
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime

[BWARE] Track more compressed-friendly ops in FederatedWorkloadAnalyzer (#2481)
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkloadAnalyzer.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedWorkloadAnalyzerTest.java
Due: runtime

Use daemon threads for CommonThreadPool fallback pools
  src/main/java/org/apache/sysds/runtime/util/CommonThreadPool.java
Due: runtime

Revert Java test job timeout to 30 minutes
  .github/workflows/javaTests.yml
Due: none

Old DP algorithm and its usages are removed
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
Due: runtime, compress

add DDCLZW enum value to ColGroupType
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
Due: runtime, compress

Restore interrupt status in swallowed InterruptedException handlers
  dev/release/src/test/java/org/apache/sysds/validation/Utility.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCMatrixIOHandler.java
  src/test/java/org/apache/sysds/performance/generators/GenMatrices.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/functions/federated/monitoring/FederatedBackendPerformanceTest.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedMatrixScalarOperationsTest.java
  src/test/java/org/apache/sysds/test/usertest/Base.java
Due: runtime

[MINOR][CI] Fix leaked threads hanging Java test forks (#2488)
  .github/workflows/javaTests.yml
  dev/release/src/test/java/org/apache/sysds/validation/Utility.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/util/CommonThreadPool.java
  src/test/java/org/apache/sysds/performance/generators/GenMatrices.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/functions/federated/monitoring/FederatedBackendPerformanceTest.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedMatrixScalarOperationsTest.java
  src/test/java/org/apache/sysds/test/functions/lineage/FedFullReuseTest.java
  src/test/java/org/apache/sysds/test/functions/lineage/FedUDFReuseTest.java
  src/test/java/org/apache/sysds/test/functions/lineage/LineageFedReuseAlg.java
  src/test/java/org/apache/sysds/test/usertest/Base.java
Due: runtime

Add getCategoricalMask DML builtin
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/functionobjects/Builtin.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/functions/transform/GetCategoricalMaskTest.java
  src/test/scripts/functions/transform/GetCategoricalMaskTest.dml
Due: runtime, compiler, util

Handle feature-hash columns in getCategoricalMask and fix unused import
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/TestUtils.java
Due: runtime

Add unit tests for getCategoricalMask defensive code paths
  src/test/java/org/apache/sysds/test/component/frame/transform/GetCategoricalMaskInstructionTest.java
Due: none

Reject unsupported transform methods in getCategoricalMask
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/component/frame/transform/GetCategoricalMaskInstructionTest.java
Due: runtime

Refactor getCategoricalMask into staged builder and expand tests
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/component/frame/transform/GetCategoricalMaskInstructionTest.java
Due: runtime

Use deterministic alphabetical test run order in surefire
  pom.xml
Due: none

Capture stacks of stalled surefire forks in test container
  docker/entrypoint.sh
Due: none

Remove surefire fork watchdog from test container entrypoint
  docker/entrypoint.sh
Due: none

[BWARE] Add getCategoricalMask DML builtin (#2482)
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/functionobjects/Builtin.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/component/frame/transform/GetCategoricalMaskInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/transform/GetCategoricalMaskTest.java
  src/test/scripts/functions/transform/GetCategoricalMaskTest.dml
Due: runtime, compiler, util

Tune compressed matmul fast paths and Spark execution decisions
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCompAgg.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibMMChain.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTSMM.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
Due: runtime, compress, compiler

Add coverage tests for compressed matmul fast paths and exec-type decisions
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibMMChainTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibRightMultBySDCTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/DecoderCompositeTest.java
  src/test/java/org/apache/sysds/test/functions/sparkexectype/SparkTransitiveExecTypeTest.java
  src/test/scripts/functions/sparkexectype/SparkExecTypeBinary.dml
  src/test/scripts/functions/sparkexectype/SparkExecTypeUnary.dml
Due: runtime, compress

Fix race in parallel composite decode breaking dummycode+recode
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
Due: runtime

Align unary/binary transitive Spark exec-type decision and add compile test
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/test/java/org/apache/sysds/test/component/compile/CompilerTestBase.java
  src/test/java/org/apache/sysds/test/component/compile/SparkTransitiveExecTypeCompileTest.java
Due: compiler

Deduplicate not-implemented logs in ColGroupTest
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupTest.java
Due: none

[MINOR] Deduplicate not-implemented logs in ColGroupTest (#2491)
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupTest.java
Due: none

[MINOR][CI] Add hard guard that dumps stacks on stalled test forks
  docker/entrypoint.sh
  pom.xml
Due: none

setup project
  hello.dml
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CentralMomentOOCInstruction.java
Due: runtime

test: add failing OOC covariance tests
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceTest.java
  src/test/scripts/functions/ooc/Covariance.dml
Due: none

bench: define CP versus OOC benchmark plan
  dev/ooc-benchmark-plan.md
Due: none

WIP: - fix dim for SetNames - implemented tests for SetName and GetName
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/test/java/org/apache/sysds/test/functions/frame/FrameColumnNamesTest.java
  src/test/scripts/functions/frame/GetNames.dml
  src/test/scripts/functions/frame/SetNames.dml
Due: compiler

WIP: - add a test for propagation of column names during cbind operations - test for other operations following
  src/test/java/org/apache/sysds/test/functions/frame/FrameColNamesPropagationTest.java
  src/test/scripts/functions/frame/ColNamePropagation.dml
Due: none

Add column name propagation tests for cbind, rbind and slice
  src/test/java/org/apache/sysds/test/functions/frame/FrameColNamesPropagationTest.java
  src/test/scripts/functions/frame/ColNameCbindPropagation.dml
  src/test/scripts/functions/frame/ColNamePropagation.dml
  src/test/scripts/functions/frame/ColNameRbindPropagation.dml
  src/test/scripts/functions/frame/ColNameSlicePropagation.dml
Due: none

[SYSTEMDS-3857] Set/GetNames on Data Frames
  docs/site/dml-language-reference.md
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
