Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

add support for SP Ternary ops
  src/main/java/org/apache/sysds/resource/cost/CPCostUtils.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
  src/main/java/org/apache/sysds/resource/cost/SparkCostUtils.java
Due: util

add config option for the costs weighting factor
  scripts/resource/options.properties
Due: none

add IO metrics + update objective functions + implement ResourceOptimizer
  docs/api/java/org/apache/sysds/resource/class-use/CloudUtils.InstanceType.html
  scripts/resource/aws_regional_prices.csv
  scripts/resource/ec2_stats.csv
  scripts/resource/requirements.txt
  scripts/resource/update_prices.py
  src/main/java/org/apache/sysds/hops/recompile/Recompiler.java
  src/main/java/org/apache/sysds/lops/compile/Dag.java
  src/main/java/org/apache/sysds/parser/DataExpression.java
  src/main/java/org/apache/sysds/resource/CloudInstance.java
  src/main/java/org/apache/sysds/resource/CloudUtils.java
  src/main/java/org/apache/sysds/resource/ResourceCompiler.java
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/main/java/org/apache/sysds/resource/cost/CPCostUtils.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimationWrapper.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
  src/main/java/org/apache/sysds/resource/cost/IOCostUtils.java
  src/main/java/org/apache/sysds/resource/enumeration/EnumerationUtils.java
  src/main/java/org/apache/sysds/resource/enumeration/Enumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/InterestBasedEnumerator.java
  src/test/java/org/apache/sysds/test/component/resource/CloudUtilsTests.java
  src/test/java/org/apache/sysds/test/component/resource/CostEstimatorTest.java
  src/test/java/org/apache/sysds/test/component/resource/EnumeratorTests.java
  src/test/java/org/apache/sysds/test/component/resource/InstructionsCostEstimatorTest.java
  src/test/java/org/apache/sysds/test/component/resource/RecompilationTest.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
  src/test/java/org/apache/sysds/test/component/resource/TestingUtils.java
  src/test/scripts/component/resource/Algorithm_L2SVM.dml
  src/test/scripts/component/resource/Algorithm_Linreg.dml
  src/test/scripts/component/resource/Algorithm_PCA.dml
  src/test/scripts/component/resource/Algorithm_PNMF.dml
Due: compiler, util

add spark.executor.memoryOverheadFactor config
  scripts/resource/launch/cluster_launch.sh
  scripts/resource/launch/cluster_utils.sh
  src/main/java/org/apache/sysds/resource/CloudUtils.java
Due: util

push to preserve in any case
  scripts/resource/launch/single_node_run_script.sh
  src/main/java/org/apache/sysds/resource/CloudUtils.java
  src/main/java/org/apache/sysds/resource/ResourceCompiler.java
  src/main/java/org/apache/sysds/resource/cost/CPCostUtils.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
  src/main/java/org/apache/sysds/resource/cost/IOCostUtils.java
  src/main/java/org/apache/sysds/resource/cost/SparkCostUtils.java
  src/main/java/org/apache/sysds/resource/enumeration/Enumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/PruneBasedEnumerator.java
Due: util

final adjustments for experiments
  scripts/resource/README.md
  scripts/resource/ec2_stats.csv
  scripts/resource/launch/cluster.env
  scripts/resource/launch/single_node.env
  src/test/java/org/apache/sysds/test/component/resource/RecompilationTest.java
Due: none

Modify Federated Covariance Test to account for the weighted covariance cases
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedCovarianceTest.java
Due: none

Add the corresponding DML scripts for the weighted Federated Covariance tests
  src/test/scripts/functions/federated/FederatedCovarianceAlignedWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCovarianceAlignedWeightedTestReference.dml
  src/test/scripts/functions/federated/FederatedCovarianceAllAlignedWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCovarianceAllAlignedWeightedTestReference.dml
  src/test/scripts/functions/federated/FederatedCovarianceWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCovarianceWeightedTestReference.dml
Due: none

Fix the CovarianceFEDInstruction methods responsible for the processing of federated weighted covariance instruction
  src/main/java/org/apache/sysds/runtime/instructions/fed/CovarianceFEDInstruction.java
Due: runtime

Modify the FederatedCovarianceTest to account for weighted covariance
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedCovarianceTest.java
  src/test/scripts/functions/federated/FederatedCovarianceAlignedWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCovarianceAlignedWeightedTestReference.dml
  src/test/scripts/functions/federated/FederatedCovarianceAllAlignedWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCovarianceAllAlignedWeightedTestReference.dml
  src/test/scripts/functions/federated/FederatedCovarianceWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCovarianceWeightedTestReference.dml
Due: none

Restoration of Pre-FED Privacy Test Code
  src/test/java/org/apache/sysds/test/functions/privacy/CheckedConstraintsLogTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/FederatedLmCGTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/FederatedWorkerHandlerTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/FineGrainedPrivacyTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/MatrixMultiplicationPropagationTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/MatrixRuntimePropagationTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/PrivacyLineageTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/ReadWriteTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/ScalarPropagationTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/algorithms/BuiltinGLMTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/algorithms/FederatedL2SVMTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/algorithms/GLMTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/fedplanning/FTypeCombTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/fedplanning/FederatedCostEstimatorTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/fedplanning/FederatedDynamicPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/fedplanning/FederatedKMeansPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/fedplanning/FederatedL2SVMPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/fedplanning/FederatedMultiplyPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/propagation/AppendPropagatorTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/propagation/CorePropagatorTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/propagation/MatrixMultiplicationPropagatorTest.java
Due: none

Debug division instruction due to instruction parsing error in github actions
  src/main/java/org/apache/sysds/runtime/instructions/fed/CovarianceFEDInstruction.java
Due: runtime

Fix incorrect generation of the division instruction in the weighted mean calculation
  src/main/java/org/apache/sysds/runtime/instructions/fed/CovarianceFEDInstruction.java
Due: runtime

[MINOR] Cleanup code quality (tab formatting, method annotations)
  src/main/java/org/apache/sysds/hops/cost/CostEstimatorStaticRuntime.java
  src/main/java/org/apache/sysds/resource/cost/CPCostUtils.java
  src/main/java/org/apache/sysds/resource/cost/SparkCostUtils.java
  src/main/java/org/apache/sysds/runtime/functionobjects/RollIndex.java
  src/test/java/org/apache/sysds/performance/compression/TransformPerf.java
  src/test/java/org/apache/sysds/test/component/resource/CPCostUtilsTest.java
  src/test/java/org/apache/sysds/test/component/resource/InstructionsCostEstimatorTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinImageSamplePairingLinearizedTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinTSNETest.java
Due: runtime, compiler, util

[SYSTEMDS-3789] Fix federated covariance (missing weighted case)
  src/main/java/org/apache/sysds/runtime/instructions/fed/CovarianceFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedCovarianceTest.java
  src/test/scripts/functions/federated/FederatedCovarianceAlignedWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCovarianceAlignedWeightedTestReference.dml
  src/test/scripts/functions/federated/FederatedCovarianceAllAlignedWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCovarianceAllAlignedWeightedTestReference.dml
  src/test/scripts/functions/federated/FederatedCovarianceWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCovarianceWeightedTestReference.dml
Due: runtime

[MINOR] Fix missing licenses and remove wildcard imports
  scripts/resource/README.md
  scripts/resource/bin/systemds-ropt
  scripts/resource/requirements.txt
  scripts/resource/update_prices.py
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
Due: util

[SYSTEMDS-3790] Restore federated planner tests (all, heuristic)
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/hops/fedplanner/FTypes.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedDynamicPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedKMeansPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedL2SVMPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedMultiplyPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/fedplanning/FTypeCombTest.java
  src/test/java/org/apache/sysds/test/functions/fedplanning/FederatedCostEstimatorTest.java
  src/test/java/org/apache/sysds/test/functions/fedplanning/FederatedDynamicPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/fedplanning/FederatedKMeansPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/fedplanning/FederatedL2SVMPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/fedplanning/FederatedMultiplyPlanningTest.java
Due: compiler

[SYSTEMDS-3777] New adasyn builtin function for TPCx-AI
  scripts/builtin/adasyn.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAdasynTest.java
  src/test/resources/datasets/diabetes/diabetes.csv
  src/test/resources/datasets/diabetes/diabetes.json
  src/test/scripts/functions/builtin/adasyn.dml
Due: util

[SYSTEMDS-3777] Improved adasyn builtin (tests, vectorized impl)
  scripts/builtin/adasyn.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAdasynRealDataTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAdasynTest.java
  src/test/resources/datasets/diabetes/diabetes.json
  src/test/scripts/functions/builtin/adasynRealData.dml
Due: none

[SYSTEMDS-3777] Fix adasyn test flakiness via fixed seeds
  scripts/builtin/adasyn.dml
  src/test/scripts/functions/builtin/adasynRealData.dml
Due: none

[SYSTEMDS-3777] Additional adasyn real data tests
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAdasynRealDataTest.java
  src/test/resources/datasets/diabetes/tfspec.json
  src/test/scripts/functions/builtin/adasynRealData.dml
Due: compiler

[SYSTEMDS-3790] Fix transformencode robustness for non-existing columns
  src/main/java/org/apache/sysds/runtime/transform/encode/EncoderFactory.java
  src/test/scripts/functions/builtin/adasynRealData.dml
Due: runtime

Federated Planner MemoTable
  src/main/java/org/apache/sysds/hops/fedplanner/MemoTable.java
  src/test/java/org/apache/sysds/test/component/federated/privacy/MemoTableTest.java
Due: compiler

[SYSTEMDS-3793] Fix transpose performance on ultra-sparse matrices
  src/main/java/org/apache/sysds/runtime/data/SparseBlock.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix

add tests for scuro
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/aligner/task.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/representation_dataloader.py
  src/main/python/tests/scuro/__init__.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

Add tests for weighted federated central moment
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part1/FederatedCentralMomentTest.java
  src/test/scripts/functions/federated/FederatedCentralMomentWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCentralMomentWeightedTestReference.dml
Due: none

[SYSTEMDS-3790] New Federated Planner MemoTable
  src/main/java/org/apache/sysds/hops/fedplanner/MemoTable.java
  src/test/java/org/apache/sysds/test/component/federated/MemoTableTest.java
Due: compiler
