Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

Fixed weird NullPointer for band=1, minor refactoring comments
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGByteReader.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGProperties.java
Due: runtime

Reverted breaking changes to sparse handling
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
Due: runtime

fix bub
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

[SYSTEMDS-3798,3807] Improved loop vectorization rewrite, code coverage
  src/main/java/org/apache/sysds/hops/rewrite/RewriteForLoopVectorization.java
Due: compiler

Revert "[SYSTEMDS-3807] Fix test code coverage and minor lineage issues"
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
Due: runtime

Revert "[SYSTEMDS-3790] Rework FedPlanner memo table, cost estimator, enumerator"
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/MemoTable.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/MemoTableTest.java
  src/test/scripts/functions/federated/cost.dml
Due: compiler

Registration for det-function for java implementation
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

Cleanup of det computation
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/DetTest.java
Due: runtime, matrix

optimized naming for clarity
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
Due: runtime, matrix

Revert "[SYSTEMDS-3798] Fix generality of loop vectorization rewrite"
  src/main/java/org/apache/sysds/hops/rewrite/RewriteForLoopVectorization.java
  src/test/java/org/apache/sysds/test/functions/vect/AutoVectorizationTest.java
Due: compiler

Revert "[SYSTEMDS-3798,3807] Improved loop vectorization rewrite, code coverage"
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/hops/rewrite/RewriteForLoopVectorization.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteIfElseTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteLoopVectorization.java
Due: compiler

audio video join (initial working version)
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/window.py
  src/main/python/systemds/scuro/utils/schema_helpers.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

[SYSTEMDS-3822] Fix incorrect sampling in top-k cleaning pipelines
  scripts/pipelines/scripts/utils.dml
Due: none

Added new compression test case for kmeans Added missing decompression handling for indexed MatrixBlock copy
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/compress/workload/WorkloadAlgorithmTest.java
  src/test/scripts/functions/compress/workload/WorkloadAnalysisKmeans.dml
Due: runtime, matrix

[SYSTEMDS-3823] Compression test case for bultin kmeans
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/compress/workload/WorkloadAlgorithmTest.java
  src/test/scripts/functions/compress/workload/WorkloadAnalysisKmeans.dml
Due: runtime, matrix

Update RewriterRuntimeUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuntimeUtils.java
Due: compiler

Setup
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/rewriter/AbstractRewriterRule.java
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterDataType.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterDataTypeSet.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterDatabase.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterExamples.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterHeuristic.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterHeuristicTransformation.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterHeuristics.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterInstruction.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterMain.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterMain2.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterQueuedTransformation.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRule.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleBuilder.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleSet.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuntimeUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatementEntry.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatementLink.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterVariableCreator.java
  src/main/java/org/apache/sysds/hops/rewriter/RuleContext.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
Due: compiler, util

Some fixes
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterDataType.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterInstruction.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRule.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatementEntry.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/TopologicalSort.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
Due: compiler

Some E-Class behavior
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/TopologicalSort.java
Due: compiler

Some more improvements (probably expensive)
  src/main/java/org/apache/sysds/hops/rewriter/RewriterAssertions.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterInstruction.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

Bugfix
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterAssertions.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterHeuristic.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterInstruction.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

Some more tests
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: none

Some more changes
  src/main/java/org/apache/sysds/hops/rewriter/RewriterHeuristic.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterHeuristics.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRule.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleSet.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterTopologySortTests.java
Due: compiler

Some progress with equivalence classes
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterAssertions.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRule.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

Topological sort bugfix
  src/main/java/org/apache/sysds/hops/rewriter/RewriterAssertions.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/TopologicalSort.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterTopologySortTests.java
Due: compiler

Some more changes
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuntimeUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/applications/L2SVMTest.java
Due: compiler

Better equality matching
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
Due: compiler

Some breaking changes for the topological sort
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFactTable.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterTopologySortTests.java
Due: compiler

Some major performance improvements
  src/main/java/org/apache/sysds/hops/rewriter/RewriterDataType.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterInstruction.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
Due: compiler

FIXXXX
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterAssertions.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterHeuristic.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterInstruction.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleSet.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

Bugfix
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterAssertions.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterDataType.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

Some improvements
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

Some progress with the topological sort
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuntimeUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterTopologySortTests.java
Due: compiler

Assertions initial commit
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterAssertions.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRule.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleSet.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatementEntry.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterTopologySortTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/AssertionTests.java
Due: compiler

Bugfix
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterAssertions.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterHeuristic.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuntimeUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

Better match filtering
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/MinimalDifference.java
Due: none
