Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

Middle version
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

Middle version
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

Bin, Recode, Passthrough done
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

rework GEMM
  src/main/java/org/apache/sysds/runtime/instructions/gpu/context/CSRPointer.java
  src/main/java/org/apache/sysds/runtime/matrix/data/CudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/DoublePrecisionCudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuMatMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/SinglePrecisionCudaSupportFunctions.java
  src/test/java/org/apache/sysds/test/functions/lineage/GPUFullReuseTest.java
Due: runtime, matrix

update multistage
  docker/sysdslight_multistage.Dockerfile
Due: none

rewrite csr2csc
  src/main/java/org/apache/sysds/runtime/matrix/data/DoublePrecisionCudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/SinglePrecisionCudaSupportFunctions.java
  src/test/scripts/functions/lineage/LineageReuseGPU4.dml
Due: runtime, matrix

add div to primitive tests and change primitives signature
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/test/java/org/apache/sysds/test/component/codegen/CPlanVectorPrimitivesTest.java
Due: runtime

cleanup validate code
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

add tests
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum11.R
  src/test/scripts/functions/einsum/einsum11.dml
Due: none

update dummy funtion for Processing columns in parallel
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderDummycodeTest.java
Due: runtime

Middle version
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: none

Middle version
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
Due: runtime

Refine for PR
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/fedplanner/AFederatedPlanner.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedAll.java
  src/main/java/org/apache/sysds/lops/compile/Dag.java
  src/main/java/org/apache/sysds/parser/StatementBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/instructions/FEDInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/BinaryMatrixScalarFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/FEDInstruction.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanVisualizer.py
Due: runtime, compiler

Remove incomplete test
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedCNNPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedFNNPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedLeNetPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedLinearRegressionPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedLogisticRegressionPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedPCAPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedPlanCostVerificationTest.java
Due: none

Ignore incomplete test
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedKMeansPlanningTest.java
Due: none

Ignore incomplete test
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedDynamicPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedL2SVMPlanningTest.java
Due: none

optimize primitives
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

Remove python execution, redirection (terminal to file)
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
Due: none

Fixed a bug where LOUT/FOUT-only hops were not properly removed from child hops during cost-based enumeration.
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
Due: compiler

Fixed incorrect JavaDoc annotations for method input parameters in FederatedPlanCostEnumerator.
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
Due: compiler

Add missing Apache license headers to federated test scripts
  graph.py
  src/test/scripts/functions/privacy/fedplanning/FederatedCNNPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedCNNPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedFNNPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedFNNPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLeNetPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLeNetPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLinearRegressionPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLinearRegressionPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLogisticRegressionPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLogisticRegressionPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedPCAPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedPCAPlanningTestReference.dml
Due: none

xor signature change
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

optimize Equal, Notequal, Max
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

notEqual vec-vec implementation
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

change signature of all primitives
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

better plan generation for einsum, handle more cases, added test that does matrix muls and elemwise muls with sums
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeCell.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum12.R
  src/test/scripts/functions/einsum/einsum12.dml
Due: runtime, compiler

Add missing test script (FederatedPlanCostEnumeratorTest12.dml)
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest12.dml
Due: none

Update pom.xml
  pom.xml
Due: none

add rowAggPattern49 to test files
  src/test/java/org/apache/sysds/test/functions/codegen/RowAggTmplTest.java
  src/test/scripts/functions/codegen/rowAggPattern49.R
  src/test/scripts/functions/codegen/rowAggPattern49.dml
Due: none

fix sparse-sparse matrix multiply
  src/main/java/org/apache/sysds/runtime/instructions/gpu/context/CSRPointer.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuMatMult.java
  src/test/scripts/functions/lineage/LineageReuseGPU4.dml
Due: runtime, matrix

work in progress
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
Due: compiler

added comments from meeting
  scripts/builtin/dedup.dml
Due: none

JAVA 17 BWARE COMMIT
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDCZero.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCompAgg.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibMMChain.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTSMM.java
  src/main/java/org/apache/sysds/runtime/compress/utils/HashMapIntToInt.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkloadAnalyzer.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/utils/FrameRDDConverterUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterTextCSV.java
  src/main/java/org/apache/sysds/runtime/io/IOUtilFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibAggregateUnarySpecialization.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleMultiColTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleUnbalancedTest.java
  src/test/java/org/apache/sysds/test/functions/compress/configuration/CompressForce.java
Due: runtime, matrix, frame, compress, compiler

revert metadata frame write
  src/main/java/org/apache/sysds/runtime/io/FrameWriterTextCSV.java
  src/main/java/org/apache/sysds/runtime/io/IOUtilFunctions.java
Due: runtime

revert RDD frame read
  src/main/java/org/apache/sysds/runtime/instructions/spark/utils/FrameRDDConverterUtils.java
Due: runtime

debug
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
Due: runtime

no skip decodeRecode
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
Due: runtime

safe cast
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
Due: runtime, frame
