Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

allow JIT
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime, frame

size prematerialize
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
Due: runtime, frame

estimate unique
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ABooleanArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/OptionalArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime, frame

m
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

set correction
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

offset
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ACompressedArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ArrayFactory.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

ddc
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ArrayFactory.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

cleanup unused function
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
Due: runtime, frame

hopefully
  src/main/java/org/apache/sysds/runtime/frame/data/columns/OptionalArray.java
Due: runtime, frame

parallel
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

setM
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

compress
  src/main/java/org/apache/sysds/runtime/frame/data/compress/CompressedFrameBlockFactory.java
Due: runtime, frame

info
  src/main/java/org/apache/sysds/runtime/frame/data/compress/CompressedFrameBlockFactory.java
Due: runtime, frame

added setIndexRange methods and completed testing
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/Sandbox.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockAlignment.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockDelete.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockGetFirstIndex.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockIndexRange.java
Due: runtime

jit
  src/main/java/org/apache/sysds/runtime/frame/data/compress/CompressedFrameBlockFactory.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime, frame

deleted sandbox class
  src/test/java/org/apache/sysds/test/component/sparse/Sandbox.java
Due: none

pushdown
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime, frame

pushdown to array
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime, frame

no meta
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
Due: runtime

compressed encode disable metadata
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
Due: runtime

call down
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashIntegerArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashLongArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/OptionalArray.java
Due: runtime, frame

fix confusion
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashIntegerArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashLongArray.java
Due: runtime, frame

fixes
  src/main/java/org/apache/sysds/runtime/frame/data/columns/OptionalArray.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime, frame

should be
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
Due: runtime, frame

ddc not valid
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ACompressedArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
Due: runtime, frame

indirections of ddc
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

ddc .... really nasty
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

super?
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

ups
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ACompressedArray.java
Due: runtime, frame

[SYSTEMDS-3784] Fix weighted unary-mm rewrite test cases
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyWeightedUnaryMMTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyWeightedUnaryMM.dml
Due: compiler

[SYSTEMDS-3787] New rewrite for transformencode w/o metadata output
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteRemoveTransformEncodeMeta.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/MultiReturnParameterizedBuiltinSPInstruction.java
Due: runtime, compiler

[SYSTEMDS-3787] Fix missing transformencode update federated backend
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/MultiReturnParameterizedBuiltinFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/MultiReturnParameterizedBuiltinSPInstruction.java
Due: runtime, frame

[SYSTEMDS-3784] Fix weighted unary-mm rewrite test cases, part 2
  src/main/java/org/apache/sysds/runtime/instructions/fed/MultiReturnParameterizedBuiltinFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyWeightedUnaryMMTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyWeightedUnaryMM.R
  src/test/scripts/functions/rewrite/RewriteSimplifyWeightedUnaryMM.dml
Due: runtime

[SYSTEMDS-3729] Fix federate response of roll function
  src/main/java/org/apache/sysds/runtime/instructions/fed/ReorgFEDInstruction.java
Due: runtime

[SYSTEMDS-3785] Fix rewrite test for simplify bushy binary ops
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyBushyBinaryOperationTest.java
Due: compiler

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
