Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

Add LLM inference support to JMLC API via Py4J bridge
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/python/systemds/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: runtime, compress, util

Add dynamic port allocation and improve resource cleanup
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/python/systemds/llm_worker.py
Due: util

Move llm_worker.py to fix Python module collision
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/python/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: util

Use python3 with fallback to python in Connection.java
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
Due: util

Add batch inference with FrameBlock and metrics support
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: util

Clean up test: extract constants and shared setup method
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: none

Add token counts, GPU support, and improve error handling
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/python/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: util

Fix bugs and improve code quality in benchmark framework
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/backends/mlx_backend.py
  scripts/staging/llm-bench/backends/ollama_backend.py
  scripts/staging/llm-bench/backends/openai_backend.py
  scripts/staging/llm-bench/backends/vllm_backend.py
  scripts/staging/llm-bench/requirements.txt
  scripts/staging/llm-bench/runner.py
  scripts/staging/llm-bench/scripts/aggregate.py
  scripts/staging/llm-bench/scripts/report.py
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
  scripts/staging/llm-bench/scripts/utils.py
  scripts/staging/llm-bench/workloads/math/loader.py
  scripts/staging/llm-bench/workloads/reasoning/loader.py
  scripts/staging/llm-bench/workloads/summarization/loader.py
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/ParamservUtils.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedTest.java
Due: runtime

[SYSTEMDS-3779] Verified equivalent reconstruction for tested matrices in benchmark class. Improved testing class.
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWBenchmark.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWTestUtils.java
Due: none

Fix fake metrics and add compute cost tracking
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/backends/base.py
  scripts/staging/llm-bench/backends/mlx_backend.py
  scripts/staging/llm-bench/backends/ollama_backend.py
  scripts/staging/llm-bench/backends/openai_backend.py
  scripts/staging/llm-bench/backends/vllm_backend.py
  scripts/staging/llm-bench/notebooks/vllm_colab.ipynb
  scripts/staging/llm-bench/runner.py
  scripts/staging/llm-bench/workloads/math/loader.py
  scripts/staging/llm-bench/workloads/reasoning/loader.py
  scripts/staging/llm-bench/workloads/reasoning/prompt.py
  scripts/staging/llm-bench/workloads/summarization/config.yaml
  scripts/staging/llm-bench/workloads/summarization/loader.py
Due: none

Add tests, ROUGE scoring, concurrent benchmarking, GPU profiling
  scripts/staging/llm-bench/.gitignore
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/__main__.py
  scripts/staging/llm-bench/backends/mlx_backend.py
  scripts/staging/llm-bench/backends/ollama_backend.py
  scripts/staging/llm-bench/backends/openai_backend.py
  scripts/staging/llm-bench/backends/vllm_backend.py
  scripts/staging/llm-bench/requirements.txt
  scripts/staging/llm-bench/runner.py
  scripts/staging/llm-bench/scripts/aggregate.py
  scripts/staging/llm-bench/scripts/report.py
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
  scripts/staging/llm-bench/scripts/utils.py
  scripts/staging/llm-bench/tests/__init__.py
  scripts/staging/llm-bench/tests/test_json_extraction_accuracy.py
  scripts/staging/llm-bench/tests/test_math_accuracy.py
  scripts/staging/llm-bench/tests/test_perf_metrics.py
  scripts/staging/llm-bench/tests/test_reasoning_accuracy.py
  scripts/staging/llm-bench/tests/test_runner.py
  scripts/staging/llm-bench/tests/test_summarization_accuracy.py
  scripts/staging/llm-bench/workloads/json_extraction/config.yaml
  scripts/staging/llm-bench/workloads/json_extraction/loader.py
  scripts/staging/llm-bench/workloads/math/config.yaml
  scripts/staging/llm-bench/workloads/math/loader.py
  scripts/staging/llm-bench/workloads/reasoning/config.yaml
  scripts/staging/llm-bench/workloads/reasoning/loader.py
  scripts/staging/llm-bench/workloads/summarization/config.yaml
  scripts/staging/llm-bench/workloads/summarization/loader.py
Due: none

Fix bash 3.x compatibility in run_all_benchmarks.sh
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
Due: none

Add embeddings workload (STS-B semantic similarity)
  scripts/staging/llm-bench/runner.py
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
  scripts/staging/llm-bench/tests/test_embeddings_accuracy.py
  scripts/staging/llm-bench/tests/test_runner.py
  scripts/staging/llm-bench/workloads/embeddings/__init__.py
  scripts/staging/llm-bench/workloads/embeddings/config.yaml
  scripts/staging/llm-bench/workloads/embeddings/loader.py
  scripts/staging/llm-bench/workloads/embeddings/prompt.py
Due: none

Add compute cost model and fix ROUGE/cost aggregation
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/runner.py
  scripts/staging/llm-bench/scripts/aggregate.py
  scripts/staging/llm-bench/scripts/report.py
Due: none

Refactor loadModel to accept worker script path as parameter
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/python/systemds/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: util

Add SystemDS JMLC backend with FrameBlock batch processing
  scripts/staging/llm-bench/backends/systemds_backend.py
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/results/summary.csv
  scripts/staging/llm-bench/results/systemds_distilgpt2_json_extraction/manifest.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_json_extraction/metrics.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_json_extraction/run_config.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_json_extraction/samples.jsonl
  scripts/staging/llm-bench/results/systemds_distilgpt2_math/manifest.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_math/metrics.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_math/run_config.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_math/samples.jsonl
  scripts/staging/llm-bench/results/systemds_distilgpt2_reasoning/manifest.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_reasoning/metrics.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_reasoning/run_config.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_reasoning/samples.jsonl
  scripts/staging/llm-bench/results/systemds_distilgpt2_summarization/manifest.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_summarization/metrics.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_summarization/run_config.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_summarization/samples.jsonl
  scripts/staging/llm-bench/runner.py
Due: none

Add embeddings workload for SystemDS backend
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/results/summary.csv
  scripts/staging/llm-bench/results/systemds_distilgpt2_embeddings/manifest.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_embeddings/metrics.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_embeddings/run_config.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_embeddings/samples.jsonl
Due: none

Trim verbose docstring in systemds_backend.py
  scripts/staging/llm-bench/backends/systemds_backend.py
Due: none

Replace SystemDS distilgpt2 with Qwen 3B for direct vLLM comparison
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/results/summary.csv
  scripts/staging/llm-bench/results/systemds_distilgpt2_embeddings/metrics.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_embeddings/samples.jsonl
  scripts/staging/llm-bench/results/systemds_distilgpt2_json_extraction/samples.jsonl
  scripts/staging/llm-bench/results/systemds_distilgpt2_math/metrics.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_math/samples.jsonl
  scripts/staging/llm-bench/results/systemds_distilgpt2_reasoning/metrics.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_reasoning/samples.jsonl
  scripts/staging/llm-bench/results/systemds_distilgpt2_summarization/metrics.json
  scripts/staging/llm-bench/results/systemds_distilgpt2_summarization/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_math/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/samples.jsonl
Due: none

Run SystemDS with Qwen 3B and Mistral 7B for direct vLLM comparison
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/results/summary.csv
  scripts/staging/llm-bench/results/systemds_mistral7b_embeddings/manifest.json
  scripts/staging/llm-bench/results/systemds_mistral7b_embeddings/metrics.json
  scripts/staging/llm-bench/results/systemds_mistral7b_embeddings/run_config.json
  scripts/staging/llm-bench/results/systemds_mistral7b_embeddings/samples.jsonl
  scripts/staging/llm-bench/results/systemds_mistral7b_json_extraction/manifest.json
  scripts/staging/llm-bench/results/systemds_mistral7b_json_extraction/metrics.json
  scripts/staging/llm-bench/results/systemds_mistral7b_json_extraction/run_config.json
  scripts/staging/llm-bench/results/systemds_mistral7b_json_extraction/samples.jsonl
  scripts/staging/llm-bench/results/systemds_mistral7b_math/manifest.json
  scripts/staging/llm-bench/results/systemds_mistral7b_math/metrics.json
  scripts/staging/llm-bench/results/systemds_mistral7b_math/run_config.json
  scripts/staging/llm-bench/results/systemds_mistral7b_math/samples.jsonl
  scripts/staging/llm-bench/results/systemds_mistral7b_reasoning/manifest.json
  scripts/staging/llm-bench/results/systemds_mistral7b_reasoning/metrics.json
  scripts/staging/llm-bench/results/systemds_mistral7b_reasoning/run_config.json
  scripts/staging/llm-bench/results/systemds_mistral7b_reasoning/samples.jsonl
  scripts/staging/llm-bench/results/systemds_mistral7b_summarization/manifest.json
  scripts/staging/llm-bench/results/systemds_mistral7b_summarization/metrics.json
  scripts/staging/llm-bench/results/systemds_mistral7b_summarization/run_config.json
  scripts/staging/llm-bench/results/systemds_mistral7b_summarization/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_math/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/samples.jsonl
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
Due: util

Remove deprecated trust_remote_code from dataset loaders
  scripts/staging/llm-bench/workloads/embeddings/loader.py
  scripts/staging/llm-bench/workloads/json_extraction/loader.py
  scripts/staging/llm-bench/workloads/math/loader.py
  scripts/staging/llm-bench/workloads/reasoning/loader.py
  scripts/staging/llm-bench/workloads/summarization/loader.py
Due: none

Update README with actual benchmark results and SystemDS backend docs
  scripts/staging/llm-bench/README.md
Due: none

Add gitignore rules for .env files, meeting notes, and local tool configs
  .gitignore
Due: none

Redesign benchmark report for clarity and minimal UI
  scripts/staging/llm-bench/benchmark_report.html
  scripts/staging/llm-bench/scripts/report.py
Due: none

Update benchmark runner with systemds backend and GPU comparison mode
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
Due: none

Clean up report: remove dead code, unused CSS, and hardcoded model name
  scripts/staging/llm-bench/benchmark_report.html
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/scripts/report.py
Due: none

Add presentation-friendly summary tables to benchmark report
  scripts/staging/llm-bench/benchmark_report.html
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/scripts/report.py
Due: none

rm files
  bin/systemds-standalone.sh
  use-java17-systemds.sh
Due: none

Increase worker startup timeout to 300s for larger models
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
Due: util

Revert accidental changes to MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
Due: runtime, compress
