Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

impl filter pipline
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5FilterPipelineMessage.java
Due: runtime

impl attribute
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5AttributeMessage.java
Due: runtime

test passing and optimized hdf5 readers
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5.java
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5Parallel.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5ByteReader.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5ContiguousDataset.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5RootObject.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5Superblock.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5DataLayoutMessage.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5DataSpaceMessage.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5DataTypeMessage.java
Due: runtime

[MINOR][SYSTEMDS-3878] Fix CVE--2023--44981 org.apache.zookeeper critical vulnerability
  docker/project_systemds-3878.md
  docker/scout_results/zookeeper/sysds_output1.md
  docker/scout_results/zookeeper/sysds_output2.md
  docker/scout_results/zookeeper/sysds_output3.md
  docker/sysds.Dockerfile
  docker/systemds-3878_summary-of-changes.md
  pom.xml
Due: none

add addditional text represetations and contexts
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/elmo.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_text_context_operators.py
Due: none

add imports to init
  src/main/python/systemds/scuro/__init__.py
Due: none

add missing context operators to test
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

add modality to context operators
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

fix imports
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
Due: none

add libraries to python workflow
  .github/workflows/python.yml
Due: none

fix parameters for windowing
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

[SYSTEMDS-3876] adjust MatrixMultiplyTest.java to use native BLAS for matrix multiplication
  docker/testsysds.Dockerfile
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
  src/test/scripts/SystemDS-config-native.xml
Due: none

More TODOS written and cleaned up project.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

[SYSTEMDS-3835] Add additional text and context operations
  .github/workflows/python.yml
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/elmo.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/text_context.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/unimodal.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_text_context_operators.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

add transform time to modalities and improve caching for memory efficiency
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/tests/scuro/data_generator.py
Due: none

[SYSTEMDS-3876] cleanup temporary files after test execution of MatrixMultiplyTest
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
  src/test/scripts/SystemDS-config-native.xml
Due: none

check if transform time is none
  src/main/python/systemds/scuro/modality/modality.py
Due: none

[SYSTEMDS-3937] Improve timing and memory efficiency (#2396)
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/tests/scuro/data_generator.py
Due: none

Dictionary initialisierung für Compress und rudimentäre Implementierung von Decompress
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

Uebersichtlichkeit verbessert
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

Minor error fixing. Redesigned compress method.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

Added red/write methods to serialize and deserialize from stream.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

Commented code, error handling for compress. next step make compress and decompress and its used data structures compatible.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

[MINOR][SYSTEMDS-3878] Fix pom.xml vulnerability (CVE-2024-47561)
  docker/scout_results/avro/sysds_output4.md
  pom.xml
Due: none

[MINOR][SYSTEMDS-3878] Fix pom.xml vulnerability (CVE-2023-25613)
  docker/scout_results/kerby/sysds_output5.md
  pom.xml
Due: none

Added first stages of tests. improved compression and decompression algorithms and try made them compatible.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: runtime, compress

Added convertToDDCLZW() method to ColGroupDDC Class. Added convertToDDC test for ColGroupDDCTest. Improved compress/decompress methods in LZW class.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: runtime, compress

Started working on ColGroupDDCLZW's other methods that need to be implemted from its Interface.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

Support serialization for UDF encoders
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoder.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderUDF.java
  src/main/java/org/apache/sysds/runtime/transform/encode/EncoderFactory.java
Due: runtime

Add serialization test for UDF encoder
  src/test/java/org/apache/sysds/test/functions/io/binary/SerializeTest.java
Due: none

test commit
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: none

[SYSTEMDS-3779] Added new Compression and ColGroup Types DDCLZW.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

[SYSTEMDS-3779] Introduce initial ColGroupDDCLZW with LZW-compressed mapping
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

Delete some unneeded files.
  scripts/ssb/queries/q2_1_groupby.dml
  scripts/ssb/queries/simple_join_example.dml
Due: none

Move ssb directory to staging.
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/queries/q1_1.dml
  scripts/staging/ssb/queries/q1_2.dml
  scripts/staging/ssb/queries/q1_3.dml
  scripts/staging/ssb/queries/q2_1.dml
  scripts/staging/ssb/queries/q2_2.dml
  scripts/staging/ssb/queries/q2_3.dml
  scripts/staging/ssb/queries/q3_1.dml
  scripts/staging/ssb/queries/q3_2.dml
  scripts/staging/ssb/queries/q3_3.dml
  scripts/staging/ssb/queries/q3_4.dml
  scripts/staging/ssb/queries/q4_1.dml
  scripts/staging/ssb/queries/q4_2.dml
  scripts/staging/ssb/queries/q4_3.dml
  scripts/staging/ssb/sql/q1.1.sql
  scripts/staging/ssb/sql/q1.2.sql
  scripts/staging/ssb/sql/q1.3.sql
  scripts/staging/ssb/sql/q2.1.sql
  scripts/staging/ssb/sql/q2.2.sql
  scripts/staging/ssb/sql/q2.3.sql
  scripts/staging/ssb/sql/q3.1.sql
  scripts/staging/ssb/sql/q3.2.sql
  scripts/staging/ssb/sql/q3.3.sql
  scripts/staging/ssb/sql/q3.4.sql
  scripts/staging/ssb/sql/q4.1.sql
  scripts/staging/ssb/sql/q4.2.sql
  scripts/staging/ssb/sql/q4.3.sql
Due: none

[MINOR][SYSTEMDS-3878] Fix pom.xml (<dependencyManagement>) merge error
  pom.xml
Due: none

[MINOR][SYSTEMDS-3878] Fix zookeeper transitive vulnerabilities
  docker/scout_results/zookeeper/sysds_output6.md
  docker/systemds-3878_summary-of-changes.md
  pom.xml
Due: none
