Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

Fixed test 1 and 2, added smaller test data, removed nodata indicator (we seem to have handled that wrong)
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestMultipleBands.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestSingleBand.java
  src/test/resources/datasets/cog/testCOG_1.tif
  src/test/resources/datasets/cog/testCOG_1.tif.mtd
  src/test/resources/datasets/cog/testCOG_2.tif
  src/test/resources/datasets/cog/testCOG_2.tif.mtd
Due: runtime

Removed redundant DML, changed third test to single tile, renamed tests
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestMultipleBandsByte.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestSingleBandFloat.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestSingleBandSingleTileFloat.java
  src/test/resources/datasets/cog/testCOG_3.tif
  src/test/scripts/functions/io/cog/ReadCOGTest_1.dml
  src/test/scripts/functions/io/cog/ReadCOGTest_2.dml
Due: none

add more conditions for rewrite
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
Due: runtime, compress, compiler

more code ...
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRexpand.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTable.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixTable.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/lib/SeqTableTest.java
  src/test/java/org/apache/sysds/test/component/matrix/SeqTableTest.java
Due: runtime, matrix, compress

fix compile error
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
Due: runtime

multirow indentity preaggregate dense
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
Due: runtime, compress

cleanup a bit of the compiler
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/CtableFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
Due: runtime, matrix, compiler

[SYSTEMDS-3813] Fix incorrect file format on list write
  src/main/java/org/apache/sysds/lops/Data.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/io/ReadWriteListTest.java
Due: runtime, compiler

cleanup
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/lops/Ctable.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
Due: runtime, matrix, compiler

tableexpand
  src/main/java/org/apache/sysds/runtime/instructions/fed/CtableFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedCtableTest.java
Due: runtime

rewrite ... not allowed if federated in
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/component/resource/RecompilationTest.java
Due: compiler

cost estimator allow scalar in table expand
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
Due: util

highlight that recompilation was not successfull
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
Due: runtime

fix recursive call
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRexpand.java
  src/test/java/org/apache/sysds/test/component/compress/lib/SeqTableTest.java
Due: runtime, compress

Added tests, fixed some code reading header for TileOffsets (if two values fit into the 4 bytes)
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTest1Tile1BandFloat32PC1ComNoneSquare.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTest1Tile1BandInt32PC1ComNoneSquare.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTiles1BandFloat32PC1ComNoneSquare.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsBytePC1ComNoneSquare.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC1ComNoneRect.java
  src/test/resources/datasets/cog/testCOG_4.tif
  src/test/resources/datasets/cog/testCOG_4.tif.mtd
  src/test/resources/datasets/cog/testCOG_5.tif
  src/test/resources/datasets/cog/testCOG_5.tif.mtd
Due: runtime

first try for multithreading for planar conf == 1
  src/main/java/org/apache/sysds/runtime/io/MatrixReaderFactory.java
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTest.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestSingleBand.java
  src/test/resources/datasets/cog/testCOG_1.tif
Due: runtime

[SYSTEMDS-3814] Fix invalid rename of csv input to output files
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/io/RenameIssueTest.java
  src/test/scripts/functions/io/Rename.dml
Due: runtime

[SYSTEMDS-3817] Printing of matrices, frames, lists w/o toString
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteNonScalarPrint.java
  src/main/java/org/apache/sysds/parser/StatementBlock.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteNonScalarPrintTest.java
  src/test/scripts/functions/rewrite/RewriteNonScalarPrint.dml
Due: compiler

[SYSTEMDS-3548] Optimize python dataframe transfer column processing
  src/main/python/systemds/utils/converters.py
Due: none

Bert Layer forward pass
  scripts/nn/layers/bert_layer.dml
Due: none

Enumerator for an optimal federated plan at the program level
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest4.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest5.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest6.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest7.dml
Due: compiler

Counter-based Philox RNG - Co-authored-by: ichbinstudent <45435943+ichbinstudent@users.noreply.github.com>
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixDatagen.java
  src/main/java/org/apache/sysds/runtime/matrix/data/RandomMatrixGenerator.java
  src/main/java/org/apache/sysds/runtime/util/CounterBasedPRNGenerator.java
  src/main/java/org/apache/sysds/runtime/util/IPRNGenerator.java
  src/main/java/org/apache/sysds/runtime/util/PhiloxCBPRNGenerator.java
Due: runtime, matrix

Added test cases
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC1ComLZWRect.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC2ComNoneRect.java
  src/test/resources/datasets/cog/testCOG_4.tif.mtd
  src/test/resources/datasets/cog/testCOG_5.tif.mtd
  src/test/resources/datasets/cog/testCOG_6.tif
  src/test/resources/datasets/cog/testCOG_6.tif.mtd
  src/test/resources/datasets/cog/testCOG_7.tif
  src/test/resources/datasets/cog/testCOG_7.tif.mtd
Due: none

[SYSTEMDS-3548] Fix perftests not working with large, split-up datasets
  scripts/perftest/python/io/load_numpy.py
  scripts/perftest/python/io/load_pandas.py
Due: none

CLALib Reshape Tests
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReshape.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibReshapeTests.java
Due: runtime, matrix, compress

Cleanup test comments
  src/test/java/org/apache/sysds/test/functions/unary/matrix/DetTest.java
Due: none

Started BigTIFF support, weird bugs with 64 bit data types
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC1ComNoneRectBIGTIFF.java
  src/test/resources/datasets/cog/testCOG_8.tif
Due: runtime

Forgot test addition
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC1ComNoneRectBIGTIFF.java
Due: none

Added BigTIFF data types, fixed bug in BigTIFF header reading
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/TIFFDataTypes.java
Due: runtime

Added support for Deflate compression with test
  docs/site/dml-language-reference.md
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGCompressionUtils.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC1ComDeflateRect.java
  src/test/resources/datasets/cog/testCOG_9.tif
Due: runtime

zero weight case fix
  src/test/java/org/apache/sysds/test/component/matrix/SeqTableTest.java
Due: none

[SYSTEMDS-3815] Fused table sequence
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/main/java/org/apache/sysds/lops/Ctable.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReshape.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRexpand.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ReshapeCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/CtableFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibReshapeTests.java
  src/test/java/org/apache/sysds/test/component/compress/lib/SeqTableTest.java
  src/test/java/org/apache/sysds/test/component/matrix/SeqTableTest.java
  src/test/java/org/apache/sysds/test/component/resource/RecompilationTest.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/WordEmbeddingUseCase.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedCtableTest.java
  src/test/scripts/functions/compress/table/CompressedTableOverwriteTest/01.dml
  src/test/scripts/functions/compress/wordembedding/01.dml
Due: runtime, matrix, compress, compiler, util

[MINOR] Compressed tests
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CustomDictionaryTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
  src/test/java/org/apache/sysds/test/component/compress/indexes/CustomIndexTest.java
  src/test/java/org/apache/sysds/test/component/compress/indexes/IndexesTest.java
  src/test/java/org/apache/sysds/test/component/compress/io/IOTest.java
  src/test/java/org/apache/sysds/test/component/frame/FrameCustomTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformCompressedTestMultiCol.java
  src/test/java/org/apache/sysds/test/component/matrix/MatrixBlockSerializationTest.java
  src/test/java/org/apache/sysds/test/functions/compress/matrixByBin/CompressByBinTest.java
  src/test/java/org/apache/sysds/test/functions/compress/reshape/CompressedReshapeTest.java
Due: none

Updates to CompressedMatrixBlock
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
Due: runtime, compress

fix metadata analysis in compressed test
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformCompressedTestMultiCol.java
Due: none
