Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[MINOR] Improved imports for LZWTest class (removed * imports). Added some documentation for non native ddc methods in ddclzw class.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

[MINOR] Improved imports for LZWTest class (removed more * imports).
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: none

extract stabilit clusters
  scripts/builtin/hdbscan.dml
  test_extract_stabe_clusters.dml
Due: none

Model builder
  scripts/builtin/hdbscan.dml
  test_cluster_model.dml
Due: none

Overall hdbscan test
  test_hdbscan.dml
Due: none

Remove wrong test location
  src/test/java/org/apache/sysds/test/functions/builtin/BuiltinHDBSCANTest.java
Due: none

[MINOR][SYSTEMDS-3878] Fix Alpine APK CVEs in Docker image
  docker/scout_results/alpine-apk-cves/sysds_output17.md
  docker/scout_results/alpine-apk-cves/sysds_output18.md
  docker/sysds.Dockerfile
  pom.xml
Due: none

Test Fix
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

adjust getSparseBlockType
  src/main/java/org/apache/sysds/runtime/data/SparseBlock.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCOO.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockDCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockFactory.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSR.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockInitializationTest.java
Due: runtime, matrix

[SYSTEMDS-3876] cleanup
  .gitignore
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
Due: none

[SYSTEMDS-3876] cleanup
  src/test/scripts/functions/dnn/nativeBLAS/Conv2DTest/expectedInstances/B
Due: none

[SYSTEMDS-3876] cleanup
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
Due: none

adjust contains for non-compact blocks
  src/main/java/org/apache/sysds/runtime/data/SparseBlock.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSR.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCheckValidityTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockContainsTest.java
Due: runtime

minor fix
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCompactTest.java
Due: none

Cleanup
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/util/OOCJoin.java
Due: runtime

[MINOR] Optimized imports for ColGroupDDCTest due to auto optmization by IDE. Removed unneccesary comments from classes DDCLZW and DDCLZWTest. Optimized some tests to use compression framework.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: runtime, compress

Fix License
  src/test/java/org/apache/sysds/test/functions/ooc/LoopSubtractTest.java
Due: none

wip: test
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

[SYSTEMDS-3928] added disjoint subnet masking based on FC layers
  scripts/builtin/independentSubnetTrain.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/scripts/functions/builtin/indSubnetTest_mnist_lenet.dml
Due: util

[SYSTEMDS-3928] added test file running Independent Subnet Training
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinIndSubnetTest.java
Due: none

minor fix
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSR.java
Due: runtime

Added checks for existing packages and argument flags. TODO bind duckdb.
  scripts/staging/ssb/Dockerfile
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/other/script_flags_help.txt
  scripts/staging/ssb/other/ssb_init.sql
  scripts/staging/ssb/shell/run_script.sh
Due: none

docs: merge extended guides into existing install and run docs
  docs/site/install.md
  docs/site/quickstart_extended.md
  docs/site/release_install.md
  docs/site/run.md
  docs/site/run_extended.md
  docs/site/source_install.md
Due: none

files added
  scripts/builtin/detectMissingType.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/scripts/functions/builtin/create_dataset.dml
  src/test/scripts/functions/builtin/testDetectMissingType.dml
Due: util

Add movie recommender tutorial
  src/main/python/docs/source/guide/movie_recommender.rst
  src/main/python/docs/source/index.rst
  src/main/python/systemds/examples/tutorials/movie_recommender_system.py
Due: none

Update Builtins.java
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

Fix formating issue
  src/main/python/docs/source/guide/movie_recommender.rst
Due: none

[SYSTEMDS-3779] Objekte der DDC-Column Group mit dem CompressionSettingsBuilder erstellen
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

[MINOR] Implement in-place transpose for tensors
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/TransposeInPlaceBrennerTest.java
Due: runtime, matrix

[SYSTEMDS-3779] Removal of the tests for the no longer existing partial decompression and adjusting the function decompress to become decompressFull
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

apply black formatting
  src/main/python/systemds/examples/tutorials/movie_recommender_system.py
Due: none

first vector api implementaions + benchmarking suit
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/BenchCase.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/BenchUtil.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/Ctx.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/PrimitivePerfSuite.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/benchUtil.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/rowMaxsVectMultTest.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/vectDivAddTest.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/vectEqualWriteTest.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/vectSumTest.java
Due: runtime

Added duckdb to the script. TODO fix some problems in Postgres.
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/other/dia_ssb_script_structure1.jpg
  scripts/staging/ssb/other/script_flags_help.txt
  scripts/staging/ssb/other_docker_compose/Dockerfile
  scripts/staging/ssb/other_docker_compose/docker-compose.yaml
  scripts/staging/ssb/shell/run_script.sh
Due: none

fix: Methods and testing
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

wip: decompressing
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

[SYSTEMDS-3921] New Rewrite for (relational) Selection Pushdown. Finds selections that depend on a previous join and switches their order of execution.
  src/main/java/org/apache/sysds/hops/rewrite/RewriteRaPushdown.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewritePushdownRaSelectionTest.java
  src/test/scripts/functions/rewrite/RewritePushdownRaSelection.dml
Due: compiler

[SYSTEMDS-3169] Make a tutorial
  src/main/python/docs/source/guide/movie_recommender.rst
  src/main/python/docs/source/index.rst
  src/main/python/systemds/examples/tutorials/movie_recommender_system.py
Due: none

[MINOR] Code refractoring in test classes and removing of unnecessary comments.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

change text context to index based
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/elmo.py
  src/main/python/systemds/scuro/representations/text_context.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_text_context_operators.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none
