Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Add compression to federated receive path (worker to coordinator)
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedResponse.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
Due: runtime

Restructure federated compression test: base-class getRandomMatrix, random matrices, one and two workers
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedMatrixCompressionTest.java
  src/test/scripts/functions/federated/io/FederatedMatrixCompressionTest.dml
  src/test/scripts/functions/federated/io/FederatedMatrixCompressionTestReference.dml
Due: none

[SYSTEMDS-3524] Make the unique tests script-based
  src/test/java/org/apache/sysds/test/functions/unique/LibMatrixSketchUniqueParallelTest.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueBase.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueBatchedPathTest.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueCol.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRow.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRowCol.java
  src/test/scripts/functions/unique/uniqueCol.dml
Due: none

[SYSTEMDS-3524] Add sparse cases to the unique tests
  src/test/java/org/apache/sysds/test/functions/unique/UniqueCol.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRow.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRowCol.java
Due: none

[SYSTEMDS-3946] Test chunk codec error propagation and frame release
  src/test/java/org/apache/sysds/test/component/federated/FederatedChunkCodecTest.java
Due: none

[SYSTEMDS-3946] Rename chunk decoder locals per review
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkDecoder.java
Due: runtime

[SYSTEMDS-3946] Fix Eclipse formatting on PR-edited lines
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedChunkCodecTest.java
Due: runtime

[SYSTEMDS-3946] Enable sending of large (>2GiB) FederatedRequests and Responses
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkDecoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkEncoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkProtocol.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedFormatDetector.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedFormatEncoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/test/java/org/apache/sysds/test/functions/federated/network/FederatedMaxPayloadTest.java
Due: runtime

[SYSTEMDS-3946] Streaming codec routing, chunk tuning, tests, review fixes
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkEncoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkProtocol.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedFormatDecoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedFormatEncoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedResponse.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedChunkCodecTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedFormatRoutingTest.java
  src/test/java/org/apache/sysds/test/functions/federated/network/FederatedMaxPayloadTest.java
Due: runtime

chore(): Added Optimization for HDF5 read and write
  HDF5-Benchmark-Run-Scenarios.md
  Parquet-Benchmark-Run-Scenarios.md
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5.java
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5Parallel.java
  src/main/java/org/apache/sysds/runtime/io/WriterHDF5.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5.java
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/io/HDF5IOBenchmark.java
  src/test/java/org/apache/sysds/test/functions/io/ParquetBenchmarkTest.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/HDF5BenchmarkTest.java
Due: runtime

cleanup(): Moved benchmark tests away from JUNIT + cleanup
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/io/ParquetIOBenchmark.java
Due: none

cleanup(): Deleted old commits irrelevant files as cleanup
  HDF5-Benchmark-Run-Scenarios.md
  Parquet-Benchmark-Run-Scenarios.md
  src/test/java/org/apache/sysds/test/functions/io/ParquetBenchmarkTest.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/HDF5BenchmarkTest.java
Due: none

Address review: distinct reference scripts, remove reconstruction bound, add round-trip unit tests
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedMatrixCompressionTest.java
  src/test/java/org/apache/sysds/test/functions/federated/io/ProbabilisticQuantizationCompressorTest.java
  src/test/java/org/apache/sysds/test/functions/federated/io/TopKCompressorTest.java
  src/test/scripts/functions/federated/io/FederatedMatrixCompressionTest1Reference.dml
  src/test/scripts/functions/federated/io/FederatedMatrixCompressionTest2Reference.dml
Due: none

Remove possible unicode html symbols
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionFactory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/Quantization/ProbabilisticQuantizationCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/TopK/TopKCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/TopK/TopKData.java
Due: runtime

chore(): Optimization for parquet reader and writer.
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquetParallel.java
Due: runtime

Add AI Policy
  AGENTS.md
  CONTRIBUTING.md
Due: none

[SYSTEMDS-3894] Add OOC covariance and extend TSMM support
  src/main/java/org/apache/sysds/runtime/functionobjects/COV.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CovarianceOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceWeightsTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeSelfMMTest.java
  src/test/scripts/functions/ooc/Covariance.dml
  src/test/scripts/functions/ooc/CovarianceWeights.dml
  src/test/scripts/functions/ooc/TSMMRight.dml
Due: runtime

[OOC] Bugfixes and Improved Error Propagation
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/GlobalMemoryBroker.java
  src/main/java/org/apache/sysds/utils/Statistics.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCInstructionUtilsTest.java
Due: runtime, util

feat(federated): add signed SSL certificates support
  .gitignore
  conf/SystemDS-config.xml.template
  pom.xml
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedSSLUtil.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedSSLTest.java
  src/test/resources/cert/ca-cert.pem
  src/test/resources/cert/localhost-cert.pem
  src/test/resources/cert/localhost-key.pem
  src/test/resources/cert/otherhost-cert.pem
  src/test/resources/cert/otherhost-key.pem
  src/test/resources/cert/untrusted-ca-cert.pem
  src/test/scripts/functions/federated/io/config/OtherHostSSLConfig.xml
  src/test/scripts/functions/federated/io/config/SignedSSLConfig.xml
  src/test/scripts/functions/federated/io/config/UntrustedSSLConfig.xml
  src/test/scripts/functions/federated/io/generate-certificates.sh
Due: runtime, util

[Fix] Allow AI for Drafting Messages
  AGENTS.md
Due: none

[SYSTEMDS-3891] OOC Bugfixes and Improved Error Propagation
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/GlobalMemoryBroker.java
  src/main/java/org/apache/sysds/utils/Statistics.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCInstructionUtilsTest.java
Due: runtime, util

[SYSTEMDS-3857] - small fix in the FrameColNamesPropagationTest
  src/test/java/org/apache/sysds/test/functions/frame/FrameColNamesPropagationTest.java
Due: none

[SYSTEMDS-3524] Address review: script-based batched tests
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueBase.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueBatchedPathTest.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueCol.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRow.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRowCol.java
Due: runtime, matrix

[SYSTEMDS-3857] - added dml file for left Indexing test
  src/test/scripts/functions/frame/ColNameLeftIndexingPropagation.dml
Due: none

[OOC] Add Materialized Planning Support
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCPlanner.java
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCStoreLayout.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MappingOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MaterializeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/TransposeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/store/IndexedMaterializedStoreReader.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedStore.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OOCStreamMaterializer.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OrderedMaterializedStoreReader.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StateTable.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StoreLease.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStreamable.java
  src/main/java/org/apache/sysds/runtime/ooc/util/StateTableUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCInstructionUtilsTest.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
  src/test/java/org/apache/sysds/test/component/ooc/StateTableUtilsTest.java
Due: runtime

[SYSTEMDS-3891] OOC Add Materialized Planning Support
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCPlanner.java
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCStoreLayout.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MappingOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MaterializeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/TransposeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/store/IndexedMaterializedStoreReader.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedStore.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OOCStreamMaterializer.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OrderedMaterializedStoreReader.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StateTable.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StoreLease.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStreamable.java
  src/main/java/org/apache/sysds/runtime/ooc/util/StateTableUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCInstructionUtilsTest.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
  src/test/java/org/apache/sysds/test/component/ooc/StateTableUtilsTest.java
Due: runtime

[SYSTEMDS-3166] Add Runtime Benchmark
  scripts/builtin/outlierByIsolationForest.dml
  scripts/builtin/outlierByIsolationForestApply.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinIsolationForestTest.java
  src/test/scripts/functions/builtin/outlierByIsolationForestTest.R
  src/test/scripts/functions/builtin/outlierByIsolationForestTest.dml
Due: none

[SYSTEMDS-3857] - added a readme for the student project
  StudentProject-Readme.md
Due: none

[SYSTEMDS-3946] Javadoc for the streaming chunk codec
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkDecoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkEncoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkProtocol.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedFormatEncoder.java
Due: runtime

[OOC] Add Broadcast and Grouped Reduction Primitives
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MMultOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/OOCPackedCache.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/ReservationBudget.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/BroadcastOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/GroupedReduceOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/memory/OOCMemoryAllowanceTest.java
Due: runtime

[SYSTEMDS-3946] Test unknown chunk frame type
  src/test/java/org/apache/sysds/test/component/federated/FederatedChunkCodecTest.java
Due: none

[SYSTEMDS-3857] - removed unused function
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
Due: runtime

missing abstract method that returns null
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

Implement missing abstract method in ColGroupPiecewiseLinearCompressed
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

ci: configure GPG loopback pinentry for release script workflow
  .github/workflows/release-scripts.yml
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
