Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Revert accidental changes to MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
Due: runtime, compress

Regenerate benchmark report with SystemDS results
  scripts/staging/llm-bench/benchmark_report.html
Due: none

Add GPU batching support to JMLC LLM inference
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/python/llm_worker.py
Due: util

Keep both sequential and batched inference modes for reproducibility
  scripts/staging/llm-bench/backends/systemds_backend.py
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
Due: util

Keep both sequential and batched inference modes in PreparedScript
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
Due: util

Add gitignore rules for .env files, meeting notes, and local tool config
  .gitignore
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedTest.java
Due: none

"done"
  scripts/builtin/autoencoderGeneralized.dml
  scripts/builtin/autoencoder_2layer.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedBasicTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedTest.java
  src/test/scripts/functions/builtin/autoencoderGeneralized.dml
Due: none

Fix/extend paramserv + wrapper objective printing
  scripts/builtin/autoGradientCheck.dml
  src/main/java/org/apache/sysds/runtime/controlprogram/Program.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/ParamServer.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/ParamservUtils.java
  src/main/java/org/apache/sysds/runtime/util/ProgramConverter.java
  src/test/scripts/functions/builtin/autoencoderGeneralized.dml
Due: runtime

"done"
  scripts/builtin/autoencoderGeneralized.dml
  src/main/java/org/apache/sysds/runtime/controlprogram/Program.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/ParamServer.java
  src/test/scripts/functions/builtin/autoencoderGeneralized.dml
Due: runtime

"done"
  src/test/scripts/functions/builtin/autoDataGen.dml
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/ParamservUtils.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedTest.java
Due: runtime

"done"
  scripts/builtin/autoencoderGeneralized.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedBasicTest.java
  src/test/scripts/functions/builtin/autoencoderGeneralized.dml
  src/test/scripts/functions/builtin/run_ae2layer.dml
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
  src/test/scripts/functions/builtin/autoGradientCheck.dml
Due: none

"done"
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedTest.java
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
  src/test/scripts/functions/builtin/autoencoderGeneralized.dml
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
  src/test/scripts/functions/builtin/autoencoder_2layer.dml
Due: none

Add llmPredict builtin, opcode and ParamBuiltinOp entries
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
Due: util

Renaming diagram_creation to experiment_results and shampoo_test2 to shampoo_test_utils
  scripts/staging/shampoo_optimizer/experiment_results.ipynb
  src/test/scripts/applications/nn/component/shampoo_test.py
  src/test/scripts/applications/nn/component/shampoo_test_utils.dml
Due: none

Add llmPredict parser validation in ParameterizedBuiltinFunctionExpression
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
Due: compiler

"deleted junk files"
  src/test/scripts/functions/builtin/run_ae2layer.dml
Due: none

Wire llmPredict through hop, lop and instruction generation
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
Due: compiler

Add llmPredict CP instruction with HTTP-based inference
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
Due: runtime

Remove Py4J-based LLM inference from JMLC API
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/python/llm_worker.py
Due: util

Rewrite LLM test to use llmPredict DML built-in
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: none

Add OpenAI-compatible HTTP inference server for HuggingFace models
  src/main/python/llm_server.py
Due: none

Fix llmPredict code quality issues
  .gitignore
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/python/llm_server.py
Due: runtime, compiler

Add concurrency parameter to llmPredict built-in
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
Due: runtime, compiler

Remove license header from test, clarify llm_server.py docstring
  src/main/python/llm_server.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: none

Fix JMLC frame binding: match DML variable names to registered inputs
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: none

add dag groups
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/color_histogram.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/context.py
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
  src/main/python/systemds/scuro/representations/dimensionality_reduction.py
  src/main/python/systemds/scuro/representations/elmo.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/hadamard.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/mlp_learned_dim_reduction.py
  src/main/python/systemds/scuro/representations/optical_flow.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/unimodal.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/systemds/scuro/representations/x3d.py
  src/main/python/systemds/scuro/utils/checkpointing.py
Due: none

add stats to modality loaders
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

[MINOR] Extend OOC Random Instruction
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixDatagen.java
  src/test/java/org/apache/sysds/test/functions/ooc/RandTest.java
  src/test/scripts/functions/ooc/Rand1.dml
Due: runtime, matrix

[MINOR] Add gitignore for metals
  .gitignore
Due: none

[MINOR] Reduce logging in MLContextTests
  src/test/java/org/apache/sysds/test/applications/nn/BaseTest.java
  src/test/java/org/apache/sysds/test/functions/mlcontext/MLContextTestBase.java
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
