Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3730] Multi-threaded reverse operations
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/lops/Transform.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ReorgCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/functions/reorg/FullReverseTest.java
Due: runtime, matrix, compiler

[SYSTEMDS-3730] Fixed and improved multi-threaded reverse operations
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/functions/reorg/FullReverseTest.java
Due: runtime, matrix, compiler

[MINOR] Fix proper seed handling in sparsity estimator LayeredGraph
  src/main/java/org/apache/sysds/hops/estim/EstimatorLayeredGraph.java
  src/test/java/org/apache/sysds/test/component/estim/OpBindChainTest.java
Due: compiler

new test version to vary data size and with multiple repetitions
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
Due: util

modified Test file so it can be testet with different matric siszes
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
Due: none

debug Unary class
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Unary.java
Due: compiler

aB_a contraction works, by transposing matrix, no longer change to codegen is needed, elementwise mutliplication between matrix and vector works
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum18.R
  src/test/scripts/functions/einsum/einsum18.dml
  src/test/scripts/functions/einsum/einsum19.R
  src/test/scripts/functions/einsum/einsum19.dml
  src/test/scripts/functions/einsum/einsum20.R
  src/test/scripts/functions/einsum/einsum20.dml
Due: runtime, compiler

Update pom.xml
  pom.xml
Due: none

debug Unary class - missing "("
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Unary.java
Due: compiler

[MINOR] PythonAPI: Fix for correct logging setup for debug
  src/main/python/systemds/context/systemds_context.py
  src/main/python/tests/basics/test_context_creation.py
Due: none

Automatic Rewrites, Documentation, Linux bug fix
  docs/site/dml-language-reference.md
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTransposedCumsumTest.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/FullRowcumsumTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposedCumsum.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposedCumsum.dml
Due: compiler

data transfer from python to java using named pipes
  src/main/java/org/apache/sysds/api/PythonDMLScript.java
  src/main/java/org/apache/sysds/runtime/util/UnixPipeUtils.java
  src/main/python/systemds/context/systemds_context.py
  src/main/python/systemds/operator/nodes/matrix.py
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/matrix/test_block_converter.py
  src/main/python/tests/matrix/test_block_converter_unix_pipe.py
Due: runtime, util

javadoc
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixAgg.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTransposedCumsumTest.java
Due: runtime, matrix

removal of the extra memory from the experiments
  src/main/python/systemds/context/systemds_context.py
Due: none

Revert unneeded changes
  src/test/java/org/apache/sysds/test/functions/mlcontext/MLContextTest.java
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_avg.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_minimum_version.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_nbatches.dml
Due: none

Revert unneeded changes
  .github/workflows/python.yml
  src/test/java/org/apache/sysds/test/functions/mlcontext/MLContextTest.java
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_avg.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_minimum_version.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_nbatches.dml
Due: none

removed unnecessary files from gitignore
  .gitignore
Due: none

Added missing license headers (#12)
  scripts/data_prep/create_binary_chunks.py
  scripts/data_prep/prepare_raw_imagenet.py
  scripts/data_prep/run_raw_imagenet_preprocessing.py
  scripts/nn/examples/load_imagenet_csv.dml
  scripts/nn/optim/lars_util.dml
Due: none

new version for smaller matrices
  scripts/builtin/scaleRobust_forsmallmtx.dml
Due: none

cleaned all files and removed experiments
  scripts/builtin/scaleRobust.dml
  scripts/builtin/scaleRobustApply.dml
  scripts/builtin/scaleRobust_approximation.dml
  scripts/builtin/scaleRobust_forsmallmtx.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
  src/test/scripts/functions/builtin/scaleRobust.R
  src/test/scripts/functions/builtin/scaleRobust.dml
  src/test/scripts/functions/builtin/scaleRobust.py
Due: none

alternative version of permuatation works except edge cases
  scripts/builtin/raGroupby.dml
Due: none

alternative version of permuatation works with edge cases, but needs cleanup
  scripts/builtin/raGroupby.dml
Due: none

only one check is needed
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
Due: compiler

permutation matrix is not a real permutation amtrix anymore because it uses one loop to avoid heap overload for bigger data sets
  scripts/builtin/raGroupby.dml
Due: none

remove changes to CNodeBinary
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
Due: compiler

remove changes to CNodeBinary 2
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
Due: compiler

reduce size of einsum test18
  src/test/scripts/functions/einsum/einsum18.R
  src/test/scripts/functions/einsum/einsum18.dml
Due: none

fixed error
  scripts/nn/networks/resnet.dml
Due: none

adjust len info
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Binary.java
Due: compiler

adjust alloc test to new alloc implementation
  src/test/java/org/apache/sysds/test/component/codegen/SparseVectorAllocTest.java
Due: none

debug %SLEN% implementation
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Binary.java
Due: compiler

[SYSTEMDS-3762] Cumulative Row Aggregates and Rewrites
  docs/site/dml-language-reference.md
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/functionobjects/Builtin.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/CumulativeOffsetSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/UnaryMatrixSPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixAgg.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTransposedCumsumTest.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/FullRowcumsumTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposedCumsum.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposedCumsum.dml
  src/test/scripts/functions/unary/matrix/Rowcumsum.R
  src/test/scripts/functions/unary/matrix/Rowcumsum.dml
Due: runtime, matrix, compiler, util

implement Unary optimizer
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CodeTemplate.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Unary.java
Due: compiler

adapt new LEN feature for sparse rows
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Binary.java
Due: compiler
