Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

add param to enable checkpointing
  src/main/python/systemds/scuro/drsearch/node_executor.py
Due: none

change hp tuner
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

[SYSTEMDS-3543] Piece-wise linear compression of column groups
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

[MINOR] Fix Codestyle Issues
  src/test/java/org/apache/sysds/test/component/tensor/TransposeLinDataTest.java
Due: none

[SYSTEMDS-3891] Add OOC Memory Tracking
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/CachedAllowance.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/GlobalMemoryBroker.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/InMemoryQueueCallback.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/MemoryAllowance.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/MemoryBroker.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/SyncMemoryAllowance.java
  src/test/java/org/apache/sysds/test/component/ooc/memory/OOCMemoryAllowanceTest.java
Due: runtime

[SYSTEMDS-#] Implement new loaders for PDFs and audio to transcript
  src/main/python/systemds/scuro/dataloader/pdf_loader.py
  src/main/python/systemds/scuro/dataloader/transcript_loader.py
  src/main/python/systemds/scuro/representations/clip.py
Due: none

[SYSTEMDS-#] Add modality alignment operator for feature-based matching
  src/main/python/systemds/scuro/representations/ orb_alignment.py
  src/main/python/systemds/scuro/representations/alignment.py
  src/main/python/systemds/scuro/representations/pHash_alignment.py
Due: none

[SYSTEMDS-#] Add contrastive learning operator for flexible modality pairing
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/pdf_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/dataloader/transcript_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/alignment.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/contrastive_learning.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/utils/schema_helpers.py
Due: none

[SYSTEMDS-3941] Add new rewrites
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteFusedRandTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewritePushdownColSumBinaryMultTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewritePushdownRowSumBinaryMultTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifySumConstantMatrixTest.java
  src/test/scripts/functions/rewrite/RewritePushdownColSumBinaryMult.R
  src/test/scripts/functions/rewrite/RewritePushdownColSumBinaryMult.dml
  src/test/scripts/functions/rewrite/RewritePushdownColSumBinaryMult2.R
  src/test/scripts/functions/rewrite/RewritePushdownColSumBinaryMult2.dml
  src/test/scripts/functions/rewrite/RewritePushdownRowSumBinaryMult.R
  src/test/scripts/functions/rewrite/RewritePushdownRowSumBinaryMult.dml
  src/test/scripts/functions/rewrite/RewritePushdownRowSumBinaryMult2.R
  src/test/scripts/functions/rewrite/RewritePushdownRowSumBinaryMult2.dml
  src/test/scripts/functions/rewrite/RewriteSimplifySumConstantMatrix.R
  src/test/scripts/functions/rewrite/RewriteSimplifySumConstantMatrix.dml
Due: compiler

Add three-way HF / oracle / DML correctness check
  scripts/staging/llm-native/README.md
  scripts/staging/llm-native/tools/compare_logits.py
Due: none

Add DML inference driver for GPT-2
  scripts/staging/llm-native/README.md
  scripts/staging/llm-native/dml/gpt2_inference.dml
  scripts/staging/llm-native/tools/pack_weights.py
Due: none

Add NumPy reference forward pass for GPT-2
  scripts/staging/llm-native/tools/np_oracle_gpt2.py
Due: none

Add GPT-2 weight converter for native DML inference
  scripts/staging/llm-native/.gitignore
  scripts/staging/llm-native/README.md
  scripts/staging/llm-native/requirements.txt
  scripts/staging/llm-native/tests/test_convert_gpt2.py
  scripts/staging/llm-native/tools/convert_gpt2.py
Due: none

Add GPT-2 pre-LN transformer block
  scripts/nn/layers/gpt2_layer.dml
Due: none

[SYSTEMDS-3944] Add contrastive learning operator for flexible modality pairing
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/pdf_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/dataloader/transcript_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/alignment.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/contrastive_learning.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/utils/schema_helpers.py
Due: none

[SYSTEMDS-3944] Implement new loaders for PDFs and audio to transcript
  src/main/python/systemds/scuro/dataloader/pdf_loader.py
  src/main/python/systemds/scuro/dataloader/transcript_loader.py
  src/main/python/systemds/scuro/representations/clip.py
Due: none

[SYSTEMDS-3944] Add modality alignment operator for feature-based matching
  src/main/python/systemds/scuro/representations/ orb_alignment.py
  src/main/python/systemds/scuro/representations/alignment.py
  src/main/python/systemds/scuro/representations/pHash_alignment.py
Due: none

[MINOR] Apply formatting and add license header
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/pdf_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/dataloader/transcript_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/ orb_alignment.py
  src/main/python/systemds/scuro/representations/alignment.py
  src/main/python/systemds/scuro/representations/contrastive_learning.py
  src/main/python/systemds/scuro/representations/pHash_alignment.py
Due: none

[MINOR] Save metadata in list instead of dict
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_text_context_operators.py
Due: none

Deduplicate params in dags for hp tuning
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/tests/scuro/test_hp_tuner.py
Due: none

feat(src/test/): add test case for federated reverse of matrices with different partition sizes
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedRevTest.java
  src/test/scripts/functions/federated/FederatedRevTest.dml
Due: none

chore(FederationMap.java): keep check of federation dimension consistent (checking if column partitioned)
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
Due: runtime

fix(main/java/runtime/controlprogram/federated/FederationMap.java): re-implement the method to reverse a federation map add method to sort the federation map
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedRevTest.java
Due: runtime

[SYSTEMDS-3945] Support Reversal of Federation Map w/ differently sized federated partitions
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedRevTest.java
  src/test/scripts/functions/federated/FederatedRevTest.dml
Due: runtime

[SYSTEMDS-THESIS] Add a DP optimization for matrix chains with transposes
  pom.xml
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainWithTransOptimization.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixChainDPTest.java
  src/test/scripts/MatrixChainOperations/test1.dml
  src/test/scripts/MatrixChainOperations/test10.dml
  src/test/scripts/MatrixChainOperations/test11.dml
  src/test/scripts/MatrixChainOperations/test12.dml
  src/test/scripts/MatrixChainOperations/test13.dml
  src/test/scripts/MatrixChainOperations/test14.dml
  src/test/scripts/MatrixChainOperations/test15.dml
  src/test/scripts/MatrixChainOperations/test16.dml
  src/test/scripts/MatrixChainOperations/test17.dml
  src/test/scripts/MatrixChainOperations/test18.dml
  src/test/scripts/MatrixChainOperations/test19.dml
  src/test/scripts/MatrixChainOperations/test2.dml
  src/test/scripts/MatrixChainOperations/test20.dml
  src/test/scripts/MatrixChainOperations/test21.dml
  src/test/scripts/MatrixChainOperations/test22.dml
  src/test/scripts/MatrixChainOperations/test23.dml
  src/test/scripts/MatrixChainOperations/test24.dml
  src/test/scripts/MatrixChainOperations/test3.dml
  src/test/scripts/MatrixChainOperations/test4.dml
  src/test/scripts/MatrixChainOperations/test5.dml
  src/test/scripts/MatrixChainOperations/test6.dml
  src/test/scripts/MatrixChainOperations/test7.dml
  src/test/scripts/MatrixChainOperations/test8.dml
  src/test/scripts/MatrixChainOperations/test9.dml
Due: compiler

[SYSTEMDS-3333] Add a DP optimization for matrix chains with transposes
  pom.xml
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainWithTransOptimization.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixChainDPTest.java
  src/test/scripts/functions/rewrite/mmchain/test1.dml
  src/test/scripts/functions/rewrite/mmchain/test10.dml
  src/test/scripts/functions/rewrite/mmchain/test11.dml
  src/test/scripts/functions/rewrite/mmchain/test12.dml
  src/test/scripts/functions/rewrite/mmchain/test13.dml
  src/test/scripts/functions/rewrite/mmchain/test14.dml
  src/test/scripts/functions/rewrite/mmchain/test15.dml
  src/test/scripts/functions/rewrite/mmchain/test16.dml
  src/test/scripts/functions/rewrite/mmchain/test17.dml
  src/test/scripts/functions/rewrite/mmchain/test18.dml
  src/test/scripts/functions/rewrite/mmchain/test19.dml
  src/test/scripts/functions/rewrite/mmchain/test2.dml
  src/test/scripts/functions/rewrite/mmchain/test20.dml
  src/test/scripts/functions/rewrite/mmchain/test21.dml
  src/test/scripts/functions/rewrite/mmchain/test22.dml
  src/test/scripts/functions/rewrite/mmchain/test23.dml
  src/test/scripts/functions/rewrite/mmchain/test24.dml
  src/test/scripts/functions/rewrite/mmchain/test3.dml
  src/test/scripts/functions/rewrite/mmchain/test4.dml
  src/test/scripts/functions/rewrite/mmchain/test5.dml
  src/test/scripts/functions/rewrite/mmchain/test6.dml
  src/test/scripts/functions/rewrite/mmchain/test7.dml
  src/test/scripts/functions/rewrite/mmchain/test8.dml
  src/test/scripts/functions/rewrite/mmchain/test9.dml
Due: compiler

[SYSTEMDS-3333] Fix new mmchain-opt rewrite code style and test
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimization.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationTranspose.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainWithTransOptimization.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixChainDPTest.java
Due: compiler

add pnmf
  scripts/builtin/pnmf.dml
  src/main/java/org/apache/sysds/hops/QuaternaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ComputationOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/QuaternaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/WDivMMOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/PNMFTest.java
  src/test/scripts/functions/ooc/PNMF.dml
Due: runtime, compiler

extend to wdivmm
  src/main/java/org/apache/sysds/runtime/instructions/ooc/WDivMMOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/WDivMMTest.java
  src/test/scripts/functions/ooc/WeightedDivMM4MultMinusLeft.dml
  src/test/scripts/functions/ooc/WeightedDivMM4MultMinusRight.dml
  src/test/scripts/functions/ooc/WeightedDivMMLeft.dml
  src/test/scripts/functions/ooc/WeightedDivMMLeftEps.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultBasic.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultLeft.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultMinusLeft.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultMinusRight.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultRight.dml
  src/test/scripts/functions/ooc/WeightedDivMMRight.dml
  src/test/scripts/functions/ooc/WeightedDivMMRightEps.dml
Due: runtime

Add OOC WDivMM
  scripts/builtin/pnmf.dml
  src/main/java/org/apache/sysds/hops/QuaternaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ComputationOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/QuaternaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/WDivMMOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/PNMFTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/WDivMMTest.java
  src/test/scripts/functions/ooc/WeightedDivMM4MultMinusLeft.dml
  src/test/scripts/functions/ooc/WeightedDivMM4MultMinusRight.dml
  src/test/scripts/functions/ooc/WeightedDivMMLeft.dml
  src/test/scripts/functions/ooc/WeightedDivMMLeftEps.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultBasic.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultLeft.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultMinusLeft.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultMinusRight.dml
  src/test/scripts/functions/ooc/WeightedDivMMMultRight.dml
  src/test/scripts/functions/ooc/WeightedDivMMRight.dml
  src/test/scripts/functions/ooc/WeightedDivMMRightEps.dml
Due: runtime, compiler

fix(main/hops/estim/EstimatorMatrixHistogram.java): fix minor mistake in sparsity estimation (calculation) for row bind operation
  src/main/java/org/apache/sysds/hops/estim/EstimatorMatrixHistogram.java
Due: compiler

[MINOR][TEST-ONLY] add a test timeout to kill before GitActions
  pom.xml
Due: none

feat(EstimatorRowWise.java): implement the first version of the row wise sparsity estimator works for the matrix multiplication and bind test cases for now
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

feat(test/estim): add some tests for the row wise sparsity estimator to the unity tests for sparsity estimation
  src/test/java/org/apache/sysds/test/component/estim/OpBindChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpBindTest.java
  src/test/java/org/apache/sysds/test/component/estim/OuterProductTest.java
  src/test/java/org/apache/sysds/test/component/estim/SelfProductTest.java
  src/test/java/org/apache/sysds/test/component/estim/SquaredProductChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/SquaredProductTest.java
Due: none

feat(hops/estim/EstimatorRowWise.java): introduce a separate object container for row wise sparsity vectors to simplify access and allow storing it with chain nodes
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

fix(test/component/estim/SelfProductTest.java): skip selected test cases or increase assign specific tolerance
  src/test/java/org/apache/sysds/test/component/estim/SelfProductTest.java
Due: none

refactor(main/hops/estim/EstimatorRowWise.java): refactor switch case to consolidate all calls to getters before the switch
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
