Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

Remove duplicate nested directories from reverse results SCP
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings_reverse/systemds_qwen3b_embeddings/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings_reverse/systemds_qwen3b_embeddings/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings_reverse/systemds_qwen3b_embeddings/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings_reverse/systemds_qwen3b_embeddings/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction_reverse/systemds_qwen3b_json_extraction/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction_reverse/systemds_qwen3b_json_extraction/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction_reverse/systemds_qwen3b_json_extraction/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction_reverse/systemds_qwen3b_json_extraction/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_math_reverse/systemds_qwen3b_math/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math_reverse/systemds_qwen3b_math/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math_reverse/systemds_qwen3b_math/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math_reverse/systemds_qwen3b_math/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning_reverse/systemds_qwen3b_reasoning/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning_reverse/systemds_qwen3b_reasoning/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning_reverse/systemds_qwen3b_reasoning/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning_reverse/systemds_qwen3b_reasoning/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization_reverse/systemds_qwen3b_summarization/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization_reverse/systemds_qwen3b_summarization/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization_reverse/systemds_qwen3b_summarization/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization_reverse/systemds_qwen3b_summarization/samples.jsonl
Due: none

Fix precision loss in HTTP latency: keep float instead of int truncation
  scripts/staging/llm-bench/backends/systemds_backend.py
Due: none

Re-score reasoning results with current boolean extraction code
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/samples.jsonl
  scripts/staging/llm-bench/results/vllm_qwen3b_reasoning/metrics.json
  scripts/staging/llm-bench/results/vllm_qwen3b_reasoning/samples.jsonl
Due: none

Update README: llmPredict implementation merged from closed PR #2430
  scripts/staging/llm-bench/README.md
Due: none

Address code review findings and finalize benchmark documentation
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/backends/vllm_backend.py
  scripts/staging/llm-bench/runner.py
  scripts/staging/llm-bench/scripts/report.py
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
  scripts/staging/llm-bench/workloads/json_extraction/config.yaml
  scripts/staging/llm-bench/workloads/json_extraction/loader.py
Due: none

Clean up unused backends, add compute costs, fix stale references
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/backends/mlx_backend.py
  scripts/staging/llm-bench/backends/ollama_backend.py
  scripts/staging/llm-bench/requirements.txt
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/results/summary.csv
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/metrics.json
  scripts/staging/llm-bench/results/vllm_qwen3b_embeddings/metrics.json
  scripts/staging/llm-bench/results/vllm_qwen3b_json_extraction/metrics.json
  scripts/staging/llm-bench/results/vllm_qwen3b_math/metrics.json
  scripts/staging/llm-bench/results/vllm_qwen3b_reasoning/metrics.json
  scripts/staging/llm-bench/results/vllm_qwen3b_summarization/metrics.json
  scripts/staging/llm-bench/runner.py
  scripts/staging/llm-bench/scripts/aggregate.py
  scripts/staging/llm-bench/scripts/report.py
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
  src/main/python/llm_worker.py
Due: none

Add gpu-apc mode to benchmark script for reverse-order APC experiment
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
Due: none

Add note on committed results for reproducibility
  scripts/staging/llm-bench/README.md
Due: none

Expand cost analysis with per-query breakdown, scaling projections, and breakeven calculations
  scripts/staging/llm-bench/README.md
Due: none

Add OpenAI benchmark results and update README with all 3 backends
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/results/openai_embeddings/manifest.json
  scripts/staging/llm-bench/results/openai_embeddings/metrics.json
  scripts/staging/llm-bench/results/openai_embeddings/run_config.json
  scripts/staging/llm-bench/results/openai_embeddings/samples.jsonl
  scripts/staging/llm-bench/results/openai_json_extraction/manifest.json
  scripts/staging/llm-bench/results/openai_json_extraction/metrics.json
  scripts/staging/llm-bench/results/openai_json_extraction/run_config.json
  scripts/staging/llm-bench/results/openai_json_extraction/samples.jsonl
  scripts/staging/llm-bench/results/openai_math/manifest.json
  scripts/staging/llm-bench/results/openai_math/metrics.json
  scripts/staging/llm-bench/results/openai_math/run_config.json
  scripts/staging/llm-bench/results/openai_math/samples.jsonl
  scripts/staging/llm-bench/results/openai_reasoning/manifest.json
  scripts/staging/llm-bench/results/openai_reasoning/metrics.json
  scripts/staging/llm-bench/results/openai_reasoning/run_config.json
  scripts/staging/llm-bench/results/openai_reasoning/samples.jsonl
  scripts/staging/llm-bench/results/openai_summarization/manifest.json
  scripts/staging/llm-bench/results/openai_summarization/metrics.json
  scripts/staging/llm-bench/results/openai_summarization/run_config.json
  scripts/staging/llm-bench/results/openai_summarization/samples.jsonl
  scripts/staging/llm-bench/results/summary.csv
Due: none

Remove silent fallback patterns that could mask extraction failures
  scripts/staging/llm-bench/backends/openai_backend.py
  scripts/staging/llm-bench/tests/test_embeddings_accuracy.py
  scripts/staging/llm-bench/tests/test_math_accuracy.py
  scripts/staging/llm-bench/tests/test_reasoning_accuracy.py
  scripts/staging/llm-bench/tests/test_summarization_accuracy.py
  scripts/staging/llm-bench/workloads/embeddings/loader.py
  scripts/staging/llm-bench/workloads/math/loader.py
  scripts/staging/llm-bench/workloads/reasoning/loader.py
  scripts/staging/llm-bench/workloads/summarization/loader.py
Due: none

Add negative tests, latency breakdown, and documentation updates
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/backends/systemds_backend.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: none

Rewrite cost analysis for clarity: explain pricing models, add batched cost table
  scripts/staging/llm-bench/README.md
Due: none

Fix requirements.txt: add pytest and py4j, remove unused tqdm
  scripts/staging/llm-bench/requirements.txt
Due: none

Add throughput measurement note explaining OpenAI network latency
  scripts/staging/llm-bench/README.md
Due: none

[SYSTEMDS-3891] OOC k-Means Support
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/api/ScriptExecutorUtils.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/lops/Lop.java
  src/main/java/org/apache/sysds/runtime/controlprogram/ParForProgramBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/ProgramBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/opt/CostEstimatorHops.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/opt/OptTreeConverter.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/FunctionCallCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/IndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MMultOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MapMMChainOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCWatchdog.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/BlockEntry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/stats/OOCEventLog.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/util/ProgramConverter.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/BlockEntryTestAccess.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCLRUCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedReadOOCIOHandlerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/KMeansTest.java
  src/test/scripts/functions/ooc/KMeans.dml
Due: runtime, compiler, util

added notThreadSafe
  src/test/java/org/apache/sysds/test/functions/ooc/CBindTest.java
Due: none

schedule new nodes after first node returns
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

prioritize task nodes to free space in cache
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
Due: none

add memory estimation for chache
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

[SYSTEMDS-3891] Add OOC cbind
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AppendOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlockParallel.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/functions/ooc/CBindTest.java
  src/test/scripts/functions/ooc/CBindTest.dml
Due: runtime

Trim README to essentials, fix LicenseCheck CI failure
  pom.xml
  scripts/staging/llm-bench/README.md
Due: none

Add llmPredict built-in for LLM inference via HTTP
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/LlmPredictCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/python/llm_server.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: runtime, compiler, util

create executor for dag groups
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/dag_group_executor.py
  src/main/python/systemds/scuro/drsearch/dag_group_scheduler.py
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/utils/checkpointing.py
Due: none

add modality memory usage
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
Due: none

fix: put operation tests in a seperate file
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

fix: bugfixes in methods and documentation
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
Due: runtime, compress

fix: extract methods, refactor tests add: tests for DP and successive Compression and documentation
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: none

fix: refactoring and documentation
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

fix: refactoring
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
Due: runtime, compress

fix: refactoring
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
Due: runtime, compress

add memory measuring functionality at runtime
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none
