Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3785] Fix rewrite test for simplify bushy binary ops
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyBushyBinaryOperationTest.java
Due: compiler

[SYSTEMDS-3785] Fix rewrite test for simplify bushy binary ops, part 2
  src/test/scripts/functions/rewrite/RewriteSimplifyBushyBinaryOperation.R
  src/test/scripts/functions/rewrite/RewriteSimplifyBushyBinaryOperation.dml
Due: none

[SYSTEMDS-3782] Bag-of-words Encoder for CP
  src/main/java/org/apache/sysds/runtime/compress/estim/sample/SampleEstimatorFactory.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSR.java
  src/main/java/org/apache/sysds/runtime/transform/TfUtils.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoder.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderBagOfWords.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderFeatureHash.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/EncoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
  src/main/java/org/apache/sysds/runtime/util/CollectionUtils.java
  src/main/java/org/apache/sysds/utils/stats/TransformStatistics.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformFrameEncodeBagOfWords.java
  src/test/resources/datasets/amazonReview2023/Digital_Music_Text_Head2k_With_RCD_Col.csv
  src/test/scripts/functions/transform/TransformFrameEncodeBagOfWords.dml
Due: runtime, compress, util

[SYSTEMDS-3172] Additional CSC sparse block implementation
  src/main/java/org/apache/sysds/runtime/data/SparseBlock.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockFactory.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockAlignment.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockAppendSort.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockDelete.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockGetFirstIndex.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockGetSet.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockIndexRange.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockIterator.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockMemEstimate.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockMerge.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockScan.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockSize.java
Due: runtime

[SYSTEMDS-3172] Performance improvement CSC sparse block
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
Due: runtime

initial commit
  scripts/builtin/adasyn.dml
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

[SYSTEMDS-3669] Builtin for computation of shapley values
  scripts/builtin/shapExplainer.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinShapExplainerTest.java
  src/test/scripts/functions/builtin/shapExplainerComponent.dml
  src/test/scripts/functions/builtin/shapExplainerUnit.dml
Due: util

implemented adasyn() builtin function
  scripts/builtin/adasyn.dml
Due: none

final implementation
  scripts/builtin/adasyn.dml
Due: none

add dataset diabetes.csv
  src/test/resources/datasets/diabetes.csv
Due: none

add files for testing but still need implementation
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAdasynTest.java
  src/test/scripts/functions/builtin/adasyn.dml
Due: none

added json specification for diabates dataset
  src/test/resources/datasets/diabetes/diabetes.csv
  src/test/resources/datasets/diabetes/diabetes.json
Due: none

Boolean Rewrite Task
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteBooleanSimplificationTest.java
  src/test/scripts/functions/rewrite/RewriteBooleanSimplificationTestAnd.dml
  src/test/scripts/functions/rewrite/RewriteBooleanSimplificationTestOr.dml
Due: compiler

Boolean Rewrite Task
  src/test/scripts/functions/rewrite/RewriteBooleanSimplificationTestAnd.dml
  src/test/scripts/functions/rewrite/RewriteBooleanSimplificationTestOr.dml
Due: none

[SYSTEMDS-3781] New constant conjunction/disjunction rewrites
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteConstantConjunctionDisjunctionTest.java
  src/test/scripts/functions/rewrite/RewriteBooleanSimplificationTestAnd.dml
  src/test/scripts/functions/rewrite/RewriteBooleanSimplificationTestOr.dml
Due: compiler

add IO metrics + update objective functions + implement ResourceOptimizer
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/test/java/org/apache/sysds/test/component/resource/RecompilationTest.java
Due: util

updating the sctripts for launching
  scripts/resource/launch/cluster_launch.sh
  scripts/resource/launch/cluster_run_script.sh
  scripts/resource/launch/ec2_bootstrap.sh
  scripts/resource/launch/launch_single_node.sh
  scripts/resource/launch/single_node.env
  scripts/resource/launch/single_node_launch.sh
  scripts/resource/launch/single_node_run_script.sh
  scripts/resource/launch/single_node_utils.sh
Due: none

fix scripts 2
  scripts/resource/launch/single_node_run_script.sh
Due: none

refinements
  pom.xml
  src/main/java/org/apache/sysds/resource/CloudUtils.java
  src/main/java/org/apache/sysds/resource/ResourceCompiler.java
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/main/java/org/apache/sysds/resource/cost/CPCostUtils.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
  src/main/java/org/apache/sysds/resource/enumeration/Enumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/GridBasedEnumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/InterestBasedEnumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/PruneBasedEnumerator.java
  src/test/java/org/apache/sysds/test/component/resource/CloudUtilsTests.java
  src/test/java/org/apache/sysds/test/component/resource/CostEstimatorTest.java
  src/test/java/org/apache/sysds/test/component/resource/EnumeratorTests.java
  src/test/java/org/apache/sysds/test/component/resource/InstructionsCostEstimatorTest.java
  src/test/java/org/apache/sysds/test/component/resource/PruneBaseEnumeratorTests.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceTestUtils.java
Due: util

refactoring to env var options
  .gitignore
  pom.xml
  scripts/resource/README.md
  scripts/resource/bin/systemds-ropt
  scripts/resource/launch/ec2_bootstrap.sh
  scripts/resource/launch/ec2_permissions.sh
  scripts/resource/launch/launch_single_node.sh
  scripts/resource/launch/systemds_cluster.env
  scripts/resource/launch/systemds_single_node.env
  scripts/resource/options.env
  src/main/java/org/apache/sysds/parser/StringIdentifier.java
  src/main/java/org/apache/sysds/resource/CloudUtils.java
  src/main/java/org/apache/sysds/resource/ResourceCompiler.java
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
  src/main/java/org/apache/sysds/resource/cost/IOCostUtils.java
  src/test/java/org/apache/sysds/test/component/resource/CloudUtilsTests.java
  src/test/java/org/apache/sysds/test/component/resource/EnumeratorTests.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceTestUtils.java
  src/test/scripts/component/resource/artifacts/minimal_aws_regional_prices.csv
  src/test/scripts/component/resource/artifacts/minimal_ec2_stats.csv
  src/test/scripts/component/resource/data/A.csv
Due: compiler, util

do not checkout for ec2 bootstrapping
  scripts/resource/launch/ec2_bootstrap.sh
Due: none

fix launch scripts - adapt utils dir
  scripts/resource/launch/cluster_launch.sh
  scripts/resource/launch/cluster_run_script.sh
  scripts/resource/launch/single_node_launch.sh
  scripts/resource/launch/single_node_run_script.sh
Due: none

options fix2
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/test/java/org/apache/sysds/test/component/resource/CostEstimatorTest.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceTestUtils.java
Due: util

fix for stable cost opt. function
  src/main/java/org/apache/sysds/resource/enumeration/Enumerator.java
Due: util

add config option for the costs weighting factor
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/main/java/org/apache/sysds/resource/enumeration/Enumerator.java
  src/test/java/org/apache/sysds/test/component/resource/EnumeratorTests.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
Due: util

scripts polishing
  scripts/resource/README.md
  scripts/resource/launch/cluster_launch.sh
  scripts/resource/launch/ec2_bootstrap.sh
  scripts/resource/launch/single_node_launch.sh
  scripts/resource/launch/single_node_run_script.sh
  scripts/resource/launch/single_node_utils.sh
  src/main/java/org/apache/sysds/resource/CloudUtils.java
  src/main/java/org/apache/sysds/resource/ResourceCompiler.java
  src/main/java/org/apache/sysds/resource/cost/IOCostUtils.java
  src/main/java/org/apache/sysds/resource/enumeration/InterestBasedEnumerator.java
  src/test/java/org/apache/sysds/test/component/resource/EnumeratorTests.java
  src/test/java/org/apache/sysds/test/component/resource/RecompilationTest.java
Due: util

options fix
  src/main/java/org/apache/sysds/resource/CloudInstance.java
  src/main/java/org/apache/sysds/resource/CloudUtils.java
  src/main/java/org/apache/sysds/resource/ResourceCompiler.java
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
Due: util

adaptations + fixes to run experiments
  .gitignore
  scripts/aws/run_systemds_script.sh
  scripts/resource/README.md
  scripts/resource/bin/systemds-ropt
  scripts/resource/launch/cluster.env
  scripts/resource/launch/cluster_utils.sh
  scripts/resource/launch/ec2_bootstrap.sh
  scripts/resource/launch/ec2_permissions.sh
  scripts/resource/launch/launch_cluster.sh
  scripts/resource/launch/launch_single_node.sh
  scripts/resource/launch/run_script_cluster.sh
  scripts/resource/launch/run_script_single_node.sh
  scripts/resource/launch/single_node.env
  scripts/resource/launch/single_node_utils.sh
  scripts/resource/launch/systemds_cluster.env
  scripts/resource/launch/systemds_single_node.env
  scripts/resource/options.properties
  src/main/java/org/apache/sysds/resource/CloudUtils.java
  src/main/java/org/apache/sysds/resource/ResourceCompiler.java
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
  src/main/java/org/apache/sysds/resource/cost/IOCostUtils.java
  src/main/java/org/apache/sysds/resource/enumeration/Enumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/PruneBasedEnumerator.java
  src/test/java/org/apache/sysds/test/component/resource/CloudUtilsTests.java
  src/test/java/org/apache/sysds/test/component/resource/CostEstimatorTest.java
  src/test/java/org/apache/sysds/test/component/resource/EnumeratorTests.java
  src/test/java/org/apache/sysds/test/component/resource/InstructionsCostEstimatorTest.java
  src/test/java/org/apache/sysds/test/component/resource/PruneBaseEnumeratorTests.java
  src/test/java/org/apache/sysds/test/component/resource/RecompilationTest.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceTestUtils.java
Due: util

print fix
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
Due: util

fix scripts 1
  scripts/resource/launch/single_node_launch.sh
  scripts/resource/launch/single_node_run_script.sh
Due: none

tmp recompiler
  src/main/java/org/apache/sysds/resource/AWSUtils.java
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
Due: util

fix javadoc + fix s3 IO metrics
  src/main/java/org/apache/sysds/resource/CloudUtils.java
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
  src/main/java/org/apache/sysds/resource/cost/IOCostUtils.java
  src/main/java/org/apache/sysds/resource/enumeration/InterestBasedEnumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/PruneBasedEnumerator.java
Due: util

fix evaluateSingleNodeExecution
  src/main/java/org/apache/sysds/resource/ResourceCompiler.java
  src/main/java/org/apache/sysds/resource/enumeration/Enumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/GridBasedEnumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/InterestBasedEnumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/PruneBasedEnumerator.java
  src/test/java/org/apache/sysds/test/component/resource/EnumeratorTests.java
Due: util

extend and fix tests + allow dynamic recompilation
  scripts/resource/ec2_stats.csv
  src/main/java/org/apache/sysds/resource/CloudUtils.java
  src/main/java/org/apache/sysds/resource/ResourceCompiler.java
  src/main/java/org/apache/sysds/resource/ResourceOptimizer.java
  src/main/java/org/apache/sysds/resource/cost/CostEstimator.java
  src/main/java/org/apache/sysds/resource/cost/RDDStats.java
  src/main/java/org/apache/sysds/resource/cost/SparkCostUtils.java
  src/main/java/org/apache/sysds/resource/enumeration/EnumerationUtils.java
  src/main/java/org/apache/sysds/resource/enumeration/Enumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/GridBasedEnumerator.java
  src/main/java/org/apache/sysds/resource/enumeration/InterestBasedEnumerator.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTests.java
  src/test/java/org/apache/sysds/test/component/resource/CloudUtilsTests.java
  src/test/java/org/apache/sysds/test/component/resource/CostEstimatorTest.java
  src/test/java/org/apache/sysds/test/component/resource/EnumeratorTests.java
  src/test/java/org/apache/sysds/test/component/resource/InstructionsCostEstimatorTest.java
  src/test/java/org/apache/sysds/test/component/resource/RecompilationTest.java
  src/test/java/org/apache/sysds/test/component/resource/ResourceOptimizerTest.java
  src/test/java/org/apache/sysds/test/component/resource/TestingUtils.java
Due: util
