Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

chore(test/functions/privacy/dp/DPBuiltinDMLTest.java): remove some too fine-grained comments shorten method headers
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

feat(.github/workflows/javaTests.yml): add privacy function tests to java test workflow
  .github/workflows/javaTests.yml
  src/test/java/org/apache/sysds/test/functions/privacy/DPBuiltinDMLTest.java
Due: none

chore(main/runtime/instructions/cp/DPBuiltinCPInstruction.java): log a warning that the differential privacy features are still experimental
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
Due: runtime

[SYSTEMDS-3972] Add differential privacy builtin functions as a new experimental feature.
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinOps.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinOpsTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/DPBuiltinDMLTest.java
  src/test/scripts/functions/privacy/dp/DPGaussianTest.dml
  src/test/scripts/functions/privacy/dp/DPLaplaceTest.dml
  src/test/scripts/functions/privacy/dp/DPSetBudgetNonLiteralTest.dml
  src/test/scripts/functions/privacy/dp/DPSetBudgetTest.dml
  src/test/scripts/functions/privacy/dp/DPSetBudgetTwiceTest.dml
Due: runtime, compiler, util

add reshape primitive
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReshapeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/OOCPackedCache.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/ReshapeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/functions/ooc/ReshapeTest.java
Due: runtime

[MINOR] Apply Eclipse formatter to PR-edited Java lines
  src/main/java/org/apache/sysds/runtime/instructions/spark/utils/FrameRDDConverterUtils.java
  src/test/java/org/apache/sysds/test/functions/io/csv/FrameCSVHeaderNamesTest.java
Due: runtime

[MINOR] Fix off-by-one in Spark CSV frame header writing (#2557)
  src/main/java/org/apache/sysds/runtime/instructions/spark/utils/FrameRDDConverterUtils.java
  src/test/java/org/apache/sysds/test/functions/io/csv/FrameCSVHeaderNamesTest.java
  src/test/scripts/functions/frame/FrameCSVHeaderNames.dml
Due: runtime

address review comments - part 1
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/OOCPackedCache.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/ReshapeOOCPrimitive.java
Due: runtime

address review comments - part 2
  src/main/java/org/apache/sysds/runtime/ooc/primitives/ReshapeOOCPrimitive.java
  src/test/java/org/apache/sysds/test/functions/ooc/ReshapeTest.java
Due: runtime

[MINOR] Cover the search space and result handling of the Scuro tuner
  src/main/python/tests/scuro/test_hp_tuner.py
Due: none

[SYSTEMDS-3547] Extended tensor transposition for sparse inputs
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/PermuteTest.java
Due: runtime, matrix

[SYSTEMDS-3925] New latin hypercube sampling builtin
  scripts/builtin/lhs.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinLHSTest.java
  src/test/scripts/functions/builtin/lhs.dml
  src/test/scripts/functions/builtin/lhs_gmm_benchmark.dml
Due: util

[SYSTEMDS-3168] Transposed dense-sparse matmult kernels
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/performance/matrix/MatrixMultTransposedPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedTest.java
Due: runtime, matrix

[SYSTEMDS-3855] Use of VectorAPI in sparse-sparse matmult kernels
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
Due: runtime, matrix

[SYSTEMDS-3168] Transposed sparse-sparse matmult kernels
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/performance/matrix/MatrixMultSparseTransposedPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultSparseTransposedTest.java
Due: runtime, matrix

[SYSTEMDS-3332] Matrix-vector support in ternary ifelse operations
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTernaryOp.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixTercell.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/ternary/FullIfElseTest.java
  src/test/scripts/functions/ternary/TernaryIfElse.R
  src/test/scripts/functions/ternary/TernaryIfElse.dml
Due: runtime, matrix, compress, compiler

[SYSTEMDS-3974] New coresetDT builtin for coreset selection via decision trees
  docs/site/builtins-reference.md
  scripts/builtin/coresetDT.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinCoresetDTTest.java
  src/test/scripts/functions/builtin/coresetDT.dml
Due: util

[SYSTEMDS-3163] New builtin for MNAR imputation (staging)
  scripts/staging/mnar_project/debug_impute_write_full.dml
  scripts/staging/mnar_project/debug_read_write_full.dml
  scripts/staging/mnar_project/debug_similarity_weights.dml
  scripts/staging/mnar_project/debug_weighted_lm_predict.dml
  scripts/staging/mnar_project/projectdocumentation.md
  scripts/staging/mnar_project/rebalanced_mice_complete.dml
  scripts/staging/mnar_project/run_rebalanced_mice_complete.sh
Due: none

[SYSTEMDS-3166] Add builtin for anomaly detection via Isolation Forest
  scripts/builtin/outlierByIsolationForest.dml
  scripts/builtin/outlierByIsolationForestApply.dml
  scripts/staging/isolationForest/isolationForest.dml
  scripts/staging/isolationForest/test/isolationForestTest.dml
  scripts/staging/mnar_project/projectdocumentation.md
  scripts/staging/mnar_project/run_rebalanced_mice_complete.sh
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/python/docs/source/api/operator/algorithms/outlierByIsolationForest.rst
  src/main/python/docs/source/api/operator/algorithms/outlierByIsolationForestApply.rst
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/outlierByIsolationForest.py
  src/main/python/systemds/operator/algorithm/builtin/outlierByIsolationForestApply.py
  src/main/python/tests/auto_tests/test_outlierByIsolationForest.py
  src/main/python/tests/auto_tests/test_outlierByIsolationForestApply.py
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinIsolationForestTest.java
  src/test/scripts/functions/builtin/outlierByIsolationForestTest.R
  src/test/scripts/functions/builtin/outlierByIsolationForestTest.dml
Due: util

[SYSTEMDS-3543] Add piecewise linear compression of column groups
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

[MINOR] Cover the fusion search and main loop of the Scuro multimodal optimizer
  src/main/python/tests/scuro/test_multimodal_fusion.py
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
