Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

testing
  src/main/python/tests/scuro/test_dr_search.py
Due: none

testing
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

handle hash for init metadata decode dummy
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
Due: runtime

testing
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
Due: none

testing
  src/main/python/tests/scuro/data_generator.py
Due: none

[SYSTEMDS-3842] Improve test coverage of API components: MLContext
  .github/workflows/python.yml
  src/test/java/org/apache/sysds/test/functions/mlcontext/MLContextTest.java
Due: none

testing
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

multi-thread fix, bin optimization
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

[MINOR] Reduced test runtime of paramserv testsuite package
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_avg.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_minimum_version.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_nbatches.dml
Due: none

ndist plus
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
Due: runtime

dummycode
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
Due: runtime

-1 for cu end
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
Due: runtime

try again
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
Due: runtime

parallel decode
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/transform/decode/Decoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
Due: runtime

+k for parallel
  src/main/java/org/apache/sysds/runtime/transform/decode/Decoder.java
Due: runtime

decode
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
Due: runtime

testing
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

update sysds.Dockerfile, testsysds.Dockerfile, main.dml and cleanup
  docker/build.sh
  docker/mountFolder/.gitignore
  docker/mountFolder/main.dml
  docker/pythonsysdslight.Dockerfile
  docker/sysds.Dockerfile
  docker/sysdslight.Dockerfile
  docker/sysdslight_multistage.Dockerfile
  docker/testsysds.Dockerfile
  docker/testsysdslight.Dockerfile
Due: none

[SYSTEMDS-3253] Add combined rewrite and lop instruction for union
  NAR
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnionCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyUnionDistinctTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyUnionDistinct.R
  src/test/scripts/functions/rewrite/RewriteSimplifyUnionDistinct.dml
Due: runtime, matrix, compiler, util

Delete NAR
  NAR
Due: none

Add apache license header to [BuiltinGetSetNamesTest.java]
  src/test/java/org/apache/sysds/test/functions/builtin/BuiltinGetSetNamesTest/BuiltinGetSetNamesTest.java
Due: none

Added LARS optimizer and integrated into Resnet architecture (#7)
  .claude/settings.local.json
  .gitignore
  scripts/.claude/settings.local.json
  scripts/data_prep/create_binary_chunks.py
  scripts/nn/examples/Example-AlexNet_BN_LARS.dml
  scripts/nn/examples/Example-AlexNet_BN_LARS_debug.dml
  scripts/nn/examples/Example-ImageNet_AlexNet_Optimizers.dml
  scripts/nn/examples/Example-MNIST_Softmax.dml
  scripts/nn/examples/Example-ResNet.dml
  scripts/nn/examples/Example-ResNet50_LARS.dml
  scripts/nn/examples/Example-ResNet50_LARS_debug.dml
  scripts/nn/examples/alexnet_lars_tests.dml
  scripts/nn/examples/load_imagenet_csv.dml
  scripts/nn/examples/tests/alexnet/test_alexnet_mini.dml
  scripts/nn/examples/tests/alexnet/test_dense_alexnet_lars.dml
  scripts/nn/examples/tests/test_lars_updates.dml
  scripts/nn/layers/lrn.dml
  scripts/nn/networks/README_AlexNet.md
  scripts/nn/networks/README_ResNet50.md
  scripts/nn/networks/alexnet.dml
  scripts/nn/networks/alexnet_LARS.dml
  scripts/nn/networks/alexnet_LARS_debug.dml
  scripts/nn/networks/resnet.dml
  scripts/nn/networks/resnet101.dml
  scripts/nn/networks/resnet152.dml
  scripts/nn/networks/resnet18.dml
  scripts/nn/networks/resnet34.dml
  scripts/nn/networks/resnet50.dml
  scripts/nn/networks/resnet50_LARS.dml
  scripts/nn/networks/resnet50_LARS_debug.dml
  scripts/nn/networks/resnet_util.dml
  scripts/nn/optim/lars.dml
  scripts/nn/optim/lars_util.dml
  scripts/nn/summaries/20-06-2025.md
Due: none

Imagenet Implementation and testing (#8)
  .github/workflows/python.yml
  .gitignore
  scripts/data_prep/prepare_raw_imagenet.py
  scripts/data_prep/run_raw_imagenet_preprocessing.py
  scripts/nn/examples/imagenet_alexnet.dml
  scripts/nn/examples/imagenet_resnet.dml
  scripts/nn/examples/mnist_resnet.dml
  scripts/nn/layers/softmax_cross_entropy_loss.dml
  scripts/nn/networks/alexnet.dml
  scripts/nn/optim/lars.dml
  src/test/java/org/apache/sysds/test/functions/mlcontext/MLContextTest.java
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_avg.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_minimum_version.dml
  src/test/scripts/functions/paramserv/mnist_lenet_paramserv_nbatches.dml
Due: none

Solve Syntax Error in dataloader (#9)
  scripts/data_prep/prepare_raw_imagenet.py
Due: none

Remove unnecesary files (#10)
  .claude/settings.local.json
  scripts/.claude/settings.local.json
  scripts/nn/examples/Example-AlexNet_BN_LARS.dml
  scripts/nn/examples/Example-AlexNet_BN_LARS_debug.dml
  scripts/nn/examples/Example-ResNet50_LARS.dml
  scripts/nn/examples/Example-ResNet50_LARS_debug.dml
  scripts/nn/examples/alexnet_lars_tests.dml
  scripts/nn/examples/tests/alexnet/test_alexnet_mini.dml
  scripts/nn/examples/tests/alexnet/test_dense_alexnet_lars.dml
  scripts/nn/examples/tests/test_lars_updates.dml
  scripts/nn/networks/README_AlexNet.md
  scripts/nn/networks/README_ResNet50.md
  scripts/nn/networks/alexnet_LARS.dml
  scripts/nn/networks/alexnet_LARS_debug.dml
  scripts/nn/networks/resnet50_LARS.dml
  scripts/nn/networks/resnet50_LARS_debug.dml
  scripts/nn/summaries/20-06-2025.md
Due: none

Fix typo in FederatedPlanCostEnumeratorTest12.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest12.dml
Due: none

Revert the replacement of the detailed imports with a wildcard import
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix

Fix missing license headers
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnionCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyUnionDistinctTest.java
Due: runtime

Fix capitalization of test files
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyUnionDistinctTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyUnion.R
  src/test/scripts/functions/rewrite/RewriteSimplifyUnion.dml
Due: none

Remove temporary test function
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyUnionDistinctTest.java
Due: none

column masks
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/functionobjects/Builtin.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/functions/transform/GetCategoricalMaskTest.java
  src/test/scripts/functions/transform/GetCategoricalMaskTest.dml
Due: runtime, compiler, util

Resnet MNIST Testing (#11)
  .gitignore
  scripts/nn/networks/alexnet.dml
  scripts/nn/optim/lars.dml
Due: none

cleanup GetCategorical Map
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
Due: runtime

k added
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix, compress

sorting
  src/main/java/org/apache/sysds/runtime/instructions/cp/QuantileSortCPInstruction.java
Due: runtime

works
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroupValue.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ADictBasedColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupLinearFunctional.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/AIdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibSort.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/QuantileSortCPInstruction.java
Due: runtime, compress

fix compile error
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupNegativeTests.java
Due: none
