Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

added testing for removeUnnecessaryVectorizeOperation
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteRemoveUnnecessaryVectorizeOperationTest.java
  src/test/scripts/functions/rewrite/RewriteRemoveUnnecessaryVectorizeOperation.R
  src/test/scripts/functions/rewrite/RewriteRemoveUnnecessaryVectorizeOperation.dml
Due: none

added testing for removeUnnecessaryBinaryOperation
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteRemoveUnnecessaryBinaryOperationTest.java
  src/test/scripts/functions/rewrite/RewriteRemoveUnnecessaryBinaryOperation.R
  src/test/scripts/functions/rewrite/RewriteRemoveUnnecessaryBinaryOperation.dml
Due: none

added testing for simplifyBinaryToUnaryOperation
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyBinaryToUnaryOperationTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyBinaryToUnaryOperation.R
  src/test/scripts/functions/rewrite/RewriteSimplifyBinaryToUnaryOperation.dml
Due: none

[SYSTEMDS-3541] Exploratory workload-aware compression on intermediates
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteCompressedReblock.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
  src/main/java/org/apache/sysds/runtime/compress/workload/WorkloadAnalyzer.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibBinaryCellOpCustomTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibBinaryCellOpTest.java
  src/test/java/org/apache/sysds/test/functions/compress/workload/WorkloadAlgorithmTest.java
Due: runtime, frame, compress, compiler, util

create simple Tests
  src/test/scripts/functions/codegen/rowAggPattern47.R
  src/test/scripts/functions/codegen/rowAggPattern47.dml
Due: none

add Tests to config files
  src/test/java/org/apache/sysds/test/functions/codegen/RowAggTmplTest.java
Due: none

prog level fedplanner
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest4.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest5.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest6.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest7.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest8.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest9.dml
Due: compiler

added testing for canonicalizeMatrixMultScalarAdd
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteCanonicalizeMatrixMultScalarAddTest.java
  src/test/scripts/functions/rewrite/RewriteCanonicalizeMatrixMultScalarAdd.R
  src/test/scripts/functions/rewrite/RewriteCanonicalizeMatrixMultScalarAdd.dml
Due: none

implement rowVar into the compiler
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Unary.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime, compiler

added testing for simplifyReverseOperation
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyReverseOperationTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyReverseOperation.R
  src/test/scripts/functions/rewrite/RewriteSimplifyReverseOperation.dml
Due: none

added testing for simplifyMultiBinaryToBinaryOperation
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyMultiBinaryToBinaryOperationTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyMultiBinaryToBinaryOperation.R
  src/test/scripts/functions/rewrite/RewriteSimplifyMultiBinaryToBinaryOperation.dml
Due: none

added testing for simplifyUnaryAggReorgOperation
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyUnaryAggReorgOperationTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyUnaryAggReorgOperation.R
  src/test/scripts/functions/rewrite/RewriteSimplifyUnaryAggReorgOperation.dml
Due: none

Update detectConflictFedPlan and resolveConflictFedPlan
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
Due: compiler

Update detectConflictFedPlan, resolveConflictFedPlan, and MemoTablePrinter
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
Due: compiler

Add if-else DML test script
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
Due: none

Optimal Planner
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
Due: compiler

Enumerator for an optimal federated plan at the program level
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest5.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest6.dml
Due: compiler

program level fed planer
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
Due: compiler

program level fed planer
  graph.py
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest5.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest6.dml
Due: compiler

program level fed planer
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanVisualizer.py
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest10.dml
Due: compiler

added testing for simplifyBinaryMatrixScalarOperation
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyBinaryMatrixScalarOperationTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyBinaryMatrixScalarOperation.R
  src/test/scripts/functions/rewrite/RewriteSimplifyBinaryMatrixScalarOperation.dml
Due: none

fix out of bounds exception
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/test/scripts/functions/codegen/rowAggPattern47.R
  src/test/scripts/functions/codegen/rowAggPattern47.dml
Due: runtime

added testing for simplifyUnaryPPredOperation
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyUnaryPPredOperationTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyUnaryPPredOperation.R
  src/test/scripts/functions/rewrite/RewriteSimplifyUnaryPPredOperation.dml
Due: none

debug vectVar
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/test/scripts/functions/codegen/rowAggPattern47.R
Due: runtime

added testing for simplifyTransposedAppend
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTransposedAppendTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposedAppend.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposedAppend.dml
Due: none

added testing for fuseOrderOperationChain
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteFuseOrderOperationChainTest.java
  src/test/scripts/functions/rewrite/RewriteFuseOrderOperationChain.R
  src/test/scripts/functions/rewrite/RewriteFuseOrderOperationChain.dml
Due: none

added testing for removeUnnecessaryReorgOperation
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteRemoveUnnecessaryReorgOperationTest.java
  src/test/scripts/functions/rewrite/RewriteRemoveUnnecessaryReorgOperation.R
  src/test/scripts/functions/rewrite/RewriteRemoveUnnecessaryReorgOperation.dml
Due: compiler

added testing for removeUnnecessaryMinus
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteRemoveUnnecessaryMinusTest.java
  src/test/scripts/functions/rewrite/RewriteRemoveUnnecessaryMinus.R
  src/test/scripts/functions/rewrite/RewriteRemoveUnnecessaryMinus.dml
Due: none

added testing for simplifyOuterSeqExpand
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyOuterSeqExpandTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyOuterSeqExpand.R
  src/test/scripts/functions/rewrite/RewriteSimplifyOuterSeqExpand.dml
Due: none

added testing for simplifyCumsumColOrFullAggregates
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyCumsumColOrFullAggregatesTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyCumsumColOrFullAggregates.R
  src/test/scripts/functions/rewrite/RewriteSimplifyCumsumColOrFullAggregates.dml
Due: none

fix test for simplifyOuterSeqExpand in R file
  src/test/scripts/functions/rewrite/RewriteSimplifyOuterSeqExpand.R
Due: none

sparse vectVar fix
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

[SYSTEMDS-3696] Improved incremental SliceLine (better size pruning)
  scripts/builtin/incSliceLine.dml
Due: none

add new tests
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl30.R
  src/test/scripts/functions/codegen/cellwisetmpl30.dml
  src/test/scripts/functions/codegen/cellwisetmpl31.R
  src/test/scripts/functions/codegen/cellwisetmpl31.dml
Due: none

DML Options Code Coverage
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/test/java/org/apache/sysds/test/api/DMLOptionsTest.java
Due: util

test enabled
  .github/workflows/javaTests.yml
Due: none

final tests
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
  src/test/scripts/functions/codegen/cellwisetmpl31.R
  src/test/scripts/functions/codegen/cellwisetmpl31.dml
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
