Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[MINOR] Improved parfor test coverage (new tests, removed old code)
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/DataPartitionerLocal.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/TaskPartitionerFactory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/util/Cell.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/util/IDHandler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/util/IDSequence.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/util/StagingFileUtils.java
  src/test/java/org/apache/sysds/test/component/parfor/ParForIDHandling.java
  src/test/java/org/apache/sysds/test/component/parfor/ResultMergeTest.java
  src/test/java/org/apache/sysds/test/component/parfor/TaskPartitionerTest.java
Due: runtime, util

[MINOR] Fix federated tests and codegen components for fixed IDSequence
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateUtils.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedNegativeTest.java
Due: compiler

[SYSTEMDS-3799] Fix parfor result merge (all combinations)
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResultMerge.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResultMergeLocalFile.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResultMergeLocalMemory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResultMergeMatrix.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResultMergeRemoteSparkWCompare.java
  src/test/java/org/apache/sysds/test/component/parfor/ResultMergeTest.java
Due: runtime

Modify FederatedIfelseTest to increase coverage and fix TernaryFEDInstruction for the single-matrix-input case
  src/main/java/org/apache/sysds/runtime/instructions/fed/TernaryFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedIfelseTest.java
  src/test/scripts/functions/federated/FederatedIfelseSingleMatrixInputTest.dml
  src/test/scripts/functions/federated/FederatedIfelseSingleMatrixInputTestReference.dml
  src/test/scripts/functions/federated/FederatedIfelseTest.dml
Due: runtime

[SYSTEMDS-3701] Add additional text representations to Scuro
  .github/workflows/python.yml
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/utils.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/data_generator.py
Due: none

[SYSTEMDS-3800] Improve Code Coverage for Federated Operations
  src/main/java/org/apache/sysds/runtime/instructions/fed/TernaryFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part1/FederatedCentralMomentTest.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedFullCumulativeTest.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedIfelseTest.java
  src/test/scripts/functions/federated/FederatedCentralMomentWeightedTest.dml
  src/test/scripts/functions/federated/FederatedCentralMomentWeightedTestReference.dml
  src/test/scripts/functions/federated/FederatedIfelseSingleMatrixInputTest.dml
  src/test/scripts/functions/federated/FederatedIfelseSingleMatrixInputTestReference.dml
  src/test/scripts/functions/federated/FederatedIfelseTest.dml
Due: runtime

missing method implementations in ColGroupSDCZeros
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/ADictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/PlaceHolderDictTest.java
Due: runtime, compress

[SYSTEMDS-3801] Fix missing method implementations in ColGroupSDCZeros
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/ADictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/PlaceHolderDictTest.java
Due: runtime, compress

[MINOR] Improved code coverage of debug and trace logging
  src/test/java/org/apache/sysds/test/component/parfor/ResultMergeTest.java
  src/test/java/org/apache/sysds/test/functions/io/SeqParReadTest2.java
  src/test/java/org/apache/sysds/test/functions/mlcontext/MLContextTestBase.java
Due: none

[MINOR] Fix mlcontext debug/trace logging (not in nn tests)
  src/test/java/org/apache/sysds/test/applications/nn/BaseTest.java
  src/test/java/org/apache/sysds/test/functions/mlcontext/MLContextTestBase.java
Due: none

[SYSTEMDS-3548] Fix performance test for load_numpy string case
  scripts/perftest/python/io/load_numpy.py
Due: none

[SYSTEMDS-3548] Fix Py4j boolean array convert
  src/main/java/org/apache/sysds/runtime/util/Py4jConverterUtils.java
Due: runtime

[SYSTEMDS-3765] Reproducible test case for the need of time() hoisting
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteHoistingTimeTest.java
  src/test/scripts/functions/rewrite/RewriteTimeHoisting.dml
Due: none

[SYSTEMDS-3548] Parallelize pandas_to_frame_block
  src/main/python/systemds/utils/converters.py
Due: none

exclude scuro if dependencies not installed
  src/main/python/systemds/__init__.py
Due: none

formatting
  src/main/python/systemds/__init__.py
Due: none

[SYSTEMDS-3802] Conditionally Load Scuro
  src/main/python/systemds/__init__.py
Due: none

[SYSTEMDS-3704] Add new linearizer RESOURCE_AWARE_OPTIMAL
  src/main/java/org/apache/sysds/lops/compile/linearization/IDagLinearizerFactory.java
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAwareOptimal.java
Due: compiler

Transpose function for AxBxCxD matrices to AxCxBxD
  scripts/nn/util.dml
Due: none

Unit test for transpose_ABCD_to_ACBD function
  src/test/java/org/apache/sysds/test/applications/nn/NNComponentTest.java
  src/test/scripts/applications/nn/component/transpose_ABCD_to_ACBD.dml
Due: none

[SYSTEMDS-3803] DML-bodied Util Function for Transposing ABCD to ACBD
  scripts/nn/util.dml
  src/test/java/org/apache/sysds/test/applications/nn/NNComponentTest.java
  src/test/scripts/applications/nn/component/transpose_ABCD_to_ACBD.dml
Due: none

[SYSTEMDS-3765] Fix time displacement through function hoisting
  src/main/java/org/apache/sysds/parser/StatementBlock.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteHoistingTimeTest.java
  src/test/scripts/functions/rewrite/RewriteTimeHoisting.dml
Due: compiler

[SYSTEMDS-3704] Add new linearizer RESOURCE_AWARE_FAST
  src/main/java/org/apache/sysds/lops/compile/linearization/IDagLinearizerFactory.java
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAware.java
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAwareFast.java
Due: compiler

[SYSTEMDS-3704] RESOURCE_AWARE_FAST: refactoring
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAwareFast.java
Due: compiler

[SYSTEMDS-3804] New rewrite for reverse sequences
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteRemoveUnnecessaryRevTest.java
  src/test/scripts/functions/rewrite/RewriteRemoveUnnecessaryRev.dml
Due: compiler

Basic multi-head attention layer forward pass
  scripts/nn/layers/multi_attention.dml
Due: none

[MINOR] Improved code coverage control program and symbol table
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/LocalVariableMap.java
  src/main/java/org/apache/sysds/runtime/controlprogram/Program.java
  src/main/java/org/apache/sysds/runtime/controlprogram/ProgramBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/main/java/org/apache/sysds/runtime/meta/MetaData.java
  src/test/java/org/apache/sysds/test/component/cp/VariableMapTest.java
  src/test/java/org/apache/sysds/test/functions/binary/matrix/UltraSparseMRMatrixMultiplicationTest.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedRdiagTest.java
Due: runtime, util
