Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[SYSTEMDS-3807] Fix test code coverage and minor lineage issues
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
Due: runtime

[SYSTEMDS-3704] RESOURCE_AWARE_FAST: refactoring
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAwareFast.java
Due: compiler

disentangle data loading from representations
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/aligner/alignment.py
  src/main/python/systemds/scuro/aligner/dr_search.py
  src/main/python/systemds/scuro/dataloader/__init__.py
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/main.py
  src/main/python/systemds/scuro/modality/aligned_modality.py
  src/main/python/systemds/scuro/modality/audio_modality.py
  src/main/python/systemds/scuro/modality/text_modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/modality/video_modality.py
  src/main/python/systemds/scuro/representations/average.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/max.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/multiplication.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/rowmax.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/unimodal.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

Added way more robust number parsing based on sample size. Including floating point, rational, signed.
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTagDictionary.java
Due: runtime

remove unused imports
  src/main/python/systemds/scuro/modality/modality.py
Due: none

All data types for tags and pixels supported now, deprecated old method for reading bytes, now fully based on Java built-in
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTag.java
  src/main/java/org/apache/sysds/runtime/io/cog/SampleFormatDataTypes.java
  src/main/java/org/apache/sysds/runtime/io/cog/TIFFDataTypes.java
Due: runtime

reading all tiles into the outputMatrix
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
Due: runtime

[SYSTEMDS-3548] Update converters.py to be black compliant
  src/main/python/systemds/utils/converters.py
Due: none

feat: now matrix square root of diagonal matrix possible with dml script
  scripts/builtin/matrix_square_root.dml
Due: none

feat: now matrix sqrt with eigen decomposition possible
  scripts/builtin/matrix_square_root.dml
Due: none

[SYSTEMDS-3548] Update I/O tests to not include systemds context start during run statement
  scripts/perftest/python/io/load_native.py
  scripts/perftest/python/io/load_numpy.py
  scripts/perftest/python/io/load_pandas.py
Due: none

[SYSTEMDS-3548] Remove redundant close statements
  scripts/perftest/python/io/load_native.py
  scripts/perftest/python/io/load_pandas.py
Due: none

Add support for planar configuration type 2 (and differentiating based on the type)
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
Due: runtime

Update MemoTable, Cost Estimator, Cost Enumerator
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/MemoTableTest.java
  src/test/java/org/apache/sysds/test/component/federated/privacy/FederatedPlanCostEnumeratorTest.java
Due: compiler

Changed TODOs
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTagDictionary.java
Due: runtime

Fixed some tiny aspect of tests
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTest.java
Due: runtime

Missing test files
  src/test/resources/datasets/cog/testCOG_1.tif.mtd
  src/test/resources/datasets/cog/testCOG_2.tif.mtd
  src/test/resources/datasets/cog/testCOG_3.tif.mtd
  src/test/scripts/functions/io/cog/ReadCOGTest_1.dml
Due: none

Update CostEnumeratorTest, printFedPlanTreeRecursive
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/test/java/org/apache/sysds/test/component/federated/privacy/FederatedPlanCostEnumeratorTest.java
  src/test/scripts/functions/federated/privacy/cost.dml
Due: compiler

[SYSTEMDS-3704] temporary fix for decisionTree
  scripts/builtin/decisionTree.dml
Due: none

[SYSTEMDS-3704] update ILinearizeTest
  src/test/java/org/apache/sysds/test/functions/linearization/ILinearizeTest.java
  src/test/scripts/functions/linearization/SystemDS-config-resource-aware-fast.xml
Due: none

[SYSTEMDS-3790] Rework FedPlanner memo table, cost estimator, enumerator
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/MemoTable.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/MemoTableTest.java
  src/test/scripts/functions/federated/cost.dml
Due: compiler

Backward pass function header
  scripts/nn/layers/multi_attention.dml
Due: none

Updated doc string of forward pass
  scripts/nn/layers/multi_attention.dml
Due: none

Added doc string to backward pass function
  scripts/nn/layers/multi_attention.dml
Due: none

Added batch and head loop to backward pass
  scripts/nn/layers/multi_attention.dml
Due: none

Returning dropout_mask in multi-attention forward pass for later use in backward pass
  scripts/nn/layers/multi_attention.dml
  src/test/scripts/applications/nn/component/multi_attention_forward.dml
Due: none

Added dropout mask to input arguments of backward pass
  scripts/nn/layers/multi_attention.dml
Due: none

implement new "-explain" command, "codegen" and "codegen_recompile" to show generated code
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/main/java/org/apache/sysds/utils/Explain.java
Due: compiler, util

correct isRuntimeType() method in Explain.java
  src/main/java/org/apache/sysds/utils/Explain.java
Due: util

[MINOR] Increase Memory Estimate for Frames
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
Due: compiler

[MINOR] Federated Compressed Workload Estimation Fixes
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkloadAnalyzer.java
Due: runtime

[MINOR] Only Warn Once On Inefficient ThreadPool Use
  src/main/java/org/apache/sysds/runtime/util/CommonThreadPool.java
Due: runtime

[MINOR] Include HASH Type in HighestCommonType
  src/main/java/org/apache/sysds/common/Types.java
  src/test/java/org/apache/sysds/test/component/misc/TypeTest.java
Due: util

tests
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/test/java/org/apache/sysds/test/component/misc/MemoryEstimateTest.java
  src/test/java/org/apache/sysds/test/component/misc/OptimizerUtilsTest.java
Due: compiler

[MINOR] Increase Memory Estimate for Frames
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/test/java/org/apache/sysds/test/component/misc/MemoryEstimateTest.java
  src/test/java/org/apache/sysds/test/component/misc/OptimizerUtilsTest.java
Due: compiler

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
