Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

add einsum R dependency
  src/test/scripts/installDependencies.R
Due: none

initial working version
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/lops/Nary.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumContext.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/SystemDS-config-codegen.xml
  src/test/scripts/functions/einsum/einsum1.R
  src/test/scripts/functions/einsum/einsum1.dml
  src/test/scripts/functions/einsum/einsum2.R
  src/test/scripts/functions/einsum/einsum2.dml
  src/test/scripts/functions/einsum/einsum3.R
  src/test/scripts/functions/einsum/einsum3.dml
  src/test/scripts/functions/einsum/einsum4.R
  src/test/scripts/functions/einsum/einsum4.dml
  src/test/scripts/functions/einsum/einsum5.R
  src/test/scripts/functions/einsum/einsum5.dml
  src/test/scripts/functions/einsum/einsum6.R
  src/test/scripts/functions/einsum/einsum6.dml
  src/test/scripts/functions/einsum/einsum7.R
  src/test/scripts/functions/einsum/einsum7.dml
Due: runtime, compiler, util

quick fix
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

fix merge
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BuiltinNaryCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime, compiler, util

fix bugs
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum10.R
  src/test/scripts/functions/einsum/einsum10.dml
Due: runtime

more computations done using row tpl
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeData.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumContext.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum8.R
  src/test/scripts/functions/einsum/einsum8.dml
  src/test/scripts/functions/einsum/einsum9.R
  src/test/scripts/functions/einsum/einsum9.dml
Due: runtime, compiler

removed old code
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

support for scalar multiplication, better validation
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum13.R
  src/test/scripts/functions/einsum/einsum13.dml
  src/test/scripts/functions/einsum/einsum6.dml
Due: runtime, compiler

better plan generation for einsum, handle more cases, added test that does matrix muls and elemwise muls with sums
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeCell.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum12.R
  src/test/scripts/functions/einsum/einsum12.dml
Due: runtime, compiler

add tests
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum11.R
  src/test/scripts/functions/einsum/einsum11.dml
Due: none

cleanup validate code
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

add einsum to test suite in github workflows
  .github/workflows/javaTests.yml
Due: none

remove more unused code, fix bug
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

add test and removing unnecessary changes
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum14.R
  src/test/scripts/functions/einsum/einsum14.dml
  src/test/scripts/functions/einsum/einsum3.R
  src/test/scripts/functions/einsum/einsum4.R
  src/test/scripts/functions/einsum/einsum5.R
  src/test/scripts/functions/einsum/einsum5.dml
  src/test/scripts/functions/einsum/einsum6.R
  src/test/scripts/functions/einsum/einsum6.dml
Due: runtime

add tests and code for vector elementwise mult. and outer product
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum15.R
  src/test/scripts/functions/einsum/einsum15.dml
  src/test/scripts/functions/einsum/einsum16.R
  src/test/scripts/functions/einsum/einsum16.dml
  src/test/scripts/functions/einsum/einsum17.R
  src/test/scripts/functions/einsum/einsum17.dml
Due: runtime

extracted einsumEquationValidation to separate class, it is now called also by refresh size method
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumContext.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumEquationValidator.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime, compiler

add comment
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumContext.java
Due: runtime

moved einsum information extraction to EinsumContext function
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumContext.java
Due: runtime

missing licence notice, better more restricting condition for binary outermultpl. change
  src/main/java/org/apache/sysds/runtime/einsum/EinsumEquationValidator.java
Due: runtime

better, clearer EinsumContext properties names
  src/main/java/org/apache/sysds/runtime/einsum/EinsumContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

aB_a contraction works, by transposing matrix, no longer change to codegen is needed, elementwise mutliplication between matrix and vector works
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum18.R
  src/test/scripts/functions/einsum/einsum18.dml
  src/test/scripts/functions/einsum/einsum19.R
  src/test/scripts/functions/einsum/einsum19.dml
  src/test/scripts/functions/einsum/einsum20.R
  src/test/scripts/functions/einsum/einsum20.dml
Due: runtime

small change to save lines
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

fix testrunner
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
Due: none

refactored plan generation and execution into separate steps; plan is optimal; by default no codegen is used
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
Due: runtime

reduce size of einsum test18
  src/test/scripts/functions/einsum/einsum18.R
  src/test/scripts/functions/einsum/einsum18.dml
Due: none

Fix compile warnings
  src/main/java/org/apache/sysds/runtime/einsum/EinsumContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

remove einsum from github workflow tests
  .github/workflows/javaTests.yml
Due: none

fix javadoc
  src/main/java/org/apache/sysds/cujava/runtime/CudaError.java
Due: none

fix deprecated notification
  src/main/java/org/apache/sysds/cujava/runtime/CudaError.java
Due: none

add cudaFreeNative
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

add cudamemset
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

add cudaDeviceSynchronize
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

add setExceptionsEnabled
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

add cudaMallocManaged
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

add cudaMemGetInfo
  src/main/cpp/jni/common/cujava_jni_utils.cpp
  src/main/cpp/jni/common/cujava_jni_utils.hpp
  src/main/cpp/jni/common/cujava_pointer_utils.cpp
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

add cudaDeviceScheduleBlockingSync
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

[SYSTEMDS-3909] New einsum expression evaluation framework
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeCell.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeData.java
  src/main/java/org/apache/sysds/lops/Nary.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumContext.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumEquationValidator.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BuiltinNaryCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/SystemDS-config-codegen.xml
  src/test/scripts/installDependencies.R
Due: runtime, compiler, util

[SYSTEMDS-3908] Improved OOC matrix multiplication w/ early outputs
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime
