Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3913] Make learnable fusion representations work for multi-label tasks
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
Due: none

[SYSTEMDS-3730] Add time measurement
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/RollOperationThreadSafetyTest.java
Due: none

[SYSTEMDS-3902] Faster data transfer for Python Frames to Java Runtime by using pipes instead of py4j
  .gitignore
  src/main/java/org/apache/sysds/api/PythonDMLScript.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/FloatArray.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/util/UnixPipeUtils.java
  src/main/python/systemds/context/systemds_context.py
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/matrix/test_block_converter_unix_pipe.py
  src/main/python/tests/python_java_data_transfer/__init__.py
  src/main/python/tests/python_java_data_transfer/test_dense_numpy_matrix.py
  src/main/python/tests/python_java_data_transfer/test_pandas_frame.py
  src/main/python/tests/test_utils.py
  src/test/java/org/apache/sysds/test/component/utils/UnixPipeUtilsTest.java
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
Due: runtime, frame, util

change hyperparameter tuning to bo
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/README.md
  src/main/python/tests/scuro/test_hp_tuner.py
Due: none

add missing dependency
  .github/workflows/python.yml
Due: none

add correct dependency
  .github/workflows/python.yml
Due: none

add parameter ranges to all representations
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

[SYSTEMDS-3887] Change hyperparameter tuning strategy to bayesian optimization
  .github/workflows/python.yml
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/README.md
  src/main/python/tests/scuro/test_hp_tuner.py
Due: none

fix license
  src/main/python/make_jar_and_package.sh
Due: none

add text context operators
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/text_context.py
  src/main/python/systemds/scuro/representations/unimodal.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_text_context_operators.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

Add Missing License
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCWatchdog.java
Due: runtime

[SYSTEMDS-3539] DeltaDDC Refinements
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDeltaDDC.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDeltaDDCTest.java
Due: runtime, compress

Initial commit: preliminary tests, some helper functions
  scripts/builtin/hdbscan.dml
  scripts/builtin/hdbscanApply.dml
  src/test/java/org/apache/sysds/test/functions/builtin/BuiltinHDBSCANTest.java
  src/test/scripts/functions/builtin/hdbscan.R
  src/test/scripts/functions/builtin/hdbscan.dml
  src/test/scripts/functions/builtin/hdbscanApply.dml
  test_build_mst.dml
  test_kth_smallest.dml
  test_mutual_reachability.dml
Due: none

Fix SYSTEMDS-3898: ensure quantile VALUEPICK computes output for non-inmem path (materialize and pick with averaging for even-length arrays)
  src/main/java/org/apache/sysds/runtime/instructions/cp/QuantilePickCPInstruction.java
Due: runtime

[SYSTEMDS-3539] DeltaDDC Refinements and Reviewer Fixes
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDeltaDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibUnary.java
  src/main/java/org/apache/sysds/runtime/compress/utils/DblArrayCountHashMap.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDeltaDDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibUnaryDeltaTest.java
Due: runtime, compress

[SYSTEMDS-3539] DeltaDDC Scalar Operations and Slicing Fixes
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDeltaDDC.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibUnary.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDeltaDDCTest.java
Due: runtime, compress

[SYSTEMDS-3935] Fix OOC CSV reblock execution path
  src/main/java/org/apache/sysds/hops/Hop.java
Due: compiler

[SYSTEMDS-3933] Generalize OOC matrix-vector binary to support streamed vector input
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime

[SYSTEMDS-3876] reduce image size of testing docker image
  docker/testsysds.Dockerfile
Due: none

[SYSTEMDS-3730] Add MatrixRollPerf.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/performance/matrix/MatrixRollPerf.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/RollOperationThreadSafetyTest.java
Due: runtime, matrix

Remove Unnecessary Imports
  src/test/java/org/apache/sysds/test/functions/ooc/LmCGTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/PCATest.java
Due: none

[SYSTEMDS-3730] Add missing license
  src/test/java/org/apache/sysds/performance/matrix/MatrixRollPerf.java
Due: none

Bugfix: Require explicit addOutStream() on OOC task submission to avoid error propagation failures
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime

Unification of Cache and Source Reads to prevent Eviction of Disk Backed Tiles
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/OOCSourceStream.java
  src/test/java/org/apache/sysds/runtime/ooc/cache/SourceBackedCacheSchedulerTest.java
  src/test/java/org/apache/sysds/runtime/ooc/cache/SourceBackedReadOOCIOHandlerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/SourceReadOOCIOHandlerTest.java
Due: runtime

bugfix and optimize outer product decision
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
Due: runtime

saving work done
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumSpoofRowwise.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

fix in einsum codegen and added no-codegen fused op
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeEinsumFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumSpoofRowwise.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
Due: runtime, matrix

delete einsum codegen code
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

move eopnode compute impl. to respective classes
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeData.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeEinsumFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFused.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

minor changes
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeData.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumSpoofRowwise.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

remove comments
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeData.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeUnary.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/SystemDS-config-einsum.xml
Due: runtime, compiler

saving work before my ssd dies
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeData.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeEinsumFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFused.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumEquationValidator.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

clean tests and improve explain prints
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
Due: runtime

+1
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

bugfixes and move code to other places
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimization.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumSpoofRowwise.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
Due: runtime, compiler

include dimsize in EOpNode, implement the reordering of binary in the final plan
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeData.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeUnary.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
Due: runtime
