Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

remove TeeOp class and use DataOp
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
Due: compiler

Add OOCMatrixBlockTracker
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime

first half of cusparse
  src/main/cpp/jni/common/cujava_jni_utils.cpp
  src/main/cpp/jni/common/cujava_jni_utils.hpp
  src/main/cpp/jni/cusparse/CMakeLists.txt
  src/main/cpp/jni/cusparse/cujava_cusparse.cpp
  src/main/cpp/jni/cusparse/cujava_cusparse.hpp
  src/main/cpp/jni/cusparse/cujava_cusparse_common.hpp
  src/main/cpp/jni/runtime/cujava_runtime_common.hpp
  src/main/cpp/lib/libCuJavaCommonJNI.a
  src/main/cpp/lib/libcujava_cusparse.so
  src/main/cpp/lib/libcujava_runtime.so
  src/main/java/org/apache/sysds/cujava/cusparse/CuJavaCusparse.java
  src/main/java/org/apache/sysds/cujava/cusparse/cusparseConstSpMatDescr.java
Due: none

next batch
  src/main/cpp/jni/cusparse/cujava_cusparse.cpp
  src/main/cpp/jni/cusparse/cujava_cusparse.hpp
  src/main/cpp/lib/libcujava_cusparse.so
  src/main/java/org/apache/sysds/cujava/cusparse/CuJavaCusparse.java
Due: none

next batch
  src/main/cpp/jni/cusparse/CMakeLists.txt
  src/main/cpp/jni/cusparse/cujava_cusparse.cpp
  src/main/cpp/jni/cusparse/cujava_cusparse.hpp
  src/main/cpp/lib/libcujava_cusparse.so
  src/main/java/org/apache/sysds/cujava/cusparse/CuJavaCusparse.java
Due: none

[SYSTEMDS-3898] Fix correctness CP quantile pick instruction
  src/main/java/org/apache/sysds/runtime/instructions/cp/QuantilePickCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/binary/matrix/QuantileTest.java
  src/test/scripts/functions/binary/matrix/QuantileBug.R
  src/test/scripts/functions/binary/matrix/QuantileBug.dml
Due: runtime, matrix

next
  src/main/cpp/jni/cusparse/cujava_cusparse.cpp
  src/main/cpp/jni/cusparse/cujava_cusparse.hpp
  src/main/cpp/lib/libcujava_cusparse.so
  src/main/java/org/apache/sysds/cujava/cusparse/CuJavaCusparse.java
Due: none

[SYSTEMDS-3898] Fix robustness quantile/iqr with averaging
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix

[MINOR] Disable federated quantile tests (results consistency)
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedQuantileTest.java
Due: none

some cleaning
  src/main/cpp/jni/cusparse/cujava_cusparse.cpp
  src/main/cpp/jni/cusparse/cujava_cusparse_common.hpp
  src/main/cpp/jni/driver/cujava_driver.cpp
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/lib/libcujava_cusparse.so
Due: none

start shipping cublas java side
  src/main/java/org/apache/sysds/cujava/cublas/cublasDiagType.java
  src/main/java/org/apache/sysds/cujava/cublas/cublasFillMode.java
  src/main/java/org/apache/sysds/cujava/cublas/cublasHandle.java
  src/main/java/org/apache/sysds/cujava/cublas/cublasOperation.java
  src/main/java/org/apache/sysds/cujava/cublas/cublasPointerMode.java
  src/main/java/org/apache/sysds/cujava/cublas/cublasSideMode.java
  src/main/java/org/apache/sysds/cujava/cublas/cublasStatus.java
Due: none

cublas first batch
  src/main/cpp/jni/CMakeLists.txt
  src/main/cpp/jni/cublas/CMakeLists.txt
  src/main/cpp/jni/cublas/cujava_cublas.cpp
  src/main/cpp/jni/cublas/cujava_cublas.hpp
  src/main/cpp/jni/cublas/cujava_cublas_common.hpp
  src/main/cpp/jni/cusparse/cujava_cusparse.cpp
  src/main/cpp/jni/cusparse/cujava_cusparse.hpp
  src/main/cpp/lib/libcujava_cublas.so
  src/main/java/org/apache/sysds/cujava/cublas/CuJavaCublas.java
Due: none

cublas done
  src/main/cpp/jni/cublas/cujava_cublas.cpp
  src/main/cpp/jni/cublas/cujava_cublas.hpp
  src/main/cpp/jni/cublas/cujava_cublas_common.hpp
  src/main/cpp/lib/libcujava_cublas.so
  src/main/java/org/apache/sysds/cujava/cublas/CuJavaCublas.java
Due: none

add todos and final cleanup
  src/main/cpp/jni/cudnn/cujava_cudnn.cpp
  src/main/cpp/jni/cudnn/cujava_cudnn.hpp
  src/main/cpp/jni/cudnn/cujava_cudnn_common.hpp
  src/main/cpp/jni/cusolver/cujava_cusolver.hpp
  src/main/cpp/jni/cusolver/cujava_cusolver_common.hpp
  src/main/cpp/jni/driver/cujava_driver.cpp
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/lib/libcujava_runtime.so
  src/main/java/org/apache/sysds/cujava/cudnn/CuJavaCudnn.java
  src/main/java/org/apache/sysds/cujava/cusolver/CuJavaCusolver.java
Due: none

add resettable stream basic structure
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResettableStream.java
Due: runtime

implement reset, closeInput method signatures
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResettableStream.java
Due: runtime

combine multiple unimodal representations
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/unimodal.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

resolve errors
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

resolve errors
  src/main/python/systemds/scuro/utils/static_variables.py
Due: none

resolve errors
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

resolve errors
  src/main/python/systemds/scuro/__init__.py
Due: none

formatting
  src/main/python/systemds/scuro/__init__.py
Due: none

resolve errors
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

[SYSTEMDS-3913] Combined unimodal representation
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/unimodal.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/systemds/scuro/utils/static_variables.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

implement dequeueTask and reset
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResettableStream.java
Due: runtime

integrate resettable stream with teeooc
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResettableStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
Due: runtime

remove commented, redundant code
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/ResettableStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
Due: runtime

address review comments, 1/3
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/lops/Tee.java
Due: compiler

address review comments, 2/3
  src/main/java/org/apache/sysds/hops/DataOp.java
Due: compiler

[SYSTEMDS-3910] OOC matrix-matrix multiplication
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixMultiplyOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixMatrixBinaryMultiplicationTest.java
  src/test/scripts/functions/ooc/MatrixMatrixMultiplication.dml
Due: runtime

add additional context operators
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

[SYSTEMDS-3835] Add additional context operators
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none
