Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Add LLM inference support to JMLC API via Py4J bridge
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/python/systemds/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: runtime, compress, util

Move llm_worker.py to fix Python module collision
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/python/llm_worker.py
  src/main/python/systemds/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: util

Keep both sequential and batched inference modes in PreparedScript
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
Due: util

Clean up test: extract constants and shared setup method
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: none

Add GPU batching support to JMLC LLM inference
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/python/llm_worker.py
Due: util

Add batch inference with FrameBlock and metrics support
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: util

Use python3 with fallback to python in Connection.java
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
Due: util

Add dynamic port allocation and improve resource cleanup
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/python/systemds/llm_worker.py
Due: util

Increase worker startup timeout to 300s for larger models
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
Due: util

Add token counts, GPU support, and improve error handling
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/python/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: util

Refactor loadModel to accept worker script path as parameter
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/python/systemds/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: util

Revert accidental changes to MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
Due: runtime, compress

Fix benchmark results accuracy and update documentation
  scripts/staging/llm-bench/PR_DESCRIPTION.md
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
Due: none

Add llmPredict builtin, opcode and ParamBuiltinOp entries
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
Due: util

Rewrite LLM test to use llmPredict DML built-in
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: none

Fix JVM incubator vector module for Py4J gateway
  scripts/staging/llm-bench/backends/systemds_backend.py
Due: none

Fix data accuracy across README, PR description, and HTML report
  scripts/staging/llm-bench/PR_DESCRIPTION.md
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/results/summary.csv
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_embeddings/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_json_extraction/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_math/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_math/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_reasoning/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/manifest.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/metrics.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/run_config.json
  scripts/staging/llm-bench/results/systemds_qwen3b_summarization/samples.jsonl
  scripts/staging/llm-bench/scripts/report.py
Due: none

Rewrite README and PR description with accurate data and honest conclusions
  scripts/staging/llm-bench/PR_DESCRIPTION.md
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/results/benchmark_report.html
Due: none

Pass concurrency to llmPredict via SYSTEMDS_CONCURRENCY env var
  scripts/staging/llm-bench/backends/systemds_backend.py
Due: none

Add llmPredict parser validation in ParameterizedBuiltinFunctionExpression
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
Due: compiler

Add llmPredict CP instruction with HTTP-based inference
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
Due: runtime

Add concurrency parameter to llmPredict built-in
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
Due: runtime, compiler

Fix JMLC frame binding: match DML variable names to registered inputs
  scripts/staging/llm-bench/backends/systemds_backend.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: none

Update benchmark backend to use llmPredict DML built-in
  scripts/staging/llm-bench/backends/systemds_backend.py
Due: none

Remove Py4J-based LLM inference from JMLC API
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/python/llm_worker.py
Due: util

Route SystemDS concurrency through Java instead of Python threads
  scripts/staging/llm-bench/backends/systemds_backend.py
  scripts/staging/llm-bench/runner.py
Due: none

Fix math extraction bug, add cost tables, cross-backend comparisons, and evaluation methodology
  scripts/staging/llm-bench/PR_DESCRIPTION.md
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/benchmark_report.html
  scripts/staging/llm-bench/results/benchmark_report.html
  scripts/staging/llm-bench/results/ollama_math/samples.jsonl
  scripts/staging/llm-bench/results/openai_math/metrics.json
  scripts/staging/llm-bench/results/openai_math/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_math_c1/samples.jsonl
  scripts/staging/llm-bench/results/systemds_qwen3b_math_c4/samples.jsonl
  scripts/staging/llm-bench/results/vllm_mistral7b_math/samples.jsonl
  scripts/staging/llm-bench/results/vllm_qwen3b_math/samples.jsonl
  scripts/staging/llm-bench/workloads/math/loader.py
Due: none

Add OpenAI-compatible HTTP inference server for HuggingFace models
  src/main/python/llm_server.py
Due: none

Add gitignore rules for .env files, meeting notes, and local tool config
  .gitignore
Due: none

Wire llmPredict through hop, lop and instruction generation
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
Due: compiler

Fix Mistral math explanation: 20/31 wrong math, 10/31 extractor failures
  scripts/staging/llm-bench/PR_DESCRIPTION.md
  scripts/staging/llm-bench/README.md
Due: none

Fix llmPredict code quality and clean up Py4J remnants
  .gitignore
  scripts/staging/llm-bench/backends/systemds_backend.py
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/python/llm_server.py
Due: runtime, compiler

Align vLLM backend default port to 8080 and add server management docs
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/backends/vllm_backend.py
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
Due: none

Add Py4J comparison section and fix stale data in README
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/results/summary.csv
Due: none

Code review fixes: remove scalar fallback, add mock tests, document design decisions
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/backends/systemds_backend.py
  scripts/staging/llm-bench/runner.py
  scripts/staging/llm-bench/scripts/report.py
  scripts/staging/llm-bench/tests/test_json_extraction_accuracy.py
  scripts/staging/llm-bench/tests/test_reasoning_accuracy.py
  scripts/staging/llm-bench/workloads/json_extraction/config.yaml
  scripts/staging/llm-bench/workloads/json_extraction/loader.py
  scripts/staging/llm-bench/workloads/math/loader.py
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/LlmPredictCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: runtime, compiler

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
