Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Backward testing DML script
  src/test/scripts/applications/nn/component/bert_layer_backward.dml
Due: none

Minor Bugfixes, Added Some Operators to CodeGen, Improved Default RuleSet Ordering
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/estimators/RewriterSparsityEstimator.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleSet.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/CodeGenUtils.java
Due: compiler

Sparsity estimation for rev(MATRIX)
  src/main/java/org/apache/sysds/hops/rewriter/estimators/RewriterSparsityEstimator.java
Due: compiler

MM tests add a few cases
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
Due: none

[MINOR] MM Specializations
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixNative.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
Due: runtime, matrix

Compression SP Schema apply
  src/main/java/org/apache/sysds/runtime/instructions/SPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/BinaryFrameFrameSPInstruction.java
Due: runtime

[SYSTEMDS-3824] Decompressing Transpose
  scripts/builtin/kmeans.dml
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReorg.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CompressionCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/compress/configuration/CompressBase.java
Due: runtime, compress

fixed ctable with seq fuse rewrite fused ctable with given output dim (disaled: performance decrease, need to fix it first)
  scripts/builtin/kmeans.dml
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRexpand.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/functions/federated/algorithms/FederatedKmeansTest.java
Due: runtime, matrix, compress, compiler

Extending support for constant matrices
  src/main/java/org/apache/sysds/hops/rewriter/codegen/CodeGenCondition.java
  src/main/java/org/apache/sysds/hops/rewriter/codegen/RewriterCodeGen.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/CodeGenUtils.java
Due: compiler

[SYSTEMDS-???] Java17 Vectorized LibMM
  bin/systemds
  pom.xml
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
Due: runtime, matrix, compress

Disabling ^2 rewrites due to unexpected behavior
  src/main/java/org/apache/sysds/hops/rewriter/utils/CodeGenUtils.java
Due: compiler

Fix: Invalidate null arguments
  src/main/java/org/apache/sysds/hops/rewriter/codegen/RewriterCodeGen.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/CodeGenUtils.java
Due: compiler

Added licenses, shortened readme.md
  scripts/staging/cuda-counter-based-prng/PhiloxJNvrtcExample.java
  scripts/staging/cuda-counter-based-prng/PhiloxRuntimeCompilationExample.java
  scripts/staging/cuda-counter-based-prng/kernel.cu
  scripts/staging/cuda-counter-based-prng/pom.xml
  scripts/staging/cuda-counter-based-prng/readme.md
Due: none

fixed null handling in fused seq ctable
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRexpand.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
Due: runtime, matrix, compress

fixed tests which passed for the wrong reason
  src/test/java/org/apache/sysds/test/component/compress/lib/SeqTableTest.java
Due: none

add join for transformed modalities
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/window.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/systemds/scuro/utils/__init__.py
  src/main/python/systemds/scuro/utils/schema_helpers.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

check python tests
  .github/workflows/python.yml
Due: none

remove plot
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
Due: none

check package versions
  src/main/python/systemds/__init__.py
Due: none

check if cuda is available
  .github/workflows/python.yml
  src/main/python/systemds/__init__.py
  src/main/python/systemds/scuro/representations/resnet.py
Due: none

remove nltk
  .github/workflows/python.yml
  src/main/python/systemds/__init__.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

remove prints
  src/main/python/systemds/scuro/modality/joined.py
Due: none

[SYSTEMDS-3824] Decompressing Transpose
  scripts/builtin/kmeans.dml
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReorg.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRexpand.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CompressionCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/compress/lib/SeqTableTest.java
  src/test/java/org/apache/sysds/test/functions/compress/configuration/CompressBase.java
  src/test/java/org/apache/sysds/test/functions/federated/algorithms/FederatedKmeansTest.java
Due: runtime, matrix, compress, compiler

[minor] Compression SP Schema apply
  src/main/java/org/apache/sysds/runtime/instructions/SPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/BinaryFrameFrameSPInstruction.java
Due: runtime

[MINOR] Change DNNLSTM to use MatrixBlockReshape
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixDNNLSTM.java
Due: runtime, matrix

[MINOR] Refactor Matrix append
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixAppend.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix

add resnet weights
  src/main/python/systemds/scuro/representations/resnet.py
Due: none

formatting
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/resnet.py
Due: none

increase number of instances created in drsearch test
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

reset branch in workflow
  .github/workflows/python.yml
Due: none

remove logging
  src/test/java/org/apache/sysds/test/component/compress/ExtendedMatrixTests.java
Due: none

[MINOR] Refactor MatrixBlock append
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixAppend.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/ExtendedMatrixTests.java
Due: runtime, matrix

[MINOR] Compressed tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroupValue.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRexpand.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedVectorTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/CombineColGroups.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/scheme/SchemeTestBase.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/scheme/SchemeTestSDC.java
  src/test/java/org/apache/sysds/test/functions/compress/table/CompressedTableOverwriteTest.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/wordEmbeddingUseCase.java
Due: runtime, matrix, compress

remove catch
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroupValue.java
Due: runtime, compress

add tests
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CustomDictionaryTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
