Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

new approach to fuse
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeData.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeUnary.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumContext.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumSpoofRowwise.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
Due: runtime

[SYSTEMDS-3539] Improve DeltaDDC Test Coverage for Codecov
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDeltaDDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupFactoryDeltaDDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupFactoryTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DeltaDictionaryTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeDeltaTest.java
  src/test/java/org/apache/sysds/test/component/compress/readers/ReaderColumnSelectionSparseDeltaTest.java
  src/test/java/org/apache/sysds/test/component/compress/readers/ReadersDeltaTest.java
Due: runtime, compress

[SYSTEMDS-3863] New robust scaling built-in function
  scripts/builtin/scaleRobust.dml
  scripts/builtin/scaleRobustApply.dml
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
  src/test/scripts/functions/builtin/scaleRobust.R
  src/test/scripts/functions/builtin/scaleRobust.dml
  src/test/scripts/functions/builtin/scaleRobust.py
Due: util

docs: adress os-specific install issues and further changes
  docs/site/quickstart_extended.md
  docs/site/release_install.md
  docs/site/run_extended.md
  docs/site/source_install.md
Due: none

[SYSTEMDS-3891] Improved Stream Handling and PCA support
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/IndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCWatchdog.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/PCATest.java
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
  src/test/scripts/functions/ooc/PCA.dml
Due: runtime, compiler, util

[SYSTEMDS-3909] Final framework for einsum expressions
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimization.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeData.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeUnary.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumContext.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumEquationValidator.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumSpoofRowwise.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateTernaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/SystemDS-config-einsum.xml
Due: runtime, matrix, compiler

Hierarchy builder with union-find
  scripts/builtin/hdbscan.dml
  test_build_hierarchy.dml
  test_build_mst.dml
  test_union_find.dml
Due: none

Add codestyle checks to fail for inconsistent codestyles
  dev/checkstyle/checkstyle.xml
  dev/checkstyle/suppressions-xpath.xml
  dev/checkstyle/suppressions.xml
  pom.xml
  src/main/java/org/apache/sysds/parser/dml/DmlLexer.java
  src/main/java/org/apache/sysds/parser/dml/DmlParser.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCUDA.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinMatrixProfileTest.java
Due: runtime, matrix, compiler

Add more suppressions and remove unused imports
  dev/checkstyle/suppressions.xml
  pom.xml
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeUnary.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
Due: runtime

Changes
  .github/workflows/javaTests.yml
  dev/checkstyle/suppressions.xml
  pom.xml
Due: none

Isolated codestyle test
  .github/workflows/javaCodestyle.yml
  .github/workflows/javaTests.yml
  pom.xml
Due: none

Changes
  .github/workflows/javaTests.yml
Due: none

[SYSTEMDS-3730] Multithreaded roll operation and improved tests
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/lops/Transform.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ReorgCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/performance/matrix/MatrixRollPerf.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/DenseMatrixRollOperationCorrectnessTest.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/RollOperationThreadSafetyTest.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/RollTest.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/SparseMatrixRollOperationCorrectnessTest.java
Due: runtime, matrix, compiler

[SYSTEMDS-3938] Java codestyle enforcing github action
  .github/workflows/javaCodestyle.yml
  .github/workflows/javaTests.yml
  dev/checkstyle/checkstyle.xml
  dev/checkstyle/suppressions-xpath.xml
  dev/checkstyle/suppressions.xml
  pom.xml
  src/main/java/org/apache/sysds/parser/dml/DmlLexer.java
  src/main/java/org/apache/sysds/parser/dml/DmlParser.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeUnary.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCUDA.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinMatrixProfileTest.java
Due: runtime, matrix, compiler

[SYSTEMDS-3938] Fix einsum codestyle and code quality
  dev/checkstyle/suppressions.xml
  src/main/java/org/apache/sysds/runtime/einsum/EOpNode.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeData.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeFuse.java
  src/main/java/org/apache/sysds/runtime/einsum/EOpNodeUnary.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumContext.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumEquationValidator.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumSpoofRowwise.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
Due: runtime

[SYSTEMDS-3862] Initial SSB Benchmark Implementation
  scripts/staging/ssb/README.md
  scripts/staging/ssb/queries/q1_1.dml
  scripts/staging/ssb/queries/q1_2.dml
  scripts/staging/ssb/queries/q1_3.dml
  scripts/staging/ssb/queries/q2_1.dml
  scripts/staging/ssb/queries/q2_2.dml
  scripts/staging/ssb/queries/q2_3.dml
  scripts/staging/ssb/queries/q3_1.dml
  scripts/staging/ssb/queries/q3_2.dml
  scripts/staging/ssb/queries/q3_3.dml
  scripts/staging/ssb/queries/q3_4.dml
  scripts/staging/ssb/queries/q4_1.dml
  scripts/staging/ssb/queries/q4_2.dml
  scripts/staging/ssb/queries/q4_3.dml
  scripts/staging/ssb/shell/run_all_perf.sh
  scripts/staging/ssb/shell/run_ssb.sh
Due: none

[SYSTEMDS-3539] New delta-encoding compressed column group
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDeltaDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DictionaryFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/AComEst.java
  src/main/java/org/apache/sysds/runtime/compress/estim/CompressedSizeInfoColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibUnary.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelection.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelectionDenseMultiBlockDelta.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelectionDenseSingleBlockDelta.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelectionSparseDelta.java
  src/test/java/org/apache/sysds/performance/matrix/MatrixRollPerf.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDeltaDDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupFactoryDeltaDDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupFactoryTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/JolEstimateDeltaDDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/JolEstimateTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DeltaDictionaryTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeDeltaTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeNegativeTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibUnaryDeltaTest.java
  src/test/java/org/apache/sysds/test/component/compress/readers/ReaderColumnSelectionSparseDeltaTest.java
  src/test/java/org/apache/sysds/test/component/compress/readers/ReadersDeltaTest.java
  src/test/java/org/apache/sysds/test/component/compress/readers/ReadersTest.java
Due: runtime, compress

Unification of Cache and Source Reads to prevent Eviction of Disk Backed Tiles
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/OOCSourceStream.java
  src/test/java/org/apache/sysds/runtime/ooc/cache/SourceBackedCacheSchedulerTest.java
  src/test/java/org/apache/sysds/runtime/ooc/cache/SourceBackedReadOOCIOHandlerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/SourceReadOOCIOHandlerTest.java
Due: runtime

[SYSTEMDS-3891] OOC Source Streams and Perf Improvements
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/OOCSourceStream.java
  src/test/java/org/apache/sysds/runtime/ooc/cache/SourceBackedCacheSchedulerTest.java
  src/test/java/org/apache/sysds/runtime/ooc/cache/SourceBackedReadOOCIOHandlerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/SourceReadOOCIOHandlerTest.java
Due: runtime

clean up test
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test.java
  src/test/scripts/functions/io/hdf5/ReadHDF5_Verify.R
  src/test/scripts/functions/io/hdf5/gen_HDF5_testdata.R
Due: none

fix datatype test input
  src/test/scripts/functions/io/hdf5/gen_HDF5_testdata.R
Due: none

add filter pipeline and attribute message constants
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5Constants.java
Due: runtime

infer hdf5 format from .h5 file extension
  src/main/java/org/apache/sysds/parser/DataExpression.java
  src/main/java/org/apache/sysds/runtime/meta/MetaDataAll.java
Due: runtime, compiler

format
  src/main/java/org/apache/sysds/runtime/meta/MetaDataAll.java
Due: runtime

add filter pipeline and attribute messages
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5Message.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
