Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

modify things
  scripts/specs/date.tfspec_recode.json
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

Cleaning up stuffs
  scripts/ssb/queries/q1_1.dml
  scripts/ssb/queries/q1_2.dml
  scripts/ssb/queries/q1_3.dml
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q2_3.dml
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

Implement getNames and setNames builtin functions
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
  src/test/java/org/apache/sysds/test/functions/builtin/BuiltinGetSetNamesTest/BuiltinGetSetNamesTest.java
Due: runtime, frame, compiler, util

queries optimizations
  data/meta/customer_meta.csv
  data/meta/customer_meta.csv.mtd
  data/meta/date_meta.csv
  data/meta/date_meta.csv.mtd
  data/meta/part_meta.csv
  data/meta/part_meta.csv.mtd
  data/meta/supplier_meta.csv
  data/meta/supplier_meta.csv.mtd
  data/test/date.tbl
  data/test/lineorder2.tbl
  scripts/specs/customer.tfspec_recode.json
  scripts/specs/date.tfspec_recode.json
  scripts/specs/lineorder.tfspec_recode.json
  scripts/specs/part.tfspec_recode.json
  scripts/specs/part2.tfspec_recode.json
  scripts/specs/supplier.tfspec_recode.json
  scripts/ssb/queries/q1_1.dml
  scripts/ssb/queries/q1_2.dml
  scripts/ssb/queries/q1_3.dml
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q2_3.dml
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

Some changes on the way
  scripts/ssb/queries/q1_1.dml
  scripts/ssb/queries/q1_2.dml
  scripts/ssb/queries/q1_3.dml
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q2_3.dml
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

adding the ssb queries as comments
  scripts/ssb/queries/q1_1.dml
  scripts/ssb/queries/q1_2.dml
  scripts/ssb/queries/q1_3.dml
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q2_3.dml
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

New classes: ColumnEncoderRagged, TransformDummySeparatedTest, TransformRaggedTest. Modified: TfUtils, ColumnEncoder, EncoderFactory, TransformCustomTest
  hello.dml
  src/main/java/org/apache/sysds/runtime/transform/TfUtils.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoder.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderRagged.java
  src/main/java/org/apache/sysds/runtime/transform/encode/EncoderFactory.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformCustomTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDummySeparatedTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformRaggedTest.java
Due: runtime

Current status, unfortunately, it does not insert the values correctly in raGroupby_exp1.dml
  .gitignore
  scripts/builtin/raGroupby_exp1.dml
  testing/groupby_new_time.dml
  testing/groupby_old_time.dml
  testing/testing.dml
Due: none

debug error
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
Due: runtime

collist
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
Due: runtime

remove hash columns in decode
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
Due: runtime

fix
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
Due: runtime

change audio frequency for tests
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_multimodal_join.py
Due: none

decode ?
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
Due: runtime

Add Licenses to new classes
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderDummycodeTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderPassThroughTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderRecodeTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnEncoderBinDecoderTest.java
Due: runtime

parallel convert
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
Due: runtime

testing
  src/main/python/tests/scuro/test_data_loaders.py
Due: none

Update ColumnDecoderMixedMethodsTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: none

testing
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

literal val parse
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
Due: compiler

literal val parse
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
Due: compiler

testing
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

Found the error, should beat the performance of nested loop, sorry for the last pull request
  scripts/builtin/raGroupby_exp1.dml
  testing/groupby_new_time.dml
  testing/groupby_old_time.dml
  testing/testing.dml
Due: none

decoder dummy sparse
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
Due: runtime

faster number parsing
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DoubleArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/utils/DoubleParser.java
Due: runtime, frame, util

handle new exception
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
Due: runtime, frame

always fallback to safecast
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
Due: runtime, frame

number format exception
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
Due: runtime, frame

reduce error logging
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
Due: runtime, frame

add tests and code for vector elementwise mult. and outer product
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum15.R
  src/test/scripts/functions/einsum/einsum15.dml
  src/test/scripts/functions/einsum/einsum16.R
  src/test/scripts/functions/einsum/einsum16.dml
  src/test/scripts/functions/einsum/einsum17.R
  src/test/scripts/functions/einsum/einsum17.dml
Due: runtime

implement BinaryOp and UnaryOp optimizer
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
  src/test/scripts/functions/codegen/rowAggPattern49.dml
Due: compiler

moved einsum information extraction to EinsumContext function
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumContext.java
Due: runtime

add comment
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumContext.java
Due: runtime

little fix to multi-thread, update time measure methode
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

fix ?
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderFeatureHash.java
Due: runtime, frame

check
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
Due: runtime

fix
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
Due: runtime
