Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[SYSTEMDS-3905] Upgrade GPU backend to latest CUDA versions
  pom.xml
  src/main/java/org/apache/sysds/runtime/instructions/gpu/context/CSRPointer.java
  src/main/java/org/apache/sysds/runtime/matrix/data/CudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/DoublePrecisionCudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCUDA.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNN.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNNConvolutionAlgorithm.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNNRnnAlgorithm.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuMatMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/SinglePrecisionCudaSupportFunctions.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasDotTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasGeMVTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasGeamTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasGemmTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsr2CscTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrGeamTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrGemmTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrMMTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrMVTest.java
  src/test/java/org/apache/sysds/test/gpu/nn/DNNOperationsGPUTest.java
  src/test/java/org/apache/sysds/test/gpu/nn/ResNet18GPUTest.java
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsDot.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsDot.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsGeam.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsGeam.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsMM.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsMM.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsMV.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsMV.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsTranspose.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsTranspose.dml
  src/test/scripts/gpu/nn/ResNet18GPU.dml
Due: runtime, matrix

fix getColNames and setColNames functions
  .gitignore
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameFrameCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnaryFrameCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinGetSetNamesScriptTest.java
  src/test/scripts/functions/builtin/BuiltinGetSetNamesTest.dml
Due: runtime, frame, compiler, util

add padding
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
Due: none

adapt padding to window operations
  src/main/python/systemds/scuro/drsearch/dr_search.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/systemds/scuro/utils/static_variables.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

add cache
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

chore(raGroupBy): edits for the pull request
  .gitignore
  scripts/builtin/raGroupby.dml
Due: none

[SYSTEMDS-3900] New OOC block stream binary writer
  src/main/java/org/apache/sysds/runtime/compress/io/WriterCompressed.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/io/MatrixWriter.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
  src/main/java/org/apache/sysds/runtime/io/WriterHDF5.java
  src/main/java/org/apache/sysds/runtime/io/WriterMatrixMarket.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextCSV.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextCell.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextLIBSVM.java
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/Unary.dml
Due: runtime, compress

[SYSTEMDS-3900] Improved integration of OOC binary stream writer
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/TensorObject.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/UnaryWrite.dml
Due: runtime

[MINOR] Fix various warnings and formatting issues
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedCostBased.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/instructions/gpu/context/CSRPointer.java
  src/main/java/org/apache/sysds/runtime/matrix/data/DoublePrecisionCudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNN.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNNConvolutionAlgorithm.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNNPoolingDescriptors.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNNRnnAlgorithm.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuMatMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/SinglePrecisionCudaSupportFunctions.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedL2SVMPlanningTest.java
  src/test/java/org/apache/sysds/test/gpu/nn/ResNet18GPUTest.java
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
Due: runtime, matrix, compiler

[SYSTEMDS-3900] Fix corrupted I/O path for non-binary formats
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
Due: runtime

add lop
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime, compiler

add basic class and test
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixVectorBinaryMultiplicationTest.java
  src/test/scripts/functions/ooc/MatrixVectorMultiplication.dml
Due: runtime

reach lop construction method
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
Due: runtime, compiler

pre-partition the vector
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime

next steps
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime

update the test with binary inputs and add process logic
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixVectorBinaryMultiplicationTest.java
Due: runtime

use vector copy instead of slice
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime

recompute nonzeros after vector copy
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime

add the aggregations and plus operation
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime

fix vector index
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime

use a simple copy of the values in the vector partition
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/test/scripts/functions/ooc/MatrixVectorMultiplication.dml
Due: runtime

update variable names in test
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixVectorBinaryMultiplicationTest.java
  src/test/scripts/functions/ooc/MatrixVectorMultiplication.dml
Due: runtime

verify the test result values
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixVectorBinaryMultiplicationTest.java
Due: none

add mapmm ooctype
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixVectorBinaryMultiplicationTest.java
Due: runtime

use aggregate binary operator for mat multiplication
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixVectorBinaryMultiplicationTest.java
Due: runtime

remove redundant code
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixVectorBinaryMultiplicationTest.java
Due: runtime

remove sout
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixVectorBinaryMultiplicationTest.java
Due: runtime, compiler

fix imports
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
Due: runtime

refactored plan generation and execution into separate steps; plan is optimal; by default no codegen is used
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
Due: runtime

[SYSTEMDS-3904] New OOC matrix-vector multiplication
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixVectorBinaryMultiplicationTest.java
  src/test/scripts/functions/ooc/MatrixVectorMultiplication.dml
Due: runtime, compiler

[SYSTEMDS-3906] Fix robustness transform-decode recoding
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
Due: runtime

[SYSTEMDS-2622] NN Lib: LARS Optimizer and Examples
  scripts/data_prep/create_binary_chunks.py
  scripts/data_prep/prepare_raw_imagenet.py
  scripts/data_prep/run_raw_imagenet_preprocessing.py
  scripts/nn/examples/Example-ImageNet_AlexNet_Optimizers.dml
  scripts/nn/examples/Example-MNIST_Softmax.dml
  scripts/nn/examples/Example-ResNet.dml
  scripts/nn/examples/imagenet_alexnet.dml
  scripts/nn/examples/imagenet_resnet.dml
  scripts/nn/examples/load_imagenet_csv.dml
  scripts/nn/examples/mnist_resnet.dml
  scripts/nn/layers/lrn.dml
  scripts/nn/layers/softmax_cross_entropy_loss.dml
  scripts/nn/networks/alexnet.dml
  scripts/nn/networks/resnet.dml
  scripts/nn/networks/resnet101.dml
  scripts/nn/networks/resnet152.dml
  scripts/nn/networks/resnet18.dml
  scripts/nn/networks/resnet34.dml
  scripts/nn/networks/resnet50.dml
  scripts/nn/networks/resnet_util.dml
  scripts/nn/optim/lars.dml
  scripts/nn/optim/lars_util.dml
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
