Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

queries optimizations
  data/meta/customer_meta.csv
  data/meta/customer_meta.csv.mtd
  data/meta/date_meta.csv
  data/meta/date_meta.csv.mtd
  data/meta/part_meta.csv
  data/meta/part_meta.csv.mtd
  data/meta/supplier_meta.csv
  data/meta/supplier_meta.csv.mtd
  data/test/date.tbl
  data/test/lineorder2.tbl
  scripts/specs/customer.tfspec_recode.json
  scripts/specs/date.tfspec_recode.json
  scripts/specs/lineorder.tfspec_recode.json
  scripts/specs/part.tfspec_recode.json
  scripts/specs/part2.tfspec_recode.json
  scripts/specs/supplier.tfspec_recode.json
  scripts/ssb/queries/q1_1.dml
  scripts/ssb/queries/q1_2.dml
  scripts/ssb/queries/q1_3.dml
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q2_3.dml
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

modify things
  scripts/specs/date.tfspec_recode.json
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

[SYSTEMDS-3892] Initial out-of-core base instruction and parser
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
Due: runtime

[SYSTEMDS-3253] New native operator for union distinct
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
Due: runtime

[SYSTEMDS-3893] Basic out-of-core binary-read and acquire primitive
  src/main/java/org/apache/sysds/hops/AggUnaryOp.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ComputationOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
Due: runtime, compiler

[SYSTEMDS-3893] Fix out-of-core test case (metadata file locations)
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
Due: none

[SYSTEMDS-3895] New out-of-core unary aggregate operations
  src/main/java/org/apache/sysds/hops/AggUnaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
Due: runtime, compiler

adding first draft for shell script
  shell/run_ssb.sh
Due: none

refactor metadata generation and add additional dataloader
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/tests/scuro/data_generator.py
Due: none

PATHs modifications, READEME Updates and deleting shell wrappers from root
  .gitignore
  CORE_SCRIPTS_STATUS.txt
  run_all_perf.sh
  run_ssb.sh
  scripts/ssb/README.md
  scripts/ssb/shell/run_all_perf.sh
  scripts/ssb/shell/run_ssb.sh
  scripts/ssb/sql/q1.1.sql
  scripts/ssb/sql/q1.2.sql
  scripts/ssb/sql/q1.3.sql
  scripts/ssb/sql/q2.1.sql
  scripts/ssb/sql/q2.2.sql
  scripts/ssb/sql/q2.3.sql
  scripts/ssb/sql/q3.1.sql
  scripts/ssb/sql/q3.2.sql
  scripts/ssb/sql/q3.3.sql
  scripts/ssb/sql/q3.4.sql
  scripts/ssb/sql/q4.1.sql
  scripts/ssb/sql/q4.2.sql
  scripts/ssb/sql/q4.3.sql
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/csv/q1_1.csv
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/json/q1_1.json
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/run.json
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/txt/q1_1.txt
Due: none

delete old ssbOutputData Folder
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/csv/q1_1.csv
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/json/q1_1.json
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/run.json
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/txt/q1_1.txt
Due: none

formatting
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
Due: none

set minimal number of frames for x3d
  src/main/python/tests/scuro/data_generator.py
Due: none

reset task.py
  src/main/python/systemds/scuro/drsearch/task.py
Due: none

[SYSTEMDS-3936] Refactor metadata generation and add additional dataloader
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/tests/scuro/data_generator.py
Due: none

add ranking functionality to optimizers
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/ranking.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

remove type
  src/main/python/systemds/scuro/drsearch/ranking.py
Due: none

formatting
  src/main/python/systemds/scuro/drsearch/ranking.py
Due: none

add missing files
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
Due: none

[SYSTEMDS-3937] Add score ranking function to Scuro
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/ranking.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

make representations more efficient
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/vgg.py
Due: none

[SYSTEMDS-3913] Make visual representations more robust
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/vgg.py
Due: none

[MINOR][SYSTEMDS-3921] New test for Rewrites of relational operators
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteRaPushdown.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewritePushdownRaSelectionTest.java
  src/test/scripts/functions/rewrite/RewritePushdownRaSelection.dml
Due: compiler

OOC Instruction Features / Improvements
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/lops/DataGen.java
  src/main/java/org/apache/sysds/lops/Transform.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/RandTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/SortTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/StreamCollectTest.java
  src/test/scripts/functions/ooc/Rand1.dml
  src/test/scripts/functions/ooc/Rand2.dml
  src/test/scripts/functions/ooc/Sort.dml
Due: runtime, compiler

[MINOR] Fix missing result correctness check in selected tests
  src/test/java/org/apache/sysds/test/component/codegen/CPlanVectorPrimitivesTest.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedVectorTest.java
Due: none
