Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Bugfix CostEstimator
  src/main/java/org/apache/sysds/hops/rewriter/estimators/RewriterCostEstimator.java
Due: compiler

Add License to Tests
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterNormalFormTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterRuleValidationTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/AssertionTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeExecutionTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeGenConditionTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeGenTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CostEstimates.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/DMLCodeGenTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/MinimalDifference.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RewriterAlphabetTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleCreationTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleSerializationTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/SparsityEstimationTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/SubtreeGeneratorTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/TestRuleSet.java
Due: compiler

Update log4j.properties
  conf/log4j.properties
Due: none

Various bugfixes
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCreator.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuntimeUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/codegen/CodeGenUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/codegen/RewriterCodeGen.java
  src/main/java/org/apache/sysds/hops/rewriter/dml/DMLCodeGenerator.java
  src/main/java/org/apache/sysds/hops/rewriter/estimators/RewriterCostEstimator.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleCreationTests.java
Due: compiler

Update
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuntimeUtils.java
Due: compiler, util

Better literal support
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/codegen/CodeGenUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/codegen/RewriterCodeGen.java
  src/main/java/org/apache/sysds/hops/rewriter/estimators/RewriterCostEstimator.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeGenTests.java
Due: compiler

Update TopologicalSort.java
  src/main/java/org/apache/sysds/hops/rewriter/TopologicalSort.java
Due: compiler

More Code Cleanup
  src/main/java/org/apache/sysds/hops/rewriter/RewriterInstruction.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/codegen/CodeGenCondition.java
  src/main/java/org/apache/sysds/hops/rewriter/codegen/RewriterCodeGen.java
  src/main/java/org/apache/sysds/hops/rewriter/dml/DMLCodeGenerator.java
  src/main/java/org/apache/sysds/hops/rewriter/estimators/RewriterCostEstimator.java
  src/main/java/org/apache/sysds/hops/rewriter/generated/RewriteAutomaticallyGenerated.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterHeuristic.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterHeuristicTransformation.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterHeuristics.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRule.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleBuilder.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleCreator.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleSet.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterRuleValidationTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeGenConditionTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeGenTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CostEstimates.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/DMLCodeGenTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleCreationTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleSerializationTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/SparsityEstimationTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/TestRuleSet.java
Due: compiler

Add licenses
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterTopologySortTests.java
Due: compiler

Bugfix for BinaryOp construction
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/codegen/CodeGenUtils.java
Due: compiler

Update
  src/main/java/org/apache/sysds/hops/rewriter/ConstantFoldingFunctions.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterNormalFormTests.java
Due: compiler

Update
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CostEstimates.java
Due: none

Further Code Cleanup
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterSearchUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/SubtreeGeneratorTest.java
Due: compiler

Fix rowVec/colVec
  src/main/java/org/apache/sysds/hops/rewriter/dml/DMLCodeGenerator.java
Due: compiler

Some bugfixes
  src/main/java/org/apache/sysds/hops/rewriter/RewriterInstruction.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterStatement.java
  src/main/java/org/apache/sysds/hops/rewriter/TopologicalSort.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterNormalFormTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterTopologySortTests.java
Due: compiler

Some improvements
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/estimators/RewriterCostEstimator.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleSet.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/CodeGenUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterSearchUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RewriterAlphabetTest.java
  src/test/resources/rewriterframework/expressions.db
Due: compiler

Update
  src/main/java/org/apache/sysds/hops/rewriter/codegen/RewriterCodeGen.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
Due: compiler

Update
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewriter/GeneratedRewriteClass.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinXgBoostPredictTest_regression.java
Due: compiler, util

Bugfix fix
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
Due: compiler

Create RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
Due: compiler

Some updates
  src/main/java/org/apache/sysds/hops/rewriter/estimators/RewriterSparsityEstimator.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CostEstimates.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleCreationTests.java
Due: compiler

Minor bugfixes
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterSearchUtils.java
Due: compiler

Reverting some changes
  conf/SystemDS-config-defaults.xml
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/utils/Statistics.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinXgBoostPredictTest_regression.java
  src/test/scripts/applications/l2svm/L2SVM.dml
Due: compiler, util

Cleanup TestBase
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
Due: none

Remove additional files
  Test Results - BuiltinParts.html
  Test Results - BuiltinParts_norewrites.html
Due: none

More Code Cleanup
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterRuntimeUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/generated/RewriteAutomaticallyGenerated.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterClusteringTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterRuleValidationTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeGenConditionTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeGenTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/MinimalDifference.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RewriterSearchUtilsTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleCreationTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleSerializationTest.java
Due: compiler

"Modified synchronization"
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
Due: runtime

adapt existing representations to handle context and add tests
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

Update RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
Due: compiler

More extensive stats for n-grams
  src/main/java/org/apache/sysds/utils/stats/NGramBuilder.java
  src/test/java/org/apache/sysds/test/applications/ApplyTransformTest.java
Due: util

Some more bugfixes
  src/test/java/org/apache/sysds/test/applications/ApplyTransformTest.java
Due: none

NGrams now use lineage per default
  src/main/java/org/apache/sysds/runtime/lineage/LineageItem.java
Due: runtime

Workaround to avoid increasing object size of LineageItem
  src/main/java/org/apache/sysds/runtime/lineage/LineageItem.java
Due: runtime

Added more documentation, some minor IFD tags, removed test for LZW
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGByteReader.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGCompressionUtils.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGProperties.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTag.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTagDictionary.java
  src/main/java/org/apache/sysds/runtime/io/cog/SampleFormatDataTypes.java
  src/main/java/org/apache/sysds/runtime/io/cog/TIFFDataTypes.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC1ComLZWRect.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC2ComDeflateRect.java
  src/test/resources/datasets/cog/testCOG_6.tif
  src/test/resources/datasets/cog/testCOG_8.tif.mtd
  src/test/resources/datasets/cog/testCOG_9.tif
Due: runtime

[SYSTEMDS-3548] Extend test cases
  src/main/python/tests/iotests/test_io_pandas_systemds.py
  src/test/java/org/apache/sysds/test/component/frame/FrameGetSetTest.java
  src/test/java/org/apache/sysds/test/component/frame/array/Py4jConverterUtilsTest.java
Due: none

[SYSTEMDS-3548] Fix pandas io test (rows have to be >4)
  src/main/python/tests/iotests/test_io_pandas_systemds.py
Due: none

add operators to test
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

Indroduce determinant primitives
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/resource/cost/CPCostUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnaryMatrixCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteDetTest.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/DetTest.java
  src/test/scripts/functions/rewrite/RewriteDetMixed.R
  src/test/scripts/functions/rewrite/RewriteDetMixed.dml
  src/test/scripts/functions/rewrite/RewriteDetMult.R
  src/test/scripts/functions/rewrite/RewriteDetMult.dml
  src/test/scripts/functions/rewrite/RewriteDetScalarMatrixMult.R
  src/test/scripts/functions/rewrite/RewriteDetScalarMatrixMult.dml
  src/test/scripts/functions/rewrite/RewriteDetTranspose.R
  src/test/scripts/functions/rewrite/RewriteDetTranspose.dml
  src/test/scripts/functions/unary/matrix/DetTest.R
  src/test/scripts/functions/unary/matrix/DetTest.dml
Due: runtime, matrix, compiler, util

Added test to make sure values generated when using streams are the same.
  src/test/java/org/apache/sysds/test/component/matrix/LibMatrixDatagenTest.java
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
