Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Now all tests are working
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSQRTMatrixTest.java
  src/test/scripts/functions/builtin/SQRTMatrix.dml
Due: none

Registration for det-function for java implementation
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
Due: compiler, util

[MINOR] Cocode intelligent parallel allocation
  src/main/java/org/apache/sysds/runtime/compress/cocode/CoCodeGreedy.java
Due: runtime, compress

[MINOR] Fix singlethread CLA decompressingAggregate
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCompAgg.java
Due: runtime, compress

[MINOR] Add singlethread fused scalar and decompress
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibScalar.java
Due: runtime, compress

[MINOR] Federated Timeout
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedStatistics.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParamservBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/MultiReturnParameterizedBuiltinFEDInstruction.java
  src/test/config/SystemDS-MultiTenant-config.xml
  src/test/config/SystemDS-config.xml
  src/test/java/org/apache/sysds/test/functions/codegen/RowVectorComparisonTest.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part3/FederatedTokenizeTest.java
Due: runtime, util

add schema for base modalities and create timestamps for audio+video
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/type.py
Due: none

Perf Transform Encode
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: none

cleanup
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: none

multi column
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: runtime

nowWithCompressed Input
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: none

more
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: none

better count ubyte
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToUByte.java
  src/main/java/org/apache/sysds/runtime/frame/data/compress/CompressedFrameBlockFactory.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: runtime, frame, compress

count by 8 byte
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToByte.java
Due: runtime, compress

by8 count
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToCharPByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToInt.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToZero.java
Due: runtime, compress

safety tk settings
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/test/java/org/apache/sysds/test/component/frame/array/RecodeMapTest.java
Due: runtime, frame

fix hash nnz
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ABooleanArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: runtime, frame

HashMapToInt
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ABooleanArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashIntegerArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashLongArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/IntegerArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/OptionalArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: runtime, frame, compress

fix merge Recode
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/test/java/org/apache/sysds/performance/README.md
Due: runtime, frame

only compressed
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: none

fix recodeMapTest
  src/test/java/org/apache/sysds/test/component/frame/array/RecodeMapTest.java
Due: none

another minor fix
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderRecode.java
Due: runtime

unsafe
  src/main/java/org/apache/sysds/runtime/frame/data/columns/BitSetArray.java
Due: runtime, frame

unsafe
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToCharPByte.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/BitSetArray.java
Due: runtime, frame, compress

unsafe and safe
  src/main/java/org/apache/sysds/runtime/frame/data/columns/BitSetArray.java
Due: runtime, frame

chars buff
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToCharPByte.java
Due: runtime, compress

map to char refine
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
Due: runtime, compress

restore log output
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
Due: runtime

otherBranch Logging
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
Due: runtime

not really a change
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
Due: runtime, frame

Binary readers update
  src/main/java/org/apache/sysds/runtime/io/FrameReaderBinaryBlock.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterBinaryBlock.java
  src/main/java/org/apache/sysds/runtime/io/IOUtilFunctions.java
Due: runtime

compressed writer
  src/main/java/org/apache/sysds/runtime/io/FrameWriterCompressed.java
Due: runtime

we try this optimization
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/DenseEncoding.java
Due: runtime, compress

gammaSquared
  src/main/java/org/apache/sysds/runtime/compress/estim/sample/HassAndStokes.java
Due: runtime, compress

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
