Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

formatting
  codecov.yml
Due: none

code cov python?
  .github/workflows/javaTests.yml
  .github/workflows/python.yml
  src/main/python/.gitignore
Due: none

correction
  .github/workflows/python.yml
Due: none

formatting
  .github/workflows/python.yml
Due: none

coninue constructors
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/Sandbox.java
Due: runtime

[SYSTEMDS-3729] Add roll reorg operations in FED
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/main/java/org/apache/sysds/runtime/instructions/FEDInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ReorgCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/ReorgFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/UnaryFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedRollTest.java
  src/test/scripts/functions/federated/FederatedRollTest.dml
  src/test/scripts/functions/federated/FederatedRollTestReference.dml
Due: runtime

[SYSTEMDS-3696] Extended incremental SliceLine state handling
  scripts/builtin/incSliceLine.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinIncSliceLineTest.java
  src/test/scripts/functions/builtin/incSliceLineFull.dml
Due: none

token
  .github/workflows/python.yml
Due: none

[SYSTEMDS-3775] CodeCoverage Components
  codecov.yml
Due: none

[SYSTEMDS-3776] Code coverage in GitHub Actions (Python)
  .github/workflows/javaTests.yml
  .github/workflows/python.yml
  src/main/python/.gitignore
Due: none

[MINOR] Fix incremental SliceLine pruning configurations
  scripts/builtin/incSliceLine.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDifferenceStatistics.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinIncSliceLineTest.java
  src/test/scripts/functions/builtin/incSliceLineFull.dml
Due: none

[SYSTEMDS-3775] Revert components
  .github/workflows/python.yml
  codecov.yml
Due: none

remove format
  src/main/java/org/apache/sysds/runtime/compress/cocode/CoCodeHybrid.java
Due: runtime, compress

[SYSTEMDS-3696] Fix incSliceLine flag for pruning strategies
  scripts/builtin/incSliceLine.dml
Due: none

added main constructors
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/Sandbox.java
Due: runtime

set up basic class structure including helper functions and all constructors
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/Sandbox.java
Due: runtime

add reset method
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/Sandbox.java
Due: runtime

add some interface methods and column versions
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/Sandbox.java
Due: runtime

minor changes
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
Due: runtime

[SYSTEMDS-3704] Add resource aware linearizer (WIP)
  src/main/java/org/apache/sysds/lops/compile/linearization/IDagLinearizerFactory.java
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAware.java
Due: compiler

added further functionalities described by the SparseBlock class. Only indexRnage methods still missing.
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/Sandbox.java
Due: runtime

integrated CSC within SparseBlock and SparseBlockFactory
  src/main/java/org/apache/sysds/runtime/data/SparseBlock.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockFactory.java
Due: runtime

added testing for SparseBlockIterator.
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockIterator.java
Due: none

added testing for SparseBlockMemEstimate
  src/main/java/org/apache/sysds/runtime/data/SparseBlockFactory.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockMemEstimate.java
Due: runtime

added testing for SparseBlockSize
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockSize.java
Due: none

added testing for SparseBlockScan
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockScan.java
Due: none

added testing for SparseBlockMerge
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockMerge.java
Due: none

added testing for SparseBlockGetSet
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockGetSet.java
Due: runtime

added testing for SparseBlockAppendSort
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockAppendSort.java
Due: runtime

[SYSTEMDS-3729] Fix FED roll function (CP works, SP fails)
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/ReorgFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/ReorgSPInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedRollTest.java
Due: runtime

formatting
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/aligner/task.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/representation_dataloader.py
  src/main/python/systemds/scuro/representations/rowmax.py
  src/main/python/tests/scuro/__init__.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

added index functions, deleteIndexRange, and first setIndexRange
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/Sandbox.java
Due: runtime

[MINOR] Fix unnecessary warnings (code quality)
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/frame/data/lib/FrameUtil.java
Due: runtime, frame

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
