Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[DO NOT MERGE][skip ci] JAVA 17 BWARE COMMIT
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDCZero.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCompAgg.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibMMChain.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTSMM.java
  src/main/java/org/apache/sysds/runtime/compress/utils/HashMapIntToInt.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkloadAnalyzer.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/utils/FrameRDDConverterUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterTextCSV.java
  src/main/java/org/apache/sysds/runtime/io/IOUtilFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibAggregateUnarySpecialization.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleMultiColTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleUnbalancedTest.java
  src/test/java/org/apache/sysds/test/functions/compress/configuration/CompressForce.java
Due: runtime, matrix, frame, compress, compiler

[MINOR] Fix in Python API GatewayServerListener
  src/main/java/org/apache/sysds/api/PythonDMLScript.java
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
Due: util

Added Vector API and FFM API prototypes to staging area
  scripts/staging/SIMD-FFM-prototypes/LibMatrixBincellFFM.java
  scripts/staging/SIMD-FFM-prototypes/LibMatrixBincellSIMD.java
  scripts/staging/SIMD-FFM-prototypes/LibMatrixMultFFM.java
  scripts/staging/SIMD-FFM-prototypes/LibMatrixMultSIMD.java
  scripts/staging/SIMD-FFM-prototypes/LibMatrixNativeFFM.java
Due: none

[MINOR] Remove outputdir .asf.yaml
  .asf.yaml
Due: none

included dimension handling and logic for redundant transposes.
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteTransposeTest.java
  src/test/scripts/functions/rewrite/RewriteTransposeCase1.R
  src/test/scripts/functions/rewrite/RewriteTransposeCase1.dml
  src/test/scripts/functions/rewrite/RewriteTransposeCase2.R
  src/test/scripts/functions/rewrite/RewriteTransposeCase2.dml
  src/test/scripts/functions/rewrite/RewriteTransposeCase3.R
  src/test/scripts/functions/rewrite/RewriteTransposeCase3.dml
Due: compiler

Remove file from staging before PR
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteBooleanSimplificationTest.java
Due: none

[SYSTEMDS-3182] Builtin ampute() for introducing missing values in data
  scripts/builtin/ampute.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAmputeTest.java
  src/test/scripts/functions/builtin/ampute.R
  src/test/scripts/functions/builtin/ampute.dml
Due: util

[SYSTEMDS-3847] Fix non-functional perftest benchmarking suite
  scripts/builtin/msvmPredict.dml
  scripts/datagen/genRandData4ALS.dml
  scripts/datagen/genRandData4ChisquaredTest.dml
  scripts/datagen/genRandData4DecisionTree.sh
  scripts/datagen/genRandData4DescriptiveStats.dml
  scripts/datagen/genRandData4FTest.dml
  scripts/datagen/genRandData4Kmeans.dml
  scripts/datagen/genRandData4LinearReg_LTstats.dml
  scripts/datagen/genRandData4LinearRegression.dml
  scripts/datagen/genRandData4LogReg_LTstats.dml
  scripts/datagen/genRandData4LogisticRegression.dml
  scripts/datagen/genRandData4MultiClassSVM.dml
  scripts/datagen/genRandData4Multinomial.dml
  scripts/datagen/genRandData4NMF.dml
  scripts/datagen/genRandData4NMFBlockwise.dml
  scripts/datagen/genRandData4PCA.dml
  scripts/datagen/genRandData4StratStats.dml
  scripts/datagen/genRandData4SurvAnalysis.dml
  scripts/datagen/genRandData4Transform.dml
  scripts/datagen/genRandData4Univariate.dml
  scripts/datagen/obsolete/genCorrelatedData.dml
  scripts/datagen/obsolete/genLinearRegressionData.dml
  scripts/perftest/README.md
  scripts/perftest/datagen/genALSData.sh
  scripts/perftest/datagen/genBinomialData.sh
  scripts/perftest/datagen/genClusteringData.sh
  scripts/perftest/datagen/genDescriptiveStatisticsData.sh
  scripts/perftest/datagen/genDimensionReductionData.sh
  scripts/perftest/datagen/genIOData.sh
  scripts/perftest/datagen/genL2SVMData.sh
  scripts/perftest/datagen/genMultinomialData.sh
  scripts/perftest/datagen/genStratStatisticsData.sh
  scripts/perftest/log4j.properties
  scripts/perftest/runAll.sh
  scripts/perftest/runL2SVM.sh
  scripts/perftest/scripts/l2-svm-predict.dml
  scripts/perftest/scripts/l2-svm.dml
  scripts/perftest/sparkDML2.sh
  src/test/java/org/apache/sysds/test/functions/codegenalg/parttwo/AlgorithmDatagen.java
  src/test/java/org/apache/sysds/test/functions/misc/UnivariateStatsBasicTest.java
Due: none

[SYSTEMDS-3847] Fix perftest refactoring (datagen scripts)
  scripts/perftest/datagen/genALSData.sh
  scripts/perftest/datagen/genBinomialData.sh
  scripts/perftest/datagen/genClusteringData.sh
  scripts/perftest/datagen/genDescriptiveStatisticsData.sh
  scripts/perftest/datagen/genDimensionReductionData.sh
  scripts/perftest/datagen/genIOData.sh
  scripts/perftest/datagen/genL2SVMData.sh
  scripts/perftest/datagen/genMultinomialData.sh
  scripts/perftest/datagen/genRandData4ALS.dml
  scripts/perftest/datagen/genRandData4ChisquaredTest.dml
  scripts/perftest/datagen/genRandData4DecisionTree.sh
  scripts/perftest/datagen/genRandData4DecisionTree1.dml
  scripts/perftest/datagen/genRandData4DecisionTree2.dml
  scripts/perftest/datagen/genRandData4DescriptiveStats.dml
  scripts/perftest/datagen/genRandData4FTest.dml
  scripts/perftest/datagen/genRandData4Kmeans.dml
  scripts/perftest/datagen/genRandData4LinearReg_LTstats.dml
  scripts/perftest/datagen/genRandData4LinearRegression.dml
  scripts/perftest/datagen/genRandData4LogReg_LTstats.dml
  scripts/perftest/datagen/genRandData4LogisticRegression.dml
  scripts/perftest/datagen/genRandData4MultiClassSVM.dml
  scripts/perftest/datagen/genRandData4Multinomial.dml
  scripts/perftest/datagen/genRandData4NMF.dml
  scripts/perftest/datagen/genRandData4NMFBlockwise.dml
  scripts/perftest/datagen/genRandData4PCA.dml
  scripts/perftest/datagen/genRandData4StratStats.dml
  scripts/perftest/datagen/genRandData4SurvAnalysis.dml
  scripts/perftest/datagen/genRandData4Transform.dml
  scripts/perftest/datagen/genRandData4Univariate.dml
  scripts/perftest/datagen/genStratStatisticsData.sh
Due: none

[SYSTEMDS-3846] Perftest: Fix parfor forced CP compilation
  src/main/java/org/apache/sysds/hops/recompile/Recompiler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/ParForProgramBlock.java
Due: runtime, compiler

[SYSTEMDS-3849] Perftest: Fix MVSM performance regression (spark ctx)
  src/main/java/org/apache/sysds/runtime/controlprogram/context/SparkExecutionContext.java
  src/main/java/org/apache/sysds/utils/stats/InfrastructureAnalyzer.java
Due: runtime, util

[SYSTEMDS-3850] Pipeline pruning after top-K cleaning
  scripts/builtin/bandit.dml
  scripts/builtin/executePipeline.dml
  scripts/builtin/fit_pipeline.dml
Due: none

[SYSTEMDS-3819] Bug fixes in sliceLineExtract builtin
  scripts/builtin/sliceLineExtract.dml
  scripts/builtin/topk_cleaning.dml
  scripts/pipelines/scripts/utils.dml
Due: none

fix test scripts
  src/test/scripts/functions/builtin/sliceLineRealData.dml
  src/test/scripts/functions/pipelines/executePipelineTest.dml
Due: none

Fix another test
  src/test/java/org/apache/sysds/test/functions/pipelines/BuiltinFitPipelineTest.java
  src/test/scripts/functions/pipelines/fit_pipelineTest.dml
Due: none

[SYSTEMDS-3850] Pipeline pruning after top-K cleaning
  scripts/builtin/bandit.dml
  scripts/builtin/executePipeline.dml
  scripts/builtin/fit_pipeline.dml
  src/test/java/org/apache/sysds/test/functions/pipelines/BuiltinFitPipelineTest.java
  src/test/scripts/functions/builtin/sliceLineRealData.dml
  src/test/scripts/functions/pipelines/executePipelineTest.dml
  src/test/scripts/functions/pipelines/fit_pipelineTest.dml
Due: none

[SYSTEMDS-3851] Builtin for embedding Layer
  scripts/nn/layers/embedding.dml
  src/test/java/org/apache/sysds/test/applications/nn/NNComponentTest.java
  src/test/scripts/applications/nn/component/embedding.dml
Due: none

Boolean Rewrite Task
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteBooleanSimplificationTest.java
Due: none

[SYSTEMDS-3842] Improve test coverage of API components: DMLScript & DMLOptions
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/test/java/org/apache/sysds/test/component/misc/CLIOptionsParserTest.java
  src/test/java/org/apache/sysds/test/component/misc/DMLScriptTest.java
  src/test/resources/conf/invalid-codegen-conf.xml
  src/test/resources/conf/invalid-gpu-conf.xml
  src/test/resources/conf/invalid-shadow-buffer1-conf.xml
  src/test/resources/conf/invalid-shadow-buffer2-conf.xml
  src/test/resources/conf/shadow-buffer-conf.xml
Due: compiler, util

[maven-release-plugin] prepare release 3.3.0-rc1
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

Printer, Visualizer, RewireTable
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanVisualizer.py
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest11.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest4.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest8.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest9.dml
Due: compiler

[SYSTEMDS-3842] Improve test coverage of API components: ScriptExecutorUtils & JMLConnection
  .github/workflows/javaTests.yml
  src/test/java/org/apache/sysds/test/component/misc/DMLScriptTest.java
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLConnectionTest.java
Due: none
