Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

refine import
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

remove import
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

add node executor changes
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/representations/representation.py
Due: none

add unique folder names to avoid race condition in parallel tests
  src/main/python/tests/iotests/test_io_csv.py
  src/main/python/tests/iotests/test_io_pandas_systemds.py
  src/main/python/tests/python_java_data_transfer/test_dense_numpy_matrix.py
  src/main/python/tests/python_java_data_transfer/test_pandas_frame.py
Due: none

add physiological represenations
  src/main/python/systemds/scuro/dataloader/tabular_loader.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/average.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/hadamard.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/physiological_representations.py
  src/main/python/systemds/scuro/representations/physiological_window.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/tabular_features.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/utils.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

chore(): formatted code
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5.java
  src/main/java/org/apache/sysds/runtime/io/WriterHDF5.java
  src/test/java/org/apache/sysds/performance/io/HDF5IOBenchmark.java
  src/test/java/org/apache/sysds/performance/io/ParquetIOBenchmark.java
Due: runtime

fix(): fix the syntax issue
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquet.java
Due: runtime

[SYSTEMDS-3953] Fix CI fallout from R type 7 quantile switch
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuantilePickFEDInstruction.java
  src/main/python/tests/matrix/test_quantile.py
  src/test/java/org/apache/sysds/test/applications/OrderStatisticsTest.java
  src/test/scripts/applications/descriptivestats/Scale.R
  src/test/scripts/applications/descriptivestats/WeightedScaleTest.R
  src/test/scripts/functions/builtin/scaleRobust.R
Due: runtime

[SYSTEMDS-3427] CodeCoverage Python
  .github/workflows/javaTests.yml
  .github/workflows/python.yml
  README.md
  src/main/python/.coveragerc
  src/main/python/tests/federated/runFedTest.sh
Due: none

[SYSTEMDS-3681] Add stepGLM builtin function.
  scripts/algorithms/StepGLM.dml
  scripts/builtin/stepGLM.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSTEPGlmTest.java
  src/test/scripts/functions/builtin/stepGLM.dml
Due: util

[SYSTEMDS-3953] Change quantile instruction definition to match the default quantile type in R (type 7)
  src/main/java/org/apache/sysds/runtime/instructions/cp/QuantilePickCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuantilePickFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/QuantilePickSPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/main/python/tests/matrix/test_quantile.py
  src/test/java/org/apache/sysds/test/applications/OrderStatisticsTest.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedSortTest.java
  src/test/java/org/apache/sysds/test/component/matrix/QuantilePickTest.java
  src/test/java/org/apache/sysds/test/functions/binary/matrix/QuantileTest.java
  src/test/scripts/applications/descriptivestats/Scale.R
  src/test/scripts/applications/descriptivestats/WeightedScaleTest.R
  src/test/scripts/functions/builtin/scaleRobust.R
Due: runtime, matrix

fix(.github/workflows/javaCodestyle.yml): temporarily deactivate java formatter until the issue with the formatting script is fixed
  .github/workflows/javaCodestyle.yml
Due: none

fix(dev/format-changed.sh): hide the execution of the formatting script behind a warning and the --force flag
  dev/format-changed.sh
Due: none

[SYSTEMDS-3963] Temporarily deactivate the java code formatter in the GitHub workflows
  .github/workflows/javaCodestyle.yml
  dev/format-changed.sh
Due: none

fix(RewriteSplitDagUnknownNnzRead.java): split statement block only if sparsity rewrites are enabled (pointless otherwise)
  src/main/java/org/apache/sysds/hops/rewrite/RewriteSplitDagUnknownNnzRead.java
Due: compiler

chore(test/functions/rewrite/RewriteSplitDagUnknownNnzReadTest.java): apply formatting remove unused import
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimization.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSplitDagUnknownNnzReadTest.java
Due: compiler

feat(test/functions/rewrite/RewriteSplitDagUnknownNnzReadTest.java): add unit test for splitting the statement block due to unknown sparsity of permanent read
  src/main/java/org/apache/sysds/hops/rewrite/RewriteSplitDagUnknownNnzRead.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSplitDagUnknownNnzReadTest.java
  src/test/scripts/functions/rewrite/RewriteSplitDagUnknownNnz.dml
Due: compiler

feat(main/conf/DMLConfig.java): add option for enabling sparsity recompilation
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimization.java
Due: compiler, util

[SYSTEMDS-3970] Impelment DAG split rewriter to obtain number of non-zero of permanent reads before rewriting consecutive operations.
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimization.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteSplitDagUnknownNnzRead.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSplitDagUnknownNnzReadTest.java
  src/test/scripts/functions/rewrite/RewriteSplitDagUnknownNnz.dml
Due: compiler, util

[MINOR] Merge the per-modality duplicates in the Scuro optimizer tests
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

[MINOR] Merge redundant subtests in the Scuro window operation tests
  src/main/python/tests/scuro/test_window_operations.py
Due: none

[MINOR] Turn the Scuro fusion order tests into a property table
  src/main/python/tests/scuro/test_fusion_orders.py
Due: none

feat(SECURITY.md): add security markdown
  SECURITY.md
  docs/_includes/header.html
  docs/site/install.md
  docs/site/security.md
Due: none

[SYSTEMDS-3969] Add security specifications to the documentation.
  SECURITY.md
  docs/_includes/header.html
  docs/site/install.md
  docs/site/security.md
Due: none

[MINOR] Cover the untested parts of the Scuro unimodal optimizer
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

Initial DPBuiltinCPInstruction and RDPAccountant
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Fix test package name.
  src/main/java/org/apache/sysds/common/Types.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: util

Add dp_gaussian and dp_laplace operations
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime, compiler, util

feat(scripts/staging/dp_benchmark/**): remove differential privacy benchmark as it is not working out of the box
  scripts/staging/dp_benchmark/README.md
  scripts/staging/dp_benchmark/scripts/collect_results.py
  scripts/staging/dp_benchmark/scripts/eval.dml
  scripts/staging/dp_benchmark/scripts/fedavg_dp.dml
  scripts/staging/dp_benchmark/scripts/plot.py
  scripts/staging/dp_benchmark/scripts/prepare_data.py
  scripts/staging/dp_benchmark/scripts/requirements.txt
  scripts/staging/dp_benchmark/scripts/run_benchmark.sh
  scripts/staging/dp_benchmark/scripts/run_sweep.sh
  scripts/staging/dp_benchmark/scripts/start_workers.sh
  scripts/staging/dp_benchmark/scripts/stop_workers.sh
Due: none

Removed python requirements file
  src/main/python/requirements.txt
Due: none

Use getRandomMatrix in DPBuiltinDMLTest and call it in setup instead of in every test
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Rename RDPAccountant to DPBudgetAccountant
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Remove 4th and 5th parameters and instead get them in a loop, according to David's suggestion
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
Due: compiler

Add unit tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Fix Laplace accountant
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Fix integration test to compare clean to noisy data
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
