Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

refactor(main/hops/estim/EstimatorRowWise.java): remove wrapper class for row-wise sparsity vector and apply the corresponding operations directly in the code instead
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

feat(main/hops/estim/EstimatorRowWise.java): add support for element-wise and single operations NOTE: using average case estimation per row
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

chore(main/hops/estim/EstimatorRowWise.java): remove unused imports
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

feat(test/component/estim): add unit tests for row wise sparsity estimator with element-wise and single operations
  src/test/java/org/apache/sysds/test/component/estim/OpElemWChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpElemWTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpSingleTest.java
Due: none

chore(main/hops/estim/EstimatorRowWise.java): remove the explicit casts to double type for constant values remove comment stating that this would be the best estimate for the respective case
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

feat(test/component/estim/OpSingleTest.java): add test cases for eqzero and diag (mv and vm) operations with the row-wise sparsity estimator
  src/test/java/org/apache/sysds/test/component/estim/OpSingleTest.java
Due: none

feat(main/hops/estim/EstimatorRowWise.java): support sparsity estimation for diagonal operation
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

feat(test/component/estim/**): introduce parametrized test cases add some test parameter configurations
  src/test/java/org/apache/sysds/test/component/estim/OpBindChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpBindTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpElemWChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpElemWTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpSingleTest.java
  src/test/java/org/apache/sysds/test/component/estim/OuterProductTest.java
  src/test/java/org/apache/sysds/test/component/estim/SelfProductTest.java
  src/test/java/org/apache/sysds/test/component/estim/SquaredProductChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/SquaredProductTest.java
Due: none

fix(hops/estim/EstimatorRowWise.java): fix derivation of output data characteristics
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

refactor(main/hops/estim/EstimatorRowWise.java): rewrite java stream expressions to for loops
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
Due: compiler

refactor(test/component/estim/**): consolidate duplicate code in sparsity estimation tests
  src/test/java/org/apache/sysds/test/component/estim/OpBindChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpBindTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpElemWChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpElemWTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpSingleTest.java
Due: none

[MINOR][TEST-ONLY] Add a test timeout to kill before GitActions
  pom.xml
Due: none

[MINOR] Fix minor mistake in MNC sparsity estimation for row bind operations
  src/main/java/org/apache/sysds/hops/estim/EstimatorMatrixHistogram.java
Due: compiler

[SYSTEMDS-3948] Implement Row-wise Sparsity Estimator
  src/main/java/org/apache/sysds/hops/estim/EstimatorRowWise.java
  src/test/java/org/apache/sysds/test/component/estim/OpBindChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpBindTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpElemWChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpElemWTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpSingleTest.java
  src/test/java/org/apache/sysds/test/component/estim/OuterProductTest.java
  src/test/java/org/apache/sysds/test/component/estim/SelfProductTest.java
  src/test/java/org/apache/sysds/test/component/estim/SquaredProductChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/SquaredProductTest.java
Due: compiler

[SYSTEMDS-2651] Extend TCP port polling to federated monitoring backend
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part4/FederatedLogicalTest.java
Due: none

refactor StepGLM.dml from a script into a function and resolve a few nested blocks
  scripts/builtin/StepGLM.dml
Due: none

[MINOR] Clean up of isDebugEnabled() usages
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/FederatedPSControlThread.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/ParamServer.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CompressionCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParamservBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/InitFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/io/MatrixReaderFactory.java
  src/main/java/org/apache/sysds/runtime/lineage/LineageRewriteReuse.java
  src/main/java/org/apache/sysds/runtime/matrix/data/sketch/countdistinctapprox/KMVSketch.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/main/java/org/apache/sysds/utils/ParameterizedLogger.java
  src/test/java/org/apache/sysds/test/component/utils/ParameterizedLoggerTest.java
Due: runtime, matrix, compress, compiler, util

Remove unused Thread.sleep static import in AutomatedTestBase
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
Due: none

[SYSTEMDS-2651] Poll for async compression in federated component tests
  src/test/java/org/apache/sysds/test/component/federated/FedWorkerBase.java
  src/test/java/org/apache/sysds/test/component/federated/FedWorkerMatrixCompress.java
  src/test/java/org/apache/sysds/test/component/federated/FedWorkerMatrixMultiplyWorkload.java
  src/test/java/org/apache/sysds/test/component/federated/FedWorkerReadMatrixCompress.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedTestUtils.java
Due: none

[SYSTEMDS-2651] Poll for async compression in federated component tests (#2472)
  src/test/java/org/apache/sysds/test/component/federated/FedWorkerBase.java
  src/test/java/org/apache/sysds/test/component/federated/FedWorkerMatrixCompress.java
  src/test/java/org/apache/sysds/test/component/federated/FedWorkerMatrixMultiplyWorkload.java
  src/test/java/org/apache/sysds/test/component/federated/FedWorkerReadMatrixCompress.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedTestUtils.java
Due: none

[MINOR] Upgrade Surefire to 3.5.2 and enforce fork exit timeout
  pom.xml
Due: none

Add getCategoricalMask DML builtin
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/functionobjects/Builtin.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/functions/transform/GetCategoricalMaskTest.java
  src/test/scripts/functions/transform/GetCategoricalMaskTest.dml
Due: runtime, compiler, util

Speed up frame-to-matrix conversion and harden number parsing
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DoubleArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
  src/main/java/org/apache/sysds/utils/DoubleParser.java
Due: runtime, frame, util

Add ToString12 test for decimal-formatting in toString builtin
  src/test/java/org/apache/sysds/test/functions/misc/ToStringTest.java
  src/test/scripts/functions/misc/ToString12.dml
Due: none

[MINOR] Fix incorrect formatting of various tests
  src/test/java/org/apache/sysds/test/functions/indexing/LeftIndexingTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameParquetSchemaTest.java
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLConnectionTest.java
  src/test/java/org/apache/sysds/test/functions/misc/NrowNcolUnknownCSVReadTest.java
  src/test/java/org/apache/sysds/test/functions/reorg/MatrixReshapeTest.java
  src/test/java/org/apache/sysds/test/functions/reorg/VectorReshapeTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteQuantizationFusedCompressionTest.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformFrameEncodeBagOfWords.java
  src/test/java/org/apache/sysds/test/functions/vect/LeftIndexingChainUpdateTest.java
Due: none

Tune compressed matmul fast paths and Spark execution decisions
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCompAgg.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibMMChain.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTSMM.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
Due: runtime, compress, compiler

Add HashMapIntToInt primitive int-to-int hash map
  src/main/java/org/apache/sysds/runtime/compress/utils/HashMapIntToInt.java
Due: runtime, compress

Add video modality to unimodal optimizer pipeline
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/modality_shared_memory.py
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/x3d.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

add missing memory estimations
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/wav2vec.py
Due: none

[SYSTEMDS-3887] Add video modality to Scuro optimizer pipeline
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/modality_shared_memory.py
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/representations/x3d.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

use optuna and wandb in hp tuner
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/representations/bert.py
Due: none

add optuna to test script
  .github/workflows/python.yml
Due: none

add parameter configuartion for aggregation representation
  src/main/python/systemds/scuro/representations/aggregate.py
Due: none

add window operator parameters
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

[SYSTEMDS-3947] Use optuna for Scuro hyperparameter tuning
  .github/workflows/python.yml
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
