Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Fix
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroupValue.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupOLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupRLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/AIdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupNegativeTests.java
Due: runtime, compress

some cleanups
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
Due: runtime, compress

try again
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
Due: runtime, compress

fix for single col
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix, compress

no log print
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix, compress

fix ?
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix, compress

stack quicksort
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
Due: runtime, compress

extracted einsumEquationValidation to separate class, it is now called also by refresh size method
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumContext.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumEquationValidator.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime, compiler

missing licence notice, better more restricting condition for binary outermultpl. change
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/runtime/einsum/EinsumEquationValidator.java
Due: runtime, compiler, util

better, clearer EinsumContext properties names
  src/main/java/org/apache/sysds/runtime/einsum/EinsumContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

Removed additional files. Copied content into the correct file. Added switch if the first and the last column ist selected. Passes now all provided tests.
  scripts/builtin/raGroupby.dml
  scripts/builtin/raGroupby_exp1.dml
  testing/groupby_new_time.dml
  testing/groupby_old_time.dml
  testing/testing.dml
Due: none

added dedup to Builtins + adjusted LSH to 0/1
  scripts/builtin/dedup.dml
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

Huge refactor: Changed input structure for decoders. Now working properly on Bin and Pass-through.
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

Add test with dml script for setNames and getNames function
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinGetSetNamesScriptTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinGetSetNamesTest.java
  src/test/scripts/functions/builtin/BuiltinGetSetNamesTest.dml
Due: none

Removed print statement for debugging
  scripts/builtin/raGroupby.dml
Due: none

Implement union operations with HashSet<Double> and TreeSet<double[]> after benchmarking
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyUnionDistinctTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyUnion.R
  src/test/scripts/functions/rewrite/RewriteSimplifyUnion.dml
Due: runtime, matrix

Removed print statement for debugging, forgot one
  scripts/builtin/raGroupby.dml
Due: none

added the methods: findCandidatePairs, computeSimilarity, filterDuplicates + adjust dedup function + cleaned code
  scripts/builtin/dedup.dml
Due: none

pulled DedupTest
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDedupTest.java
Due: none

[SYSTEMDS-3708] Fix permutation-matrix method
  scripts/builtin/raGroupby.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinRaGroupbyTest.java
Due: none

adjust BuilinDedupTest + added distributed_represntation for testing
  scripts/builtin/distributed_representation.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDedupTest.java
Due: none

[SYSTEMDS-3708] Fix raiGroupby permutation-matrix method
  scripts/builtin/raGroupby.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinRaGroupbyTest.java
Due: none

added simple test + corrected folder path for test
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDedupTest.java
  src/test/scripts/functions/builtin/distributed_representation.dml
Due: util

cleanup
  docker/build.sh
  docker/testsysds.Dockerfile
Due: none

final cleanup
  .gitignore
  docker/mountFolder/.gitignore
  docker/mountFolder/main.dml
  docker/sysds.Dockerfile
Due: none

added dedup again
  scripts/builtin/dedup.dml
Due: none

implement Unary Optimizer
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
Due: compiler

testing with simple variable assignment was successfull, but still not working for dedup function
  scripts/builtin/dedup.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDedupTest.java
  src/test/scripts/functions/builtin/distributed_representation.dml
Due: none

commit to merge the fix of permutation matrix
  scripts/builtin/raGroupby.dml
Due: none

Found the error, should beat the performance of nested loop, sorry for the last pull request
  scripts/builtin/raGroupby_exp1.dml
  testing/groupby_new_time.dml
  testing/groupby_old_time.dml
  testing/testing.dml
Due: none

Current status, unfortunately, it does not insert the values correctly in raGroupby_exp1.dml
  .gitignore
  scripts/builtin/raGroupby_exp1.dml
  testing/groupby_new_time.dml
  testing/groupby_old_time.dml
  testing/testing.dml
Due: none

Removed additional files. Copied content into the correct file. Added switch if the first and the last column ist selected. Passes now all provided tests.
  scripts/builtin/raGroupby_exp1.dml
  testing/groupby_new_time.dml
  testing/groupby_old_time.dml
  testing/testing.dml
Due: none

Finished merge for the ra_groupby permutation matrix fix
  scripts/builtin/raGroupby.dml
Due: none

changes in dedup
  scripts/builtin/dedup.dml
Due: none

scaleRobust with calling quantile once
  scripts/builtin/scaleRobust.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
Due: none

Build success dedup for simple test
  scripts/builtin/dedup.dml
  src/main/java/org/apache/sysds/runtime/util/UtilFunctions.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
