Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

aggeregation function as hyperparameter
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

parallelize unimodal optimization
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

new Python CI test setup
  .github/workflows/javaTests.yml
  .github/workflows/python.yml
  .github/workflows/pythonFormatting.yml
Due: none

formatting test with minor change in python file (in a comment)
  .github/workflows/python.yml
  src/main/python/systemds/context/systemds_context.py
Due: none

avoid using the 3rd party workflow plugin
  .github/workflows/pythonFormatting.yml
Due: none

print multimodal optimizations
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

choose synchronous + use existing processWriteInstruction
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
Due: runtime

add writer
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
Due: runtime

[SYSTEMDS-3902] Accelerated data transfer Python <--> JVM
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/api/PythonDMLScript.java
  src/main/java/org/apache/sysds/runtime/util/UnixPipeUtils.java
  src/main/python/systemds/context/systemds_context.py
  src/main/python/systemds/operator/nodes/matrix.py
  src/main/python/systemds/operator/nodes/multi_return.py
  src/main/python/systemds/script_building/script.py
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/matrix/test_block_converter.py
  src/main/python/tests/matrix/test_block_converter_unix_pipe.py
  src/test/java/org/apache/sysds/test/component/utils/UnixPipeUtilsTest.java
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
Due: runtime, util

compare write operation with each single element
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/Unary.dml
Due: none

use file partition to work with multiple blocks in parts
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/Unary.dml
Due: runtime

[SYSTEMDS-3903] Fix federated tests worker process shutdown windows
  src/test/java/org/apache/sysds/test/TestUtils.java
Due: none

[SYSTEMDS-3901] Updated Python CI Test setup
  .github/workflows/python.yml
  .github/workflows/pythonFormatting.yml
  src/main/python/systemds/context/systemds_context.py
Due: none

[MINOR] Corrected formatting for failing formatting CI test
  src/main/python/systemds/utils/converters.py
Due: none

dimensions
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/test/java/org/apache/sysds/test/functions/transform/GetCategoricalMaskTest.java
  src/test/scripts/functions/transform/GetCategoricalMaskTest.dml
Due: compiler

add abstract method writeMatrixFromStream
  src/main/java/org/apache/sysds/runtime/compress/io/WriterCompressed.java
  src/main/java/org/apache/sysds/runtime/io/MatrixWriter.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
  src/main/java/org/apache/sysds/runtime/io/WriterHDF5.java
  src/main/java/org/apache/sysds/runtime/io/WriterMatrixMarket.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextCSV.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextCell.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextLIBSVM.java
Due: runtime, compress

implement writeMatrixFromStream.
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
  src/test/scripts/functions/ooc/Unary.dml
Due: runtime

implement 2 PASS method for write and merge with concat
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
Due: runtime

implementation for data not supported fs case
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
Due: runtime

return nnz value from writeMatrixFromStream and use it in writeMetaDataFile
  src/main/java/org/apache/sysds/runtime/compress/io/WriterCompressed.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/io/MatrixWriter.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
  src/main/java/org/apache/sysds/runtime/io/WriterHDF5.java
  src/main/java/org/apache/sysds/runtime/io/WriterMatrixMarket.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextCSV.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextCell.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextLIBSVM.java
Due: runtime, compress

filesystem files are written correctly
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
Due: runtime

set matrixobject characterstics to avoid recompilation
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
Due: runtime

workaround: copy fname to scratch file for consistency
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
Due: runtime

address review comments, use sequenceFile
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
Due: runtime

use createWriter instead of SequenceFile.Writer
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
Due: runtime

remove unused imports and code
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
Due: runtime

test successful for write operation
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
Due: none

fix remove empty
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
Due: runtime, compress

log the failing operation
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
Due: runtime, compress

support solve
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryMatrixMatrixCPInstruction.java
Due: runtime

fix typo
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryMatrixMatrixCPInstruction.java
Due: runtime

refine unimodal optimizer
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

add timing
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
Due: none

mote info
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedMatrixTest.java
Due: runtime, matrix, compress
