Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

dml exception
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
Due: runtime, frame

error ?
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
Due: runtime

decoder passthough??
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
Due: runtime

except hash columns
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
Due: runtime

error
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
Due: runtime

decode input
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
Due: runtime

do not subtract one
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
Due: runtime

Remove large .tbl files and ignore them
  .gitignore
Due: none

limit
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
Due: runtime

delete previous optimizer
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
Due: compiler

implement new optimizer for the Binary template
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CodeTemplate.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Binary.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
Due: compiler

debug
  src/main/java/org/apache/sysds/hops/codegen/cplan/CodeTemplate.java
Due: compiler

rework cusparsecsrmv()
  src/main/java/org/apache/sysds/runtime/matrix/data/CudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/DoublePrecisionCudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuMatMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/SinglePrecisionCudaSupportFunctions.java
  src/test/scripts/functions/lineage/LineageReuseGPU2.dml
Due: runtime, matrix

to String inconsistency
  src/test/java/org/apache/sysds/test/functions/misc/ToStringTest.java
  src/test/scripts/functions/misc/ToString12.dml
Due: none

rework cusparsecsrmm2()
  src/main/java/org/apache/sysds/runtime/matrix/data/CudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/DoublePrecisionCudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuMatMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/SinglePrecisionCudaSupportFunctions.java
  src/test/scripts/functions/lineage/LineageReuseGPU2.dml
Due: runtime, matrix

rework cusparseDense2csr() and final cleanups
  src/main/java/org/apache/sysds/runtime/matrix/data/DoublePrecisionCudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCUDA.java
  src/main/java/org/apache/sysds/runtime/matrix/data/SinglePrecisionCudaSupportFunctions.java
Due: runtime, matrix

reinstate checkGPU()
  src/test/java/org/apache/sysds/test/functions/lineage/GPUFullReuseTest.java
Due: none

modifying some paths
  scripts/ssb/queries/q1_1.dml
  scripts/ssb/queries/q1_2.dml
  scripts/ssb/queries/q1_3.dml
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_2.dml
Due: none

more paths modification
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q2_3.dml
Due: none

empty the content of copied query q2_3.dml
  scripts/ssb/queries/q2_3.dml
Due: none

implement branchless vectDiv and vectMult
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

change int naming convention
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

cleanup code
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

cleanup code
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
Due: compiler

q2_1 angepasst, order by funktioniert noch nicht
  scripts/ssb/queries/q2_1.dml
Due: none

support for scalar multiplication, better validation
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum13.R
  src/test/scripts/functions/einsum/einsum13.dml
  src/test/scripts/functions/einsum/einsum6.dml
Due: runtime, compiler

add test and removing unnecessary changes
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum14.R
  src/test/scripts/functions/einsum/einsum14.dml
  src/test/scripts/functions/einsum/einsum3.R
  src/test/scripts/functions/einsum/einsum4.R
  src/test/scripts/functions/einsum/einsum5.R
  src/test/scripts/functions/einsum/einsum5.dml
  src/test/scripts/functions/einsum/einsum6.R
  src/test/scripts/functions/einsum/einsum6.dml
Due: runtime

remove more unused code, fix bug
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

add einsum to test suite in github workflows
  .github/workflows/javaTests.yml
Due: none

Experiment: Approximate quantiles via histogram binning
  scripts/builtin/scaleRobust.dml
  scripts/builtin/scaleRobust_approximation.dml
Due: none

queries 2.1-2.3 implementiert, spec für part hinzugefügt
  scripts/specs/part2.tfspec_recode.json
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q2_3.dml
Due: none

Paths modification q2_2& q2_3
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q2_3.dml
Due: none

[SYSTEMDS-3890] Fix opcode lookup performance regression
  src/main/java/org/apache/sysds/common/Opcodes.java
Due: util

ein test
  basjxbla.txt
Due: none

vi stinkt
  basjxbla.txt
Due: none

rowcumsum implementation and tests
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/functionobjects/Builtin.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/CumulativeOffsetSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/UnaryMatrixSPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixAgg.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/FullRowcumsumTest.java
  src/test/scripts/functions/unary/matrix/Rowcumsum.R
  src/test/scripts/functions/unary/matrix/Rowcumsum.dml
Due: runtime, matrix, compiler, util

Add SSB benchmark queries Q3 and Q4, and customer recode spec
  scripts/specs/customer.tfspec_recode.json
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

getting the right Paths
  scripts/specs/customer.tfspec_recode.json
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
