Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3835] Improve memory efficiency of text context operations
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/elmo.py
  src/main/python/systemds/scuro/representations/text_context.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_text_context_operators.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

add: Enum Compressiontype piecewiselinear
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
Due: runtime, compress

add: include functionality of piecewise linear compression
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
Due: runtime, compress

add: Comment
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
Due: runtime, compress

add: dispatch test and remove unused imports
  src/test/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: none

adapt hp tuner
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/data_generator.py
Due: none

choose correct reps for multimodal tuning
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/tests/scuro/test_hp_tuner.py
Due: none

[SYSTEMDS-3887] Multimodal HP-tuning fix
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_hp_tuner.py
Due: none

Updated version and problems fixed.
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/shell/run_script.sh
Due: none

[SYSTEMDS-3779] Entropy, reworked benchmarks
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWBenchmark.java
Due: none

add copy() re-implementation
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
Due: runtime, frame

add new tests
  src/test/java/org/apache/sysds/test/functions/io/FrameBlockConcurrentCopyTest.java
Due: none

Remove unused imports
  src/test/java/org/apache/sysds/test/functions/io/FrameBlockConcurrentCopyTest.java
Due: none

[DOC][SYSTEMDS-3878] Document unfixed CVEs in Docker image
  docker/scout_results/UNFIXED_VULNERABILITIES.md
Due: none

[MINOR][SYSTEMDS-3878] pom.xml cleanup
  docker/scout_results/sysds_output_pom.md
  docker/systemds-3878_summary-of-changes.md
  pom.xml
Due: none

[DOC][SYSTEMDS-3878] Reorganize CVE documentation into structured folder
  docker/SYSTEMDS-3878/scan-after-fixes/README.md
  docker/SYSTEMDS-3878/scan-before-fixes/README.md
  docker/SYSTEMDS-3878/summary-of-changes/README.md
  docker/SYSTEMDS-3878/unfixed-vulnerabilities/README.md
  docker/scout_results/alpine-apk-cves/sysds_output17.md
  docker/scout_results/alpine-apk-cves/sysds_output18.md
  docker/scout_results/avro/sysds_output4.md
  docker/scout_results/ionetty-netty/sysds_output16.md
  docker/scout_results/kerby/sysds_output5.md
  docker/scout_results/medium-cves/sysds_output10.md
  docker/scout_results/medium-cves/sysds_output11.md
  docker/scout_results/medium-cves/sysds_output12.md
  docker/scout_results/medium-cves/sysds_output13.md
  docker/scout_results/medium-cves/sysds_output14.md
  docker/scout_results/medium-cves/sysds_output15-1.md
  docker/scout_results/medium-cves/sysds_output8.md
  docker/scout_results/medium-cves/sysds_output9.md
  docker/scout_results/multiple-high-CVEs/sysds_output6.md
  docker/scout_results/multiple-high-CVEs/sysds_output7.md
  docker/scout_results/multiple-high-CVEs/sysds_output8.md
  docker/scout_results/zookeeper/sysds_output1.md
  docker/scout_results/zookeeper/sysds_output2.md
  docker/scout_results/zookeeper/sysds_output3.md
  docker/scout_results/zookeeper/sysds_output6.md
Due: none

[DOC][SYSTEMDS-3878] Simplify changelog format in summary-of-changes
  docker/SYSTEMDS-3878/summary-of-changes/README.md
Due: none

License headers added.
  scripts/staging/ssb/Dockerfile
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/docker-compose.yaml
  scripts/staging/ssb/queries/q1_1.dml
  scripts/staging/ssb/queries/q1_2.dml
  scripts/staging/ssb/queries/q1_3.dml
  scripts/staging/ssb/queries/q2_1.dml
  scripts/staging/ssb/queries/q2_2.dml
  scripts/staging/ssb/queries/q2_3.dml
  scripts/staging/ssb/queries/q3_1.dml
  scripts/staging/ssb/queries/q3_2.dml
  scripts/staging/ssb/queries/q3_3.dml
  scripts/staging/ssb/queries/q3_4.dml
  scripts/staging/ssb/queries/q4_1.dml
  scripts/staging/ssb/queries/q4_2.dml
  scripts/staging/ssb/queries/q4_3.dml
  scripts/staging/ssb/shell/run_script.sh
Due: none

[DOC][SYSTEMDS-3878] Wrote a readme explaining the student project 3878
  docker/SYSTEMDS-3878/README.md
Due: none

[SYSTEMDS-3928] implemented Independent Subnet Training loop
  scripts/builtin/independentSubnetTrain.dml
  src/test/scripts/functions/builtin/indSubnetTest_mnist_lenet.dml
Due: none

[FIX][SYSTEMDS-3878] fix merge error
  pom.xml
Due: none

[SYSTEMDS-3928] masked velocities for each subnet
  src/test/scripts/functions/builtin/indSubnetTest_mnist_lenet.dml
Due: none

[DOC][SYSTEMDS-3878] trying to fix licence check for documentation
  docker/SYSTEMDS-3878/README.md
Due: none

Code refactoring White-Space Checkstyle
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
  src/test/java/org/apache/sysds/test/functions/io/FrameBlockConcurrentCopyTest.java
Due: runtime, frame

[MINOR] Latest auto-generated python builtins + documentation
  src/main/python/docs/source/api/operator/algorithms/scaleRobustApply.rst
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/scaleRobustApply.py
Due: none

fix: reformat code mit Eclipse XML Profile
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

[SYSTEMDS-3166] Add builtin for anomaly detection via Isolation Forest
  scripts/builtin/outlierByIsolationForest.dml
  scripts/builtin/outlierByIsolationForestApply.dml
  scripts/staging/isolationForest/test/isolationForestTest.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/python/docs/source/api/operator/algorithms/outlierByIsolationForest.rst
  src/main/python/docs/source/api/operator/algorithms/outlierByIsolationForestApply.rst
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/outlierByIsolationForest.py
  src/main/python/systemds/operator/algorithm/builtin/outlierByIsolationForestApply.py
  src/main/python/tests/auto_tests/test_outlierByIsolationForest.py
  src/main/python/tests/auto_tests/test_outlierByIsolationForestApply.py
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinIsolationForestTest.java
  src/test/scripts/functions/builtin/outlierByIsolationForestTest.dml
Due: util

[SYSTEMDS-3902] Sparse data transfer: Python --> Java
  src/main/java/org/apache/sysds/runtime/util/Py4jConverterUtils.java
  src/main/python/systemds/context/systemds_context.py
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/matrix/test_block_converter.py
  src/test/java/org/apache/sysds/test/component/frame/array/Py4jConverterUtilsTest.java
  src/test/java/org/apache/sysds/test/component/utils/Py4jConverterUtilsTest.java
Due: runtime

Add edge case tests for squares, vectors, invalid cases for TransposeInPlaceBrenner
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/TransposeInPlaceBrennerTest.java
Due: none

[MINOR] Removed unnessecary imports and * imports. Reformated DDCLZWScheme according to guidelines.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWScheme.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeMC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeSC.java
Due: runtime, compress

[MINOR] Added License to DDCLZWScheme.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWScheme.java
Due: runtime, compress

[MINOR] Improved imports for LZWTest class (removed more * imports).
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: none

[SYSTEMDS-3779] Removal of the tests for the no longer existing partial decompression and adjusting the function decompress to become decompressFull
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

[SYSTEMDS-3779] Introduce DDCLZW as a new ColGroup type and integrate it into the compression pipeline and serialization framework.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

[MINOR] Improved imports for LZWTest class (removed * imports). Added some documentation for non native ddc methods in ddclzw class.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

[MINOR] Code refractoring in test classes and removing of unnecessary comments.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress
