Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

carry over changes from sparseRows branch
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/main/java/org/apache/sysds/runtime/codegen/SpoofRowwise.java
  src/test/java/org/apache/sysds/test/component/codegen/CPlanVectorPrimitivesTest.java
  src/test/java/org/apache/sysds/test/component/codegen/SparseVectorAllocTest.java
Due: runtime, util

carry over changes from sparseRows branch
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNode.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeRow.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Binary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Unary.java
Due: compiler, util

Previous generator error fixes, code block fixes
  scripts/builtin/confusionMatrix.dml
  scripts/builtin/cooccurrenceMatrix.dml
  scripts/builtin/correctTypos.dml
  scripts/builtin/decisionTree.dml
  scripts/builtin/glove.dml
  scripts/builtin/imputeByKNN.dml
  scripts/builtin/quantizeByCluster.dml
  scripts/builtin/randomForest.dml
  scripts/builtin/shapExplainer.dml
  scripts/builtin/topk_cleaning.dml
  src/main/python/generator/dml_parser.py
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/apply_pipeline.py
  src/main/python/systemds/operator/algorithm/builtin/confusionMatrix.py
  src/main/python/systemds/operator/algorithm/builtin/cooccurrenceMatrix.py
  src/main/python/systemds/operator/algorithm/builtin/correctTypos.py
  src/main/python/systemds/operator/algorithm/builtin/correctTyposApply.py
  src/main/python/systemds/operator/algorithm/builtin/decisionTree.py
  src/main/python/systemds/operator/algorithm/builtin/denialConstraints.py
  src/main/python/systemds/operator/algorithm/builtin/dmv.py
  src/main/python/systemds/operator/algorithm/builtin/ema.py
  src/main/python/systemds/operator/algorithm/builtin/executePipeline.py
  src/main/python/systemds/operator/algorithm/builtin/fit_pipeline.py
  src/main/python/systemds/operator/algorithm/builtin/fixInvalidLengths.py
  src/main/python/systemds/operator/algorithm/builtin/fixInvalidLengthsApply.py
  src/main/python/systemds/operator/algorithm/builtin/glove.py
  src/main/python/systemds/operator/algorithm/builtin/imputeByKNN.py
  src/main/python/systemds/operator/algorithm/builtin/mdedup.py
  src/main/python/systemds/operator/algorithm/builtin/quantizeByCluster.py
  src/main/python/systemds/operator/algorithm/builtin/randomForest.py
  src/main/python/systemds/operator/algorithm/builtin/shapExplainer.py
  src/main/python/systemds/operator/algorithm/builtin/topk_cleaning.py
  src/main/python/systemds/operator/algorithm/builtin/wer.py
Due: none

Changed in R from Type 7 to 1 so its the same type as in DML
  scripts/builtin/scaleRobust.dml
  src/test/scripts/functions/builtin/scaleRobust.R
Due: none

moved the apply part to Apply.dml
  scripts/builtin/scaleRobust.dml
  scripts/builtin/scaleRobustApply.dml
Due: none

added timestamps
  scripts/builtin/scaleRobust.dml
  scripts/builtin/scaleRobustApply.dml
  src/test/scripts/functions/builtin/scaleRobust.R
Due: none

implement DIV for scalarVector
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

adjust templates, so that DIV for scalarVector works
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Binary.java
Due: compiler

add datatypes to data loaders
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/tests/scuro/test_multimodal_join.py
Due: none

add data_type to modality
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
Due: none

fix sparse vector allocation
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/test/java/org/apache/sysds/test/component/codegen/CPlanVectorPrimitivesTest.java
  src/test/java/org/apache/sysds/test/component/codegen/SparseVectorAllocTest.java
Due: runtime

add data_type to transformed modality
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/representation_cache.py
  src/main/python/systemds/scuro/drsearch/unimodal_representation_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/image_bind.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/optical_flow.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/systemds/scuro/representations/x3d.py
  src/main/python/systemds/scuro/utils/converter.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_multimodal_join.py
Due: none

change function name to window_aggregation
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/representation_cache.py
  src/main/python/systemds/scuro/drsearch/unimodal_representation_optimizer.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/optical_flow.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

remove library
  src/main/python/systemds/scuro/dataloader/base_loader.py
Due: none

add new docker files and testing
  docker/build.sh
  docker/mountFolder/main.dml
  docker/pythonsysdslight.Dockerfile
  docker/sysdslight.Dockerfile
  docker/sysdslight_multistage.Dockerfile
  docker/testsysdslight.Dockerfile
Due: none

formatting
  src/main/python/tests/scuro/data_generator.py
Due: none

update gpu-backend to current Nvidia-stack
  pom.xml
  src/main/java/org/apache/sysds/runtime/instructions/gpu/context/CSRPointer.java
  src/main/java/org/apache/sysds/runtime/matrix/data/DoublePrecisionCudaSupportFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNN.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNNConvolutionAlgorithm.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixCuDNNRnnAlgorithm.java
  src/main/java/org/apache/sysds/runtime/matrix/data/SinglePrecisionCudaSupportFunctions.java
Due: runtime, matrix

add data_type to test data generator
  src/main/python/tests/scuro/data_generator.py
Due: none

[SYSTEMDS-3888] Fix size propagation over unique operations
  src/main/java/org/apache/sysds/hops/AggUnaryOp.java
  src/main/java/org/apache/sysds/hops/estim/EstimatorLayeredGraph.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteQuantizationFusedCompression.java
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/test/java/org/apache/sysds/test/functions/misc/SizePropagationTest.java
  src/test/scripts/functions/misc/SizePropagationUnique.dml
Due: compiler

enable try except for invalid representations
  src/main/python/systemds/scuro/drsearch/unimodal_representation_optimizer.py
Due: none

more computations done using row tpl
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeData.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumContext.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum8.R
  src/test/scripts/functions/einsum/einsum8.dml
  src/test/scripts/functions/einsum/einsum9.R
  src/test/scripts/functions/einsum/einsum9.dml
Due: runtime, compiler

removed old code
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

fix bugs
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/einsum10.R
  src/test/scripts/functions/einsum/einsum10.dml
Due: runtime

Basic Structure for ColumnDecoder
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnInput.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnEncoderBinDecoderTest.java
Due: runtime

Main logic in ColumnDecoderComposite done, ColumnDecoderBin as example done, test passes for Bin
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
Due: runtime

Integrate Writing InputMatrix and MetaData with Privacy Constraints
  src/main/java/org/apache/sysds/runtime/meta/MetaDataAll.java
  src/main/java/org/apache/sysds/runtime/util/HDFSTool.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedKMeansPlanningTest.java
Due: runtime

Add FedPlanning Test
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedCNNPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedFNNPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedLeNetPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedLinearRegressionPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedLogisticRegressionPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedPCAPlanningTest.java
  src/test/scripts/functions/privacy/fedplanning/FederatedCNNPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedCNNPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedFNNPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedFNNPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLeNetPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLeNetPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLinearRegressionPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLinearRegressionPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLogisticRegressionPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLogisticRegressionPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedPCAPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedPCAPlanningTestReference.dml
Due: none

Add Cost-based FedPlanner Verification TestCode
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedPlanCostVerificationTest.java
Due: none

Extend isLocalForced and Privacy Constraint Propagation Law
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedCostBased.java
Due: compiler

Debugging Log for Cost-based FedPlanner
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/BinaryMatrixScalarFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/FEDInstruction.java
Due: runtime, compiler

Fix writeMetaDataFile with PrivacyConstraints
  src/main/java/org/apache/sysds/runtime/util/HDFSTool.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
Due: runtime

Turn Off Debugging Log for Cost-based FedPlanner
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/BinaryMatrixScalarFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/FEDInstruction.java
Due: runtime, compiler

Add FType Propagation on Cost-based Planner
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedAll.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedKMeansPlanningTest.java
Due: compiler

update kmeans test
  docker/mountFolder/main.dml
  docker/sysdslight_multistage.Dockerfile
Due: none

update test
  docker/mountFolder/main.dml
Due: none

implemented simplification of scalar matrix scalar addition and subtraction operations
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyScalarMatrixPMOperationTest.java
  src/test/scripts/functions/rewrite/RewriteScalarMinusMatrixMinusScalar.R
  src/test/scripts/functions/rewrite/RewriteScalarMinusMatrixMinusScalar.dml
  src/test/scripts/functions/rewrite/RewriteScalarPlusMatrixMinusScalar.R
  src/test/scripts/functions/rewrite/RewriteScalarPlusMatrixMinusScalar.dml
Due: compiler
