Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

add vector api to SystemDS Context in PythonAPI
  src/main/python/systemds/context/systemds_context.py
Due: none

Basic Structure for ColumnDecoder
  pom.xml
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnBlock.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnInput.java
Due: runtime

initial working version
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/lops/Nary.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumContext.java
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
  src/test/scripts/functions/einsum/SystemDS-config-codegen.xml
  src/test/scripts/functions/einsum/einsum1.R
  src/test/scripts/functions/einsum/einsum1.dml
  src/test/scripts/functions/einsum/einsum2.R
  src/test/scripts/functions/einsum/einsum2.dml
  src/test/scripts/functions/einsum/einsum3.R
  src/test/scripts/functions/einsum/einsum3.dml
  src/test/scripts/functions/einsum/einsum4.R
  src/test/scripts/functions/einsum/einsum4.dml
  src/test/scripts/functions/einsum/einsum5.R
  src/test/scripts/functions/einsum/einsum5.dml
  src/test/scripts/functions/einsum/einsum6.R
  src/test/scripts/functions/einsum/einsum6.dml
  src/test/scripts/functions/einsum/einsum7.R
  src/test/scripts/functions/einsum/einsum7.dml
Due: runtime, compiler, util

add einsum R dependency
  src/test/scripts/installDependencies.R
Due: none

fix merge
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BuiltinNaryCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime, compiler, util

quick fix
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

black formatting
  src/main/python/systemds/utils/converters.py
Due: none

more error allowed.
  docker/build.sh
  docker/entrypoint.sh
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part3/FederatedWeightedDivMatrixMultTest.java
Due: none

[SYSTEMDS-3874] Java17 Vectorized LibMM
  bin/systemds
  docker/entrypoint.sh
  pom.xml
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/python/systemds/context/systemds_context.py
  src/main/python/systemds/utils/converters.py
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/README.md
  src/test/java/org/apache/sysds/performance/generators/IGeneratePair.java
  src/test/java/org/apache/sysds/performance/matrix/MMSparsityPerformance.java
  src/test/java/org/apache/sysds/performance/matrix/MatrixMultiplicationPerf.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/functions/federated/multitenant/MultiTenantTestBase.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part3/FederatedWeightedDivMatrixMultTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteDetTest.java
  src/test/scripts/performance/append.sh
  src/test/scripts/performance/matrixMultiplication.sh
Due: runtime, matrix, compress

[SYSTEMDS-3874] Initial vector gather and remove vector staging
  scripts/staging/SIMD-double-vectors/LibMatrixMult.java
  scripts/staging/SIMD-double-vectors/README.md
  scripts/staging/SIMD-double-vectors/pom.xml.tmp
  scripts/staging/SIMD-double-vectors/systemds
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
Due: runtime, matrix

add unimodal optimization test
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

refactor
  src/main/python/systemds/scuro/drsearch/fusion_optimizer.py
  src/main/python/systemds/scuro/drsearch/optimization_data.py
  src/main/python/systemds/scuro/drsearch/unimodal_representation_optimizer.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/rowmax.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

add multimodal fusion test
  src/main/python/tests/scuro/test_multimodal_fusion.py
Due: none

refactor
  src/main/python/systemds/scuro/drsearch/dr_search.py
  src/main/python/systemds/scuro/drsearch/fusion_optimizer.py
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

add additional representations
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/optical_flow.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/representations/x3d.py
Due: none

add missing file
  src/main/python/systemds/scuro/utils/torch_dataset.py
Due: none

add missing header
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/alignment.py
  src/main/python/systemds/scuro/drsearch/alignment_strategy.py
  src/main/python/systemds/scuro/drsearch/representation_cache.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/utils/schema_helpers.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
Due: none

remove import of all representations when operators are registered
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/modality/modality_identifier.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/rowmax.py
Due: none

Docs readme, requirements adjusted
  src/main/python/docs/README.md
  src/main/python/docs/requires-docs.txt
Due: none

Relative path in generate_file
  src/main/python/generator/generator.py
Due: none

add message to failing asserts
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

remove rowmax from test
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

Added first implementation of scaleRobust
  scripts/builtin/scaleRobust.dml
  scripts/builtin/scaleRobustApply.dml
Due: none

Registered scaleRobust and scaleRobustApply
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

disable test
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

downgrade library versions
  src/main/python/systemds/__init__.py
Due: none

Ampute header error fix
  scripts/builtin/ampute.dml
  scripts/builtin/cooccurrenceMatrix.dml
  scripts/builtin/differenceStatistics.dml
  src/main/python/systemds/operator/algorithm/builtin/ampute.py
  src/main/python/systemds/operator/algorithm/builtin/differenceStatistics.py
Due: none

added test files and corrected scaleRobust. so its always matrices
  scripts/builtin/scaleRobust.dml
  scripts/builtin/scaleRobustApply.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
  src/test/scripts/functions/builtin/scaleRobust.R
  src/test/scripts/functions/builtin/scaleRobust.dml
Due: none

deleted logs
  hs_err_pid13380.log
  hs_err_pid14484.log
  hs_err_pid17388.log
  hs_err_pid19764.log
  hs_err_pid21108.log
  hs_err_pid24524.log
  hs_err_pid25500.log
  hs_err_pid27932.log
  hs_err_pid28644.log
  hs_err_pid29332.log
  hs_err_pid29404.log
  hs_err_pid2960.log
  hs_err_pid30684.log
  hs_err_pid3116.log
  hs_err_pid31980.log
  hs_err_pid34732.log
  hs_err_pid4360.log
  hs_err_pid7664.log
Due: none

scaleRobust should now be correct
  scripts/builtin/scaleRobust.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
  src/test/scripts/functions/builtin/scaleRobust.dml
Due: none

it runs
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinScaleRobustTest.java
  src/test/scripts/functions/builtin/scaleRobust.R
Due: none

R file has now the same workflow as the DML file
  src/test/scripts/functions/builtin/scaleRobust.R
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
