Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

fix file reading
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

add partionfile setup, and offsets
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

fix get() null value issue due to mutation
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

Bugfix for joinOOC with OOCEvictionManager
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
Due: runtime

Error handling improvements and better integration with OOCEvictionManager
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime

[SYSTEMDS-3918] New out-of-core queues and primitives
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CentralMomentOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CtableOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/operators/CMOperator.java
  src/main/java/org/apache/sysds/runtime/util/OOCJoin.java
  src/test/java/org/apache/sysds/test/functions/ooc/BinaryMatrixMatrixTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/BinaryMatrixScalarTest.java
  src/test/scripts/functions/ooc/BinaryMatrixMatrix.dml
  src/test/scripts/functions/ooc/BinaryMatrixScalar.dml
Due: runtime, matrix, compiler

[SYSTEMDS-3934] Improved partition handling of OOC eviction manager
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/util/PartitionFileManager.java
Due: runtime

Cleanup and improved caching
  src/main/java/org/apache/sysds/runtime/instructions/ooc/IndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
Due: runtime

Bugfix for stream indexing
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
Due: runtime

Error handling improvements and better integration with OOCEvictionManager
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/IndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/util/IndexRange.java
  src/test/java/org/apache/sysds/test/functions/ooc/RightIndexingCoordsTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/RightIndexingTest.java
  src/test/scripts/functions/ooc/RightIndexing.dml
  src/test/scripts/functions/ooc/RightIndexingCoords.dml
Due: runtime

Variable Naming Consistency
  src/main/java/org/apache/sysds/runtime/instructions/ooc/IndexingOOCInstruction.java
Due: runtime

Remove Unnecessary Check
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
Due: runtime

[SYSTEMDS-3932] CSV reader for out-of-core streams
  src/main/java/org/apache/sysds/lops/CSVReBlock.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CSVReblockOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CSVReaderTest.java
  src/test/scripts/functions/ooc/CSVReader.dml
Due: runtime, compiler

Add Missing License
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CSVReblockOOCInstruction.java
Due: runtime

add ts reps
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
Due: none

fix hp tuner
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
Due: none

[SYSTEMDS-3835] Add timeseries representations to Scuro
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/context.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

new ssb_benchmark branch
  scripts/ssb/ReadMe.md
Due: none

parallelize multimodal optimizer
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
Due: none

Update first ReadMe.
  scripts/ssb/ReadMe.md
Due: none

[SYSTEMDS-3887] Parallelize multimodal optimizer
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
Due: none

add additional visual representations
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/color_histogram.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/x3d.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

add dependency to workflow
  .github/workflows/python.yml
Due: none

[SYSTEMDS-3835] Add additional visual representations
  .github/workflows/python.yml
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/color_histogram.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/x3d.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

CSV Reader Simplification
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CSVReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/io/ReaderTextCSVParallel.java
Due: runtime

New Replace Instruction and Tests
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/ReplaceTest.java
  src/test/scripts/functions/ooc/Replace.dml
Due: runtime

OOC Seq Instruction
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/SeqTest.java
  src/test/scripts/functions/ooc/Seq.dml
Due: runtime

OOC Scalar Contains Implementation
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/ContainsTest.java
  src/test/scripts/functions/ooc/Contains.dml
Due: runtime

[SYSTEMDS-3932] CSV reader for out-of-core streams
  src/main/java/org/apache/sysds/lops/CSVReBlock.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CSVReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/io/ReaderTextCSVParallel.java
  src/test/java/org/apache/sysds/test/functions/ooc/CSVReaderTest.java
  src/test/scripts/functions/ooc/CSVReader.dml
Due: runtime, compiler

[SYSTEMDS-3891] New OOC replace and contains instructions
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/ContainsTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/ReplaceTest.java
  src/test/scripts/functions/ooc/Contains.dml
  src/test/scripts/functions/ooc/Replace.dml
Due: runtime

Add Missing License
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
Due: runtime

[SYSTEMDS-3931] Out-of-core right indexing operations
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/IndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/util/IndexRange.java
  src/test/java/org/apache/sysds/test/functions/ooc/RightIndexingCoordsTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/RightIndexingTest.java
  src/test/scripts/functions/ooc/RightIndexing.dml
  src/test/scripts/functions/ooc/RightIndexingCoords.dml
Due: runtime
