Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[MINOR][CI] Run component.c tests in parallel again (#2518)
  .github/workflows/javaTests.yml
Due: none

Fix compressed left TSMM returning empty result
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
Due: runtime, compress

add reshape
  src/main/java/org/apache/sysds/runtime/data/DenseBlockFP64.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReshapeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/ReshapeTest.java
  src/test/scripts/functions/ooc/MatrixReshapeColWise.dml
  src/test/scripts/functions/ooc/MatrixReshapeRowWise.dml
Due: runtime

Add Databricks scripts and demo notebooks for running SystemDS
  scripts/databricks/.env.example
  scripts/databricks/.gitignore
  scripts/databricks/README.md
  scripts/databricks/SystemDS_Delta_E2E.scala
  scripts/databricks/SystemDS_MLContext_Demo.scala
  scripts/databricks/SystemDS_Python_Demo.py
  scripts/databricks/SystemDS_vs_SparkML_LinReg.scala
  scripts/databricks/demo.dml
  scripts/databricks/deploy.sh
Due: none

Trim Databricks demos to the Delta pipeline and read demo.dml from storage
  scripts/databricks/.env.example
  scripts/databricks/README.md
  scripts/databricks/SystemDS_Python_Demo.py
  scripts/databricks/SystemDS_vs_SparkML_LinReg.scala
  scripts/databricks/demo.dml
  scripts/databricks/deploy.sh
Due: none

Added sgd test with checker
  src/test/scripts/applications/nn/component/optim/optim_check.dml
  src/test/scripts/applications/nn/component/optim/sgd.dml
Due: none

Fix correctness bugs in compressed binary column-vector sparse path
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
Due: runtime, compress

[SYSTEMDS-3949] Add native Delta Lake matrix read/write via Delta Kernel
  .github/workflows/javaTests.yml
  pom.xml
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/conf/ConfigurationManager.java
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/parser/DataExpression.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/main/java/org/apache/sysds/runtime/io/MatrixReaderFactory.java
  src/main/java/org/apache/sysds/runtime/io/MatrixWriterFactory.java
  src/main/java/org/apache/sysds/runtime/io/ReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/ReaderDeltaParallel.java
  src/main/java/org/apache/sysds/runtime/io/WriterDelta.java
  src/test/java/org/apache/sysds/test/component/io/DeltaMatrixReadWriteTest.java
  src/test/java/org/apache/sysds/test/functions/io/delta/DeltaReadWriteTest.java
  src/test/scripts/functions/io/delta/DeltaReadCompare.dml
  src/test/scripts/functions/io/delta/DeltaWrite.dml
Due: runtime, compiler, util

Reference-count shared Spark context to prevent concurrent shutdown
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/SparkExecutionContext.java
  src/test/java/org/apache/sysds/test/component/context/SparkContextReferenceCountTest.java
Due: runtime, util

Harden Delta parallel matrix reader against bad row stats and slow nnz
  src/main/java/org/apache/sysds/runtime/io/ReaderDeltaParallel.java
Due: runtime

Add tests for compressed solve and non-SDC sparse decompress branches
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibBinaryCellOpCustomTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CompressedBinaryMatrixMatrixSolveTest.java
Due: none

[MINOR] Reference-count shared Spark context to prevent concurrent shutdown (#2516)
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/SparkExecutionContext.java
  src/test/java/org/apache/sysds/test/component/context/SparkContextReferenceCountTest.java
Due: runtime, util

add missing glm_fit replacment
  scripts/algorithms/TestBuiltinStepGLM.dml
  scripts/builtin/stepGLM.dml
Due: none

edit test script
  scripts/algorithms/TestBuiltinStepGLM.dml
Due: none

Added sgd_momentum test
  dev/checkstyle/suppressions.xml
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimTest.java
  src/test/scripts/applications/nn/component/optim/sgd_momentum.dml
Due: none

[BWARE] Restructure CLALibBinaryCellOp and decompression fallbacks (#2519)
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryMatrixMatrixCPInstruction.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibBinaryCellOpCustomTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CompressedBinaryMatrixMatrixSolveTest.java
Due: runtime, compress

Add Delta cross-engine interop and error-path matrix tests
  pom.xml
  src/test/java/org/apache/sysds/test/component/io/DeltaMatrixCoverageTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaMatrixSparkInteropTest.java
Due: none

"added support for covariance"
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CovarianceOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceWeightsTest.java
  src/test/scripts/functions/ooc/Covariance.dml
  src/test/scripts/functions/ooc/CovarianceWeights.dml
Due: runtime

[SYSTEMDS-3949] Add native Delta Lake matrix read/write via Delta Kernel (#2511)
  .github/workflows/javaTests.yml
  pom.xml
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/conf/ConfigurationManager.java
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/parser/DataExpression.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/main/java/org/apache/sysds/runtime/io/MatrixReaderFactory.java
  src/main/java/org/apache/sysds/runtime/io/MatrixWriterFactory.java
  src/main/java/org/apache/sysds/runtime/io/ReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/ReaderDeltaParallel.java
  src/main/java/org/apache/sysds/runtime/io/WriterDelta.java
  src/test/java/org/apache/sysds/test/component/io/DeltaMatrixCoverageTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaMatrixReadWriteTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaMatrixSparkInteropTest.java
  src/test/java/org/apache/sysds/test/functions/io/delta/DeltaReadWriteTest.java
  src/test/scripts/functions/io/delta/DeltaReadCompare.dml
  src/test/scripts/functions/io/delta/DeltaWrite.dml
Due: runtime, compiler, util

[SYSTEMDS-3949] Add native Delta Lake frame read/write via Delta Kernel
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderFactory.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterFactory.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadWriteTest.java
  src/test/java/org/apache/sysds/test/functions/io/delta/FrameDeltaReadWriteTest.java
  src/test/scripts/functions/io/delta/FrameDeltaReadCompare.dml
  src/test/scripts/functions/io/delta/FrameDeltaWrite.dml
Due: runtime

Size native Delta data files adaptively for parallel reads
  src/main/java/org/apache/sysds/conf/ConfigurationManager.java
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterDelta.java
  src/main/java/org/apache/sysds/runtime/io/WriterDelta.java
Due: runtime, util

fix(test/functions/io/ScalarIOTest.java): add asserts for validating the test success uncomment some checks for correct results
  src/test/java/org/apache/sysds/test/functions/io/ScalarIOTest.java
Due: none

Add QuantizedData holder class
  src/main/java/org/apache/sysds/runtime/compress/Quantization/QuantizedData.java
Due: runtime, compress

Add ProbabilisticQuantizationCompressor implementation
  src/main/java/org/apache/sysds/runtime/compress/Quantization/ProbabilisticQuantizationCompressor.java
Due: runtime, compress

Add CompressionConfig builder
  src/main/java/org/apache/sysds/runtime/compress/CompressionConfig.java
Due: runtime, compress

[MINOR][TEST] Add Asserts to ScalarIOTest for Result Validation (#2522)
  src/test/java/org/apache/sysds/test/functions/io/ScalarIOTest.java
Due: none

Add CompressionFactory with PassthroughCompressor
  src/main/java/org/apache/sysds/runtime/compress/CompressionFactory.java
Due: runtime, compress

Add TopKCompressorTest - 9 tests passing
  src/test/java/org/apache/sysds/runtime/compress/TopK/TopKCompressorTest.java
Due: none

fix(test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java): check if the mm chain was rewritten with respect to sparsity by checking for the respective keyword in the trace log
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: none

feat(main/hops/estim/MMNode.java): add constructor to create a MMNode leaf with its metadata only change predicate method to check whether it is a leaf accordingly
  src/main/java/org/apache/sysds/hops/estim/MMNode.java
Due: compiler

Add ProbabilisticQuantizationCompressorTest
  src/test/java/org/apache/sysds/runtime/compress/Quantization/ProbabilisticQuantizationCompressorTest.java
Due: none

Add GitHub Actions CI/CD workflow for compression tests
  .github/workflows/compression-tests.yml
Due: none

Integrate compression into FederationMap broadcast
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
Due: runtime

Fix deprecated upload-artifact v3 -> v4
  .github/workflows/compression-tests.yml
Due: none

Account for object overhead in parallel unique memory guard
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
Due: runtime, matrix

add license to TestBuiltinStepGLM.dml
  scripts/algorithms/TestBuiltinStepGLM.dml
Due: none

rmsprop
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimTest.java
  src/test/scripts/applications/nn/component/optim/rmsprop.dml
Due: none

add fine grained window operators
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

recompute nnz
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReshapeOOCInstruction.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
