Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Fix Formatting
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCIOHandler.java
Due: runtime

Fix Formatting
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/TaskContext.java
Due: runtime

[SYSTEMDS-3891] OOC New Primitives, Performance Improvements, Add Support For Grouped Tiles
  src/main/java/org/apache/sysds/hops/ipa/IPAPassInjectOOCTee.java
  src/main/java/org/apache/sysds/hops/ipa/IPAPassPruneUnreachableHops.java
  src/main/java/org/apache/sysds/hops/ipa/InterProceduralAnalysis.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/FunctionCallCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MapMMChainOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/io/MatrixWriter.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlockParallel.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/BlockEntry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/GroupedBlockKey.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStreamable.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SplittingOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SubOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/TaskContext.java
  src/main/java/org/apache/sysds/utils/Statistics.java
  src/test/java/org/apache/sysds/test/functions/ooc/BinaryWritePartitioningTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/CSVReaderTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/LmCGTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/PNMFTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/SplitMergeOOCStreamTest.java
  src/test/scripts/functions/ooc/PNMF.dml
Due: runtime, compiler, util

add initial stats for modalities
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/utils/memory_utility.py
Due: none

add text rep memory estimation
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/frequency_representation.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

add output shape for text reps
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/video_context.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

include context operations in output shapes
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
Due: none

better logging
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/cost/CostEstimator.java
  src/main/java/org/apache/sysds/hops/cost/CostEstimatorStaticRuntime.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/ParamServer.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/InitFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/io/MatrixReaderFactory.java
  src/main/java/org/apache/sysds/runtime/lineage/LineageRewriteReuse.java
  src/main/java/org/apache/sysds/runtime/matrix/data/sketch/countdistinctapprox/KMVSketch.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/main/java/org/apache/sysds/utils/ParameterizedLogger.java
  src/test/java/org/apache/sysds/test/component/utils/ParameterizedLoggerTest.java
Due: runtime, matrix, compress, compiler, util

refactor from isInfoEnabled to the new logging util
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/FederatedPSControlThread.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/ParamServer.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CompressionCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParamservBuiltinCPInstruction.java
Due: runtime, compiler, util

reverted changes in unused files
  src/main/java/org/apache/sysds/hops/cost/CostEstimator.java
  src/main/java/org/apache/sysds/hops/cost/CostEstimatorStaticRuntime.java
Due: compiler

minor
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
Due: runtime

code style
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
Due: runtime

add scheduler for dag groups
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/drsearch/dag_group_scheduler.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/utils/memory_utility.py
Due: none

added OOC cbind
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AppendOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CBindTest.java
  src/test/scripts/functions/ooc/CBindTest.dml
Due: runtime

minor fix + new test
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AppendOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CBindTest.java
Due: runtime

Fix: Handle GroupQueueCallbacks to Avoid Miscounts
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/test/java/org/apache/sysds/test/functions/ooc/CBindTest.java
Due: runtime

change memory estimations
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/drsearch/dag_group_scheduler.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/color_histogram.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/utils/memory_utility.py
  src/main/python/systemds/scuro/utils/static_variables.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
Due: none

[SYSTEMDS-3775] Improved test coverage sparse blocks and various fixes
  src/main/java/org/apache/sysds/runtime/data/SparseBlock.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCOO.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockDCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockFactory.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseRowVector.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockAlignment.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCheckValidityTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockColTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCompactTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockContainsTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockEqualsTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockInitializationTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockIterator.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseRowTest.java
Due: runtime, matrix

fix clip
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/clip.py
Due: none

Minor Fixes
  docs/site/install.md
  docs/site/quickstart_extended.md
  docs/site/release_install.md
  docs/site/run.md
Due: none

[SYSTEMDS-3331] Documentation Cleanup of Quickstart Guide
  docs/site/install.md
  docs/site/quickstart_extended.md
  docs/site/release_install.md
  docs/site/run.md
Due: none

[MINOR] Documentation Fixes
  docs/index.md
  docs/site/install.md
  docs/site/quickstart_extended.md
  docs/site/release_install.md
  docs/site/run.md
  docs/site/source_install.md
Due: none

[MINOR] Documentation Fixes (#2440)
  docs/index.md
  docs/site/install.md
  docs/site/quickstart_extended.md
  docs/site/release_install.md
  docs/site/run.md
  docs/site/source_install.md
Due: none

[MINOR] Documentation Improvements
  docs/site/release_install.md
  docs/site/source_install.md
Due: none

KMeans Support Performance Improvements Bugfixes
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/api/ScriptExecutorUtils.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/lops/Lop.java
  src/main/java/org/apache/sysds/runtime/controlprogram/ParForProgramBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/ProgramBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/opt/CostEstimatorHops.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/opt/OptTreeConverter.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/FunctionCallCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/IndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MMultOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MapMMChainOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCWatchdog.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/BlockEntry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/stats/OOCEventLog.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/util/ProgramConverter.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/BlockEntryTestAccess.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCLRUCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedReadOOCIOHandlerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/KMeansTest.java
  src/test/scripts/functions/ooc/KMeans.dml
Due: runtime, compiler, util

add: CompressionType and ColGroupType PiecewiseLinear
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
Due: runtime, compress

add: second compression Method
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
Due: runtime, compress

fix: rename second compression Method
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
Due: runtime, compress

add: second compression method
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
Due: runtime, compress

add: computing methods and operations
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

wip: removed Test, used more on random generated matrices, add new ones
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: none

change dag group opt to node level opt
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/ranking.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/representation_dag_visualizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/x3d.py
  src/main/python/systemds/scuro/utils/memory_utility.py
Due: none

[DPSizeRewrite] - First Test Cases as DML Script
  src/test/scripts/MatrixChainOperations/test1.dml
  src/test/scripts/MatrixChainOperations/test2.dml
  src/test/scripts/MatrixChainOperations/test3.dml
  src/test/scripts/MatrixChainOperations/test4.dml
  src/test/scripts/MatrixChainOperations/test5.dml
Due: none

parameterised tests + bugfixes
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AppendOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlock.java
  src/main/java/org/apache/sysds/runtime/io/WriterBinaryBlockParallel.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/functions/ooc/CBindTest.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
