Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

feat: Optimizations for row and col ifelse
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixTercell.java
Due: runtime, matrix

fix: Typos
  src/test/java/org/apache/sysds/test/functions/ternary/FullIfElseTest.java
Due: none

[OOC] Add OOC Primitives
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCAccessPattern.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/AllocatedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/FilteredOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SplittingOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SubOOCStream.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

[SYSTEMDS-3891] Add OOC Primitives
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCAccessPattern.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/AllocatedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/FilteredOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SplittingOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SubOOCStream.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

[OOC] Add OOC Planner and First Primitive Implementations
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCPlanner.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MappingOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/PlannableDataGenOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/TransposeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

[SYSTEMDS-3922] Fix distributed (SPARK/FED) quantile pick instruction
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuantilePickFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/QuantilePickSPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/binary/matrix/QuantileTest.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedQuantileTest.java
  src/test/scripts/functions/binary/matrix/MedianBug.R
  src/test/scripts/functions/binary/matrix/MedianBug.dml
Due: runtime, matrix

[SYSTEMDS-3891] Add OOC Planner and First Primitive Implementations
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCPlanner.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MappingOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/PlannableDataGenOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/TransposeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

[OOC] Wire First Reworked OOC Primitives
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CtableOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MappingOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/TransposeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

fix(runtime/matrix/data/MatrixBlock.java): use the average parameter when picking multiple values for quantile computation
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/binary/matrix/QuantileTest.java
  src/test/scripts/functions/binary/matrix/QuartileArray.R
  src/test/scripts/functions/binary/matrix/QuartileArray.dml
Due: runtime, matrix

chore(test/functions/binary/matrix/QuantileTest.java): ignore the quartile test cases since they still fail due to the second issue reported in SYSTEMDS-3953
  src/test/java/org/apache/sysds/test/functions/binary/matrix/QuantileTest.java
Due: none

[OOC] Bugfix
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: none

[SYSTEMDS-3891] Wire First Reworked OOC Primitives
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CtableOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MappingOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/TransposeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

[OOC] Wire JoinOOCPrimitive
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/JoinOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

Checkstyle fix
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler

Add missing licenses
  benchmark/scripts/collect_results.py
  benchmark/scripts/eval.dml
  benchmark/scripts/fedavg_dp.dml
  benchmark/scripts/plot.py
  benchmark/scripts/prepare_data.py
  benchmark/scripts/run_benchmark.sh
  benchmark/scripts/run_sweep.sh
  benchmark/scripts/start_workers.sh
  benchmark/scripts/stop_workers.sh
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

[SYSTEMDS-3891] Wire JoinOOCPrimitive (#2566)
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/JoinOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

More checkstyle fixes
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: compiler, util

Add missing break. Fixes test
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

chore(runtime/matrix/data/MatrixBlock.java): minor formatting
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/binary/matrix/QuantileTest.java
Due: runtime, matrix

chore(test/functions/federated/primitives/FederatedQuantileTest.java): ignore the test case calling the quantile function with an array of percentiles and refer to SystemDS-3953
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedQuantileTest.java
Due: none

Revert "chore(test/functions/federated/primitives/FederatedQuantileTest.java): ignore the test case calling the quantile function with an array of percentiles and refer to SystemDS-3953"
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedQuantileTest.java
Due: none

[SYSTEMDS-3946] Streaming codec routing, chunk tuning, tests, review fixes
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkEncoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkProtocol.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedFormatDecoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedFormatEncoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedResponse.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedChunkCodecTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedFormatRoutingTest.java
  src/test/java/org/apache/sysds/test/functions/federated/network/FederatedMaxPayloadTest.java
Due: runtime

[SYSTEMDS-3953] Add test case for array percentiles as argument for the quantile function NOTE: the tests address the corresponding jira issue and are ignored for now
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/binary/matrix/QuantileTest.java
  src/test/scripts/functions/binary/matrix/QuartileArray.R
  src/test/scripts/functions/binary/matrix/QuartileArray.dml
Due: runtime, matrix

feat(main/hops/estim/MMNode.java): add constructor to create a MMNode leaf with its metadata only change predicate method to check whether it is a leaf accordingly
  src/main/java/org/apache/sysds/hops/estim/MMNode.java
Due: compiler

refactor(main/hops/rewrite/RewriteMatrixMultChainOptimization.java): apply proper codestyle
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: compiler

chore(test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java): apply codestyle
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: none

fix(test/functions/rewrite/RewriteMatrixMultChainOptSparseTest): add tighter checks for correct rewrites based on sparsity estimates
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: compiler

fix(test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java): capture and validate the log output to remove the necessity of having a console print in the code
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: compiler

fix(test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java): check if the mm chain was rewritten with respect to sparsity by checking for the respective keyword in the trace log
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: none

[SYSTEMDS-2525] Fix sparsity rewrites by switching the MNC estimator to the metadata average estimator
  src/main/java/org/apache/sysds/hops/estim/MMNode.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriteStatus.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: compiler

Add MatrixCompressor interface
  src/main/java/org/apache/sysds/runtime/compress/MatrixCompressor.java
Due: runtime, compress

Add CompressionException and DecompressionException
  src/main/java/org/apache/sysds/runtime/compress/exceptions/CompressionException.java
  src/main/java/org/apache/sysds/runtime/compress/exceptions/DecompressionException.java
Due: runtime, compress

Add CompressedMatrix container class
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrix.java
Due: runtime, compress

Add CompressionType enum
  src/main/java/org/apache/sysds/runtime/compress/CompressionType.java
Due: runtime, compress

Fix MatrixBlock API: setValue -> set in TopKCompressor
  src/main/java/org/apache/sysds/runtime/compress/TopK/TopKCompressor.java
Due: runtime, compress

Add TopKCompressor implementation
  src/main/java/org/apache/sysds/runtime/compress/TopK/TopKCompressor.java
Due: runtime, compress

Fix deprecated upload-artifact v3 -> v4
  .github/workflows/compression-tests.yml
Due: none

Address code review feedback from David (ywcb00)
  .github/workflows/compression-tests.yml
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressedMatrix.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionConfig.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionFactory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionType.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/MatrixCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/Quantization/ProbabilisticQuantizationCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/Quantization/QuantizedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/TopK/TopKCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/TopK/TopKData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/exceptions/CompressionException.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/exceptions/DecompressionException.java
  src/test/java/org/apache/sysds/test/functions/federated/io/ProbabilisticQuantizationCompressorTest.java
  src/test/java/org/apache/sysds/test/functions/federated/io/TopKCompressorTest.java
Due: runtime, util

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
