Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3896] Leverage SIMD Vector API for Counting NNZ
  src/main/java/org/apache/sysds/runtime/util/UtilFunctions.java
Due: runtime

[SYSTEMDS-3896] Improved SIMD Vectorized Counting NNZ
  src/main/java/org/apache/sysds/runtime/util/UtilFunctions.java
Due: runtime

[SYSTEMDS-3790] Improvements of cost-based federated planner
  src/main/java/org/apache/sysds/hops/fedplanner/FTypes.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedCostBased.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerLogger.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/meta/MetaDataAll.java
  src/main/java/org/apache/sysds/runtime/util/HDFSTool.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanVisualizer.py
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedDynamicPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedKMeansPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedL2SVMPlanningTest.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest11.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest12.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest13.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest8.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest9.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedCNNPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedCNNPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedFNNPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedFNNPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLeNetPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLeNetPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLinearRegressionPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLinearRegressionPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLogisticRegressionPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLogisticRegressionPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedPCAPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedPCAPlanningTestReference.dml
Due: runtime, compiler

little improvement
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

minor optimizations with the sparse row checks and correct mistake in Unary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNode.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Unary.java
Due: compiler

[MINOR] Fix old tests with redundant writes of inputs files
  src/test/java/org/apache/sysds/test/functions/binary/matrix/ElementwiseAdditionMultiplicationTest.java
Due: none

start implementing tests for cudaSupportFunctions
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasGeamTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrGemmTest.java
  src/test/scripts/gpu/cudaSupportFunctions/CudaCublasGeam.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaCublasGeam.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaCusparseCsrGemm.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaCusparseCsrGemm.dml
Due: none

add checkGPU() to TestUtils to run before class
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasGeamTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrGemmTest.java
Due: none

add test for matrix-vector multiply for GPU
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrMVTest.java
  src/test/scripts/gpu/cudaSupportFunctions/CudaCusparseCsrMV.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaCusparseCsrMV.dml
Due: none

add test for cusparsecsrmm2
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrMMTest.java
  src/test/scripts/gpu/cudaSupportFunctions/CudaCusparseCsrMM.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaCusparseCsrMM.dml
Due: none

update hops and lops to handle multi-threading
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/lops/Transform.java
Due: compiler

update CP instruction parse
  src/main/java/org/apache/sysds/runtime/instructions/cp/ReorgCPInstruction.java
Due: runtime

choose multi-threading based on the input sizes
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ReorgCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/functions/reorg/FullReverseTest.java
Due: runtime, matrix, compiler

address review comments
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/main/java/org/apache/sysds/runtime/matrix/data/TestMultiThreadedRev.java
Due: runtime, matrix, compiler

address review comments part1
  src/main/java/org/apache/sysds/hops/ReorgOp.java
Due: compiler

Bug fixes and replace decoder
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

add vectMult for scalar-vector
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/test/java/org/apache/sysds/test/component/codegen/CPlanVectorPrimitivesTest.java
Due: runtime

minor changes
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
  src/test/scripts/functions/codegen/rowAggPattern49.dml
Due: compiler

due to DMLScript.SPARSE_INTERMEDIATE getting checked inside getTemplateType() method, the other else clause can be deleted
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
Due: compiler

make Ternary.java be able to process STMP sparse inputs
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeTernary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Ternary.java
Due: compiler

add testing for cublasDot
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasDotTest.java
  src/test/scripts/gpu/cudaSupportFunctions/CudaCublasDot.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaCublasDot.dml
Due: none

add test for cublasgemv
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasGeMVTest.java
  src/test/scripts/gpu/cudaSupportFunctions/CudaCublasGeMV.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaCublasGeMV.dml
Due: none

restructure scripts
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasDotTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasGeMVTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasGeamTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCublasGemmTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrGemmTest.java
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrMMTest.java
  src/test/scripts/gpu/cudaSupportFunctions/CudaCublasDot.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaCublasGeMV.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaCublasGeMV.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaCusparseCsrGemm.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsDot.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsDot.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsGeam.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsGeam.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsMM.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsMM.dml
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsMV.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsMV.dml
Due: none

refactor nn
  src/test/java/org/apache/sysds/test/gpu/nn/DNNOperationsGPUTest.java
Due: none

change test
  src/test/scripts/functions/codegen/rowAggPattern49.R
  src/test/scripts/functions/codegen/rowAggPattern49.dml
Due: none

[MINOR] test that logger setup for DEBUG is not working
  src/main/python/tests/basics/test_context_creation.py
Due: none

debug pow primitive
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

[MINOR] PythonAPI: Fix for correct logging setup for debug
  src/main/python/systemds/context/systemds_context.py
Due: none

[MINOR] PythonAPI: Fix for correct logging setup for debug
  src/main/python/systemds/context/systemds_context.py
  src/main/python/tests/basics/test_context_creation.py
Due: none

added missing doc string
  src/main/python/systemds/context/systemds_context.py
Due: none

fixed formatting
  src/main/python/tests/basics/test_context_creation.py
Due: none

change worst case flag
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
Due: compiler

add test for cupsrasecsr2csc via transpose operation
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsr2CscTest.java
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsTranspose.R
  src/test/scripts/gpu/cudaSupportFunctions/CudaSupportFunctionsTranspose.dml
Due: none

add test for cusparsecsrgeam
  src/test/java/org/apache/sysds/test/gpu/cudaSupportFunctions/CudaCusparseCsrGeamTest.java
Due: none

adjust SparseRowVector allocation
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/main/java/org/apache/sysds/runtime/codegen/SpoofRowwise.java
Due: runtime

[SYSTEMDS-3730] Multi-threaded reverse operations
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/lops/Transform.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ReorgCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/functions/reorg/FullReverseTest.java
Due: runtime, matrix, compiler
