Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

add SparseRow tests
  src/main/java/org/apache/sysds/runtime/data/SparseRowVector.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseRowTest.java
Due: runtime

add SparseBlock initialization tests
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockDCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCheckValidityTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockInitializationTest.java
Due: runtime

add SparseBlockFactory tests
  src/main/java/org/apache/sysds/runtime/data/SparseBlockFactory.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockInitializationTest.java
Due: runtime

add SparseBlock col tests
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockColTest.java
Due: runtime

extend SparseBlock initialization tests
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSC.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockInitializationTest.java
Due: runtime

add SparseBlock compact functionality and corresponding tests + fix SparseBlock DCSR checkValidity
  src/main/java/org/apache/sysds/runtime/data/SparseBlock.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCOO.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockDCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSR.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCheckValidityTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCompactTest.java
Due: runtime

extend SparseBlock checkValidity tests
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCOO.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockDCSR.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCheckValidityTest.java
Due: runtime

add SparseBlock tests
  src/main/java/org/apache/sysds/runtime/data/SparseBlock.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockAlignment.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockContainsTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockEqualsTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockIterator.java
Due: runtime

add SparseBlock checkValidity tests
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCOO.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockDCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockMCSR.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCheckValidityTest.java
Due: runtime

minor fixes
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockAlignment.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockColTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCompactTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockEqualsTest.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseRowTest.java
Due: none

updated checkValidity tests
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCheckValidityTest.java
Due: none

fix check validity correct array lengths
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCOO.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSC.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockCSR.java
  src/main/java/org/apache/sysds/runtime/data/SparseBlockDCSR.java
  src/test/java/org/apache/sysds/test/component/sparse/SparseBlockCheckValidityTest.java
Due: runtime

[SYSTEMDS-3876] adjust config file override structure for MatrixMultiplyTest
  src/test/config/component/matrix/nativeBLAS/SystemDS-config-MKL.xml
  src/test/config/component/matrix/nativeBLAS/SystemDS-config-OpenBLAS.xml
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
  src/test/java/org/apache/sysds/test/component/matrix/nativeBLAS/MatrixMultiplyMKLTest.java
  src/test/java/org/apache/sysds/test/component/matrix/nativeBLAS/MatrixMultiplyOpenBLASTest.java
  src/test/scripts/component/matrix/SystemDS-config.xml
Due: none

[SYSTEMDS-3876] add native instruction tests for Conv2DTest
  src/test/config/SystemDS-config-MKL.xml
  src/test/config/SystemDS-config-OpenBLAS.xml
  src/test/java/org/apache/sysds/test/component/matrix/nativeBLAS/MatrixMultiplyMKLTest.java
  src/test/java/org/apache/sysds/test/component/matrix/nativeBLAS/MatrixMultiplyOpenBLASTest.java
  src/test/java/org/apache/sysds/test/functions/dnn/nativeBLAS/Conv2DMKLTest.java
  src/test/java/org/apache/sysds/test/functions/dnn/nativeBLAS/Conv2DOpenBLASTest.java
  src/test/scripts/functions/dnn/nativeBLAS/Conv2DTest/expectedInstances/B
Due: none

shell run_script working as expected. docker compose version not working.
  scripts/staging/ssb/Dockerfile
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/docker-compose.yaml
  scripts/staging/ssb/run_script.sh
  scripts/staging/ssb/test_scripts/Dockerfile
  scripts/staging/ssb/test_scripts/docker-compose.yaml
Due: none

[MINOR][SYSTEMDS-3878] Fix additional medium-severity CVEs in transitive dependencies
  docker/scout_results/medium-cves/sysds_output11.md
  pom.xml
Due: none

add chunked execution to unimodal optimizer
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/unimodal.py
Due: none

formatting
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/algorithms/test_cov.py
  src/main/python/tests/algorithms/test_solve.py
  src/main/python/tests/matrix/test_unique.py
Due: none

[SYSTEMDS-3940] Add chunked execution to unimodal optimizer
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/unimodal.py
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/algorithms/test_cov.py
  src/main/python/tests/algorithms/test_solve.py
  src/main/python/tests/matrix/test_unique.py
Due: none

[SYSTEMDS-3876] add MKL-DNN installation to testing docker image
  .gitignore
  docker/testsysds.Dockerfile
Due: none

[SYSTEMDS-3779] Added benchmark 'tests' with helpers for DDCLZW vs DDC
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWBenchmark.java
Due: none

Docker script works for a selected query, but not all at once,
  scripts/staging/ssb/Dockerfile
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/docker-compose.yaml
  scripts/staging/ssb/run_script.sh
Due: none

[SYSTEMDS-3168] Optimize matrix multiplication for transposed inputs
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedPerformanceTest.java
Due: runtime, matrix

[MINOR][SYSTEMDS-3878] Fix additional medium-severity CVEs in transitive dependencies
  docker/scout_results/medium-cves/sysds_output12.md
  pom.xml
Due: none

[MINOR][SYSTEMDS-3878] Fix additional medium-severity CVEs in transitive dependencies
  docker/scout_results/medium-cves/sysds_output13.md
  pom.xml
Due: none

[MINOR] Removed unnessecary imports and * imports. Reformated DDCLZWScheme according to guidelines.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWScheme.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeMC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeSC.java
Due: runtime, compress

[MINOR] Added License to DDCLZWScheme.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWScheme.java
Due: runtime, compress

Update
  src/test/java/org/apache/sysds/test/component/tensor/PermuteTest.java
Due: none

Updated version. TODO bind duckdb. And solve other TODOs in the shell scripts.
  scripts/staging/ssb/Dockerfile
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/docker-compose.yaml
  scripts/staging/ssb/other/dia_ssb_script_structure1.jpg
  scripts/staging/ssb/other/ssb_init.sql
  scripts/staging/ssb/other_docker_compose/Dockerfile
  scripts/staging/ssb/other_docker_compose/docker-compose.yaml
  scripts/staging/ssb/run_script.sh
  scripts/staging/ssb/shell/run_script.sh
Due: none

[MINOR][SYSTEMDS-3878] Fix additional medium-severity CVEs in transitive dependencies
  docker/scout_results/medium-cves/sysds_output14.md
  pom.xml
Due: none

[MINOR][SYSTEMDS-3878] Fix additional medium-severity CVEs in transitive dependencies
  docker/scout_results/medium-cves/sysds_output15-1.md
  pom.xml
Due: none

Corrected postgres part. TODO bind duckdb.
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/shell/run_script.sh
Due: none

[MINOR][SYSTEMDS-3878] Fix additional critical-severity CVE in transitive dependencies
  docker/scout_results/ionetty-netty/sysds_output16.md
  docker/systemds-3878_summary-of-changes.md
  pom.xml
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
Due: runtime, compress

wip:SYSTEMDS-3543
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/test/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

[SYSTEMDS-3876] use Intel MKL version 2018.0.0 for testing docker image
  docker/testsysds.Dockerfile
Due: none

Meine lokalen Änderungen
  bin/systemds-standalone.sh
  pom.xml
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupFactoryTest.java
  use-java17-systemds.sh
Due: runtime, compress

[SYSTEMDS-3779] Introduce DDCLZW as a new ColGroup type and integrate it into the compression pipeline and serialization framework.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

wip: test
  src/test/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: none

fix: add -i when generating coverage
  .github/workflows/python.yml
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
