Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Set gaussian
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
Due: runtime, matrix

Add instructions on how to use the cuda version to the staging folder
  scripts/staging/cuda-counter-based-prng/PhiloxJNvrtcExample.java
  scripts/staging/cuda-counter-based-prng/PhiloxRuntimeCompilationExample.java
  scripts/staging/cuda-counter-based-prng/kernel.cu
  scripts/staging/cuda-counter-based-prng/philox_kernel.ptx
  scripts/staging/cuda-counter-based-prng/pom.xml
  scripts/staging/cuda-counter-based-prng/readme.md
Due: none

Set bareiss algorithm as strategy
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
Due: runtime, matrix, compiler

Switching back to LU decomposition, because of further tests
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
Due: runtime, matrix

Disable all (knowingly) failing tests
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterNormalFormTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleCreationTests.java
Due: none

Logging via log4j
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterHeuristic.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterHeuristics.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterNormalFormTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterTopologySortTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/AssertionTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeExecutionTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeGenConditionTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CodeGenTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/CostEstimates.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/DMLCodeGenTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/MinimalDifference.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RewriterSearchUtilsTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleCreationTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/RuleSerializationTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/SparsityEstimationTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/SubtreeGeneratorTest.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/functions/TestRuleSet.java
Due: compiler

Some more bugfixes
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/TopologicalSort.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterSearchUtils.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
Due: compiler

Bugfix
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

Disable Logs
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterNormalFormTests.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: none

Remove debug log
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
Due: compiler

Various small bugfixes
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

Bugfix
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterHeuristics.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleCollection.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: compiler

[SYSTEMDS-3704] prepare branch for pull request
  scripts/builtin/decisionTree.dml
  src/main/java/org/apache/sysds/lops/compile/linearization/IDagLinearizerFactory.java
Due: compiler

implement denseColProd and denseRowProd. Sparsity not yet fully implemented and tested
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

set PROD as supported ROW and COL aggregation functions so that hops and lops can be turned into SpoofFused operators
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateCell.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
Due: compiler

correct function
  src/test/scripts/functions/codegen/cellwisetmpl29.R
Due: none

Update RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
Due: compiler

Update MetaPropagator.java
  src/main/java/org/apache/sysds/hops/rewriter/MetaPropagator.java
Due: compiler

Update ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
Due: compiler

Code Cleanup
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/RewriterUtils.java
Due: compiler

Revert change from OptUtils
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
Due: compiler

Some more cleanup
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/codegen/RewriterCodeGen.java
  src/main/java/org/apache/sysds/hops/rewriter/generated/GeneratedRewriteClass.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleSet.java
Due: compiler

Cleanup
  src/main/java/org/apache/sysds/utils/stats/NGramBuilder.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
Due: util

Revert changes in ApplyTransformTest
  src/test/java/org/apache/sysds/test/applications/ApplyTransformTest.java
Due: none

Remove Legacy Test
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterStreamTests.java
Due: none

[SYSTEMDS-3818] Fix parsing of indexing operations (scalar datatype)
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/test/scripts/functions/rewrite/RewriteNonScalarPrint.dml
Due: compiler

Add Co-occurrence matrix for GloVe word embedding
  scripts/builtin/cooccur.dml
Due: none

add GloVe implementation
  scripts/builtin/glove.dml
Due: none

[SYSTEMDS-3548] Black format test_io_pandas_systemds.py
  src/main/python/tests/iotests/test_io_pandas_systemds.py
Due: none

[SYSTEMDS-???] de-compressing Transpose
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReorg.java
Due: runtime, compress

move the comments to more appropriate locations
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReorg.java
Due: runtime, compress

Update README.md
  src/main/python/[SYSTEMDS-3191] Entity Resolution for Plagiarism Detection/README.md
Due: none

Minor fixes for documentation and legacy test removal
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
  src/test/java/org/apache/sysds/test/component/codegen/rewrite/RewriterTopologySortTests.java
Due: compiler

Documentation fix
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
Due: compiler

minor fixes + added another test
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/TransposeInPlaceBrennerTest.java
Due: runtime, matrix

fix lnnz value
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

computeNonZeros for column aggregations
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
