Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

keynull
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/FloatArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
Due: runtime, frame

again
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

resizing
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
Due: runtime, frame

fix cast to Integer
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
Due: runtime, frame

inverse
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
Due: runtime, frame

remove Integer.valueOf
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

... that was stupid
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
Due: runtime, frame

fix resize to correctly reflect size
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformCompressedTestSingleCol.java
Due: runtime, frame

remove imports
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

fix column offsets
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformCompressedTestMultiCol.java
Due: runtime, frame

correct character array memory
  src/main/java/org/apache/sysds/runtime/frame/data/columns/CharArray.java
Due: runtime, frame

transform full perf
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: none

reduce
  src/test/java/org/apache/sysds/performance/compression/APerfTest.java
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: none

repeat passthrough
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: none

transform revert to cover all
  src/test/java/org/apache/sysds/performance/frame/Transform.java
Due: none

adding missing license header
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteNonScalarPrintTest.java
Due: none

[SYSTEMDS-3815] Fused table sequence
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixTable.java
Due: runtime, matrix

merge files from Java17V5
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTable.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/lib/SeqTableTest.java
  src/test/java/org/apache/sysds/test/component/matrix/SeqTableTest.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/wordEmbeddingUseCase.java
  src/test/scripts/functions/compress/table/CompressedTableOverwriteTest/01.dml
  src/test/scripts/functions/compress/wordembedding/01.dml
Due: runtime, matrix, compress, compiler

fix compile issue
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/wordEmbeddingUseCase.java
Due: none

Fix syntax error
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

Cleanup of implementation
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnaryMatrixCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
Due: runtime, matrix, compiler

changed det to registrate as scalar output function
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnaryMatrixCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/CholeskyTest.java
Due: runtime, matrix, compiler, util

Fix issue with test
  src/test/java/org/apache/sysds/test/functions/unary/matrix/DetTest.java
  src/test/scripts/functions/unary/matrix/DetTest.R
  src/test/scripts/functions/unary/matrix/DetTest.dml
Due: none

det calculation in libCommonsMath
  src/main/java/org/apache/sysds/resource/cost/CPCostUtils.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/test/scripts/functions/unary/matrix/DetTest.dml
Due: runtime, matrix, util

Implementation of Bareiss algorithm
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
Due: runtime, matrix

registered and built local computation of det function with passing 4 tests out of 9
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/DetTest.java
  src/test/scripts/functions/unary/matrix/DetTest.R
  src/test/scripts/functions/unary/matrix/DetTest.dml
Due: runtime, matrix, compiler

Java tests for determinants
  src/test/java/org/apache/sysds/test/functions/unary/matrix/DetTest.java
  src/test/scripts/functions/unary/matrix/DetTest.R
  src/test/scripts/functions/unary/matrix/DetTest.dml
Due: none

[SYSTEMDS-3816] Fix missing removal of list crc files in local FS
  src/main/java/org/apache/sysds/runtime/io/ListWriter.java
  src/test/java/org/apache/sysds/test/functions/io/ReadWriteListTest.java
Due: runtime

[SYSTEMDS-3258] Builtin for matrix square root (multiple strategies)
  scripts/builtin/sqrtMatrix.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSQRTMatrixTest.java
  src/test/scripts/functions/builtin/SQRTMatrix.dml
Due: runtime, matrix, compiler, util

[skip ci] updates
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
  src/test/java/org/apache/sysds/test/component/compress/lib/SeqTableTest.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/WordEmbeddingUseCase.java
Due: runtime, compiler

revert to allocate sequence temporarily
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReshape.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ReshapeCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/WordEmbeddingUseCase.java
Due: runtime, compress, compiler

decompress if need be
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTable.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/WordEmbeddingUseCase.java
Due: runtime, compress

move to non parallel part for decompression
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTable.java
Due: runtime, compress

fix finalized
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTable.java
Due: runtime, compress

rewrite introduced ... maybe not working in spark and federated
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/CtableFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/WordEmbeddingUseCase.java
Due: runtime, compiler

spark and cp support
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/WordEmbeddingUseCase.java
Due: compiler

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
