Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

update record funtion for Processing columns and test it
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

small fixes on bin
  pom.xml
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

implement basic multi thread rev operation and test
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/main/java/org/apache/sysds/runtime/matrix/data/TestMultiThreadedRev.java
Due: runtime, matrix

ExecType.OOC with initial integration and test
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/runtime/instructions/Instruction.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionUtils.java
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
  src/test/scripts/functions/ooc/SumScalarMultiplication.dml
Due: runtime, compiler, util

Initial structure for OOCInstruction and OOCInstructionParser
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime

add implementation for sparse matrix
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/main/java/org/apache/sysds/runtime/matrix/data/TestMultiThreadedRev.java
Due: runtime, matrix

[SYSTEMDS-3892] Initial out-of-core base instruction and parser
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/runtime/instructions/Instruction.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
  src/test/scripts/functions/ooc/SumScalarMultiplication.dml
Due: runtime, compiler, util

[SYSTEMDS-3253] New native operator for union distinct
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnionCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyUnionDistinctTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyUnion.R
  src/test/scripts/functions/rewrite/RewriteSimplifyUnion.dml
Due: runtime, matrix, compiler, util

test for sparse, rev() multithread operation
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/functions/reorg/FullReverseTest.java
Due: runtime, matrix

debugging dedup
  scripts/builtin/dedup.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDedupTest.java
  src/test/scripts/functions/builtin/distributed_representation.dml
Due: none

[SYSTEMDS-3893] Basic out-of-core binary-read and acquire primitive
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/hops/AggUnaryOp.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteBlockSizeAndReblock.java
  src/main/java/org/apache/sysds/lops/ReBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/TensorObject.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ComputationOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/io/MatrixReader.java
  src/main/java/org/apache/sysds/utils/Explain.java
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
Due: runtime, compiler, util

[SYSTEMDS-3893] Fix out-of-core test case (metadata file locations)
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
Due: none

[SYSTEMDS-3895] New out-of-core unary aggregate operations
  src/main/java/org/apache/sysds/hops/AggUnaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
Due: runtime, compiler

add testing for dnn operations
  src/test/java/org/apache/sysds/test/gpu/NeuralNetworkGPUTest.java
Due: none

adjust class name
  src/test/java/org/apache/sysds/test/gpu/DNNOperationsGPUTest.java
Due: none

Fixes in generator.py, builtin function fixes
  scripts/builtin/ampute.dml
  scripts/builtin/confusionMatrix.dml
  scripts/builtin/cooccurrenceMatrix.dml
  scripts/builtin/decisionTree.dml
  scripts/builtin/differenceStatistics.dml
  scripts/builtin/glove.dml
  scripts/builtin/imputeByKNN.dml
  scripts/builtin/quantizeByCluster.dml
  scripts/builtin/randomForest.dml
  scripts/builtin/shapExplainer.dml
  scripts/builtin/topk_cleaning.dml
  src/main/python/docs/README.md
  src/main/python/docs/requires-docs.txt
  src/main/python/generator/dml_parser.py
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/ampute.py
  src/main/python/systemds/operator/algorithm/builtin/apply_pipeline.py
  src/main/python/systemds/operator/algorithm/builtin/confusionMatrix.py
  src/main/python/systemds/operator/algorithm/builtin/cooccurrenceMatrix.py
  src/main/python/systemds/operator/algorithm/builtin/correctTypos.py
  src/main/python/systemds/operator/algorithm/builtin/correctTyposApply.py
  src/main/python/systemds/operator/algorithm/builtin/decisionTree.py
  src/main/python/systemds/operator/algorithm/builtin/denialConstraints.py
  src/main/python/systemds/operator/algorithm/builtin/differenceStatistics.py
  src/main/python/systemds/operator/algorithm/builtin/dmv.py
  src/main/python/systemds/operator/algorithm/builtin/ema.py
  src/main/python/systemds/operator/algorithm/builtin/executePipeline.py
  src/main/python/systemds/operator/algorithm/builtin/fit_pipeline.py
  src/main/python/systemds/operator/algorithm/builtin/fixInvalidLengths.py
  src/main/python/systemds/operator/algorithm/builtin/fixInvalidLengthsApply.py
  src/main/python/systemds/operator/algorithm/builtin/glove.py
  src/main/python/systemds/operator/algorithm/builtin/imputeByKNN.py
  src/main/python/systemds/operator/algorithm/builtin/mdedup.py
  src/main/python/systemds/operator/algorithm/builtin/quantizeByCluster.py
  src/main/python/systemds/operator/algorithm/builtin/randomForest.py
  src/main/python/systemds/operator/algorithm/builtin/shapExplainer.py
  src/main/python/systemds/operator/algorithm/builtin/topk_cleaning.py
  src/main/python/systemds/operator/algorithm/builtin/wer.py
Due: none

add resnet18 test for GPU
  .uuid
  bin/.uuid
  conf/.uuid
  dev/.uuid
  docker/.uuid
  docs/.uuid
  scripts/.uuid
  src/.uuid
  src/test/java/org/apache/sysds/test/gpu/nn/ResNet18GPUTest.java
  src/test/scripts/gpu/nn/ResNet18GPU.dml
Due: none

delete files
  .uuid
  bin/.uuid
  conf/.uuid
  dev/.uuid
  docker/.uuid
  docs/.uuid
  scripts/.uuid
  src/.uuid
Due: none

clean code
  scripts/builtin/dedup.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDedupTest.java
Due: none

use op.getNumThreads to get thread number
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/main/java/org/apache/sysds/runtime/matrix/data/TestMultiThreadedRev.java
  src/test/java/org/apache/sysds/test/functions/reorg/FullReverseTest.java
Due: runtime, matrix

[SYSTEMDS-3894] New out-of-core binary scalar-matrix operations
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/SumScalarMultiplicationTest.java
Due: runtime, compiler

Handling of multiple code blocks
  scripts/builtin/img_mirror_linearized.dml
  src/main/python/generator/dml_parser.py
  src/main/python/generator/generator.py
  src/main/python/systemds/operator/algorithm/builtin/img_mirror_linearized.py
  src/main/python/tests/auto_tests/test_img_mirror_linearized_0.py
  src/main/python/tests/auto_tests/test_img_mirror_linearized_1.py
Due: none

update Factory & PassThrough part for Processing columns and test it
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
Due: runtime

print runtime for dummy and recode when processing single column
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
Due: runtime

fixed dummy decoder
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

update recode & dummy funtion for Processing columns and test it
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

update recode & dummy funtion for Processing columns and test it
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

print runtime for dummy and recode when processing single column
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

fixed dummy decoder
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
Due: runtime

Update cost-based planner
  src/main/java/org/apache/sysds/hops/fedplanner/FTypes.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedCostBased.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerLogger.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/meta/MetaDataAll.java
  src/main/java/org/apache/sysds/runtime/util/HDFSTool.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanVisualizer.py
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedDynamicPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedKMeansPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedL2SVMPlanningTest.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest11.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest12.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest13.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest8.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest9.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedCNNPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedCNNPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedFNNPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedFNNPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLeNetPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLeNetPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLinearRegressionPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLinearRegressionPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLogisticRegressionPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedLogisticRegressionPlanningTestReference.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedPCAPlanningTest.dml
  src/test/scripts/functions/privacy/fedplanning/FederatedPCAPlanningTestReference.dml
Due: runtime, compiler

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
