Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

use ooc eviction manager in ResettableStream
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
Due: runtime

add base implementation for ooc eviction manager
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/OOCEvictionManager.java
Due: runtime

Improved exception handling for OOC instructions using failure propagation in LocalTaskQueue
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/OOCExceptionHandlingTest.java
  src/test/scripts/functions/ooc/OOCExceptionHandling.dml
Due: runtime, util

Improve diff readability by adjusting tabs
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
Due: runtime

Add license
  src/test/java/org/apache/sysds/test/functions/ooc/OOCExceptionHandlingTest.java
Due: none

Scope failures locally
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime, util

Remove unused import
  src/main/java/org/apache/sysds/api/DMLScript.java
Due: util

Rethrow exception to ensure proper future handling
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime

[SYSTEMDS-3923] Improve exception handling OOC instructions
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/OOCExceptionHandlingTest.java
  src/test/scripts/functions/ooc/OOCExceptionHandling.dml
Due: runtime

use a static utility
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
Due: runtime

use IDSequence instead of UUID
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
Due: runtime

do error handling in get(), put() methods themselves
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
Due: runtime

use streamId, block number
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
Due: runtime

use jvm cache design
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/OOCEvictionManager.java
Due: runtime

working tests both
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
Due: runtime

Common OOC parallel stream processing utilities and non-blocking queue callback handling
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CentralMomentOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/operators/CMOperator.java
  src/main/java/org/apache/sysds/runtime/util/OOCJoin.java
  src/test/java/org/apache/sysds/test/functions/ooc/BinaryMatrixMatrixTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/BinaryMatrixScalarTest.java
  src/test/scripts/functions/ooc/BinaryMatrixMatrix.dml
  src/test/scripts/functions/ooc/BinaryMatrixScalar.dml
Due: runtime, matrix, compiler

use indexedmatrixvalue and check with actions
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/OOCEvictionManager.java
Due: runtime

[SYSTEMDS-3930] Basic OOC eviction of intermediate streams
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
Due: runtime

Remove unnecessary TODO
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
Due: runtime

[SYSTEMDS-3930] Cleanup out-of-core backend and buffer pool
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/data/IndexedMatrixValue.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixIndexes.java
Due: runtime, matrix

vectOuterMultAdd uses only optimized LibMatrixMult.vectMultiplyAdd
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

[SYSTEMDS-3920] Vector API for Codegen Outer-Products
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

use blockentry to hold all data related to block
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

initialize blockentry, add block level synchronize
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

Common OOC parallel stream processing utilities and non-blocking queue callback handling
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CentralMomentOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CtableOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/operators/CMOperator.java
  src/main/java/org/apache/sysds/runtime/util/OOCJoin.java
  src/test/java/org/apache/sysds/test/functions/ooc/BinaryMatrixMatrixTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/BinaryMatrixScalarTest.java
  src/test/scripts/functions/ooc/BinaryMatrixMatrix.dml
  src/test/scripts/functions/ooc/BinaryMatrixScalar.dml
Due: runtime, matrix, compiler

Remove redundant definition `setSubscriber`
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
Due: runtime

fix size check for eviction
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

update block state after eviction
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

use spillLocation and partitionFile for a single block
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

spillfile and partitionfile structures
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

keep all _cache updates synchronized
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/util/PartitionFileManager.java
Due: runtime

fix spillLocations inputs, use correct key instead of filename
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

use filestream to read/write
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

collect a list of blocks to evict at once
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

add license header for PartitionFileManager
  src/main/java/org/apache/sysds/runtime/util/PartitionFileManager.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
