Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

Align unique parallel path with SystemDS semantics
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketchUniqueParallelTest.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueBase.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRow.java
Due: runtime, matrix

[SYSTEMDS-3949] Keep shape coverage test correctness-only
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameShapeCoverageTest.java
Due: none

[SYSTEMDS-3949] Reduce shape coverage test set
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameShapeCoverageTest.java
Due: none

Performance tests and Benchmarks for sucussive Piece wise algorithm and downstream CLA operations
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
Due: none

[SYSTEMDS-3949] Column API parquet decode for Delta frame reads (#2535)
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadWriteTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameShapeCoverageTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkContractTest.java
Due: runtime

[MINOR] Prepare Release Metadata for SystemDS 3.4.0
  NOTICE
  src/assembly/bin/NOTICE
  src/assembly/extra/NOTICE
  src/main/python/docs/source/conf.py
Due: none

[MINOR] Add Java 17 Module Access Options
  bin/systemds
Due: none

[maven-release-plugin] prepare release 3.4.0-rc1
  pom.xml
Due: none

[maven-release-plugin] prepare for next development iteration
  pom.xml
Due: none

[MINOR][FIX] Add SciPy as Dependency
  src/main/python/setup.py
Due: none

[Minor] Update python api README.md
  src/main/python/README.md
Due: none

[SYSTEMDS-3168] sparse dense transpose kernels plus performance test
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedPerformanceTest.java
Due: runtime, matrix

[maven-release-plugin] prepare release 3.4.0-rc2
  pom.xml
Due: none

add kl divergence to benchmarking metrics
  src/test/scripts/functions/builtin/lhs_gmm_benchmark.dml
Due: none

Add Vector API implementations for SparseSparse matrix multiplication kernels
  pom.xml
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrix/BenchmarkMatMult.java
Due: runtime, matrix

[MINOR][TEST] Assert OOC covariance execution
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceWeightsTest.java
Due: none

use the goal parameter for scoring in genetic LHS
  scripts/builtin/lhs.dml
Due: none

adjust LHS script params and outputs
  src/test/scripts/functions/builtin/lhs.dml
Due: none

test all LHS method and parameter combinations, explain failures
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinLHSTest.java
Due: none

[SYSTEMDS-3168] dense-sparse transpose kernels and component tests
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedTest.java
Due: runtime, matrix

[SYSTEMDS-3168] dense-sparse transpose kernels and component tests
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedTest.java
Due: runtime, matrix

[MINOR][STYLE] Format OOC covariance and TSMM changes
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CovarianceOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceWeightsTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeSelfMMTest.java
Due: runtime

[SYSTEMDS-3929] Improve array-direct parquet frame reader
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquetParallel.java
  src/test/java/org/apache/sysds/performance/frame/ParquetReaderBenchmark.java
  src/test/java/org/apache/sysds/performance/frame/ParquetWriterBenchmark.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameParquetSchemaTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameReaderParquetLegacy.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameReaderWriterParquetTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameWriterParquetLegacy.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ParquetTestUtils.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ParquetWriterBenchmark.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ReadParquetTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/WriteParquetTest.java
Due: runtime

refactor child generation in genetic LHS method
  scripts/builtin/lhs.dml
Due: none

add seed parameter to LHS builtin and improve LHS tests
  scripts/builtin/lhs.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinLHSTest.java
  src/test/scripts/functions/builtin/lhs.dml
Due: none

[SYSTEMDS-3857] Set/GetNames on Data Frames
  src/main/java/org/apache/sysds/runtime/instructions/spark/BinaryFrameFrameSPInstruction.java
  src/test/java/org/apache/sysds/test/functions/frame/FrameColNamesPropagationTest.java
  src/test/java/org/apache/sysds/test/functions/frame/FrameColumnNamesTest.java
Due: runtime

fix sumInv to return inverse of squared distances
  scripts/builtin/lhs.dml
  src/test/scripts/functions/builtin/lhs_gmm_benchmark.dml
Due: none

dp_laplace and dp_gaussian now take the original matrix and build a transformation matrix T internally, returning T %*% X with noise fused into a single matrix multiply.
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler

Change DPBudgetAccountant defaults to be constants
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime, compiler

Add dp_set_budget(epsilon, delta) built-in
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler, util

Remove 4th and 5th parameters and instead get them in a loop, according to David's suggestion
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
Due: compiler

Cleanup comments
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Differential Privacy Benchmark
  benchmark/scripts/collect_results.py
  benchmark/scripts/eval.dml
  benchmark/scripts/fedavg_dp.dml
  benchmark/scripts/plot.py
  benchmark/scripts/prepare_data.py
  benchmark/scripts/run_benchmark.sh
  benchmark/scripts/run_sweep.sh
  benchmark/scripts/start_workers.sh
  benchmark/scripts/stop_workers.sh
  src/main/python/requirements.txt
Due: none

added operation tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

fix random sampling dimension and comment in benchmark script
  src/test/scripts/functions/builtin/lhs_gmm_benchmark.dml
Due: none

add stop condition for numerical arguments
  scripts/builtin/lhs.dml
Due: none

Addition for Sparse Matrix Blocks
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/PermuteTest.java
Due: runtime, matrix

[OOC] Add MaterializedStore Structures
  src/main/java/org/apache/sysds/runtime/ooc/memory/InMemoryQueueCallback.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/ManagedPayload.java
  src/main/java/org/apache/sysds/runtime/ooc/store/IndexedMaterializedStoreReader.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedCallback.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedStore.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OOCStreamMaterializer.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OrderedMaterializedStoreReader.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StoreLease.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/MaterializedStoreTest.java
Due: runtime

[SYSTEMDS-3898] Fix IQM regression from SP quantile averaging change
  src/main/java/org/apache/sysds/runtime/instructions/spark/QuantilePickSPInstruction.java
Due: runtime
