Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

feat: load and prepare mnist train and testing data
  src/test/scripts/applications/nn/component/optim/mnist_optimizer_check.dml
Due: none

TEMP: probe commit to exercise the Java Format CI check
  src/test/java/org/apache/sysds/test/component/format/FormatProbeBroken.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeClean.java
Due: none

TEMP: more format probes to exercise line-scoped check
  src/test/java/org/apache/sysds/test/component/format/FormatProbeClean.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeErrors.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeOk2.java
Due: none

Scope Java format check to PR-edited lines only
  .github/workflows/javaFormat.yml
  dev/format-changed.sh
  dev/format_changed.py
Due: none

Add Java Format CI check for pull requests
  .github/workflows/javaFormat.yml
  dev/format-changed.sh
Due: none

Add Apache license header to dev/format-exclude.txt
  dev/format-exclude.txt
Due: none

Add file exemption list to Java format check
  dev/format-exclude.txt
  dev/format_changed.py
Due: none

Merge Java Format check into the Java Codestyle workflow
  .github/workflows/javaCodestyle.yml
  .github/workflows/javaFormat.yml
Due: none

Harden Java format checker: data-safety, loud errors, tests
  .github/workflows/javaFormat.yml
  dev/format-changed.sh
  dev/format_changed.py
  dev/tests/test_format_changed.py
Due: none

Remove temporary Java Format probe files
  src/main/java/org/apache/sysds/runtime/DMLRuntimeException.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeBroken.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeClean.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeErrors.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeOk2.java
Due: runtime

consolidate improved and maximin method and add cp_sweep method
  scripts/builtin/lhs.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinLHSTest.java
  src/test/scripts/functions/builtin/lhs.dml
Due: none

[SYSTEMDS-3949] Add native Delta Lake frame read/write via Delta Kernel (#2515)
  src/main/java/org/apache/sysds/conf/ConfigurationManager.java
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ArrayFactory.java
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderFactory.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterFactory.java
  src/main/java/org/apache/sysds/runtime/io/WriterDelta.java
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/frame/DeltaFrameRead.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadWriteTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkInteropTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameTestUtils.java
  src/test/java/org/apache/sysds/test/functions/io/delta/FrameDeltaReadWriteTest.java
  src/test/scripts/functions/io/delta/FrameDeltaReadCompare.dml
  src/test/scripts/functions/io/delta/FrameDeltaWrite.dml
Due: runtime, frame, util

[SYSTEMDS-3949] Add Demo for Databricks Workspace Execution (#2520)
  scripts/databricks/.env.example
  scripts/databricks/.gitignore
  scripts/databricks/README.md
  scripts/databricks/SystemDS_Delta_E2E.scala
  scripts/databricks/SystemDS_MLContext_Demo.scala
  scripts/databricks/demo.dml
  scripts/databricks/deploy.sh
Due: none

add new method for lhs generation: genetic
  scripts/builtin/lhs.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinLHSTest.java
Due: none

remove leftover comment
  scripts/builtin/lhs.dml
Due: none

[OOC] IO Handler Performance Improvements and Generalization (#2532)
  src/main/java/org/apache/sysds/runtime/instructions/spark/data/IndexedMatrixValue.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCFuture.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCBufferedDataInputStream.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCBufferedDataOutputStream.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/SpillableObject.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/SpillableObjectRegistry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCLRUCacheScheduler.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCLRUCacheSchedulerTest.java
Due: runtime

add functions for goal evaluation for full matrix and for a new row to simplify objective calculation between methods
  scripts/builtin/lhs.dml
Due: none

[CI] Add Java Format CI check for pull requests (#2527)
  .github/workflows/javaCodestyle.yml
  dev/format-changed.sh
  dev/format-exclude.txt
  dev/format_changed.py
  dev/tests/test_format_changed.py
Due: none

[OOC] Add New OOCCache Implementation
  src/main/java/org/apache/sysds/runtime/ooc/cache/BlockEntry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheImpl.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/ConcurrentBitSet.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/IndexedObjectPredicate.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/MaskedOnceArray.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/MaskedOnceArrayList.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/SegmentedStreamTableList.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/eviction/EvictController.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/eviction/IndexedObjectPair.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/SyncMemoryAllowance.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCCacheImplTest.java
Due: runtime

[OOC] Add OOCCache (#2533)
  src/main/java/org/apache/sysds/runtime/ooc/cache/BlockEntry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheImpl.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/ConcurrentBitSet.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/IndexedObjectPredicate.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/MaskedOnceArray.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/MaskedOnceArrayList.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/collections/SegmentedStreamTableList.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/eviction/EvictController.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/eviction/IndexedObjectPair.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/SyncMemoryAllowance.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCCacheImplTest.java
Due: runtime

[OOC] Add New OOCPackedCache Implementation
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/SpillableObjectRegistry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/OOCPackedCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackBuilder.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackedBlock.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackedCacheLocation.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackedPinState.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackedUnpinHandle.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCCacheImplTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCCacheTestUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCPackedCacheTest.java
Due: runtime

[OOC] Extend Packed Cache Test for Better Coverage
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCPackedCacheTest.java
Due: none

[OOC] Reformat
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCPackedCacheTest.java
Due: none

[OOC] Add OOCPackedCache (#2534)
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/SpillableObjectRegistry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/OOCPackedCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackBuilder.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackedBlock.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackedCacheLocation.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackedPinState.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackedUnpinHandle.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCCacheImplTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCCacheTestUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCPackedCacheTest.java
Due: runtime

[OOC] Adapt OOCStream to Forward QueueCallbacks
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/FilteredOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SplittingOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SubOOCStream.java
Due: runtime

[OOC] Reformat
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
Due: runtime

[OOC] Reformat
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
Due: runtime

[OOC] Adapt OOCStream to Forward QueueCallbacks (#2537)
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/FilteredOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SplittingOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SubOOCStream.java
Due: runtime

neural net for mnist optimizer check. pair programming session
  src/test/scripts/applications/nn/component/optim/mnist_optimizer_check.dml
Due: none

Added adam and adamw tests
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimTest.java
  src/test/scripts/applications/nn/component/optim/adam.dml
  src/test/scripts/applications/nn/component/optim/adamw.dml
Due: none

[MINOR][OOC] Restore TSMM single-tile fast path
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
Due: runtime

gathering epoch losses and accuracies
  src/test/scripts/applications/nn/component/optim/mnist_optimizer_check.dml
Due: none

added tests
  src/test/scripts/applications/nn/component/optim/mnist_optimizer_check.dml
  src/test/scripts/applications/nn/component/optim/optim_check.dml
Due: none

[Minor] fixed mistake in previous commit
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

test: close review gaps in adam/adamw/adagrad optimizer tests
  src/test/scripts/applications/nn/component/optim/adagrad.dml
  src/test/scripts/applications/nn/component/optim/adam.dml
  src/test/scripts/applications/nn/component/optim/adamw.dml
Due: none

Apply Eclipse formatter to CI-flagged comment lines
  src/main/java/org/apache/sysds/runtime/io/ColumnApiDeltaEngine.java
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkContractTest.java
Due: runtime

[SYSTEMDS-3949] Column API parquet decode for Delta frame reads
  src/main/java/org/apache/sysds/conf/ConfigurationManager.java
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/runtime/io/ColumnApiDeltaEngine.java
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkContractTest.java
Due: runtime, util

[SYSTEMDS-3857] Set/GetNames on Data Frames
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameFrameCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnaryFrameCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/frame/FrameColNamesPropagationTest.java
  src/test/java/org/apache/sysds/test/functions/frame/FrameColumnNamesTest.java
Due: runtime, compiler

[SYSTEMDS-3949] Decode Delta data files directly into frame columns
  src/main/java/org/apache/sysds/conf/ConfigurationManager.java
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/runtime/io/ColumnApiDeltaEngine.java
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkContractTest.java
Due: runtime, util

Add CLAUDE.md
  CLAUDE.md
Due: none
