Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

test: add multi-tile OOC TSMM coverage
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeSelfMMTest.java
  src/test/scripts/functions/ooc/TSMMRight.dml
Due: none

[MINOR] Support multi-tile OOC TSMM
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
Due: runtime

[SYSTEMDS-3946] Enable sending of large (>2GiB) FederatedRequests and Responses
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkDecoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkEncoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedChunkProtocol.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedFormatDetector.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedFormatEncoder.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/test/java/org/apache/sysds/test/functions/federated/network/FederatedMaxPayloadTest.java
Due: runtime

[SYSTEMDS-3922] Fix federated quantile VALUEPICK averaging for even-length input
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuantilePickFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedQuantileTest.java
Due: runtime

Change lhs function to return a matrix of points coordinates instead of a NxN binary matrix
  scripts/builtin/lhs.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinLHSTest.java
  src/test/scripts/functions/builtin/lhs.dml
Due: none

Refactor Isolation Forest builtin and add edge-case tests
  scripts/builtin/outlierByIsolationForest.dml
  scripts/builtin/outlierByIsolationForestApply.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinIsolationForestTest.java
  src/test/scripts/functions/builtin/outlierByIsolationForestTest.dml
Due: none

chore(): Added benchmark tests for parquet and hdf5
  HDF5-Benchmark-Run-Scenarios.md
  Parquet-Benchmark-Run-Scenarios.md
  src/test/java/org/apache/sysds/test/functions/io/ParquetBenchmarkTest.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/HDF5BenchmarkTest.java
Due: none

Add R reference test for PowerTransformApply
  scripts/builtin/powerTransform.dml
  scripts/builtin/powerTransformApply.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
  src/test/scripts/functions/builtin/powerTransformApply.R
  src/test/scripts/functions/builtin/powerTransformApply.dml
Due: none

Add Yeo-Johnson PowerTransformer prototype
  scripts/builtin/powerTransform.dml
  scripts/builtin/powerTransformApply.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/scripts/functions/builtin/powerTransformSmokeTest.dml
Due: util

chore(): Add performance related tests for parquet and hdf5
  HDF5-Benchmark-Run-Scenarios.md
  Parquet-Benchmark-Run-Scenarios.md
  src/test/java/org/apache/sysds/test/functions/io/ParquetBenchmarkTest.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/HDF5BenchmarkTest.java
Due: none

Add More Detailed Logs Regarding Stalling Forks
  .github/workflows/javaTests.yml
  docker/entrypoint.sh
Due: none

new ColGroupPiecewiseLinearCompressed methods; fix testComputeSUm
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

reduce resources used in scuro tests
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

[MINOR] Fix class-init deadlock between AOffset and its subclasses
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AOffset.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetTwo.java
  src/test/java/org/apache/sysds/test/component/compress/offset/OffsetClassInitConcurrencyTest.java
Due: runtime, compress

[MINOR] Improve efficiency of Scuro tests
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

[MINOR] Fix class-init deadlock between AOffset and its subclasses (#2502)
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AOffset.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetTwo.java
  src/test/java/org/apache/sysds/test/component/compress/offset/OffsetClassInitConcurrencyTest.java
Due: runtime, compress

Add transitive Spark exec-type compile tests for binary and cumulative ops
  src/test/java/org/apache/sysds/test/component/compile/SparkTransitiveExecTypeCompileTest.java
Due: none

Add removeEmpty support to compressed column groups
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroupValue.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ADictBasedColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDCZero.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupLinearFunctional.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupOLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupRLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AIterator.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AOffset.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRemoveEmpty.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedMatrixTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupNegativeTests.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleMultiColTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleUnbalancedTest.java
  src/test/java/org/apache/sysds/test/component/compress/offset/CustomOffsetTest.java
  src/test/java/org/apache/sysds/test/functions/compress/configuration/CompressForce.java
Due: runtime, matrix, compress

Gate UnaryOp transitive Spark pull on flag and fix exec-type refinement nits
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTSMM.java
  src/test/java/org/apache/sysds/test/component/compile/SparkTransitiveExecTypeCompileTest.java
Due: runtime, compress, compiler

Trim verbose comments in transitive exec-type changes
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/test/java/org/apache/sysds/test/component/compile/SparkTransitiveExecTypeCompileTest.java
Due: compiler

Fix toString to honor decimal as exact fraction digits
  src/main/java/org/apache/sysds/runtime/util/DataConverter.java
Due: runtime

[BWARE] Tune compressed matmul fast paths and Spark execution decisions (#2483)
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCompAgg.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibMMChain.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTSMM.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
  src/test/java/org/apache/sysds/test/component/compile/CompilerTestBase.java
  src/test/java/org/apache/sysds/test/component/compile/SparkTransitiveExecTypeCompileTest.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibMMChainTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibRightMultBySDCTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/DecoderCompositeTest.java
  src/test/java/org/apache/sysds/test/functions/sparkexectype/SparkTransitiveExecTypeTest.java
  src/test/scripts/functions/sparkexectype/SparkExecTypeBinary.dml
  src/test/scripts/functions/sparkexectype/SparkExecTypeUnary.dml
Due: runtime, compress, compiler

new replace & unitaryOperation
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

Fix compressed removeEmpty: license header, dead code, sliceColumns side effect
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AOffset.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRemoveEmpty.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedMatrixTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleMultiColTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleUnbalancedTest.java
  src/test/java/org/apache/sysds/test/functions/compress/configuration/CompressForce.java
Due: runtime, matrix, compress

Fix sparse dummycode decode and restore decoder no-arg constructors
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
Due: runtime

Handle hash columns in transform decoders and tighten decode metadata flow
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/transform/decode/Decoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderFeatureHash.java
Due: runtime, frame

Add component tests for transform decoder hash and metadata handling
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeRoundTripTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeTest.java
Due: none

Cover parallel-decode interruption and base sub-range contract
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeRoundTripTest.java
Due: none

Replace decode dispatch TODOs with rationale comments
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
Due: runtime

Add decoder coverage tests and drop unused DecoderBin constructor
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeRoundTripTest.java
Due: runtime

Fix DecoderBin serialization and remove dead _numBins field
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
  src/test/java/org/apache/sysds/test/component/frame/array/CustomArrayTests.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeRoundTripTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeTest.java
Due: runtime

Harden decoder error handling and deduplicate source-column mapping
  src/main/java/org/apache/sysds/runtime/transform/decode/Decoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeRoundTripTest.java
Due: runtime

Clean up decode loops and stale hash-metadata comments
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeRoundTripTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeTest.java
Due: runtime

Recover hash domain size from meta cell instead of numDistinct
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/transform/decode/Decoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderFeatureHash.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeRoundTripTest.java
Due: runtime, frame

Speed up boolean-token fallback in StringArray.getAsDouble
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
Due: runtime, frame

Extract createDecimalFormat helper in DataConverter
  src/main/java/org/apache/sysds/runtime/util/DataConverter.java
Due: runtime

Add frame and tensor toString decimal coverage
  src/test/java/org/apache/sysds/test/component/frame/FrameToStringTest.java
  src/test/java/org/apache/sysds/test/component/tensor/TensorToStringTest.java
Due: none

[BWARE] Handle hash columns in transform decoders and tighten decode metadata (#2479)
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/transform/decode/Decoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderFeatureHash.java
  src/test/java/org/apache/sysds/test/component/frame/array/CustomArrayTests.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeRoundTripTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeTest.java
Due: runtime, frame

Wire compressed removeEmptyOperations to CLALibRemoveEmpty
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
Due: runtime, compress

Raise federated request timeout for multitenant Spark tests
  src/test/config/SystemDS-MultiTenant-config.xml
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
