Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[MINOR] Fix javadoc issue in fed planner memo table
  src/main/java/org/apache/sysds/hops/fedplanner/MemoTable.java
Due: compiler

[SYSTEMDS-3701] Add test suite for Scuro
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/aligner/task.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/representation_dataloader.py
  src/main/python/tests/scuro/__init__.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

[SYSTEMDS-3782] Bag-of-words encoder for SP
  src/main/java/org/apache/sysds/runtime/instructions/spark/MultiReturnParameterizedBuiltinSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/ParameterizedBuiltinSPInstruction.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoder.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderBagOfWords.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/encode/EncoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnEncoderMixedFunctionalityTests.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnEncoderSerializationTest.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformFrameEncodeBagOfWords.java
  src/test/scripts/functions/transform/TransformFrameEncodeApplyBagOfWords.dml
Due: runtime

[SYSTEMDS-3794] Fix multi-threaded sparse matrix-vector elementwise ops
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixBincell.java
Due: runtime, matrix

[SYSTEMDS-3782] Bag-of-words encoder for Spark backend
  src/main/java/org/apache/sysds/runtime/instructions/spark/MultiReturnParameterizedBuiltinSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/ParameterizedBuiltinSPInstruction.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoder.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderBagOfWords.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/encode/EncoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnEncoderMixedFunctionalityTests.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnEncoderSerializationTest.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformFrameEncodeBagOfWords.java
  src/test/scripts/functions/transform/TransformFrameEncodeApplyBagOfWords.dml
Due: runtime

[SYSTEMDS-3794] Fix missing multi-threading binary elementwise ops
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixBincell.java
Due: runtime, matrix

[MINOR] Improved code coverage and fixes sparsity estimators
  src/main/java/org/apache/sysds/hops/estim/EstimationUtils.java
  src/main/java/org/apache/sysds/hops/estim/EstimatorBitsetMM.java
  src/test/java/org/apache/sysds/test/component/estim/SelfProductTest.java
  src/test/java/org/apache/sysds/test/component/estim/SquaredProductChainTest.java
Due: compiler

[MINOR] Improved code coverage I/O framework (readers/writers)
  src/test/java/org/apache/sysds/test/functions/io/SeqParReadTest2.java
Due: none

[MINOR] Updated reader/write tests to force parallel writers
  src/main/java/org/apache/sysds/runtime/io/FrameWriter.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterBinaryBlockParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterTextCSVParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterTextCellParallel.java
  src/main/java/org/apache/sysds/runtime/io/MatrixWriter.java
  src/main/java/org/apache/sysds/runtime/io/WriterHDF5Parallel.java
  src/main/java/org/apache/sysds/runtime/io/WriterMatrixMarketParallel.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextCSVParallel.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextCellParallel.java
  src/main/java/org/apache/sysds/runtime/io/WriterTextLIBSVMParallel.java
  src/test/java/org/apache/sysds/test/functions/io/SeqParReadTest2.java
Due: runtime

[SYSTEMDS-3796] Fix flaky federated primitive tests and instructions
  src/main/java/org/apache/sysds/runtime/instructions/fed/CovarianceFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedCovarianceTest.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedMatrixScalarOperationsTest.java
Due: runtime

add additional text representations
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/utils.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/data_generator.py
Due: none

add libraries to python workflow
  .github/workflows/python.yml
Due: none

[SYSTEMDS-3796] Fix robustness federated weighted covariance and tests
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/CovarianceFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedCovarianceTest.java
Due: runtime

[SYSTEMDS-3797] Fix rewrite for trace on reorg operations
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTraceMatrixMultTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceMatrixMult.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceMatrixMult.dml
Due: compiler, util

[SYSTEMDS-3795] Fix missing sparse block support in HDF5 reader/writer
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5.java
  src/main/java/org/apache/sysds/runtime/io/WriterHDF5.java
  src/test/java/org/apache/sysds/test/functions/io/SeqParReadTest2.java
Due: runtime

[SYSTEMDS-3795] Fix multi-threaded HDF5 readers/writers
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5.java
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5Parallel.java
  src/main/java/org/apache/sysds/runtime/io/WriterHDF5Parallel.java
  src/test/java/org/apache/sysds/test/functions/io/SeqParReadTest2.java
Due: runtime

Implement FederatedMemoTable, FederatedPlanCostEstimator, FederatedPlanCostEnumerator
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/MemoTable.java
Due: compiler

Delete MemoTableTest.java
  src/test/java/org/apache/sysds/test/component/federated/privacy/MemoTableTest.java
Due: none

Add cumulative product and cumulative sumproduct tests
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part5/FederatedFullCumulativeTest.java
Due: none

Added first COG test structure (always true, passing) without actual example
  src/test/java/org/apache/sysds/test/functions/io/cog/COGTestBase.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTest.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTest1.java
Due: none

[SYSTEMDS-3798] Fix rewrite loop vectorization and code coverage
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteForLoopVectorization.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteRemoveDanglingParentReferences.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteTransientWriteParentHandling.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteLoopVectorization.java
  src/test/scripts/functions/rewrite/RewriteLoopVectorizationBinary.R
  src/test/scripts/functions/rewrite/RewriteLoopVectorizationBinary.dml
  src/test/scripts/functions/rewrite/RewriteLoopVectorizationIndexedCopy.R
  src/test/scripts/functions/rewrite/RewriteLoopVectorizationIndexedCopy.dml
  src/test/scripts/functions/rewrite/RewriteLoopVectorizationUnary.R
  src/test/scripts/functions/rewrite/RewriteLoopVectorizationUnary.dml
Due: compiler

[MINOR] Fix parfor result merge tests (disable auto vectorization)
  src/test/scripts/functions/parfor/parfor_pr_resultmerge1c.dml
  src/test/scripts/functions/parfor/parfor_pr_resultmerge1d.dml
Due: none

[MINOR] Misc code cleanups for improve test code coverage
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/hops/AggUnaryOp.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/DataGenOp.java
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/DnnOp.java
  src/main/java/org/apache/sysds/hops/FunctionOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/IndexingOp.java
  src/main/java/org/apache/sysds/hops/LeftIndexingOp.java
  src/main/java/org/apache/sysds/hops/LiteralOp.java
  src/main/java/org/apache/sysds/hops/NaryOp.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/hops/QuaternaryOp.java
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/hops/TernaryOp.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofFusedOp.java
  src/main/java/org/apache/sysds/hops/ipa/FunctionCallGraph.java
  src/main/java/org/apache/sysds/hops/rewrite/HopDagValidator.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/functions/GetMIMBFromRow.java
  src/main/java/org/apache/sysds/runtime/matrix/data/CM_N_COVCell.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixCell.java
  src/main/java/org/apache/sysds/runtime/matrix/data/TextToBinaryCellConverter.java
  src/main/java/org/apache/sysds/runtime/matrix/data/WeightedPair.java
  src/main/java/org/apache/sysds/runtime/matrix/operators/ReIndexOperator.java
  src/main/java/org/apache/sysds/runtime/meta/DataCharacteristics.java
  src/test/java/org/apache/sysds/test/component/utils/HopDagValidationTest.java
Due: runtime, matrix, compiler

[MINOR] Improved parfor test coverage (new tests, removed old code)
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/DataPartitionerLocal.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/TaskPartitionerFactory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/util/Cell.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/util/IDHandler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/util/IDSequence.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/util/StagingFileUtils.java
  src/test/java/org/apache/sysds/test/component/parfor/ParForIDHandling.java
  src/test/java/org/apache/sysds/test/component/parfor/ResultMergeTest.java
  src/test/java/org/apache/sysds/test/component/parfor/TaskPartitionerTest.java
Due: runtime, util
