Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Comment readability
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinOpsTest.java
Due: runtime

Route dp_laplace/dp_gaussian through the named-parameter builtin path
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
Due: compiler, util

Code review comments: remove special characters
  benchmark/scripts/collect_results.py
  benchmark/scripts/plot.py
  benchmark/scripts/prepare_data.py
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler

Unite tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Comment cleanups after review fixes
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinOps.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinOpsTest.java
Due: runtime

Move DP benchmark under dp folder and add a README
  benchmark/dp/README.md
  benchmark/dp/scripts/benchmark_utilities.py
  benchmark/dp/scripts/collect_results.py
  benchmark/dp/scripts/eval.dml
  benchmark/dp/scripts/fedavg_dp.dml
  benchmark/dp/scripts/plot.py
  benchmark/dp/scripts/prepare_data.py
  benchmark/dp/scripts/requirements.txt
  benchmark/dp/scripts/run_benchmark.sh
  benchmark/dp/scripts/run_sweep.sh
  benchmark/dp/scripts/start_workers.sh
  benchmark/dp/scripts/stop_workers.sh
Due: none

[SYSTEMDS-3949] Extend Delta Spark round trip tests
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkContractTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkInteropTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameTestUtils.java
Due: none

tests 16-30
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

tests 01-15
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

[SYSTEMDS-3929] Speed up Parquet frame reader/writer (#2528)
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderFactory.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterFactory.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquetParallel.java
  src/test/java/org/apache/sysds/performance/frame/ParquetReaderBenchmark.java
  src/test/java/org/apache/sysds/performance/frame/ParquetWriterBenchmark.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameParquetSchemaTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameReaderWriterParquetTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ParquetTestUtils.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ReadParquetTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/WriteParquetTest.java
Due: runtime, compiler

[SYSTEMDS-3949] Extend Delta Spark round trip tests (#2580)
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkContractTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkInteropTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameTestUtils.java
Due: none

add min/max robustness check to hp tuner
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
Due: none

add missing params to reps
  src/main/python/systemds/scuro/representations/color_histogram.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/systemds/scuro/representations/x3d.py
Due: none

formatting
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
Due: none

added skeleton for remaining 0% coverage functions
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

updated skeleton for 0% coverage functions
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

testing write
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

Add unit tests and coverage fixes and some comments
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

[SYSTEMDS-3947] Introduce robustness check in hyperparameter tuning
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/representations/color_histogram.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/systemds/scuro/representations/x3d.py
Due: none

refactor(main/api/DMLOptions.java): create separate option for enabling sparsity rewrites change sparsity estimator option from being the string identifier to the actual enumeration item
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/estim/EstimationUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: compiler, util

feat(main/api/DMLOptions.java): add CLI option for specifying the sparsity estimator NOTE: This option also enables the sparsity rewrites. This will be separated into an individual option soon.
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/estim/EstimationUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixChainDPTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptTransposeTest.java
Due: compiler, util

chore(**): minor formatting
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: compiler

feat(main/conf/DMLConfig.java): add the XML options for enabling sparsity rewrites and for selecting the respective sparsity estimator
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/hops/estim/EstimationUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: compiler, util

chore(test/functions/rewrite/RewriteMatrixChainDPTest.java): re-activate rewrites based on sparsity estimates for the rewrite matrix chain dynamic programming test
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixChainDPTest.java
Due: none

[SYSTEMDS-3958] Add XML options for sparsity rewrites.
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/estim/EstimationUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixChainDPTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptTransposeTest.java
Due: compiler, util

[OOC] Wire OOC Instructions with New Primitives
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TernaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/SeqTest.java
Due: runtime

[SYSTEMDS-3891] Wire OOC Instructions with New Primitives
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TernaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/SeqTest.java
Due: runtime

[OOC] OOC Non-blocking Join and Simplification
  src/main/java/org/apache/sysds/runtime/ooc/primitives/BroadcastOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/GroupedReduceOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/JoinOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MaterializeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/PlannableDataGenOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCInstructionUtilsTest.java
Due: runtime

chore(): formatted code
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5.java
  src/main/java/org/apache/sysds/runtime/io/WriterHDF5.java
  src/test/java/org/apache/sysds/performance/io/HDF5IOBenchmark.java
  src/test/java/org/apache/sysds/performance/io/ParquetIOBenchmark.java
Due: runtime

correcting Java codestyle
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

[SYSTEMDS-3891] OOC Non-blocking Join and Primitive Simplification
  src/main/java/org/apache/sysds/runtime/ooc/primitives/BroadcastOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/GroupedReduceOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/JoinOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MaterializeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/PlannableDataGenOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCInstructionUtilsTest.java
Due: runtime

[SYSTEMDS-3953] Switch quantile kernel to R quantile type 7
  src/main/java/org/apache/sysds/runtime/instructions/cp/QuantilePickCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedSortTest.java
  src/test/java/org/apache/sysds/test/component/matrix/QuantilePickTest.java
Due: runtime, matrix

[SYSTEMDS-3953] Rework Spark quantile pick to R type 7
  src/main/java/org/apache/sysds/runtime/instructions/spark/QuantilePickSPInstruction.java
  src/test/java/org/apache/sysds/test/functions/binary/matrix/QuantileTest.java
Due: runtime

[SYSTEMDS-3953] Switch federated quantile pick to R type 7
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuantilePickFEDInstruction.java
Due: runtime

[SYSTEMDS-3863] Address follow-up review comments
  scripts/builtin/powerTransform.dml
  scripts/builtin/powerTransformApply.dml
Due: none

remove duplicate DAGs
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

adapt window operators to more finegrained window sizes
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

add more finegrained statistics
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
