Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Differential Privacy Benchmark
  benchmark/scripts/collect_results.py
  benchmark/scripts/eval.dml
  benchmark/scripts/fedavg_dp.dml
  benchmark/scripts/plot.py
  benchmark/scripts/prepare_data.py
  benchmark/scripts/run_benchmark.sh
  benchmark/scripts/run_sweep.sh
  benchmark/scripts/start_workers.sh
  benchmark/scripts/stop_workers.sh
  src/main/python/requirements.txt
Due: none

Route dp_laplace/dp_gaussian through the named-parameter builtin path
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
Due: compiler, util

Remove unneeded pom.xml change
  pom.xml
Due: none

Comment readability
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinOpsTest.java
Due: runtime

Use computeGaussianSigma
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime

refactor(scripts/staging/dp_benchmark/**): move the differential privacy benchmark to the staging folder
  scripts/staging/dp_benchmark/README.md
  scripts/staging/dp_benchmark/scripts/collect_results.py
  scripts/staging/dp_benchmark/scripts/eval.dml
  scripts/staging/dp_benchmark/scripts/fedavg_dp.dml
  scripts/staging/dp_benchmark/scripts/plot.py
  scripts/staging/dp_benchmark/scripts/prepare_data.py
  scripts/staging/dp_benchmark/scripts/requirements.txt
  scripts/staging/dp_benchmark/scripts/run_benchmark.sh
  scripts/staging/dp_benchmark/scripts/run_sweep.sh
  scripts/staging/dp_benchmark/scripts/start_workers.sh
  scripts/staging/dp_benchmark/scripts/stop_workers.sh
Due: none

Code review comments: remove special characters
  benchmark/scripts/collect_results.py
  benchmark/scripts/plot.py
  benchmark/scripts/prepare_data.py
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler

Change ParameterizedBuiltinOp.compare() so that two syntactically identical dp_laplace or dp_gaussian calls are never be merged into one execution.
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
Due: compiler

Integration tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Delete RDPAccountant
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
Due: runtime

Fix L1 L2 sensitivity parameter documentation
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime

fix(benchmark/dp/scripts/**): remove the benchmark utilities script which defines two global constants define these constants as environment variables instead
  benchmark/dp/scripts/benchmark_utilities.py
  benchmark/dp/scripts/collect_results.py
  benchmark/dp/scripts/plot.py
  benchmark/dp/scripts/prepare_data.py
  benchmark/dp/scripts/run_benchmark.sh
Due: none

refactor(**): perform some formatting remove unnecessary comments and shorten method headers
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinOps.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime, compiler, util

dp_laplace and dp_gaussian now take the original matrix and build a transformation matrix T internally, returning T %*% X with noise fused into a single matrix multiply.
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler

Add missing licenses
  benchmark/scripts/collect_results.py
  benchmark/scripts/eval.dml
  benchmark/scripts/fedavg_dp.dml
  benchmark/scripts/plot.py
  benchmark/scripts/prepare_data.py
  benchmark/scripts/run_benchmark.sh
  benchmark/scripts/run_sweep.sh
  benchmark/scripts/start_workers.sh
  benchmark/scripts/stop_workers.sh
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Make integration test more readable
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Comment cleanups after review fixes
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinOps.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinOpsTest.java
Due: runtime

Add missing break. Fixes test
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

use an existing ParameterizedBuiltin type, instead of a new instruction type DPBuiltin
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinOps.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinOpsTest.java
Due: runtime, compiler, util

Fix doc reference, improve readability
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinOps.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime

Unite tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Cleanup comments
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Change DPBudgetAccountant defaults to be constants
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime, compiler

Add parsing tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Add license to requirements.txt
  benchmark/dp/scripts/requirements.txt
Due: none

chore(**): apply formatting
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinOps.java
Due: runtime, compiler

More checkstyle fixes
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: compiler, util

Move DP benchmark under dp folder and add a README
  benchmark/dp/README.md
  benchmark/dp/scripts/benchmark_utilities.py
  benchmark/dp/scripts/collect_results.py
  benchmark/dp/scripts/eval.dml
  benchmark/dp/scripts/fedavg_dp.dml
  benchmark/dp/scripts/plot.py
  benchmark/dp/scripts/prepare_data.py
  benchmark/dp/scripts/requirements.txt
  benchmark/dp/scripts/run_benchmark.sh
  benchmark/dp/scripts/run_sweep.sh
  benchmark/dp/scripts/start_workers.sh
  benchmark/dp/scripts/stop_workers.sh
Due: none

Checkstyle
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
Due: runtime

Checkstyle fix
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler

Update test comments
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Address David's review comments: unite utility methods, reorder alphabetically ParamBuiltinOp
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler, util

Reorder Gauss and Laplace cases alphabetically
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
Due: runtime, compiler, util

Fix parseInstruction() comment
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
Due: runtime

Add dp_set_budget(epsilon, delta) built-in
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler, util

Change gaussian noise generation to use MatrixBlock randOperation, and laplace - Well1024a
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Changes according to format-changed.sh
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinOps.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinOpsTest.java
Due: runtime, compiler, util

Comment fix
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime

junit output format
  pom.xml
Due: none

fix(test/component/cp/DPBuiltinOpsTest.java): remove too fine-grained parsing tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinOpsTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
  src/test/scripts/functions/privacy/dp/DPGaussianTest.dml
  src/test/scripts/functions/privacy/dp/DPLaplaceTest.dml
  src/test/scripts/functions/privacy/dp/DPSetBudgetNonLiteralTest.dml
  src/test/scripts/functions/privacy/dp/DPSetBudgetTest.dml
  src/test/scripts/functions/privacy/dp/DPSetBudgetTwiceTest.dml
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
