Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-2622] NN Lib: LARS Optimizer and Examples
  scripts/data_prep/create_binary_chunks.py
  scripts/data_prep/prepare_raw_imagenet.py
  scripts/data_prep/run_raw_imagenet_preprocessing.py
  scripts/nn/examples/Example-ImageNet_AlexNet_Optimizers.dml
  scripts/nn/examples/Example-MNIST_Softmax.dml
  scripts/nn/examples/Example-ResNet.dml
  scripts/nn/examples/imagenet_alexnet.dml
  scripts/nn/examples/imagenet_resnet.dml
  scripts/nn/examples/load_imagenet_csv.dml
  scripts/nn/examples/mnist_resnet.dml
  scripts/nn/layers/lrn.dml
  scripts/nn/layers/softmax_cross_entropy_loss.dml
  scripts/nn/networks/alexnet.dml
  scripts/nn/networks/resnet.dml
  scripts/nn/networks/resnet101.dml
  scripts/nn/networks/resnet152.dml
  scripts/nn/networks/resnet18.dml
  scripts/nn/networks/resnet34.dml
  scripts/nn/networks/resnet50.dml
  scripts/nn/networks/resnet_util.dml
  scripts/nn/optim/lars.dml
  scripts/nn/optim/lars_util.dml
Due: none

[SYSTEMDS-3899] Avoid blocking entire input processed
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
Due: runtime

fix testrunner
  src/test/java/org/apache/sysds/test/functions/einsum/EinsumTest.java
Due: none

small change to save lines
  src/main/java/org/apache/sysds/runtime/instructions/cp/EinsumCPInstruction.java
Due: runtime

[SYSTEMDS-3899] Fix incorrect barrier in unary OOC operations
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
Due: runtime

Compressed Remove Empty
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupLinearFunctional.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupOLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupRLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AIterator.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AOffset.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRemoveEmpty.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedMatrixTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupNegativeTests.java
  src/test/java/org/apache/sysds/test/component/compress/offset/CustomOffsetTest.java
Due: runtime, matrix, compress

decompress selection matrix
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRemoveEmpty.java
Due: runtime, compress

recompte if unknown
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRemoveEmpty.java
Due: runtime, compress

fall back to uncompressed
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTSMM.java
Due: runtime, compress

Compressed remove empty columns
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupLinearFunctional.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupOLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupRLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRemoveEmpty.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupNegativeTests.java
Due: runtime, compress

disable decompressing for not suppoted ops
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
Due: runtime, compress

disable decompressing RMM for SDC
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
Due: runtime, compress

disable the decompressing RMM
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
Due: runtime, compress

true count
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
Due: runtime, compress

decompress first
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRemoveEmpty.java
Due: runtime, compress

delete branching with tail for loops
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

j = 0 needs to be changed to j = ai
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

update vect-vect primitives with branchless versions
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

correct Optimizer functionality
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
Due: compiler

debug vectMultWrite
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Binary.java
Due: compiler

minor value changes
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
  src/test/scripts/functions/codegen/rowAggPattern49.R
  src/test/scripts/functions/codegen/rowAggPattern49.dml
Due: compiler

create new test class
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

basic test setup
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TeeTest.java
  src/test/scripts/functions/ooc/Tee.dml
Due: runtime

add first verion of multimodal optimizer
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
Due: none

set transpose ooc operator
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/test/scripts/functions/ooc/Tee.dml
Due: runtime

add caching
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
Due: none

use swapindex for transpose operation
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
Due: runtime

setup TeeOp
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/test/java/org/apache/sysds/test/functions/ooc/TeeTest.java
Due: compiler

add Hop and rewrite class
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
Due: compiler

register the rewrite as static
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
Due: runtime, compiler

add transpose operation test
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
  src/test/scripts/functions/ooc/Transpose.dml
Due: none

add transpose operation test
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
  src/test/scripts/functions/ooc/Transpose.dml
Due: compiler

trigger the rewrite for the tee
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
Due: compiler

add rewrite and add missing methods in TeeOp
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
Due: compiler

add size information for output
  src/main/java/org/apache/sysds/hops/TeeOp.java
Due: compiler

take a defensive copy of consumers before rewrite
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
Due: compiler

add Tee LOP and use it in TeeOp
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/main/java/org/apache/sysds/lops/Lop.java
  src/main/java/org/apache/sysds/lops/Tee.java
Due: compiler

add license header
  src/main/java/org/apache/sysds/lops/Tee.java
Due: compiler
