Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3876] add test suite for native instruction tests
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
  src/test/java/org/apache/sysds/test/component/matrix/nativeBLAS/MatrixMultiplyMKLTest.java
  src/test/java/org/apache/sysds/test/component/matrix/nativeBLAS/MatrixMultiplyOpenBLASTest.java
  src/test/scripts/component/matrix/SystemDS-config.xml
  src/test/scripts/component/matrix/nativeBLAS/SystemDS-config-MKL.xml
  src/test/scripts/component/matrix/nativeBLAS/SystemDS-config-OpenBLAS.xml
Due: none

concurrency tests
  src/test/java/org/apache/sysds/test/functions/io/FrameBlockConcurrentCopyTest.java
Due: none

add copy() re-implementation
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
Due: runtime, frame

removed unsupperted python 3.10+ type unions
  src/main/python/systemds/utils/converters.py
Due: none

add dim reduction operators
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/representations/dimensionality_reduction.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/mlp_learned_dim_reduction.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/utils/utils.py
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

check space
  .github/workflows/python.yml
Due: none

Decompression to a specific index
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: runtime, compress

limit combinations in mm optimizer to save space
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
Due: none

[SYSTEMDS-3939] Add MLP-Aggregation operator to Scuro
  .github/workflows/python.yml
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/representations/dimensionality_reduction.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/mlp_learned_dim_reduction.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/utils/utils.py
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

[MINOR][SYSTEMDS-3878] Fix multiple high-severity CVEs in transitive dependencies
  docker/scout_results/multiple-high-CVEs/sysds_output6.md
  docker/scout_results/multiple-high-CVEs/sysds_output7.md
  pom.xml
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedTest.java
Due: none

slice Rows
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: runtime, compress

[SYSTEMDS-3779] Add imemdiate stop after index certain index in decompress(). Decompress will now return an empty map if the index is zero.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: runtime, compress

[SYSTEMDS-3929] Additional tests for existing HDF5 readers
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test1.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test2.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test3.java
  src/test/scripts/functions/io/hdf5/ReadHDF5_Default.dml
  src/test/scripts/functions/io/hdf5/ReadHDF5_Verify.R
  src/test/scripts/functions/io/hdf5/ReadHDF5_WithDataset.dml
  src/test/scripts/functions/io/hdf5/ReadHDF5_WithFormatAndDataset.dml
  src/test/scripts/functions/io/hdf5/gen_HDF5_testdata.R
Due: none

[MINOR][SYSTEMDS-3878] Fix additional high-severity CVEs in transitive dependencies
  docker/scout_results/multiple-high-CVEs/sysds_output8.md
  pom.xml
Due: none

Docker compose initial version-Creating two containers. TO DO connect.
  scripts/staging/ssb/ReadMe.md
  scripts/staging/ssb/test_scripts/Dockerfile
  scripts/staging/ssb/test_scripts/docker-compose.yaml
Due: none

[SYSTEMDS-3929] Fix and generalization of HDF5 readers
  src/main/java/org/apache/sysds/parser/DataExpression.java
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5.java
  src/main/java/org/apache/sysds/runtime/io/ReaderHDF5Parallel.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5ByteReader.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5Constants.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5ContiguousDataset.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5RootObject.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5Superblock.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5AttributeMessage.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5DataLayoutMessage.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5DataSpaceMessage.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5FilterPipelineMessage.java
  src/main/java/org/apache/sysds/runtime/io/hdf5/message/H5Message.java
  src/main/java/org/apache/sysds/runtime/meta/MetaDataAll.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test.java
Due: runtime, compiler

[MINOR] Fix corrupted merge conflicts
  src/test/scripts/functions/einsum/SystemDS-config-einsum.xml
Due: none

Update
  src/test/java/org/apache/sysds/test/component/tensor/PermuteTest.java
  src/test/java/org/apache/sysds/test/component/tensor/TransposeLinDataTest.java
Due: none

[SYSTEMDS-3779] Intermediate DDCLZW Scheme
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWScheme.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeMC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeSC.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: runtime, compress

[SYSTEMDS-3779] Added getIdx using LZWMappingIterator. Reverted formatting again.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: runtime, compress

Implementation of the shampoo optimizer including tests and experiments
  scripts/nn/optim/shampoo.dml
  scripts/staging/shampoo_optimizer/diagram_creation.ipynb
  scripts/staging/shampoo_optimizer/diagrams/diagram_metrics_mnist.png
  scripts/staging/shampoo_optimizer/metrics/metrics_adam_cifar.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_adam_cifar.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_adam_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_adam_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_cifar.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_cifar.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_diagonal_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_diagonal_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_cifar.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_cifar.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_diagonal_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_diagonal_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_cifar.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_cifar.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_diagonal_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_diagonal_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/shampoo_optimizer_experiments.dml
  src/test/scripts/applications/nn/component/shampoo_test.dml
  src/test/scripts/applications/nn/component/shampoo_test.py
  src/test/scripts/applications/nn/component/shampoo_test2.dml
Due: none

[SYSTEMDS-3779] Fixed out of bounds logic
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress

[SYSTEMDS-3779] Added new tests for ColGroupDDCLZW (draft)
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: none

hierarchy with linkage
  scripts/builtin/hdbscan.dml
  test_build_hierarchy.dml
  test_union_find.dml
Due: none

Add large rowCumsum tests and update Spark cumulative instructions
  src/main/java/org/apache/sysds/runtime/functionobjects/Builtin.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/CumulativeAggregateSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/CumulativeOffsetSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/UnaryMatrixSPInstruction.java
  src/test/scripts/functions/unary/matrix/RowCumsumLarge01_WideDense_100x200.dml
  src/test/scripts/functions/unary/matrix/RowCumsumLarge02_WideAltSign_50x500.dml
  src/test/scripts/functions/unary/matrix/RowCumsumLarge03_Tall_2000x30.dml
  src/test/scripts/functions/unary/matrix/RowCumsumLarge04_SparseImpulses_100x400.dml
  src/test/scripts/functions/unary/matrix/RowCumsumLarge05_NegHeavy_300x250.dml
  src/test/scripts/functions/unary/matrix/RowCumsumLarge06_FloatTiny_150x600.dml
  src/test/scripts/functions/unary/matrix/RowCumsumLarge07_BlockCarry_64x1024.dml
  src/test/scripts/functions/unary/matrix/RowCumsumLarge08_DeterministicHash_128x256.dml
  src/test/scripts/functions/unary/matrix/RowCumsumLarge09_SpotChecks_10x1000.dml
  src/test/scripts/functions/unary/matrix/RowCumsumLarge10_Regression_256x256.dml
Due: runtime

"done"
  scripts/builtin/autoencoderGeneralized.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedBasicTest.java
  src/test/scripts/functions/builtin/autoencoderGeneralized.dml
  src/test/scripts/functions/builtin/run_ae2layer.dml
Due: none

"done"
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedTest.java
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
  src/test/scripts/functions/builtin/autoencoderGeneralized.dml
Due: none

"done"
  scripts/builtin/autoencoderGeneralized.dml
  scripts/builtin/autoencoder_2layer.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedBasicTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAutoencoderGeneralizedTest.java
  src/test/scripts/functions/builtin/autoencoderGeneralized.dml
Due: none

"done"
  scripts/builtin/autoencoder_2layer.dml
Due: none

docs: remove redundant and fix CLI usage and JAR resolution
  docs/site/release_install.md
  docs/site/run_extended.md
  docs/site/source_install.md
Due: none

Changes - implemented the new method matrixMultDenseDenseMM, where using different iterations, when dealing with transposes, trying to achieve a speedup
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedTest.java
Due: runtime, matrix

Add LLM benchmarking framework to staging
  scripts/staging/llm-bench/README.md
  scripts/staging/llm-bench/backends/__init__.py
  scripts/staging/llm-bench/backends/base.py
  scripts/staging/llm-bench/backends/mlx_backend.py
  scripts/staging/llm-bench/backends/ollama_backend.py
  scripts/staging/llm-bench/backends/openai_backend.py
  scripts/staging/llm-bench/backends/vllm_backend.py
  scripts/staging/llm-bench/evaluation/__init__.py
  scripts/staging/llm-bench/evaluation/perf.py
  scripts/staging/llm-bench/notebooks/vllm_colab.ipynb
  scripts/staging/llm-bench/requirements.txt
  scripts/staging/llm-bench/runner.py
  scripts/staging/llm-bench/scripts/aggregate.py
  scripts/staging/llm-bench/scripts/report.py
  scripts/staging/llm-bench/scripts/run_all_benchmarks.sh
  scripts/staging/llm-bench/workloads/__init__.py
  scripts/staging/llm-bench/workloads/json_extraction/__init__.py
  scripts/staging/llm-bench/workloads/json_extraction/config.yaml
  scripts/staging/llm-bench/workloads/json_extraction/loader.py
  scripts/staging/llm-bench/workloads/json_extraction/prompt.py
  scripts/staging/llm-bench/workloads/math/__init__.py
  scripts/staging/llm-bench/workloads/math/config.yaml
  scripts/staging/llm-bench/workloads/math/loader.py
  scripts/staging/llm-bench/workloads/math/prompt.py
  scripts/staging/llm-bench/workloads/reasoning/__init__.py
  scripts/staging/llm-bench/workloads/reasoning/config.yaml
  scripts/staging/llm-bench/workloads/reasoning/loader.py
  scripts/staging/llm-bench/workloads/reasoning/prompt.py
  scripts/staging/llm-bench/workloads/summarization/__init__.py
  scripts/staging/llm-bench/workloads/summarization/config.yaml
  scripts/staging/llm-bench/workloads/summarization/loader.py
  scripts/staging/llm-bench/workloads/summarization/prompt.py
Due: none

Added various fallbacks to ddc for functions with complex access patterns. Added append and appendNInternal, recompress and various other functions that needed to be implemented. No tests yet.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
Due: runtime, compress
