Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[SYSTEMDS-3891] OOC Primitive Simplification and Streamable Injection Robustness
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCPlanner.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/GroupedReduceOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/JoinOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MappingOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MaterializeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/PlannableDataGenOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/TransposeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedStoreStreamable.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

updated skeleton for 0% coverage functions
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

cleanup(): cleanedup the unused and wrong imports
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquet.java
  src/test/java/org/apache/sysds/performance/Main.java
Due: runtime

testing write
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

Initial DPBuiltinCPInstruction and RDPAccountant
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Add dp_gaussian and dp_laplace operations
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime, compiler, util

Fix test package name.
  src/main/java/org/apache/sysds/common/Types.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: util

Make integration test more readable
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Add missing licenses
  benchmark/scripts/collect_results.py
  benchmark/scripts/eval.dml
  benchmark/scripts/fedavg_dp.dml
  benchmark/scripts/plot.py
  benchmark/scripts/prepare_data.py
  benchmark/scripts/run_benchmark.sh
  benchmark/scripts/run_sweep.sh
  benchmark/scripts/start_workers.sh
  benchmark/scripts/stop_workers.sh
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Fix L1 L2 sensitivity parameter documentation
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime

Remove 4th and 5th parameters and instead get them in a loop, according to David's suggestion
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
Due: compiler

More checkstyle fixes
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: compiler, util

Differential Privacy Benchmark
  benchmark/scripts/collect_results.py
  benchmark/scripts/eval.dml
  benchmark/scripts/fedavg_dp.dml
  benchmark/scripts/plot.py
  benchmark/scripts/prepare_data.py
  benchmark/scripts/run_benchmark.sh
  benchmark/scripts/run_sweep.sh
  benchmark/scripts/start_workers.sh
  benchmark/scripts/stop_workers.sh
  src/main/python/requirements.txt
Due: none

Fix Laplace accountant
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

junit output format
  pom.xml
Due: none

Add unit tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Update test comments
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Add dp_set_budget(epsilon, delta) built-in
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler, util

Delete RDPAccountant
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
Due: runtime

Rename RDPAccountant to DPBudgetAccountant
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Integration tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Cleanup comments
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Fix parseInstruction() comment
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
Due: runtime

dp_laplace and dp_gaussian now take the original matrix and build a transformation matrix T internally, returning T %*% X with noise fused into a single matrix multiply.
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler

Change DPBudgetAccountant defaults to be constants
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime, compiler

Checkstyle fix
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: runtime, compiler

Fix integration test to compare clean to noisy data
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Add missing break. Fixes test
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

Comment fix
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime

Use computeGaussianSigma
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime

Address David's review comments: unite utility methods, reorder alphabetically ParamBuiltinOp
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler, util

Use getRandomMatrix in DPBuiltinDMLTest and call it in setup instead of in every test
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Remove unneeded pom.xml change
  pom.xml
Due: none

Reorder Gauss and Laplace cases alphabetically
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/parser/ParameterizedBuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
Due: runtime, compiler, util

Removed python requirements file
  src/main/python/requirements.txt
Due: none

Checkstyle
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
Due: runtime

Change gaussian noise generation to use MatrixBlock randOperation, and laplace - Well1024a
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Change ParameterizedBuiltinOp.compare() so that two syntactically identical dp_laplace or dp_gaussian calls are never be merged into one execution.
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
Due: compiler

use an existing ParameterizedBuiltin type, instead of a new instruction type DPBuiltin
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinOps.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinOpsTest.java
Due: runtime, compiler, util

Add parsing tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
