Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

tee reaches the teeinstruction
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime, compiler, util

plan triggered tee rewrite works, as a start
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
Due: runtime

add tee rewrite
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
Due: compiler

add documentation for applyTeeRewrite method
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
Due: compiler

tee provide two outputs
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/lops/Tee.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
Due: runtime, compiler

add multimodal fusion optimizer
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/average.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/hadamard.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/max.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_fusion_orders.py
  src/main/python/tests/scuro/test_fusion_representations.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

remove test
  src/main/python/tests/scuro/test_fusion_representations.py
Due: none

add missing header
  src/main/python/systemds/scuro/utils/static_variables.py
Due: none

add missing header
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
Due: none

[SYSTEMDS-3887] Refactor representation optimizers (#2308)
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/dr_search.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/average.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/hadamard.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/systemds/scuro/utils/schema_helpers.py
  src/main/python/systemds/scuro/utils/static_variables.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_fusion_orders.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

add attention fusion
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
Due: none

add additional audio representations
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
Due: none

Add OOC row and column sums with tests
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/ColAggregationTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/RowAggregationTest.java
  src/test/scripts/functions/ooc/ColAggregationTest.dml
  src/test/scripts/functions/ooc/RowAggregationTest.dml
Due: runtime

debug setupSparseThreadLocalMem
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/main/java/org/apache/sysds/runtime/codegen/SpoofRowwise.java
Due: runtime

debug alen/blen replacement on vector-vector primitives
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
Due: compiler

debug unary primitives
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

add test case
  src/test/java/org/apache/sysds/test/functions/codegen/RowAggTmplTest.java
  src/test/scripts/functions/codegen/rowAggPattern49.dml
  src/test/scripts/functions/codegen/rowAggPattern50.R
  src/test/scripts/functions/codegen/rowAggPattern50.dml
Due: none

[SYSTEMDS-3895] Add OOC row and column aggregations with tests
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/ColAggregationTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/RowAggregationTest.java
  src/test/scripts/functions/ooc/ColAggregationTest.dml
  src/test/scripts/functions/ooc/RowAggregationTest.dml
Due: runtime

add representations to registry
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/swin_video_transformer.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

[SYSTEMDS-3860] Extended sparsity exploitation in codegen row templates
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNode.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeBinary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeNary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeRow.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeTernary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CodeTemplate.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Binary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Ternary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Unary.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/main/java/org/apache/sysds/runtime/codegen/SpoofRowwise.java
  src/test/java/org/apache/sysds/test/component/codegen/CPlanVectorPrimitivesTest.java
  src/test/java/org/apache/sysds/test/component/codegen/SparseVectorAllocTest.java
  src/test/java/org/apache/sysds/test/functions/codegen/RowAggTmplTest.java
  src/test/scripts/functions/codegen/rowAggPattern49.R
  src/test/scripts/functions/codegen/rowAggPattern49.dml
  src/test/scripts/functions/codegen/rowAggPattern50.R
  src/test/scripts/functions/codegen/rowAggPattern50.dml
Due: runtime, compiler, util

Add early block outputs to basic OOC matrix multiplication
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime

project structure
  src/main/java/org/apache/sysds/cujava/CudaException.java
  src/main/java/org/apache/sysds/cujava/Pointer.java
  src/main/java/org/apache/sysds/cujava/Sizeof.java
  src/main/java/org/apache/sysds/cujava/cudaDataType.java
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
  src/main/java/org/apache/sysds/cujava/runtime/cudaDeviceProp.java
  src/main/java/org/apache/sysds/cujava/runtime/cudaError.java
  src/main/java/org/apache/sysds/cujava/runtime/cudaMemcpyKind.java
Due: none

identify driver package in cuJava
  src/main/java/org/apache/sysds/cujava/driver/CUcontext.java
  src/main/java/org/apache/sysds/cujava/driver/CUdevice.java
  src/main/java/org/apache/sysds/cujava/driver/CUdevice_attribute.java
  src/main/java/org/apache/sysds/cujava/driver/CUdeviceptr.java
  src/main/java/org/apache/sysds/cujava/driver/CUfunction.java
  src/main/java/org/apache/sysds/cujava/driver/CUmodule.java
  src/main/java/org/apache/sysds/cujava/driver/CUresult.java
  src/main/java/org/apache/sysds/cujava/driver/CUstream.java
  src/main/java/org/apache/sysds/cujava/driver/CuJavaDriver.java
Due: none

add liceanse to Cmake
  src/main/cpp/jni/CMakeLists.txt
Due: none

implement CudaMemcpyKind
  src/main/java/org/apache/sysds/cujava/runtime/CudaMemcpyKind.java
Due: none

cpp/jni structure
  src/main/cpp/jni/CMakeLists.txt
  src/main/cpp/jni/cublas/cujava_cublas.cpp
  src/main/cpp/jni/cudnn/cujava_cudnn.cpp
  src/main/cpp/jni/cusolver/cujava_cusolver.cpp
  src/main/cpp/jni/cusparse/cujava_cusparse.cpp
  src/main/cpp/jni/driver/cujava_driver.cpp
  src/main/cpp/jni/runtime /cujava_runtime.cpp
Due: none

implement sizeof class
  src/main/java/org/apache/sysds/cujava/Sizeof.java
Due: none

add CudaException
  src/main/java/org/apache/sysds/cujava/CudaException.java
Due: none

implement CudaError
  src/main/java/org/apache/sysds/cujava/runtime/CudaError.java
Due: none

first stage of implementation is completed
  src/main/cpp/jni/build_cujava_libs.sh
  src/main/cpp/jni/common/CMakeLists.txt
  src/main/cpp/jni/common/cujava_jni_utils.cpp
  src/main/cpp/jni/common/cujava_jni_utils.hpp
  src/main/cpp/jni/common/cujava_logger.cpp
  src/main/cpp/jni/common/cujava_logger.hpp
  src/main/cpp/jni/common/cujava_pointer_utils.cpp
  src/main/cpp/jni/common/cujava_pointer_utils.hpp
  src/main/cpp/jni/runtime/CMakeLists.txt
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/cpp/jni/runtime/cujava_runtime_common.hpp
  src/main/cpp/lib/libCuJavaCommonJNI.a
  src/main/cpp/lib/libcujava_runtime.so
  src/main/java/org/apache/sysds/cujava/CuJavaLibLoader.java
  src/main/java/org/apache/sysds/cujava/Pointer.java
  src/main/java/org/apache/sysds/cujava/interop/JCudaAdapter.java
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

refactor class names
  src/main/java/org/apache/sysds/cujava/runtime/CudaDeviceProp.java
  src/main/java/org/apache/sysds/cujava/runtime/CudaError.java
  src/main/java/org/apache/sysds/cujava/runtime/CudaMemcpyKind.java
Due: none

set cuda error messaging
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
  src/main/java/org/apache/sysds/cujava/runtime/CudaError.java
Due: none

design new Pointer class for GPU
  src/main/java/org/apache/sysds/cujava/NativePointerObject.java
  src/main/java/org/apache/sysds/cujava/Pointer.java
Due: none

implement CudaDeviceProp
  src/main/java/org/apache/sysds/cujava/runtime/CudaDeviceProp.java
Due: none

implement CudaDataType class
  src/main/java/org/apache/sysds/cujava/CudaDataType.java
  src/main/java/org/apache/sysds/cujava/cudaDataType.java
Due: none

load lib
  src/main/java/org/apache/sysds/cujava/CuJavaLibLoader.java
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
