Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[SYSTEMDS-3908] Improved OOC matrix multiplication w/ early outputs
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
Due: runtime

add cudaGetDeviceCount
  src/main/cpp/jni/common/cujava_jni_utils.cpp
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

add cudaSetDevice
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

add method definition in header
  src/main/cpp/jni/common/cujava_jni_utils.hpp
Due: none

add cudaSetDeviceFlags
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

add header def
  src/main/cpp/jni/runtime/cujava_runtime.hpp
Due: none

add cudaGetDevice
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

minor fix
  src/main/cpp/jni/runtime/cujava_runtime.cpp
Due: none

add cudaGetDeviceProperties
  src/main/cpp/jni/runtime/cujava_runtime.cpp
  src/main/cpp/jni/runtime/cujava_runtime.hpp
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

complete jni side of cudaDeviceProperties
  src/main/cpp/jni/common/cujava_jni_utils.cpp
  src/main/cpp/jni/common/cujava_jni_utils.hpp
  src/main/cpp/jni/runtime/cujava_runtime.cpp
Due: none

correct program plan
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/lops/Tee.java
  src/main/java/org/apache/sysds/lops/compile/Dag.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
Due: runtime, compiler

start cuda context
  src/main/java/org/apache/sysds/cujava/driver/CUcontext.java
  src/main/java/org/apache/sysds/cujava/driver/CuJavaDriver.java
Due: none

implement CUdevice_attribute
  src/main/java/org/apache/sysds/cujava/driver/CUdevice.java
  src/main/java/org/apache/sysds/cujava/driver/CUdevice_attribute.java
Due: none

add CUdeviceptr
  src/main/java/org/apache/sysds/cujava/driver/CUdevice_attribute.java
  src/main/java/org/apache/sysds/cujava/driver/CUdeviceptr.java
Due: none

implement CUfunction
  src/main/java/org/apache/sysds/cujava/driver/CUfunction.java
Due: none

add CUmodule
  src/main/java/org/apache/sysds/cujava/driver/CUmodule.java
Due: none

implement CUresult
  src/main/java/org/apache/sysds/cujava/driver/CUresult.java
Due: none

start cuda stream
  src/main/java/org/apache/sysds/cujava/driver/CUresult.java
  src/main/java/org/apache/sysds/cujava/runtime/cudaStream_t.java
Due: none

lets use a 2 pass, post order traversal
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
Due: compiler

for now use a placeholder to cleanly copy
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/lops/Tee.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
Due: runtime, compiler

create ec variable in the Tee instruction * remove commented code * add java doc
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TeeTest.java
Due: runtime, compiler

add tee op in the Opcodes, Opcode type is Tee
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
Due: runtime, util

format the files for 2 spaces
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/lops/Tee.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TeeTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
Due: runtime, compiler

comment failed transpose 1000x500 test, put rewriteinject after readwrite
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
Due: compiler

implement java side of driver
  src/main/java/org/apache/sysds/cujava/driver/CUstream.java
  src/main/java/org/apache/sysds/cujava/runtime/cudaStream_t.java
Due: none

setup driver core class
  src/main/java/org/apache/sysds/cujava/driver/CuJavaDriver.java
Due: none

add common for driver in native
  src/main/cpp/jni/driver/cujava_driver.hpp
  src/main/cpp/jni/driver/cujava_driver_common.hpp
Due: none

[SYSTEMDS-3911] OOC Transpose operation
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
  src/test/scripts/functions/ooc/Transpose.dml
Due: runtime

fix formatting
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
Due: runtime

[SYSTEMDS-3911] OOC Transpose operation (#2316)
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
  src/test/scripts/functions/ooc/Transpose.dml
Due: runtime

[SYSTEMDS-3907] OOC Tee operator
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/lops/Lop.java
  src/main/java/org/apache/sysds/lops/Tee.java
  src/main/java/org/apache/sysds/lops/compile/Dag.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TeeTest.java
  src/test/scripts/functions/ooc/Tee.dml
Due: runtime, compiler, util

fix formatting
  src/main/java/org/apache/sysds/hops/TeeOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/lops/Tee.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TeeTest.java
Due: runtime, compiler

[SYSTEMDS-3178] Builtin for tuple deduplication
  scripts/builtin/dedup.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/util/UtilFunctions.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDedupTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
  src/test/scripts/functions/builtin/distributed_representation.dml
Due: runtime, util

[SYSTEMDS-3859] Improved Relational Algebra Builtin Functions
  scripts/builtin/raGroupby.dml
Due: none

wrap-up driver package
  src/main/cpp/jni/CMakeLists.txt
  src/main/cpp/jni/common/cujava_jni_utils.cpp
  src/main/cpp/jni/common/cujava_jni_utils.hpp
  src/main/cpp/jni/driver/CMakeLists.txt
  src/main/cpp/jni/driver/cujava_driver.cpp
  src/main/cpp/jni/driver/cujava_driver.hpp
  src/main/cpp/jni/driver/cujava_driver_common.hpp
  src/main/cpp/jni/runtime/cujava_runtime_common.hpp
  src/main/cpp/lib/libCuJavaCommonJNI.a
  src/main/cpp/lib/libcujava_driver.so
  src/main/cpp/lib/libcujava_runtime.so
  src/main/java/org/apache/sysds/cujava/driver/CuJavaDriver.java
  src/main/java/org/apache/sysds/cujava/runtime/CuJava.java
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
