Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3779] Objekte der DDC-Column Group mit dem CompressionSettingsBuilder erstellen
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

[MINOR] Optimized imports for ColGroupDDCTest due to auto optmization by IDE. Removed unneccesary comments from classes DDCLZW and DDCLZWTest. Optimized some tests to use compression framework.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCTest.java
Due: runtime, compress

[MINOR] Added licenses for DDCLZWSchemeMC/SC and renamed assertLosslessCompression_NoRepetition to assertLosslessCompressionNoRepetition in order to pass codestyle test.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeMC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeSC.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupDDCLZWTest.java
Due: runtime, compress

[DOC][SYSTEMDS-3878] added licence at the start of documentation to solve github action
  docker/SYSTEMDS-3878/scan-after-fixes/README.md
  docker/SYSTEMDS-3878/scan-before-fixes/README.md
  docker/SYSTEMDS-3878/summary-of-changes/README.md
  docker/SYSTEMDS-3878/unfixed-vulnerabilities/README.md
Due: none

[DOC][SYSTEMDS-3878] Clean documentation and remove duplicate text
  docker/SYSTEMDS-3878/README.md
  docker/SYSTEMDS-3878/summary-of-changes/README.md
Due: none

[DOC][SYSTEMDS-3878] add table of content for easy navigation, cleaned changelog
  docker/SYSTEMDS-3878/README.md
  docker/SYSTEMDS-3878/summary-of-changes/README.md
Due: none

[DOC][SYSTEMDS-3878] documented changes to sysds.Dockerfile
  docker/SYSTEMDS-3878/summary-of-changes/README.md
Due: none

[DOC][SYSTEMDS-3878] documented changes to the pom.xml
  docker/SYSTEMDS-3878/summary-of-changes/README.md
Due: none

[DOC][SYSTEMDS-3878] moved documentation files and fixed the relative links for navigation
  docker/SYSTEMDS-3878/README.md
  docker/SYSTEMDS-3878/scan-after-fixes.md
  docker/SYSTEMDS-3878/scan-before-fixes.md
  docker/SYSTEMDS-3878/summary-of-changes.md
  docker/SYSTEMDS-3878/unfixed-vulnerabilities.md
Due: none

[MINOR][SYSTEMDS-3878] reverted Dockerfile
  docker/SYSTEMDS-3878/README.md
  docker/sysds.Dockerfile
Due: none

adds rewritten matrix multiplication kernels and test for matrixMultSparseDenseMVTallRHS
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
Due: runtime, matrix

[DO NOT MERGE] Temporary benchmark script for reviewer verification
  pom.xml
  src/test/java/org/apache/sysds/test/component/matrix/BenchmarkMatMult.java
Due: none

[SYSTEMDS-3928] wrap main computational load in parfor()
  scripts/builtin/independentSubnetTrain.dml
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ListObject.java
  src/test/scripts/functions/builtin/indSubnetTest_mnist_lenet.dml
Due: runtime

initial implementation of DPScan based rewrite rule for raJoin
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteJoinReordering.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteRaJoinTest.java
  src/test/scripts/functions/rewrite/raJoin.dml
Due: compiler

all vector api implementation of dense primitives a) multiplyAdd, b) div, c) aggregations, d) comparisons
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/BenchCase.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/Ctx.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/PrimitivePerfSuite.java
Due: runtime, matrix

[SYSTEMDS-3168] Matrix Multiplication Transposed Kernels
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedTest.java
Due: runtime, matrix

Final version
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/PermuteTest.java
  src/test/java/org/apache/sysds/test/component/tensor/PermuteTest.java
Due: runtime, matrix

Replace codegen primitives with vector api implementation if faster; add all primitives implementations to benchmarking suite
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/BenchCase.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/backup_primitives_for_benchmark.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/benchUtil.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/rowMaxsVectMultTest.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/vectDivAddTest.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/vectEqualWriteTest.java
  src/test/java/org/apache/sysds/test/component/codegen/performance_tests/vectSumTest.java
Due: runtime

[SYSTEMDS-3928] finalise & clean for submission
  scripts/builtin/independentSubnetTrain.dml
  src/test/config/SystemDS-config.xml
  src/test/scripts/functions/builtin/indSubnetTest_mnist_lenet.dml
Due: none

[SYSTEMDS-3779] refactored benchmark+test helpers in util file, minor improvements to tests
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWBenchmark.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWTestUtils.java
Due: none

[SYSTEMDS-3779] simplified unit tests, injected more randomized data
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWTest.java
Due: none

Add missing license headers
  scripts/staging/shampoo_optimizer/diagram_creation.ipynb
  src/test/scripts/applications/nn/component/shampoo_test.py
  src/test/scripts/applications/nn/component/shampoo_test2.dml
Due: none

[SYSTEMDS-3259] Implementation of the shampoo optimizer (initial prototype)
  scripts/nn/optim/shampoo.dml
  scripts/staging/shampoo_optimizer/diagram_creation.ipynb
  scripts/staging/shampoo_optimizer/diagrams/diagram_metrics_mnist.png
  scripts/staging/shampoo_optimizer/metrics/metrics_adam_cifar.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_adam_cifar.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_adam_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_adam_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_cifar.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_cifar.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_diagonal_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_diagonal_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_cifar.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_cifar.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_diagonal_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_diagonal_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_heuristic_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_cifar.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_cifar.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_diagonal_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_diagonal_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_mnist.csv
  scripts/staging/shampoo_optimizer/metrics/metrics_shampoo_momentum_mnist.csv.mtd
  scripts/staging/shampoo_optimizer/shampoo_optimizer_experiments.dml
  src/test/scripts/applications/nn/component/shampoo_test.dml
  src/test/scripts/applications/nn/component/shampoo_test.py
  src/test/scripts/applications/nn/component/shampoo_test2.dml
Due: none

[SYSTEMDS-3902] Sparse data transfer: Python --> Java
  src/main/java/org/apache/sysds/runtime/util/Py4jConverterUtils.java
  src/main/python/systemds/context/systemds_context.py
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/matrix/test_block_converter.py
  src/test/java/org/apache/sysds/test/component/frame/array/Py4jConverterUtilsTest.java
  src/test/java/org/apache/sysds/test/component/utils/Py4jConverterUtilsTest.java
Due: runtime

[SYSTEMDS-3779] Changed ColGroupDDCLZWBenchmark class to use estimateInMemorySize instead of getExactSizeOnDisk for memory estimation.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWBenchmark.java
Due: runtime, compress

extend OOC random
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixDatagen.java
  src/test/java/org/apache/sysds/test/functions/ooc/RandTest.java
  src/test/scripts/functions/ooc/Rand1.dml
Due: runtime, matrix

wip: fix formattaing fix: fix efficiency getIdx()
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

fix: reverted file
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
Due: runtime, compress

rm: comment reformatted and add targetloss handling
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
Due: runtime, compress

fix: reverted file and add enum CompressionTypepiecewiseLinear
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
Due: runtime, compress

fix: reverted file
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupFactoryTest.java
Due: none

fix: repeated compression on every column extract: methods for compressPiecewiseLinearCompression
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
Due: runtime, compress

add: utils, methods to calculate piecewiseLinearCompression
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
Due: runtime, compress

wip: clear up tests add: test with randomly generated Data
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: none

fix: revert pom.xml
  pom.xml
Due: none

initial optimizer version
  .github/workflows/python.yml
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/utils/checkpointing.py
Due: none

Add LLM inference support to JMLC API via Py4J bridge
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/python/systemds/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: runtime, compress, util

Refactor loadModel to accept worker script path as parameter
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/main/java/org/apache/sysds/api/jmlc/LLMCallback.java
  src/main/python/systemds/llm_worker.py
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLCLLMInferenceTest.java
Due: util
