Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3853] Fix ampute outer broadcasting and error handling
  scripts/builtin/ampute.dml
  src/main/java/org/apache/sysds/hops/BinaryOp.java
Due: compiler

tmp
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLConnectionTest.java
Due: none

Printer, Visualizer, RewireTable (250416)
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanVisualizer.py
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest13.dml
Due: compiler

[SYSTEMDS-3853] Fix error handling invalid binary broadcasting
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDeepWalkTest.java
Due: compiler

[MINOR] Disable invalid builtin function implementations
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinMDTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinRaJoinTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinShapExplainerTest.java
Due: none

separate computing weight and network weight
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
Due: compiler

[SYSTEMDS-3716,3853] Fix incorrect outer operations in builtin scripts
  scripts/builtin/deepWalk.dml
  scripts/builtin/mcc.dml
  scripts/builtin/mdedup.dml
  scripts/builtin/raJoin.dml
  scripts/builtin/raSelection.dml
  scripts/builtin/shapExplainer.dml
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinDeepWalkTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinMDTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinRaJoinTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinShapExplainerTest.java
Due: compiler

[SYSTEMDS-3860] Extended codegen row template by var aggregates
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeUnary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Unary.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/test/java/org/apache/sysds/test/component/misc/DMLScriptTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinMDTest.java
  src/test/java/org/apache/sysds/test/functions/codegen/RowAggTmplTest.java
  src/test/scripts/functions/codegen/rowAggPattern47.R
  src/test/scripts/functions/codegen/rowAggPattern47.dml
  src/test/scripts/functions/codegen/rowAggPattern48.R
  src/test/scripts/functions/codegen/rowAggPattern48.dml
Due: runtime, compiler

[SYSTEMDS-3790] Extended optimizer for federated execution plans
  scripts/staging/fedplanner/graph.py
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanVisualizer.py
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest10.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest4.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest5.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest6.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest7.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest8.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest9.dml
Due: compiler

[SYSTEMDS-3861] Fix redundant transposes due to multi-level rewrites
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteTransposeTest.java
  src/test/scripts/functions/rewrite/RewriteTransposeCase1.R
  src/test/scripts/functions/rewrite/RewriteTransposeCase1.dml
  src/test/scripts/functions/rewrite/RewriteTransposeCase2.R
  src/test/scripts/functions/rewrite/RewriteTransposeCase2.dml
  src/test/scripts/functions/rewrite/RewriteTransposeCase3.R
  src/test/scripts/functions/rewrite/RewriteTransposeCase3.dml
Due: compiler

[SYSTEMDS-2229] Extended I/O Framework: Readers/Writers for Parquet
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquetParallel.java
  src/test/java/org/apache/sysds/test/functions/io/SeqParReadTest2.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameParquetSchemaTest.java
Due: runtime, util

function statement block cost estimation
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/parser/StatementBlock.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest13.dml
Due: compiler

forwarding cost, deepcopy+update
  src/main/java/org/apache/sysds/hops/fedplanner/FTypes.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/parser/StatementBlock.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedKMeansPlanningTest.java
Due: compiler

implemented rewrites for trace sum and trace of transpose.
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTraceSumTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTraceTransposeTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceSum.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceSum.dml
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceTranspose.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceTranspose.dml
Due: compiler

extended support to tr(X)
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

extended support to tr(X)
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteBooleanSimplificationTest.java
Due: none

[SYSTEMDS-3864] Additional trace alias tr()
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

[SYSTEMDS-3864] Additional trace simplification rewrites
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTraceSumTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTraceTransposeTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceSum.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceSum.dml
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceTranspose.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTraceTranspose.dml
Due: compiler

FedPlannerCostBased, FedPlanning Test, Update Cost Estimation(numOfParents, Network Latency, separate compute, network weight)
  src/main/java/org/apache/sysds/hops/fedplanner/AFederatedPlanner.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanRewireTransTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedCostBased.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanVisualizer.py
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedDynamicPlanningTest.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedL2SVMPlanningTest.java
Due: compiler

[SYSTEMDS-3842] Improve test coverage of API components: ScriptExecutorUtils & JMLConnection
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/test/java/org/apache/sysds/test/component/misc/DMLScriptTest.java
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLConnectionTest.java
Due: util

[SYSTEMDS-3868] Fix missing function hoisting from if predicates
  scripts/builtin/ampute.dml
  src/main/java/org/apache/sysds/parser/StatementBlock.java
Due: compiler

[MINOR] Update Python API
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/ampute.py
Due: none

[MINOR] Add DataTypes on memory estimates for HOPS
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/DataGenOp.java
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/IndexingOp.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
Due: compiler
