Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[MINOR] Disable codegen test for row-aggregate cumsum
  src/test/java/org/apache/sysds/test/functions/codegen/RowAggTmplTest.java
Due: none

implement optimizer for unary
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
Due: compiler

implement new sparse intermediates for vectWrite
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeNary.java
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeRow.java
Due: compiler

implement new vectWrite that use sparse intermediates
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

adjust method signature
  src/main/java/org/apache/sysds/hops/codegen/cplan/CNodeNary.java
Due: compiler

adjust method signature
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

debug div method
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

debug binary class
  src/main/java/org/apache/sysds/hops/codegen/cplan/java/Binary.java
Due: compiler

add test to invoke ooc unary op
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/Unary.dml
Due: runtime

fix dml file
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/test/scripts/functions/ooc/Unary.dml
Due: runtime

ceil(X) output is empty
  src/test/scripts/functions/ooc/Unary.dml
Due: none

code related to unaryooc parseinstruction is called
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/Unary.dml
Due: runtime

program not reaching the threads
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
Due: runtime

fix cpoperand input types
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
Due: runtime

input stream not yet reaching the threads
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/Unary.dml
Due: runtime

pass only the opcode for profiling
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
Due: runtime

add Future and task.get() to wait
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
Due: runtime

test pass but write is not successful
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/Unary.dml
Due: runtime

remove unused imports
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
Due: runtime

address review comments
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
Due: runtime

add a basic test, verify it with aggregation
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/Unary.dml
Due: none

[SYSTEMDS-3899] Unary out-of-core-operations
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/UnaryTest.java
  src/test/scripts/functions/ooc/Unary.dml
Due: runtime

reduce test time
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/average.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/hadamard.py
  src/main/python/systemds/scuro/representations/image_bind.py
  src/main/python/systemds/scuro/representations/max.py
  src/main/python/systemds/scuro/representations/x3d.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
  src/main/python/systemds/utils/helpers.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_fusion_orders.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

remove torch device
  src/main/python/systemds/utils/helpers.py
Due: none

reformat
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/hadamard.py
  src/main/python/systemds/scuro/representations/image_bind.py
  src/main/python/systemds/scuro/representations/max.py
  src/main/python/systemds/scuro/representations/x3d.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
  src/main/python/systemds/utils/helpers.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_fusion_orders.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

cleaned code and add documentations
  src/main/java/org/apache/sysds/runtime/instructions/spark/ParameterizedBuiltinSPInstruction.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/ColumnDecoderRecode.java
  src/test/java/org/apache/sysds/performance/micro/InformationLoss.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderDummycodeTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderMixedMethodsTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderPassThroughTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnDecoderRecodeTest.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnEncoderBinDecoderTest.java
Due: runtime

remove param
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

[MINOR] Set Python Test timeout to 60m
  .github/workflows/python.yml
Due: none

add imporved unimodal optimizer
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/utils/schema_helpers.py
Due: none

add subclass to store results
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

FIXME in spark instruction
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
  src/main/java/org/apache/sysds/resource/cost/CPCostUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/GPUInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/CumulativeOffsetFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/UnaryMatrixFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/gpu/MatrixBuiltinGPUInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/CumulativeAggregateSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/CumulativeOffsetSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/UnaryMatrixSPInstruction.java
Due: runtime, compiler, util

add params as strings
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

improve optimization results
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

add deterministic random seed generator
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/utils/static_variables.py
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
