Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

implement adamW
  scripts/nn/optim/adamw.dml
Due: none

implement scaledGD
  scripts/nn/optim/scaled_gd.dml
Due: none

[SYSTEMDS-3553] Additional nn optimizers (AdamW, ScaledGD)
  scripts/nn/optim/adamw.dml
  scripts/nn/optim/scaled_gd.dml
Due: none

[MINOR] Fix consistent nnz maintenance in codegen col aggregates
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

[SYSTEMDS-2864] Fix opcode merge conflicts and lineage bug
  src/main/java/org/apache/sysds/runtime/instructions/cp/CtableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/lineage/LineageRecomputeUtils.java
Due: runtime

[SYSTEMDS-2864] Fix opcode merge conflicts and autodiff bug
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/main/java/org/apache/sysds/runtime/util/AutoDiff.java
Due: runtime, matrix, util

[SYSTEMDS-3547] Additional transpose in-place kernel (Brenner)
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/TransposeInPlaceBrennerTest.java
Due: runtime, matrix

[SYSTEMDS-3778] New determinant function, kernels, rewrites
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/resource/cost/CPCostUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/UnaryMatrixCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteDetTest.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/DetTest.java
  src/test/scripts/functions/rewrite/RewriteDetMixed.R
  src/test/scripts/functions/rewrite/RewriteDetMixed.dml
  src/test/scripts/functions/rewrite/RewriteDetMult.R
  src/test/scripts/functions/rewrite/RewriteDetMult.dml
  src/test/scripts/functions/rewrite/RewriteDetScalarMatrixMult.R
  src/test/scripts/functions/rewrite/RewriteDetScalarMatrixMult.dml
  src/test/scripts/functions/rewrite/RewriteDetTranspose.R
  src/test/scripts/functions/rewrite/RewriteDetTranspose.dml
  src/test/scripts/functions/unary/matrix/DetTest.R
  src/test/scripts/functions/unary/matrix/DetTest.dml
Due: runtime, matrix, compiler, util

[SYSTEMDS-3704] New resource-aware operator scheduling
  src/main/java/org/apache/sysds/lops/compile/linearization/IDagLinearizerFactory.java
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAwareFast.java
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAwareOptimal.java
  src/test/java/org/apache/sysds/test/functions/linearization/ILinearizeTest.java
  src/test/scripts/functions/linearization/SystemDS-config-resource-aware-fast.xml
  src/test/scripts/functions/linearization/SystemDS-config-resource-aware-optimal.xml
Due: compiler

Remove wildcard import
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
Due: compiler

Compressed multi cbind
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCBind.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MatrixAppendCPInstruction.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
Due: runtime, compress

Bugfix in CodeGen
  src/main/java/org/apache/sysds/hops/rewriter/codegen/RewriterCodeGen.java
  src/main/java/org/apache/sysds/hops/rewriter/generated/GeneratedRewriteClass.java
Due: compiler

cbind tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedCustomTests.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
Due: runtime, matrix, compress

[SYSTEMDS-3827] CLA MultiCBind
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCBind.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MatrixAppendCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedCustomTests.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
Due: runtime, matrix, compress

[SYSTEMDS-3179] Update glove.dml
  scripts/builtin/glove.dml
Due: none

[SYSTEMDS-3828] Parallel Compressed Replace
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReplace.java
Due: runtime, compress

[SYSTEMDS-3179] add script to test GloVe
  scripts/builtin/gloveValidityTest.dml
Due: none

code cov and tests Parallel Compressed Replace
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReplace.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedCustomTests.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedMatrixTest.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
Due: runtime, matrix, compress

[SYSTEMDS-3828] Parallel Compressed Replace
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReplace.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedCustomTests.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedMatrixTest.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
Due: runtime, matrix, compress

[MINOR] Reduce compression settings logging
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
Due: runtime, compress

[MINOR] Parallel Binary exam sparsity
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryMatrixMatrixCPInstruction.java
Due: runtime

[MINOR] Log out metadata size from transformencode
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
Due: runtime

[MINOR] Fix CompressionSettings static boolean
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedLoggingTests.java
Due: runtime, compress
