Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Additional test for best compression type match
  src/test/java/org/apache/sysds/test/component/compress/qcompress/CompareCompressionTypeTest.java
Due: none

[SYSTEMDS-3541] Exploratory workload-aware compression on intermediates
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteCompressedReblock.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
  src/main/java/org/apache/sysds/runtime/compress/workload/WorkloadAnalyzer.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibBinaryCellOpCustomTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibBinaryCellOpTest.java
  src/test/java/org/apache/sysds/test/functions/compress/workload/WorkloadAlgorithmTest.java
Due: runtime, compress, compiler, util

thorough test
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

make tests readable
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

final adjustments and debugging
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

add operators to test
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

test rowProd and colPord
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

make tests runnable
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
Due: none

implement denseColProd and denseRowProd. Sparsity not yet fully implemented and tested
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

implement new colProd and rowProd tests
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

fix transpose in tests
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl29.R
Due: none

debug executeSparseColRowProd()
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
Due: runtime

fix executeSparseColRowProd()
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

new tests
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

colProd change
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
Due: runtime

lnnz fix
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

fix lnnz value
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

new test matrix input
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
Due: none

performance improvement
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

correct function
  src/test/scripts/functions/codegen/cellwisetmpl29.R
Due: none

new test types
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
Due: none

set PROD as supported ROW and COL aggregation functions so that hops and lops can be turned into SpoofFused operators
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateCell.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
Due: compiler

rewrite to a more readable code
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

minor adjustments
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

delete todo
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

implement new colProd and rowProd tests
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateCell.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: runtime, compiler

implement colProd and rowProd
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateCell.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: runtime, compiler

correct differences with main working branch
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

Forced compression type tests, uncompressed quantized and more
  src/main/java/org/apache/sysds/runtime/compress/bitmap/BitmapEncoder.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/estim/CompressedSizeInfoColGroup.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/QuantizationFusedForcedCompressionTypesTest.java
Due: runtime, compress

[MINOR]Typo-fix
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
Due: runtime, compress

Testing script
  src/test/scripts/applications/nn/component/embedding.dml
Due: none

Added testing to automated component tests
  src/test/java/org/apache/sysds/test/applications/nn/NNComponentTest.java
Due: none

Init function
  scripts/nn/layers/embedding.dml
Due: none

Forward pass
  scripts/nn/layers/embedding.dml
Due: none

Backward pass
  scripts/nn/layers/embedding.dml
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
