Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[MINOR] Only Warn Once On Inefficient ThreadPool Use
  src/main/java/org/apache/sysds/runtime/util/CommonThreadPool.java
Due: runtime

[MINOR] Fix edgecase of Compressed OffsetSlice
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AOffset.java
Due: runtime, compress

[MINOR] Mapping Add A Range Setting
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToBit.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToCharPByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToInt.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToZero.java
Due: runtime, compress

[MINOR] Include HASH Type in HighestCommonType
  src/main/java/org/apache/sysds/common/Types.java
  src/test/java/org/apache/sysds/test/component/misc/TypeTest.java
Due: util

Offests fixes
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AOffset.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetTwo.java
  src/test/java/org/apache/sysds/test/component/compress/offset/OffsetTests.java
Due: runtime, compress

more mapping tests
  src/test/java/org/apache/sysds/test/component/compress/mapping/CustomMappingTest.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTests.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/PreAggregateDDC_DDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/PreAggregateSDCZ_SDCZTest.java
Due: none

more
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTests.java
Due: none

mapping improved tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToBit.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToCharPByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToInt.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToUByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToZero.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCSchemeMC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCSchemeSC.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/CustomMappingTest.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTests.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTestsResize.java
Due: runtime, compress

[MINOR] Fix edgecase of Compressed OffsetSlice
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AOffset.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetTwo.java
  src/test/java/org/apache/sysds/test/component/compress/offset/OffsetTests.java
Due: runtime, compress

more tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToBit.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToCharPByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToInt.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToUByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToZero.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/CustomMappingTest.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingPreAggregateTests.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTests.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/PreAggregateDDC_DDCTest.java
Due: runtime, compress

add preaggregatemult direct exampe
  src/test/java/org/apache/sysds/test/component/compress/mapping/CustomMappingTest.java
Due: none

slice
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTests.java
Due: none

placeholder dict
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/CustomMappingTest.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTests.java
Due: runtime, compress

set range
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTests.java
Due: none

fix: now sqrt with eigen decomposition works
  scripts/builtin/matrix_square_root.dml
Due: none

fix MapToChar
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
Due: runtime, compress

cleanup
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToBit.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToCharPByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToInt.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToUByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToZero.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCSchemeSC.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/CustomMappingTest.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingPreAggregateTests.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/PreAggregateDDC_DDCTest.java
Due: runtime, compress

[MINOR] Mapping Add A Range Setting
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToBit.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToChar.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToCharPByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToInt.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToUByte.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToZero.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCSchemeMC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCSchemeSC.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/CustomMappingTest.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingPreAggregateTests.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTests.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/MappingTestsResize.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/PreAggregateDDC_DDCTest.java
  src/test/java/org/apache/sysds/test/component/compress/mapping/PreAggregateSDCZ_SDCZTest.java
Due: runtime, compress

encoding and combining update
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DictionaryFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/ConstEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/DenseEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EmptyEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/IEncode.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/SparseEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCombineGroups.java
  src/test/java/org/apache/sysds/test/component/compress/combine/CombineEncodings.java
  src/test/java/org/apache/sysds/test/component/compress/combine/CombineEncodingsUnique.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CombineTest.java
Due: runtime, compress

[SYSTEMDS-3548] Parallelize FrameBlock column allocation
  src/main/python/systemds/utils/converters.py
Due: none

fix edge case
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DictionaryFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/DenseEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/IEncode.java
  src/main/java/org/apache/sysds/runtime/compress/utils/HashMapLongInt.java
  src/test/java/org/apache/sysds/test/component/compress/combine/CombineEncodings.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CombineTest.java
Due: runtime, compress

[SYSTEMDS-3808] Dictionary Compressed Combine
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DictionaryFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/ConstEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/DenseEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EmptyEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/IEncode.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/SparseEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCombineGroups.java
  src/main/java/org/apache/sysds/runtime/compress/utils/HashMapLongInt.java
  src/test/java/org/apache/sysds/test/component/compress/combine/CombineEncodings.java
  src/test/java/org/apache/sysds/test/component/compress/combine/CombineEncodingsUnique.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CombineTest.java
Due: runtime, compress

[MINOR] Update cost estimation in CLA
  src/main/java/org/apache/sysds/runtime/compress/cost/ComputationCostEstimator.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstCompressedSample.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstSample.java
  src/main/java/org/apache/sysds/runtime/compress/estim/CompressedSizeInfoColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/estim/EstimationFactors.java
  src/main/java/org/apache/sysds/runtime/compress/utils/ACountHashMap.java
  src/main/java/org/apache/sysds/runtime/compress/utils/DoubleIntListHashMap.java
Due: runtime, compress

[MINOR] reformat releaseIntern in cacheableData
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
Due: runtime

[MINOR] Add compressed statistics if decompressing
  src/main/java/org/apache/sysds/utils/Statistics.java
Due: util

[MINOR] Fused decompression in CLALibScalar
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibScalar.java
Due: runtime, compress

[MINOR] Update decompression for zeros
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibDecompress.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibUtils.java
Due: runtime, compress

CLALib Combine Columngroups With Morphing
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ADictBasedColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupLinearFunctional.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/ADictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DictLibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DictionaryFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstCompressedSample.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstSample.java
  src/main/java/org/apache/sysds/runtime/compress/estim/CompressedSizeInfoColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/estim/EstimationFactors.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCombineGroups.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CombineTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CombineGroupsTest.java
Due: runtime, compress

Add Columngroups Update
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroupCompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroupOffset.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ADictBasedColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AMorphingMMColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/APreAgg.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDCZero.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupLinearFunctional.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupOLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupRLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUtils.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/IContainDefaultTuple.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/IFrameOfReferenceGroup.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupNegativeTests.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupTest.java
Due: runtime, matrix, compress

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
