Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3908] Fix OOC matmult compilation w/ transpose rewrite
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/test/java/org/apache/sysds/test/functions/ooc/lmDSTest.java
Due: compiler

[SYSTEMDS-3924] New primitive for OOC stream creation / reset
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
  src/main/java/org/apache/sysds/runtime/util/UtilFunctions.java
  src/test/java/org/apache/sysds/test/functions/ooc/lmDSTest.java
  src/test/scripts/functions/ooc/lmDS.dml
Due: runtime, compiler

[MINOR] Fix java doc error (missing closing tag)
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
Due: runtime

add ts representations
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

add base ts functionality to unimodal optimizer
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

[MINOR] Disable Javadoc Generation for Python Tests
  .github/workflows/python.yml
Due: none

add ts params to context
  src/main/python/systemds/scuro/representations/context.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

get current params in optimizers
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

[SYSTEMDS-3927] Out-of-core centralMoment operations
  src/main/java/org/apache/sysds/lops/CentralMoment.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CentralMomentOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ComputationOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CentralMomentTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/CentralMomentWeightsTest.java
  src/test/scripts/functions/ooc/CentralMoment.dml
  src/test/scripts/functions/ooc/CentralMomentWeights.dml
Due: runtime, compiler

Removing redundancies
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CentralMomentOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CentralMomentTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/CentralMomentWeightsTest.java
Due: runtime

Ensure matching block-sizes
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CentralMomentOOCInstruction.java
Due: runtime

Fix wildcard imports
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CentralMomentOOCInstruction.java
Due: runtime

implement simple prescient policy
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/PrescientPolicy.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/PrescientPolicyTest.java
Due: runtime

add evictionpolicy option in UMM
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/UnifiedMemoryManager.java
Due: runtime

implement basic IOTrace, IOTraceGenerator classes
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/UnifiedMemoryManager.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTrace.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTraceGenerator.java
Due: runtime

implement eviction policy interface
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/EvictionPolicy.java
Due: runtime

Added a new StreamCollect test and fixed TransposeTest validation
  src/test/java/org/apache/sysds/test/functions/ooc/StreamCollectTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
  src/test/scripts/functions/ooc/StreamCollect_1.dml
  src/test/scripts/functions/ooc/StreamCollect_2.dml
Due: none

Fix test DML inconsistencies
  src/test/scripts/functions/ooc/StreamCollect_1.dml
  src/test/scripts/functions/ooc/StreamCollect_2.dml
Due: none

Third test to cover unary OOC collection
  src/test/java/org/apache/sysds/test/functions/ooc/StreamCollectTest.java
  src/test/scripts/functions/ooc/StreamCollect_3.dml
Due: none

[SYSTEMDS-3924] Additional tests for OOC stream creation/collect
  src/test/java/org/apache/sysds/test/functions/ooc/StreamCollectTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeTest.java
  src/test/scripts/functions/ooc/StreamCollect_1.dml
  src/test/scripts/functions/ooc/StreamCollect_2.dml
  src/test/scripts/functions/ooc/StreamCollect_3.dml
Due: none

add IOTrace and IOTraceGenerator
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTrace.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTraceGenerator.java
Due: runtime

add placeholder logic for iotrace
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/UnifiedMemoryManager.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTrace.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTraceGenerator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/PrescientPolicy.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
Due: runtime

add implementation for evict, prefetch blocks
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTraceGenerator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/PrescientPolicy.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/PrescientPolicyTest.java
Due: runtime

also add furthest blocks to evictcandidate list
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/PrescientPolicy.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/PrescientPolicyTest.java
Due: runtime

add OOC Ctable
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CtableOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CTableTest.java
  src/test/scripts/functions/ooc/CTableTest.R
  src/test/scripts/functions/ooc/CTableTest.dml
  src/test/scripts/functions/ooc/WeightedCTableTest.R
  src/test/scripts/functions/ooc/WeightedCTableTest.dml
Due: runtime

[SYSTEMDS-3915] Out-of-core ctable operations
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CtableOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CTableTest.java
  src/test/scripts/functions/ooc/CTableTest.R
  src/test/scripts/functions/ooc/CTableTest.dml
  src/test/scripts/functions/ooc/WeightedCTableTest.R
  src/test/scripts/functions/ooc/WeightedCTableTest.dml
Due: runtime

add efficient linkedlist based methods
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTrace.java
Due: runtime

use methods in IOTrace for policy
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/PrescientPolicy.java
Due: runtime

fix getNextAccessTime logic
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTrace.java
Due: runtime

methods for IOTraceGenerator
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/IOTraceGenerator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/PrescientPolicyTest.java
Due: runtime

use a separate method for ooc evictions
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/prescientbuffer/OOCEvictionManager.java
Due: runtime

umm integration
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/EvictionPolicy.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/UnifiedMemoryManager.java
Due: runtime, util

add integration to program block
  src/main/java/org/apache/sysds/runtime/controlprogram/ProgramBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
Due: runtime
