Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Add dp_gaussian and dp_laplace operations
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/ParameterizedBuiltinOp.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime, compiler, util

Add unit tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Initial DPBuiltinCPInstruction and RDPAccountant
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Fix Laplace accountant
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

CLAUDE_CODE_PLAN.md
  CLAUDE_CODE_PLAN.md
Due: none

Fix test package name.
  src/main/java/org/apache/sysds/common/Types.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: util

Intro notebooks
  src/main/python/notebooks/python_e2e_l1.ipynb
  src/main/python/notebooks/quick_start.ipynb
  src/main/python/requirements.txt
Due: none

Integration tests
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Rename RDPAccountant to DPBudgetAccountant
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: runtime

Fix integration test to compare clean to noisy data
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

junit output format
  pom.xml
Due: none

Make integration test more readable
  src/test/java/org/apache/sysds/test/functions/privacy/dp/DPBuiltinDMLTest.java
Due: none

Update test comments
  src/test/java/org/apache/sysds/test/component/cp/DPBuiltinCPInstructionTest.java
Due: none

Delete RDPAccountant
  src/main/java/org/apache/sysds/runtime/privacy/dp/RDPAccountant.java
Due: runtime

Fix parseInstruction() comment
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
Due: runtime

Fix L1 L2 sensitivity parameter documentation
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime

Comment fix
  src/main/java/org/apache/sysds/runtime/instructions/cp/DPBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/privacy/dp/DPBudgetAccountant.java
Due: runtime

Remove Claude files
  CLAUDE.md
  CLAUDE_CODE_PLAN.md
Due: none

add checks for correct parameters and break up lhs function into seperate functions by method
  scripts/builtin/lhs.dml
Due: none

removed unnecessary check
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
Due: none

made parameters more configurable
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
Due: none

added adjustable learning rate
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
  src/test/scripts/applications/nn/component/optim/mnist_optimizer_check.dml
Due: none

more doc
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
Due: none

added documenting comments
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
Due: none

added rmsprop check for epsilon safeguard
  src/test/scripts/applications/nn/component/optim/rmsprop.dml
Due: none

rmsprop singlestep check
  src/test/scripts/applications/nn/component/optim/rmsprop.dml
Due: none

adding lars
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimTest.java
  src/test/scripts/applications/nn/component/optim/lars.dml
Due: none

added 2 more testcases for lars
  src/test/scripts/applications/nn/component/optim/lars.dml
Due: none

Added scaled_gd test
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimTest.java
  src/test/scripts/applications/nn/component/optim/scaled_gd.dml
Due: none

added suppression
  dev/checkstyle/suppressions.xml
Due: none

fix buggy behaviour in cpSweep method and evaluateGoalNewRow function
  scripts/builtin/lhs.dml
Due: none

[MINOR] Clean up of isDebugEnabled() usages
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/FederatedPSControlThread.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/ParamServer.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CompressionCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParamservBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/InitFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/io/MatrixReaderFactory.java
  src/main/java/org/apache/sysds/runtime/lineage/LineageRewriteReuse.java
  src/main/java/org/apache/sysds/runtime/matrix/data/sketch/countdistinctapprox/KMVSketch.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/main/java/org/apache/sysds/utils/ParameterizedLogger.java
  src/test/java/org/apache/sysds/test/component/utils/ParameterizedLoggerTest.java
Due: runtime, matrix, compress, compiler, util

Remove files irrelevant to the PR
  src/main/python/notebooks/python_e2e_l1.ipynb
  src/main/python/notebooks/quick_start.ipynb
  src/main/python/requirements.txt
Due: none

[SYSTEMDS-3926] corrected format
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
Due: none

[SYSTEMDS-XXXX] Add coresetDT builtin for coreset selection using a decision tree
  docs/site/builtins-reference.md
  scripts/builtin/coresetDT.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinCoresetDTTest.java
  src/test/scripts/functions/builtin/coresetDT.dml
Due: util

change lhs to return the optimization objective value
  scripts/builtin/lhs.dml
Due: none

add script to benchmark lhs againt random sampling by fitting a gmm to sampled data
  src/test/scripts/functions/builtin/lhs_gmm_benchmark.dml
Due: none

[SYSTEMDS-3949] Harden direct Delta frame decode and add shape coverage tests
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadWriteTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameShapeCoverageTest.java
Due: runtime

Add sparse-sparse transposed matrix multiplication kernels. Support all four transpose combinations without temporary allocation.
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultSparseTransposedPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultSparseTransposedTest.java
Due: runtime, matrix

Add batched parallel unique handling
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketchUniqueParallelTest.java
Due: runtime, matrix

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
