Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[MINOR] CompressedMatrixBlock parallel nonzero count
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
Due: runtime, compress

[MINOR] Correct formatting of MapToByte
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/MapToByte.java
Due: runtime, compress

[MINOR] Various cleanups of prints and formatting
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibDecompress.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkloadAnalyzer.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ArrayWrapper.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/BooleanArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/RaggedArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/transform/encode/EncoderFactory.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinAdasynRealDataTest.java
  src/test/java/org/apache/sysds/test/functions/federated/paramserv/EncryptedFederatedParamservTest.java
  src/test/java/org/apache/sysds/test/functions/federated/paramserv/FederatedParamservTest.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformFrameEncodeBagOfWords.java
Due: runtime, frame, compress

[MINOR] Disable Lineage Tracing Debug Prints
  src/main/java/org/apache/sysds/runtime/lineage/LineageRecomputeUtils.java
Due: runtime

Cleanup, adjusted test eps to be relative, slightly more robust reading
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTagDictionary.java
  src/test/java/org/apache/sysds/test/functions/io/cog/COGTestBase.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTest.java
Due: runtime

Update documentation, minor code improvements
  docs/site/dml-language-reference.md
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTagDictionary.java
Due: runtime

Cleanup, added nodata attribute handling, more robust compatibility checking
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
Due: runtime

Update detectConflictFedPlan and resolveConflictFedPlan
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest1.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest2.dml
Due: compiler

made changes to pushDownSumOnBinaryAdditive and removeUnnecessaryReorgOperation. Added row and col test cases for the former.
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewritePushdownSumOnBinaryTest.java
  src/test/scripts/functions/rewrite/RewritePushdownSumOnBinary.dml
Due: compiler

change folder names
  src/main/python/tests/scuro/data_generator.py
Due: none

set folder names to upper case
  .github/workflows/python.yml
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

make folder names generic in tests
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

change workflow branch back to main
  .github/workflows/python.yml
Due: none

Changed MatrixBlock assignment to more robust method, sparse calculation based on nnz
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
Due: runtime

Removed dimension requirements for COG, removed unnecessary tests
  src/main/java/org/apache/sysds/parser/DataExpression.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestSingleBandTileOnly.java
  src/test/scripts/functions/io/cog/ReadCOGTest_3.dml
Due: compiler

[SYSTEMDS-3701] Rework Scuro modalites, update python 3.8
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/aligner/alignment.py
  src/main/python/systemds/scuro/aligner/dr_search.py
  src/main/python/systemds/scuro/dataloader/__init__.py
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/main.py
  src/main/python/systemds/scuro/modality/aligned_modality.py
  src/main/python/systemds/scuro/modality/audio_modality.py
  src/main/python/systemds/scuro/modality/text_modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/modality/video_modality.py
  src/main/python/systemds/scuro/representations/average.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/max.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/multiplication.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/rowmax.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/unimodal.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

[SYSTEMDS-3812] Improved rewrites pushdow-sum and rm-reorg
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/test/java/org/apache/sysds/test/functions/aggregate/PushdownSumBinaryTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewritePushdownSumBinaryMult.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewritePushdownSumOnBinaryTest.java
  src/test/scripts/functions/rewrite/RewritePushdownSumOnBinary.dml
Due: compiler

GELU froward pass
  scripts/nn/layers/gelu.dml
Due: none

[SYSTEMDS-3812] Fix pushdown-sum rewrite robustness for unknown dims
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
Due: compiler

Component test script with forward pass test case for gelu
  src/test/scripts/applications/nn/component/gelu.dml
Due: none

GELU backward pass
  scripts/nn/layers/gelu.dml
Due: none

Added backward pass to test case 1
  src/test/scripts/applications/nn/component/gelu.dml
Due: none

Added another test case for forward & backward
  src/test/scripts/applications/nn/component/gelu.dml
Due: none

Removed comments from test script
  src/test/scripts/applications/nn/component/gelu.dml
Due: none

Testing integration into NNComponentTest
  src/test/java/org/apache/sysds/test/applications/nn/NNComponentTest.java
  src/test/scripts/applications/nn/component/gelu.dml
Due: none

Update detectConflictFedPlan, resolveConflictFedPlan, and MemoTablePrinter
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest3.dml
Due: compiler

Add if-else DML test script
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
Due: none

feat: working stuff combined
  scripts/builtin/matrixSqrt.dml
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

structure for non-scalar rewrite
  src/main/java/org/apache/sysds/hops/rewrite/RewriteNonScalarPrint.java
  src/main/java/org/apache/sysds/parser/StatementBlock.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteNonScalarPrintTest.java
  src/test/scripts/functions/rewrite/RewriteNonScalarPrint.R
  src/test/scripts/functions/rewrite/RewriteNonScalarPrint.dml
Due: compiler

feat: first junit test works now
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSQRTMatrixTest.java
  src/test/scripts/functions/builtin/SQRTMatrix.dml
Due: none

feat: adapted the second test to work
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSQRTMatrixTest.java
Due: none

update test cases for matrix sqrt
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSQRTMatrixTest.java
Due: none

renaming sqrt, bug solved, java implementation can now be called
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
Due: runtime, matrix, util

removing the tests from this branch, cleanuremoving the tests from this branch, cleanup
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSQRTMatrixTest.java
  src/test/scripts/functions/builtin/SQRTMatrix.dml
Due: none
