Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

fix docs
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
Due: runtime, compress

added in-place transpose for dense matrices based on Brenners algorithm
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/TransposeInPlaceBrennerTest.java
Due: runtime, matrix

[SYSTEMDS-3790] Extraction of optimal FedPlans and conflict handling
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTable.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedMemoTablePrinter.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEnumerator.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlanCostEstimator.java
  src/test/java/org/apache/sysds/test/component/federated/FederatedPlanCostEnumeratorTest.java
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest1.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest2.dml
  src/test/scripts/functions/federated/privacy/FederatedPlanCostEnumeratorTest3.dml
Due: compiler

[SYSTEMDS-3819] New sliceLineExtract builtin function
  scripts/builtin/sliceLineExtract.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSliceLineRealDataTest.java
  src/test/scripts/functions/builtin/sliceLineRealData.dml
Due: util

Small tweaks
  src/test/scripts/applications/nn/component/bert_layer_forward.dml
Due: none

bert layer forward pass testing script
  src/test/scripts/applications/nn/component/bert_layer_forward.dml
Due: none

Bert Layer forward pass
  scripts/nn/layers/bert_layer.dml
Due: none

Java automated unit tests for forward bert layer
  src/test/java/org/apache/sysds/test/applications/nn/transformers/BertLayerTest.java
Due: none

Fixed bug
  scripts/nn/layers/bert_layer.dml
Due: none

Bug in MultiAttentionLayerTest
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
Due: none

Testing data for test case
  src/test/resources/component/transformers/bert_layer/input_W_K_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_Q_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_V_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_context_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_intermediate_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_out_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_K_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_Q_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_V_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_context_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_intermediate_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_out_test1.csv
  src/test/resources/component/transformers/bert_layer/input_beta_ln1_test1.csv
  src/test/resources/component/transformers/bert_layer/input_beta_ln2_test1.csv
  src/test/resources/component/transformers/bert_layer/input_gamma_ln1_test1.csv
  src/test/resources/component/transformers/bert_layer/input_gamma_ln2_test1.csv
  src/test/resources/component/transformers/bert_layer/input_states_test1.csv
  src/test/resources/component/transformers/bert_layer/output_attention_test1.csv
  src/test/resources/component/transformers/bert_layer/output_states_test1.csv
Due: none

GELU activation support in BERT layer
  scripts/nn/layers/bert_layer.dml
Due: none

New GELU test case
  src/test/java/org/apache/sysds/test/applications/nn/transformers/BertLayerTest.java
  src/test/resources/component/transformers/bert_layer/input_W_K_test2.csv
  src/test/resources/component/transformers/bert_layer/input_W_Q_test2.csv
  src/test/resources/component/transformers/bert_layer/input_W_V_test2.csv
  src/test/resources/component/transformers/bert_layer/input_W_context_test2.csv
  src/test/resources/component/transformers/bert_layer/input_W_intermediate_test2.csv
  src/test/resources/component/transformers/bert_layer/input_W_out_test2.csv
  src/test/resources/component/transformers/bert_layer/input_b_K_test2.csv
  src/test/resources/component/transformers/bert_layer/input_b_Q_test2.csv
  src/test/resources/component/transformers/bert_layer/input_b_V_test2.csv
  src/test/resources/component/transformers/bert_layer/input_b_context_test2.csv
  src/test/resources/component/transformers/bert_layer/input_b_intermediate_test2.csv
  src/test/resources/component/transformers/bert_layer/input_b_out_test2.csv
  src/test/resources/component/transformers/bert_layer/input_beta_ln1_test2.csv
  src/test/resources/component/transformers/bert_layer/input_beta_ln2_test2.csv
  src/test/resources/component/transformers/bert_layer/input_gamma_ln1_test2.csv
  src/test/resources/component/transformers/bert_layer/input_gamma_ln2_test2.csv
  src/test/resources/component/transformers/bert_layer/input_states_test2.csv
  src/test/resources/component/transformers/bert_layer/output_attention_test2.csv
  src/test/resources/component/transformers/bert_layer/output_states_test2.csv
Due: none

[MINOR] Fix outdated readme SystemDS overview
  README.md
Due: none

fix imports
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixDatagen.java
Due: runtime, matrix

Improve unit test and remove unnecessary tests
  src/test/java/org/apache/sysds/test/component/matrix/LibMatrixDatagenTest.java
Due: none

Add missing license
  src/test/java/org/apache/sysds/test/component/matrix/LibMatrixDatagenTest.java
Due: none

refactor genFullyDense
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixDatagen.java
Due: runtime, matrix

Removed wildcard import
  src/test/java/org/apache/sysds/test/component/matrix/LibMatrixDatagenTest.java
Due: none

Removed wildcard import
  src/main/java/org/apache/sysds/runtime/matrix/data/RandomMatrixGenerator.java
Due: runtime, matrix

RandCounterBased DML
  src/test/scripts/functions/data/RandCounterBasedNormal.dml
  src/test/scripts/functions/data/RandCounterBasedUniform.dml
Due: none

more tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/ADictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

Added intermediate outputs to output of forward pass for use in backward pass
  scripts/nn/layers/bert_layer.dml
  src/test/scripts/applications/nn/component/bert_layer_forward.dml
Due: none

implement new colProd and rowProd tests
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

make tests runnable
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
Due: none

test rowProd and colPord
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

more
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

more tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/ADictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CustomDictionaryTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

SystemDS 2864: made changes to CPInstructionParser and shifted all CPType opcodes to Opcodes.java
  src/main/java/org/apache/sysds/common/Opcodes.java
Due: util

[SYSTEMDS-3548] Black format converters.py
  src/main/python/systemds/utils/converters.py
Due: none

[SYSTEMDS-3548] Add javadocs
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
Due: runtime, frame

[SYSTEMDS-3548] Adjust Py4jConverterUtilsTest
  src/test/java/org/apache/sysds/test/component/frame/array/Py4jConverterUtilsTest.java
Due: none

sorting only because of append to sparse condition adjusted, changed builder of tileProcessor, parallel cases adjusted
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
Due: runtime
