Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

fix video stats
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/tests/scuro/data_generator.py
Due: none

[SYSTEMDS-3835] Fine grained window size parameters
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/wav2vec.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/data_generator.py
Due: none

rename stepGLM to m_stepGLM; register stepGLM in Builtins.java
  scripts/algorithms/TestBuiltinStepGLM.dml
  scripts/builtin/stepGLM.dml
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

add BuiltinSTEPGlmTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSTEPGlmTest.java
  src/test/scripts/functions/builtin/stepGLM.dml
Due: none

[SYSTEMDS-3891] Add OOC reshape
  src/main/java/org/apache/sysds/runtime/data/DenseBlockFP64.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReshapeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/ReshapeTest.java
  src/test/scripts/functions/ooc/MatrixReshapeColWise.dml
  src/test/scripts/functions/ooc/MatrixReshapeRowWise.dml
Due: runtime

Guard parallel Delta frame reads and reuse shared type mapping
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadWriteTest.java
Due: runtime

Decode serial Delta frame reads directly into pre-sized columns
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
Due: runtime

abstract optimizer test framework init
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
  src/test/scripts/applications/nn/component/optim/adapters/adagrad.dml
  src/test/scripts/applications/nn/component/optim/adapters/adam.dml
  src/test/scripts/applications/nn/component/optim/adapters/adamw.dml
  src/test/scripts/applications/nn/component/optim/adapters/lars.dml
  src/test/scripts/applications/nn/component/optim/adapters/rmsprop.dml
  src/test/scripts/applications/nn/component/optim/adapters/sgd.dml
  src/test/scripts/applications/nn/component/optim/adapters/sgd_momentum.dml
  src/test/scripts/applications/nn/component/optim/adapters/sgd_nesterov.dml
  src/test/scripts/applications/nn/component/optim/mnist_optimizer_check.dml
Due: none

add todo
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
Due: none

add parametrized test
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
  src/test/scripts/applications/nn/component/optim/mnist_optimizer_check.dml
Due: none

marked as not threadsafe
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
Due: none

indent BuiltinSTEPGlmTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSTEPGlmTest.java
Due: none

Added sgd_nesterov test
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimTest.java
  src/test/scripts/applications/nn/component/optim/sgd_nesterov.dml
Due: none

Consolidate Delta frame column materialization via ArrayFactory
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ArrayFactory.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadWriteTest.java
Due: runtime, frame

Add Delta frame read benchmarks
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/frame/DeltaFrameRead.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadPerf.java
Due: none

Apply Eclipse code formatter to new Delta frame files
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterDelta.java
  src/test/java/org/apache/sysds/performance/frame/DeltaFrameRead.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadPerf.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadWriteTest.java
  src/test/java/org/apache/sysds/test/functions/io/delta/FrameDeltaReadWriteTest.java
Due: runtime

Reuse TestUtils for random frames and add Spark/Delta frame interop test
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadWriteTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkInteropTest.java
Due: none

Add Java Format CI check for pull requests
  .github/workflows/javaFormat.yml
  dev/format-changed.sh
Due: none

TEMP: probe commit to exercise the Java Format CI check
  src/test/java/org/apache/sysds/test/component/format/FormatProbeBroken.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeClean.java
Due: none

[SYSTEMDS-3929] Speed up Parquet frame reader/writer
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderFactory.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterFactory.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquetParallel.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameParquetSchemaTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameReaderParquetLegacy.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameReaderWriterParquetTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameWriterParquetLegacy.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ParquetReaderBenchmark.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ParquetTestUtils.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ParquetWriterBenchmark.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ReadParquetTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/WriteParquetTest.java
  src/test/resources/datasets/parquet/all.parquet
  src/test/resources/datasets/parquet/alltypes_plain.parquet
  src/test/resources/datasets/parquet/userdata1.parquet
Due: runtime, compiler

replace spaces with tabs in BuiltinSTEPGlmTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSTEPGlmTest.java
Due: none

format BuiltinSTEPGlmTest.java via jdtls
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSTEPGlmTest.java
Due: none

Generate parquet test files with Spark
  src/test/java/org/apache/sysds/test/functions/io/parquet/ParquetTestUtils.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/ReadParquetTest.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/WriteParquetTest.java
  src/test/resources/datasets/parquet/all.parquet
  src/test/resources/datasets/parquet/alltypes_plain.parquet
  src/test/resources/datasets/parquet/userdata1.parquet
Due: none

[MINOR] Add OOC covariance and TSMM coverage
  src/main/java/org/apache/sysds/runtime/functionobjects/COV.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CovarianceOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/CovarianceWeightsTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeSelfMMTest.java
  src/test/scripts/functions/ooc/Covariance.dml
  src/test/scripts/functions/ooc/CovarianceWeights.dml
  src/test/scripts/functions/ooc/TSMMRight.dml
Due: runtime

fix(test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java): capture and validate the log output to remove the necessity of having a console print in the code
  src/main/java/org/apache/sysds/hops/rewrite/RewriteMatrixMultChainOptimizationSparse.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteMatrixMultChainOptSparseTest.java
Due: compiler

Scope Java format check to PR-edited lines only
  .github/workflows/javaFormat.yml
  dev/format-changed.sh
  dev/format_changed.py
Due: none

Added adagrad test
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimTest.java
  src/test/scripts/applications/nn/component/optim/adagrad.dml
Due: none

Harden Delta frame reads and consolidate test helpers
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDelta.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderDeltaParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterDelta.java
  src/test/java/org/apache/sysds/performance/frame/DeltaFrameRead.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadPerf.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameReadWriteTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameSparkInteropTest.java
  src/test/java/org/apache/sysds/test/component/io/DeltaFrameTestUtils.java
Due: runtime

removed comment
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
Due: none

TEMP: more format probes to exercise line-scoped check
  src/test/java/org/apache/sysds/test/component/format/FormatProbeClean.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeErrors.java
  src/test/java/org/apache/sysds/test/component/format/FormatProbeOk2.java
Due: none

Add file exemption list to Java format check
  dev/format-exclude.txt
  dev/format_changed.py
Due: none

Harden Java format checker: data-safety, loud errors, tests
  .github/workflows/javaFormat.yml
  dev/format-changed.sh
  dev/format_changed.py
  dev/tests/test_format_changed.py
Due: none

Merge Java Format check into the Java Codestyle workflow
  .github/workflows/javaCodestyle.yml
  .github/workflows/javaFormat.yml
Due: none

Revert unrelated whole-file reformatting in FrameObject and DeltaKernelUtils
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/io/DeltaKernelUtils.java
Due: runtime

make dml executable by default
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimizerMNISTTest.java
  src/test/scripts/applications/nn/component/optim/mnist_optimizer_check.dml
Due: none

Move Old Files to Legacy Package
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCWatchdog.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/BlockEntry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/DeferredReadQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/DeferredReadRequest.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/CachedAllowance.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCLRUCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/LmCGTest.java
Due: runtime

[OOC] Move Old Files to Legacy Package (#2530)
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCWatchdog.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/BlockEntry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/DeferredReadQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/DeferredReadRequest.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/CachedAllowance.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCLRUCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/LmCGTest.java
Due: runtime

Move I/O Related Classes to cache.io Package
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/CloseableQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStream.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCLRUCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedReadOOCIOHandlerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/SourceReadOOCIOHandlerTest.java
Due: runtime

[OOC] Move I/O Related Classes to cache.io Package (#2531)
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheManager.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/CloseableQueue.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCLRUCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStream.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCLRUCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/SourceBackedReadOOCIOHandlerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/SourceReadOOCIOHandlerTest.java
Due: runtime

[OOC] IO Handler Performance Improvements and Generalization
  src/main/java/org/apache/sysds/runtime/instructions/spark/data/IndexedMatrixValue.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCFuture.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCBufferedDataInputStream.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCBufferedDataOutputStream.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/OOCMatrixIOHandler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/SpillableObject.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/io/SpillableObjectRegistry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/legacy/OOCLRUCacheScheduler.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCLRUCacheSchedulerTest.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
