Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3018] Support function calls in FedAll and Heuristic planners
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerFedAll.java
  src/main/java/org/apache/sysds/hops/fedplanner/FederatedPlannerUtils.java
  src/test/java/org/apache/sysds/test/functions/federated/fedplanning/FederatedL2SVMPlanningTest.java
Due: compiler

[MINOR] Fix warnings from change to JDK 17 (security manager, strictfp)
  src/main/java/org/apache/sysds/runtime/io/hdf5/H5BufferBuilder.java
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
Due: runtime

[SYSTEMDS-2285] Extended Sparsity Estimation Tests and Baselines
  src/main/java/org/apache/sysds/hops/estim/EstimatorLayeredGraph.java
  src/main/java/org/apache/sysds/hops/estim/SparsityEstimator.java
  src/test/java/org/apache/sysds/test/component/estim/OpBindChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpBindTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpElemWChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpElemWTest.java
  src/test/java/org/apache/sysds/test/component/estim/OpSingleTest.java
  src/test/java/org/apache/sysds/test/component/estim/OuterProductTest.java
  src/test/java/org/apache/sysds/test/component/estim/SelfProductTest.java
  src/test/java/org/apache/sysds/test/component/estim/SquaredProductChainTest.java
  src/test/java/org/apache/sysds/test/component/estim/SquaredProductTest.java
Due: compiler

change parameters in context
  src/main/python/systemds/scuro/representations/context.py
Due: none

Add params and output modality type
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/unimodal.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

include ModalityType
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

formatting
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/context.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/window.py
Due: none

[SYSTEMDS-3883] Added Vector API and FFM API prototypes to staging
  scripts/staging/SIMD-FFM-prototypes/LibMatrixBincellFFM.java
  scripts/staging/SIMD-FFM-prototypes/LibMatrixBincellSIMD.java
  scripts/staging/SIMD-FFM-prototypes/LibMatrixMultFFM.java
  scripts/staging/SIMD-FFM-prototypes/LibMatrixMultSIMD.java
  scripts/staging/SIMD-FFM-prototypes/LibMatrixNativeFFM.java
Due: none

[MINOR] Fix robustness parameter server utils and tests
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/main/java/org/apache/sysds/parser/DMLProgram.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/dp/DCLocalScheme.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/dp/DRLocalScheme.java
  src/main/java/org/apache/sysds/runtime/controlprogram/paramserv/dp/ORLocalScheme.java
  src/test/java/org/apache/sysds/test/functions/frame/FrameEqualTest.java
  src/test/java/org/apache/sysds/test/functions/paramserv/ParamservSyntaxTest.java
  src/test/java/org/apache/sysds/test/functions/paramserv/SparkDataPartitionerTest.java
Due: runtime, compiler

remove non-reproducible timestamp
  pom.xml
Due: none

[SYSTEMDS-3179] Builtin for GloVe cooccurrence matrix computation
  scripts/builtin/cooccurrenceMatrix.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinCooccurrenceMatrixTest.java
  src/test/resources/datasets/GloVe/coocMatrixTest.csv
  src/test/scripts/functions/builtin/cooccurrenceMatrix.dml
Due: util

[SYSTEMDS-3179] Builtin for GloVe word embedding training
  scripts/builtin/glove.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinGloVeTest.java
  src/test/resources/datasets/GloVe/gloveExpectedTop10.csv
  src/test/scripts/functions/builtin/glove.dml
Due: util

implemented negated subtraction rewrite and transpose constant addition rewrite.
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyNegatedSubtractionTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTransposeAdditionTest.java
  src/test/scripts/functions/rewrite/RewriteNegatedSubtraction.R
  src/test/scripts/functions/rewrite/RewriteNegatedSubtraction.dml
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposeAddition.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposeAddition.dml
Due: compiler

[SYSTEMDS-3884] Additional rewrites subtraction and addition
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyNegatedSubtractionTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTransposeAdditionTest.java
  src/test/scripts/functions/rewrite/RewriteNegatedSubtraction.R
  src/test/scripts/functions/rewrite/RewriteNegatedSubtraction.dml
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposeAddition.R
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposeAddition.dml
Due: compiler

[SYSTEMDS-3884] Improved new simplification rewrites (generality)
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyTransposeAdditionTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyTransposeAddition.dml
Due: compiler

[SYSTEMDS-3885] Fix robustness live variable analysis
  src/main/java/org/apache/sysds/parser/VariableSet.java
  src/test/java/org/apache/sysds/test/functions/misc/FunctionPotpourriTest.java
  src/test/scripts/functions/misc/FunPotpourriListHandling.dml
Due: compiler

[SYSTEMDS-3780] Compression-fused Quantization
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteQuantizationFusedCompression.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
  src/main/java/org/apache/sysds/runtime/compress/bitmap/BitmapEncoder.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstExact.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstSample.java
  src/main/java/org/apache/sysds/runtime/compress/estim/CompressedSizeInfoColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelection.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelectionDenseSingleBlockQuantized.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CompressionCPInstruction.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/CompareCompressionTypeTest.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/QuantizationFusedCompressionTest.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/QuantizationFusedForcedCompressionTypesTest.java
  src/test/java/org/apache/sysds/test/component/compress/readers/ReadersTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteQuantizationFusedCompressionTest.java
  src/test/scripts/functions/rewrite/RewriteQuantizationFusedCompressionMatrix.dml
  src/test/scripts/functions/rewrite/RewriteQuantizationFusedCompressionScalar.dml
Due: runtime, compress, compiler, util

[MINOR] Change indentation of InstructionType to Tabs
  src/main/java/org/apache/sysds/common/InstructionType.java
Due: util

[MINOR] Add ColGroupFactory logging tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupFactoryLoggingTest.java
Due: runtime, compress

[MINOR] Add validation error if Quantizing_compress is not allowed on script level.
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

[MINOR] Remove unnecessary import
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
Due: runtime, compress

[SYSTEMDS-3556] Counter-based random number generator
  scripts/staging/cuda-counter-based-prng/PhiloxJNvrtcExample.java
  scripts/staging/cuda-counter-based-prng/PhiloxRuntimeCompilationExample.java
  scripts/staging/cuda-counter-based-prng/kernel.cu
  scripts/staging/cuda-counter-based-prng/pom.xml
  scripts/staging/cuda-counter-based-prng/readme.md
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixDatagen.java
  src/main/java/org/apache/sysds/runtime/matrix/data/RandomMatrixGenerator.java
  src/main/java/org/apache/sysds/runtime/util/CounterBasedPRNGenerator.java
  src/main/java/org/apache/sysds/runtime/util/IPRNGenerator.java
  src/main/java/org/apache/sysds/runtime/util/PhiloxNormalCBPRNGenerator.java
  src/main/java/org/apache/sysds/runtime/util/PhiloxUniformCBPRNGenerator.java
  src/test/java/org/apache/sysds/test/component/matrix/LibMatrixDatagenTest.java
  src/test/scripts/functions/data/RandCounterBasedNormal.dml
  src/test/scripts/functions/data/RandCounterBasedUniform.dml
Due: runtime, matrix

[SYSTEMDS-3842] Improve test coverage of API components: ScriptExecutorUtils & JMLConnection
  src/main/java/org/apache/sysds/api/jmlc/Connection.java
  src/test/java/org/apache/sysds/test/component/misc/DMLScriptTest.java
  src/test/java/org/apache/sysds/test/functions/jmlc/JMLConnectionTest.java
Due: util

[SYSTEMDS-3886] Federated Worker JVM Codecoverage
  .github/workflows/javaTests.yml
  pom.xml
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
Due: none

chown
  .github/workflows/javaTests.yml
Due: none

try different way of merging via docker image
  .github/workflows/javaTests.yml
  docker/entrypoint.sh
  docker/sysds.Dockerfile
  docker/testsysds.Dockerfile
Due: none

do not forcefully terminate federated workers
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/TestUtils.java
Due: runtime

fix merging (hopefully)
  docker/build.sh
  docker/entrypoint.sh
  docker/testsysds.Dockerfile
Due: none
