Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[MINOR] Compressed tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroupValue.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRexpand.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedVectorTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/CombineColGroups.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/scheme/SchemeTestBase.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/scheme/SchemeTestSDC.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CustomDictionaryTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
  src/test/java/org/apache/sysds/test/functions/compress/table/CompressedTableOverwriteTest.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/wordEmbeddingUseCase.java
Due: runtime, matrix, compress

[DO NOT MERGE][skip ci] JAVA 17 BWARE COMMIT
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/utils/FrameRDDConverterUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterTextCSV.java
  src/main/java/org/apache/sysds/runtime/io/IOUtilFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibAggregateUnarySpecialization.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleMultiColTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleUnbalancedTest.java
  src/test/java/org/apache/sysds/test/functions/compress/configuration/CompressForce.java
Due: runtime, matrix, compress, compiler

[MINOR] Add DataTypes on memory estimates for HOPS
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/DataGenOp.java
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/IndexingOp.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
Due: compiler

fix infinite recursion
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
Due: compiler

[SYSTEMDS-3548] Optimize python dataframe transfer
  scripts/perftest/python/io/load_numpy.py
  scripts/perftest/python/io/load_pandas.py
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
  src/main/java/org/apache/sysds/runtime/util/Py4jConverterUtils.java
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/iotests/test_io_pandas_systemds.py
  src/test/java/org/apache/sysds/test/component/frame/FrameGetSetTest.java
  src/test/java/org/apache/sysds/test/component/frame/array/Py4jConverterUtilsTest.java
Due: runtime, frame

[MINOR] Dependency tasks enable via Log4j
  src/main/java/org/apache/sysds/runtime/util/DependencyTask.java
  src/main/java/org/apache/sysds/runtime/util/DependencyThreadPool.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformLogger.java
Due: runtime

Append Performance
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/README.md
  src/test/java/org/apache/sysds/performance/TimingUtils.java
  src/test/java/org/apache/sysds/performance/compression/APerfTest.java
  src/test/java/org/apache/sysds/performance/matrix/MatrixAppend.java
  src/test/scripts/performance/append.sh
Due: none

add license
  src/test/scripts/performance/append.sh
Due: none

[SYSTEMDS-3831] New builtin for vectorized simple exponential smoothing
  scripts/builtin/ses.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/runtime/instructions/SPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CompressionCPInstruction.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSESTest.java
  src/test/scripts/functions/builtin/ses.dml
Due: runtime, util

license
  src/test/java/org/apache/sysds/performance/matrix/MatrixAppend.java
Due: none

remove version update in init
  src/main/python/systemds/__init__.py
Due: none

update library versions for scuro
  src/main/python/systemds/__init__.py
Due: none

[SYSTEMDS-3832] MatrixBlock Append performance
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/README.md
  src/test/java/org/apache/sysds/performance/TimingUtils.java
  src/test/java/org/apache/sysds/performance/compression/APerfTest.java
  src/test/java/org/apache/sysds/performance/matrix/MatrixAppend.java
  src/test/scripts/performance/append.sh
Due: none

[SYSTEMDS-3834] Dependency tasks enable via Log4j
  src/main/java/org/apache/sysds/runtime/util/DependencyTask.java
  src/main/java/org/apache/sysds/runtime/util/DependencyThreadPool.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformLogger.java
Due: runtime

[MINOR] Update library versions for scuro
  src/main/python/systemds/__init__.py
Due: none

[SYSTEMDS-3830] Add join operator to Scuro
  .github/workflows/python.yml
  src/main/python/systemds/__init__.py
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/window.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/systemds/scuro/utils/__init__.py
  src/main/python/systemds/scuro/utils/schema_helpers.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

add window operator
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/window.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

add dependency to workflow
  .github/workflows/python.yml
Due: none

add download corpora to python worklow
  .github/workflows/python.yml
Due: none

new test matrix input
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
Due: none

add nltk to python workflow and change workflow branch
  .github/workflows/python.yml
Due: none

import nltk
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

formatting
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

change to previous tokenizer
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

remove dependency
  .github/workflows/python.yml
Due: none

[MINOR] Fix corrupted git history (case-sensitive filename change)
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/WordEmbeddingTest.java
  src/test/java/org/apache/sysds/test/functions/compress/wordembedding/wordEmbeddingUseCase.java
Due: none

[SYSTEMDS-3833] Fix robustness seq() length computation
  src/main/java/org/apache/sysds/runtime/util/UtilFunctions.java
  src/test/java/org/apache/sysds/test/functions/io/SeqSizeTest.java
  src/test/scripts/functions/io/SeqSizeTest.dml
Due: runtime

[SYSTEMDS-3833] Fix seq() length primitive (apply only when violated)
  src/main/java/org/apache/sysds/runtime/util/UtilFunctions.java
Due: runtime
