Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

jacoco merge fix
  pom.xml
Due: none

[SYSTEMDS-3835] Scuro window aggregation operator
  .github/workflows/python.yml
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/modality_identifier.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/context.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/window.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_multimodal_join.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

add operator registry
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/drsearch/__init__.py
  src/main/python/systemds/scuro/drsearch/alignment.py
  src/main/python/systemds/scuro/drsearch/alignment_strategy.py
  src/main/python/systemds/scuro/drsearch/dr_search.py
  src/main/python/systemds/scuro/drsearch/fusion_optimizer.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/optimization_data.py
  src/main/python/systemds/scuro/drsearch/representation_cache.py
  src/main/python/systemds/scuro/drsearch/similarity_measures.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_representation_optimizer.py
  src/main/python/systemds/scuro/main.py
  src/main/python/systemds/scuro/representations/average.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/context.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/max.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/multiplication.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/rowmax.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/window.py
  src/main/python/systemds/scuro/representations/word2vec.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_operator_registry.py
Due: none

cov test
  .github/workflows/javaTests.yml
Due: none

again
  .github/workflows/javaTests.yml
Due: none

[SYSTEMDS-3842] Improve test coverage of API components: MLContext
  .github/workflows/javaTests.yml
  .github/workflows/python.yml
  src/test/java/org/apache/sysds/test/functions/mlcontext/MLContextTest.java
Due: none

see lsla
  .github/workflows/javaTests.yml
Due: none

treated as a folder?
  .github/workflows/javaTests.yml
Due: none

merge subfolders
  pom.xml
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
Due: none

minor cleanup
  .github/workflows/javaTests.yml
Due: none

fix spelling mistake in trancient
  pom.xml
Due: none

reenable all tests
  .github/workflows/javaTests.yml
Due: none

[MINOR] Improve Docker Image Stability
  docker/entrypoint.sh
  docker/sysds.Dockerfile
  docker/testsysds.Dockerfile
Due: none

[SYSTEMDS-3886] Federated Worker JVM Codecoverage
  docker/entrypoint.sh
  pom.xml
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/TestUtils.java
Due: runtime

[MINOR] Change indentation of InstructionType to Tabs
  src/main/java/org/apache/sysds/common/InstructionType.java
Due: util

[SYSTEMDS-3780] Compression-fused Quantization
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteQuantizationFusedCompression.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
  src/main/java/org/apache/sysds/runtime/compress/bitmap/BitmapEncoder.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstExact.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstSample.java
  src/main/java/org/apache/sysds/runtime/compress/estim/CompressedSizeInfoColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelection.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelectionDenseSingleBlockQuantized.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CompressionCPInstruction.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/CompareCompressionTypeTest.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/QuantizationFusedCompressionTest.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/QuantizationFusedForcedCompressionTypesTest.java
  src/test/java/org/apache/sysds/test/component/compress/readers/ReadersTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteQuantizationFusedCompressionTest.java
  src/test/scripts/functions/rewrite/RewriteQuantizationFusedCompressionMatrix.dml
  src/test/scripts/functions/rewrite/RewriteQuantizationFusedCompressionScalar.dml
Due: runtime, compress, compiler, util

[MINOR] Add ColGroupFactory logging tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupFactoryLoggingTest.java
Due: runtime, compress

[MINOR] Add validation error if Quantizing_compress is not allowed on script level.
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

[SYSTEMDS-3874] Java17 Vectorized LibMM
  bin/systemds
  pom.xml
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/python/systemds/utils/converters.py
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/README.md
  src/test/java/org/apache/sysds/performance/generators/IGeneratePair.java
  src/test/java/org/apache/sysds/performance/matrix/MMSparsityPerformance.java
  src/test/java/org/apache/sysds/performance/matrix/MatrixMultiplicationPerf.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/functions/federated/multitenant/MultiTenantTestBase.java
  src/test/scripts/performance/append.sh
  src/test/scripts/performance/matrixMultiplication.sh
Due: runtime, matrix, compress

add boolean to specify single or multithreaded
  src/test/java/org/apache/sysds/performance/matrix/MatrixMultiplicationPerf.java
  src/test/scripts/performance/matrixMultiplication.sh
Due: none

tmp only do the big one
  src/test/scripts/performance/matrixMultiplication.sh
Due: none

fix error
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
Due: runtime, matrix

remove print
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
Due: runtime, matrix

fix
  src/test/java/org/apache/sysds/performance/matrix/MatrixMultiplicationPerf.java
Due: none

fix MMDictionary vectorized
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
Due: runtime, compress

[MINOR] Merge InstructionType Tsmm and TSMM
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/runtime/instructions/FEDInstructionParser.java
Due: runtime, util

[DOCS] Update Docs to Specify Java 17
  docs/README.md
  docs/api/python/sources/getting_started/install.rst.txt
  docs/index.md
  docs/site/install.md
  scripts/resource/README.md
  src/assembly/bin/README.md
  src/main/python/docs/source/getting_started/install.rst
Due: none

Increase eps tolerance in RewriteDetTest
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteDetTest.java
Due: none

add optimization algorithm
  src/main/python/systemds/scuro/drsearch/fusion_optimizer.py
  src/main/python/systemds/scuro/drsearch/optimization_data.py
  src/main/python/systemds/scuro/drsearch/representation_cache.py
  src/main/python/systemds/scuro/drsearch/unimodal_representation_optimizer.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/window.py
Due: none
