Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Implement missing abstract method in ColGroupPiecewiseLinearCompressed
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

added missing import
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

added all missing abstract methods
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

ci: restore release-scripts.yml workflow to original state
  .github/workflows/release-scripts.yml
Due: none

[SYSTEMDS-3863] Add PowerTransformer method and standardization
  scripts/builtin/powerTransform.dml
  scripts/builtin/powerTransformApply.dml
  src/test/scripts/functions/builtin/powerTransformApply.dml
  src/test/scripts/functions/builtin/powerTransformSmokeTest.dml
Due: none

Extend PowerTransform lambda search bracket
  scripts/builtin/powerTransform.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
  src/test/scripts/functions/builtin/powerTransform.R
Due: none

[SYSTEMDS-3863] Add PowerTransformer reference tests
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
  src/test/scripts/functions/builtin/powerTransform.R
  src/test/scripts/functions/builtin/powerTransform.dml
  src/test/scripts/functions/builtin/powerTransformSmokeTest.dml
Due: none

Add R reference test for PowerTransformApply
  scripts/builtin/powerTransform.dml
  scripts/builtin/powerTransformApply.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
  src/test/scripts/functions/builtin/powerTransformApply.R
  src/test/scripts/functions/builtin/powerTransformApply.dml
Due: none

[SYSTEMDS-3863] Add Box-Cox PowerTransformer support
  scripts/builtin/powerTransform.dml
  scripts/builtin/powerTransformApply.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
  src/test/scripts/functions/builtin/powerTransformApply.R
  src/test/scripts/functions/builtin/powerTransformApply.dml
  src/test/scripts/functions/builtin/powerTransformSmokeTest.dml
Due: none

[SYSTEMDS-3863] Use Brent optimization for PowerTransformer
  scripts/builtin/powerTransform.dml
  src/test/scripts/functions/builtin/powerTransformSmokeTest.dml
Due: none

Add Yeo-Johnson PowerTransformer prototype
  scripts/builtin/powerTransform.dml
  scripts/builtin/powerTransformApply.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/scripts/functions/builtin/powerTransformSmokeTest.dml
Due: util

[SYSTEMDS-3863] Document PowerTransformer built-ins
  docs/site/builtins-reference.md
Due: none

added the missing licenses and imports
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

style: fix checkstyle violations in test classes
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

added the missing ValueFunction import
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

[SYSTEMDS-3891] Add Broadcast and Grouped Reduction Primitives
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MMultOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/OOCPackedCache.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/ReservationBudget.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/BroadcastOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/GroupedReduceOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/memory/OOCMemoryAllowanceTest.java
Due: runtime

style: apply eclipse line formatting fixes via format-changed.sh
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

[OOC] Wire Materialized Stores
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/OOCPackedCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackBuilder.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MaterializeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedStoreStreamable.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OOCStreamMaterializer.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCPackedCacheTest.java
Due: runtime

[SYSTEMDS-3863] Stabilize PowerTransformer boundary test
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
Due: none

Remove all DP functions and using testUtils helper function instead to improve coverage
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

deleting unused imports, and formatting
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
Due: runtime, compress

[Fix] Remove Ambiguous Formulations
  AGENTS.md
Due: none

[SYSTEMDS-3857] - added class for SetColumnNamesFunction with helper function for frmabelock handling
  src/main/java/org/apache/sysds/runtime/instructions/spark/functions/SetColumnNamesFunction.java
Due: runtime

chore(): cleanup and add missing commits
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/frame/ParquetIOBenchmark.java
Due: none

cleanup(): Remove unnecessary tests
  src/test/java/org/apache/sysds/performance/Main.java
  src/test/java/org/apache/sysds/performance/frame/ParquetIOBenchmark.java
Due: none

added skeleton for remaining 0% coverage functions
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

[Fix] ParFor Shared Stream Race Fix
  src/main/java/org/apache/sysds/runtime/controlprogram/ParForProgramBlock.java
Due: runtime

[SYSTEMDS-3891] Wire OOC Materialized Stores
  src/main/java/org/apache/sysds/runtime/controlprogram/ParForProgramBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/OOCPackedCache.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/packed/PackBuilder.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MaterializeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedStoreStreamable.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OOCStreamMaterializer.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCPackedCacheTest.java
Due: runtime

[SYSTEMDS-3863] Address PowerTransformer review cleanup
  scripts/builtin/powerTransform.dml
  scripts/builtin/powerTransformApply.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
Due: util

[SYSTEMDS-3863] Use recipes PowerTransformer references
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
  src/test/scripts/functions/builtin/powerTransform.R
  src/test/scripts/functions/builtin/powerTransformApply.R
  src/test/scripts/installDependencies.R
Due: none

[SYSTEMDS-3863] Optimize PowerTransformer and preserve NaNs
  docs/site/builtins-reference.md
  scripts/builtin/powerTransform.dml
  scripts/builtin/powerTransformApply.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
  src/test/scripts/functions/builtin/powerTransform.R
Due: none

[SYSTEMDS-3863] Add PowerTransformer Spark tests
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
Due: none

feat(tutorials): inform about missing certificates when running the federated tutorial with SSL
  scripts/tutorials/federated/conf/ssl.xml
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
Due: runtime

fix(federated): change log level from info to debug for FederatedSSLUtil
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedSSLUtil.java
Due: runtime

fix(tests): reset SSL context in `setUp` for FederatedSSLTest
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedSSLTest.java
Due: none

fix(federated): lock on `DataRequestHandler` itself instead of `_promLock`
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
Due: runtime

[OOC] OOC Primitive Simplification and Injection Robustness
  src/main/java/org/apache/sysds/runtime/ooc/planning/OOCPlanner.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/GroupedReduceOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/JoinOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MappingOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/MaterializeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/OOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/PlannableDataGenOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/primitives/TransposeOOCPrimitive.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedStoreStreamable.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCPrimitiveTest.java
Due: runtime

[SYSTEMDS-3863] Validate lambda bounds with recipes
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinPowerTransformTest.java
Due: none

[SYSTEMDS-3955] Support SSL authentication for federated network communication
  .gitignore
  conf/SystemDS-config.xml.template
  pom.xml
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedSSLUtil.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedSSLTest.java
  src/test/resources/cert/ca-cert.pem
  src/test/resources/cert/localhost-cert.pem
  src/test/resources/cert/localhost-key.pem
  src/test/resources/cert/otherhost-cert.pem
  src/test/resources/cert/otherhost-key.pem
  src/test/resources/cert/untrusted-ca-cert.pem
  src/test/scripts/functions/federated/io/config/OtherHostSSLConfig.xml
  src/test/scripts/functions/federated/io/config/SignedSSLConfig.xml
  src/test/scripts/functions/federated/io/config/UntrustedSSLConfig.xml
  src/test/scripts/functions/federated/io/generate-certificates.sh
Due: runtime, util

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
