Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[SYSTEMDS-3835] Add additional context operators
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/test_operator_registry.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

tsmm operation
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TSMMTest.java
  src/test/scripts/functions/ooc/TSMM.dml
Due: runtime, compiler

fix comments
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
Due: runtime, compiler

PATHs modifications, READEME Updates and deleting shell wrappers from root
  .gitignore
  CORE_SCRIPTS_STATUS.txt
  run_all_perf.sh
  run_ssb.sh
  scripts/ssb/README.md
  scripts/ssb/shell/run_all_perf.sh
  scripts/ssb/shell/run_ssb.sh
  scripts/ssb/sql/q1.1.sql
  scripts/ssb/sql/q1.2.sql
  scripts/ssb/sql/q1.3.sql
  scripts/ssb/sql/q2.1.sql
  scripts/ssb/sql/q2.2.sql
  scripts/ssb/sql/q2.3.sql
  scripts/ssb/sql/q3.1.sql
  scripts/ssb/sql/q3.2.sql
  scripts/ssb/sql/q3.3.sql
  scripts/ssb/sql/q3.4.sql
  scripts/ssb/sql/q4.1.sql
  scripts/ssb/sql/q4.2.sql
  scripts/ssb/sql/q4.3.sql
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/csv/q1_1.csv
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/json/q1_1.json
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/run.json
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/txt/q1_1.txt
Due: none

Improve website contrast by making description text dark black
  docs/css/main.css
Due: none

delete old ssbOutputData Folder
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/csv/q1_1.csv
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/json/q1_1.json
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/run.json
  shell/ssbOutputData/QueryData/ssb_run_20250915_175646/txt/q1_1.txt
Due: none

adapt hp tuner to unimodal optimizations
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/utils/identifier.py
Due: none

adapt hp tuner to unimodal optimizations
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
Due: none

fix unimodal optimizer
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

adapt unimodal optimizer to dag structure
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/mel_spectrogram.py
  src/main/python/systemds/scuro/representations/mfcc.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

add additional dag utilitities
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/unimodal_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_visualizer.py
  src/main/python/systemds/scuro/modality/joined_transformed.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/word2vec.py
Due: none

fix error in optimizer
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

adapt hp tuning to dag representation
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/operator_registry.py
  src/main/python/systemds/scuro/drsearch/unimodal_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

add dag structure to multimodal optimizer
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
Due: none

refactor
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
Due: none

remove duplicated code
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_visualizer.py
Due: none

remove duplicated code
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

[SYSTEMDS-3917] New built-in SELU activiation function
  scripts/nn/layers/selu.dml
  src/test/java/org/apache/sysds/test/applications/nn/NNComponentTest.java
  src/test/scripts/applications/nn/component/selu.dml
Due: none

[SYSTEMDS-3918] New out-of-core tmp aggregation util
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixVectorBinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
Due: runtime

[SYSTEMDS-3914] New out-of-core transpose-self matmult instruction
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TransposeSelfMMTest.java
  src/test/scripts/functions/ooc/TSMM.dml
Due: runtime, compiler

hp tuning for multimodal optimizer
  src/main/python/systemds/scuro/drsearch/fusion_optimizer.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/representation_dag_visualizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/unimodal_representation_optimizer.py
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

adapt init
  src/main/python/systemds/scuro/__init__.py
Due: none

[SYSTEMDS-3907] New out-of-core TEE operator (resettable stream)
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/lops/Lop.java
  src/main/java/org/apache/sysds/lops/Tee.java
  src/main/java/org/apache/sysds/lops/compile/Dag.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ResettableStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/TeeTest.java
  src/test/scripts/functions/ooc/Tee.dml
Due: runtime, compiler, util

add learnable reps to optimizers
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
Due: none

Fix L2-SVM invalid label validation
  scripts/builtin/l2svm.dml
Due: none

Fix autoencoder bias gradient updates
  scripts/builtin/autoencoder_2layer.dml
Due: none

Add setResettable() functionality to LocalTaskQueue
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
Due: runtime

cleanup
  src/main/python/systemds/scuro/__init__.py
  src/main/python/systemds/scuro/drsearch/dr_search.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/representation_cache.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/modality_identifier.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/tests/scuro/test_dr_search.py
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
Due: none

[SYSTEMDS-3330] Fixes in generator.py, builtin function fixes
  scripts/builtin/ampute.dml
  scripts/builtin/confusionMatrix.dml
  scripts/builtin/cooccurrenceMatrix.dml
  scripts/builtin/decisionTree.dml
  scripts/builtin/differenceStatistics.dml
  scripts/builtin/glove.dml
  scripts/builtin/imputeByKNN.dml
  scripts/builtin/quantizeByCluster.dml
  scripts/builtin/randomForest.dml
  scripts/builtin/shapExplainer.dml
  scripts/builtin/topk_cleaning.dml
  src/main/python/docs/README.md
  src/main/python/docs/requires-docs.txt
  src/main/python/generator/dml_parser.py
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/ampute.py
  src/main/python/systemds/operator/algorithm/builtin/apply_pipeline.py
  src/main/python/systemds/operator/algorithm/builtin/confusionMatrix.py
  src/main/python/systemds/operator/algorithm/builtin/cooccurrenceMatrix.py
  src/main/python/systemds/operator/algorithm/builtin/correctTypos.py
  src/main/python/systemds/operator/algorithm/builtin/correctTyposApply.py
  src/main/python/systemds/operator/algorithm/builtin/decisionTree.py
  src/main/python/systemds/operator/algorithm/builtin/denialConstraints.py
  src/main/python/systemds/operator/algorithm/builtin/differenceStatistics.py
  src/main/python/systemds/operator/algorithm/builtin/dmv.py
  src/main/python/systemds/operator/algorithm/builtin/ema.py
  src/main/python/systemds/operator/algorithm/builtin/executePipeline.py
  src/main/python/systemds/operator/algorithm/builtin/fit_pipeline.py
  src/main/python/systemds/operator/algorithm/builtin/fixInvalidLengths.py
  src/main/python/systemds/operator/algorithm/builtin/fixInvalidLengthsApply.py
  src/main/python/systemds/operator/algorithm/builtin/glove.py
  src/main/python/systemds/operator/algorithm/builtin/imputeByKNN.py
  src/main/python/systemds/operator/algorithm/builtin/mdedup.py
  src/main/python/systemds/operator/algorithm/builtin/quantizeByCluster.py
  src/main/python/systemds/operator/algorithm/builtin/randomForest.py
  src/main/python/systemds/operator/algorithm/builtin/shapExplainer.py
  src/main/python/systemds/operator/algorithm/builtin/topk_cleaning.py
  src/main/python/systemds/operator/algorithm/builtin/wer.py
Due: none

[MINOR] Correct dedub builtin docs
  scripts/builtin/dedup.dml
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/dedup.py
  src/main/python/systemds/operator/algorithm/builtin/glove.py
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
