Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[MINOR] Fix CompressionSettings static boolean
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedLoggingTests.java
Due: runtime, compress

[MINOR] CLA Factory logging cleanup
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionStatistics.java
Due: runtime, compress

[MINOR] minor cleanups and optimizations to CLA MM primitives
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibMMChain.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTSMM.java
Due: runtime, compress

Update cooccur.dml
  scripts/builtin/cooccur.dml
Due: none

Rename cooccur.dml to cooccurrenceMatrix.dml
  scripts/builtin/cooccurrenceMatrix.dml
Due: none

Update Builtins.java
  src/main/java/org/apache/sysds/common/Builtins.java
Due: util

Create coocMatrixTest.csv
  src/test/resources/datasets/GloVe/coocMatrixTest.csv
Due: none

Add test script for co occurrence Matrix test.
  src/test/scripts/functions/builtin/cooccurrenceMatrix.dml
Due: none

Add test for cooccurrence Matrix script.
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinCooccurrenceMatrixTest.java
Due: none

Forgot to forward sample size
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
Due: compiler

fix estimate of SDC and SDCZero
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDCZero.java
Due: runtime, compress

[MINOR] BinaryOp change to switch statement
  src/main/java/org/apache/sysds/hops/BinaryOp.java
Due: compiler

[MINOR] fix previous commit
  src/main/java/org/apache/sysds/hops/BinaryOp.java
Due: compiler

fix -1 memory when allocating more columns
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
Due: runtime, compress

[MINOR] Sparse ret mm
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
Due: runtime, matrix

[MINOR] Default Matrix Multiplication specializations
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixNative.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix

remove unneeded argument
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
Due: runtime, matrix

Update BuiltinCooccurrenceMatrixTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinCooccurrenceMatrixTest.java
Due: none

[MINOR] CLA Factory logging cleanup
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionStatistics.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDCZero.java
Due: runtime, compress

mm dense dense to sparse
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
Due: runtime, matrix

Update glove.dml
  scripts/builtin/glove.dml
Due: none

Add test script for glove word embedding.
  src/test/scripts/functions/builtin/glove.dml
Due: none

Create gloveExpectedTop10.csv
  src/test/resources/datasets/GloVe/gloveExpectedTop10.csv
Due: none

Add BuiltinGloVeTest.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinGloVeTest.java
Due: none

[SYSTEMDS-3179] Delete scripts/builtin/gloveValidityTest.dml
  scripts/builtin/gloveValidityTest.dml
Due: none

Backward pass for helper functions: tensor affine, layer norm
  scripts/nn/layers/bert_layer.dml
Due: none

Backward testing logic in java automated testing
  src/test/java/org/apache/sysds/test/applications/nn/transformers/BertLayerTest.java
Due: none

Backward pass testing file
  src/test/scripts/applications/nn/component/bert_layer_backward.dml
Due: none

Error in backward pass computation for layer norm
  scripts/nn/layers/bert_layer.dml
Due: none

Bug in backward pass
  scripts/nn/layers/bert_layer.dml
Due: none

Bert layer backward pass
  scripts/nn/layers/bert_layer.dml
Due: none
