Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

improve window aggregation efficiency
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/average.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/hadamard.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/max.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

improve window aggregation efficiency
  src/main/python/systemds/scuro/representations/window_aggregation.py
Due: none

improve window aggregation efficiency
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

[SYSTEMDS-3835] Improve window aggregation efficiency in Scuro
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/average.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/hadamard.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/max.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

Add builtin function lhs that performs latin hypercube sampling.
  scripts/builtin/lhs.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinLHSTest.java
  src/test/scripts/functions/builtin/lhs.dml
Due: util

Configure GitHub workflows to use concurrency cancel-in-progress for pull requests
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/javaCodestyle.yml
  .github/workflows/javaTests.yml
  .github/workflows/license.yml
  .github/workflows/monitoringUITests.yml
  .github/workflows/python.yml
  .github/workflows/pythonFormatting.yml
Due: none

[CI] Configure GitHub workflows to use concurrency cancel-in-progress
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  .github/workflows/javaCodestyle.yml
  .github/workflows/javaTests.yml
  .github/workflows/license.yml
  .github/workflows/monitoringUITests.yml
  .github/workflows/python.yml
  .github/workflows/pythonFormatting.yml
Due: none

Add multi-threaded unique in LibMatrixSketch
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketchUniqueParallelTest.java
Due: runtime, matrix

Refine multi-threaded unique memory handling
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueBase.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRow.java
Due: runtime, matrix

Fix race in parallel composite decode breaking dummycode+recode
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
Due: runtime

Handle feature-hash columns in getCategoricalMask and fix unused import
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/TestUtils.java
Due: runtime

docs: add OOC operator project plan
  README.md
Due: none

Add component tests for HashMapIntToInt and HashMapLongInt
  src/test/java/org/apache/sysds/test/component/compress/util/HashMapIntToIntTest.java
  src/test/java/org/apache/sysds/test/component/compress/util/HashMapLongIntTest.java
Due: none

Reduce surefire per-fork test timeout from 1380s to 600s
  pom.xml
Due: none

[MINOR] Reduce surefire per-fork test timeout from 1380s to 600s (#2485)
  pom.xml
Due: none

Retry Maven test-compile on transient repository download errors
  .github/action/action.yml
  docker/entrypoint.sh
Due: none

Gate frame-to-matrix NaN cast fallback behind config flag
  conf/SystemDS-config.xml.template
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
  src/test/java/org/apache/sysds/test/component/frame/MatrixFromFrameSafeCastTest.java
  src/test/java/org/apache/sysds/test/component/misc/DoubleParserTest.java
Due: runtime, frame, util

Fix HashMapIntToInt iterator skipping buckets and add randomized tests
  src/main/java/org/apache/sysds/runtime/compress/utils/HashMapIntToInt.java
  src/test/java/org/apache/sysds/test/component/compress/util/HashMapIntToIntTest.java
Due: runtime, compress

[MINOR][CI] Retry Maven test-compile on transient repository download errors
  .github/action/action.yml
  docker/entrypoint.sh
Due: none

Fix CholeskyTest crash when residual is exactly zero
  src/test/java/org/apache/sysds/test/functions/unary/matrix/CholeskyTest.java
Due: none

Add tests for frame-to-matrix warn-cast and double parse error path
  src/test/java/org/apache/sysds/test/component/frame/MatrixFromFrameSafeCastTest.java
  src/test/java/org/apache/sysds/test/component/frame/array/CustomArrayTests.java
Due: none

[MINOR] Fix CholeskyTest crash when residual is exactly zero (#2487)
  src/test/java/org/apache/sysds/test/functions/unary/matrix/CholeskyTest.java
Due: none

[BWARE] Add HashMapIntToInt primitive int-to-int hash map (#2478)
  src/main/java/org/apache/sysds/runtime/compress/utils/HashMapIntToInt.java
  src/test/java/org/apache/sysds/test/component/compress/util/HashMapIntToIntTest.java
  src/test/java/org/apache/sysds/test/component/compress/util/HashMapLongIntTest.java
Due: runtime, compress

[BWARE] Speed up frame-to-matrix conversion and harden number parsing (#2480)
  conf/SystemDS-config.xml.template
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DoubleArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/lib/MatrixBlockFromFrame.java
  src/main/java/org/apache/sysds/utils/DoubleParser.java
  src/test/java/org/apache/sysds/test/component/frame/MatrixFromFrameSafeCastTest.java
  src/test/java/org/apache/sysds/test/component/frame/array/CustomArrayTests.java
  src/test/java/org/apache/sysds/test/component/misc/DoubleParserTest.java
Due: runtime, frame, util

Add unit tests for getCategoricalMask defensive code paths
  src/test/java/org/apache/sysds/test/component/frame/transform/GetCategoricalMaskInstructionTest.java
Due: none

Fix sparse dummycode decode and restore decoder no-arg constructors
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
Due: runtime

Handle hash columns in transform decoders and tighten decode metadata flow
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/transform/decode/Decoder.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderDummycode.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderFactory.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderPassThrough.java
  src/main/java/org/apache/sysds/runtime/transform/decode/DecoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderFeatureHash.java
Due: runtime, frame

Add component tests for transform decoder hash and metadata handling
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeRoundTripTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/TransformDecodeTest.java
Due: none

Speed up boolean-token fallback in StringArray.getAsDouble
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
Due: runtime, frame

Track more compressed-friendly ops in FederatedWorkloadAnalyzer
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkloadAnalyzer.java
Due: runtime

Add unit tests for FederatedWorkloadAnalyzer workload tracking
  src/test/java/org/apache/sysds/test/component/federated/FederatedWorkloadAnalyzerTest.java
Due: none

Add coverage tests for compressed matmul fast paths and exec-type decisions
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibMMChainTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibRightMultBySDCTest.java
  src/test/java/org/apache/sysds/test/component/frame/transform/DecoderCompositeTest.java
  src/test/java/org/apache/sysds/test/functions/sparkexectype/SparkTransitiveExecTypeTest.java
  src/test/scripts/functions/sparkexectype/SparkExecTypeBinary.dml
  src/test/scripts/functions/sparkexectype/SparkExecTypeUnary.dml
Due: runtime, compress

Reject unsupported transform methods in getCategoricalMask
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/component/frame/transform/GetCategoricalMaskInstructionTest.java
Due: runtime

Refactor getCategoricalMask into staged builder and expand tests
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameScalarCPInstruction.java
  src/test/java/org/apache/sysds/test/component/frame/transform/GetCategoricalMaskInstructionTest.java
Due: runtime

Raise Java test job timeout to 60 minutes
  .github/workflows/javaTests.yml
Due: none

Prevent leaked federated workers from hanging test forks
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorker.java
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/functions/lineage/FedFullReuseTest.java
  src/test/java/org/apache/sysds/test/functions/lineage/FedUDFReuseTest.java
  src/test/java/org/apache/sysds/test/functions/lineage/LineageFedReuseAlg.java
Due: runtime

Add CompressionType enum
  src/main/java/org/apache/sysds/runtime/compress/CompressionType.java
Due: runtime, compress

Add CompressionException and DecompressionException
  src/main/java/org/apache/sysds/runtime/compress/exceptions/CompressionException.java
  src/main/java/org/apache/sysds/runtime/compress/exceptions/DecompressionException.java
Due: runtime, compress

Add CompressedMatrix container class
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrix.java
Due: runtime, compress

Add MatrixCompressor interface
  src/main/java/org/apache/sysds/runtime/compress/MatrixCompressor.java
Due: runtime, compress
