Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[SYSTEMDS-3922] Fix federated quantile VALUEPICK averaging for even-length input
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuantilePickFEDInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedQuantileTest.java
Due: runtime

[SYSTEMDS-3922] Enable column-federated VALUEPICK averaging and fix code style
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuantilePickFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/QuantilePickSPInstruction.java
  src/test/java/org/apache/sysds/test/functions/federated/primitives/part2/FederatedQuantileTest.java
Due: runtime

[SYSTEMDS-3898] Fix quantile pick averaging for even-length SP execution
  src/main/java/org/apache/sysds/runtime/instructions/spark/QuantilePickSPInstruction.java
  src/test/java/org/apache/sysds/test/functions/binary/matrix/QuantileTest.java
Due: runtime

[SYSTEMDS-3891] Add Materialized OOC Structures
  src/main/java/org/apache/sysds/runtime/ooc/memory/InMemoryQueueCallback.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/ManagedPayload.java
  src/main/java/org/apache/sysds/runtime/ooc/store/IndexedMaterializedStoreReader.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedCallback.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedStore.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OOCStreamMaterializer.java
  src/main/java/org/apache/sysds/runtime/ooc/store/OrderedMaterializedStoreReader.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StoreLease.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/MaterializedStoreTest.java
Due: runtime

[OOC] Add StateTable
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCFuture.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StateTable.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StoreLease.java
  src/main/java/org/apache/sysds/runtime/ooc/util/StateTableUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/StateTableUtilsTest.java
Due: runtime

[SYSTEMDS-3857] wip
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/FrameAppendRSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/FrameIndexingSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/utils/FrameRDDConverterUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderTextCSV.java
  src/test/java/org/apache/sysds/test/functions/frame/FrameColNamesPropagationTest.java
Due: runtime

[OOC] Improvements of Memory Allowance/Broker
  src/main/java/org/apache/sysds/runtime/ooc/memory/GlobalMemoryBroker.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/MemoryAllowance.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/MemoryBroker.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/SyncMemoryAllowance.java
  src/test/java/org/apache/sysds/test/component/ooc/memory/OOCMemoryAllowanceTest.java
Due: runtime

[SYSTEMDS-3891] OOC Memory Allowance/Broker Improvements
  src/main/java/org/apache/sysds/runtime/ooc/memory/GlobalMemoryBroker.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/MemoryAllowance.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/MemoryBroker.java
  src/main/java/org/apache/sysds/runtime/ooc/memory/SyncMemoryAllowance.java
  src/test/java/org/apache/sysds/test/component/ooc/memory/OOCMemoryAllowanceTest.java
Due: runtime

[OOC] Remove Unused Messaging Features
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateTernaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TernaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/FilteredOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStreamable.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SplittingOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SubOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/message/OOCGetStreamTypeMessage.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/message/OOCStreamMessage.java
Due: runtime

[SYSTEMDS-3891] Remove Unused OOC Messaging Features
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateTernaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/AggregateUnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TernaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/UnaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/FilteredOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/MergedOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SourceOOCStreamable.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SplittingOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SubOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/message/OOCGetStreamTypeMessage.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/message/OOCStreamMessage.java
Due: runtime

[OOC] Add StoreBackedStream
  src/main/java/org/apache/sysds/runtime/ooc/store/CountingLiveness.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedCallback.java
  src/main/java/org/apache/sysds/runtime/ooc/store/SequentialAccessPattern.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StoreBackedStream.java
  src/test/java/org/apache/sysds/test/component/ooc/MaterializedStoreTest.java
Due: runtime

[SYSTEMDS-3891] Add StoreBackedStream
  src/main/java/org/apache/sysds/runtime/ooc/store/CountingLiveness.java
  src/main/java/org/apache/sysds/runtime/ooc/store/MaterializedCallback.java
  src/main/java/org/apache/sysds/runtime/ooc/store/SequentialAccessPattern.java
  src/main/java/org/apache/sysds/runtime/ooc/store/StoreBackedStream.java
  src/test/java/org/apache/sysds/test/component/ooc/MaterializedStoreTest.java
Due: runtime

[OOC] Add AllocatedOOCStream and ReservationBudget
  src/main/java/org/apache/sysds/runtime/ooc/memory/ReservationBudget.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/AllocatedOOCStream.java
  src/test/java/org/apache/sysds/test/component/ooc/memory/OOCMemoryAllowanceTest.java
Due: runtime

[SYSTEMDS-3891] Add AllocatedOOCStream and ReservationBudget
  src/main/java/org/apache/sysds/runtime/ooc/memory/ReservationBudget.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/AllocatedOOCStream.java
  src/test/java/org/apache/sysds/test/component/ooc/memory/OOCMemoryAllowanceTest.java
Due: runtime

[OOC] Add OOCInstructionUtils
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CSVReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/StreamContext.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCInstructionUtilsTest.java
Due: runtime

using tab instead of spaces for intentations
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

[SYSTEMDS-3857] wip
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/FrameObject.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/BuiltinNarySPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/CSVReblockSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/FrameAppendRSPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/ReblockSPInstruction.java
  src/test/java/org/apache/sysds/test/functions/frame/FrameColNamesPropagationTest.java
Due: runtime

PiecewiseLinearUtils.computeBreakpointSuccessive is compressed in O(n)
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
Due: runtime, compress

[SYSTEMDS-3543] Piece-wise linear compression of column groups
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

new replace & unitaryOperation
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
Due: runtime, compress

new ColGroupPiecewiseLinearCompressed methods; fix testComputeSUm
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

add DDCLZW enum value to ColGroupType
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
Due: runtime, compress

ColGroupIO support
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

Old DP algorithm and its usages are removed
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/functional/PiecewiseLinearUtils.java
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
Due: runtime, compress

added operation tests
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: runtime, compress

Performance tests and Benchmarks for sucussive Piece wise algorithm and downstream CLA operations
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
Due: none

[Minor] fixed mistake in previous commit
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
Due: none

[MINOR] fixed incorrect column name indexing (off-by-one error) in CSV header writing
  src/main/java/org/apache/sysds/runtime/instructions/spark/utils/FrameRDDConverterUtils.java
Due: runtime

[SYSTEMDS-3857] Set/GetNames on Data Frames
  src/test/java/org/apache/sysds/test/functions/frame/FrameColNamesPropagationTest.java
Due: none

[SYSTEMDS-3891] Add OOCInstructionUtils
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CSVReblockOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/StreamContext.java
  src/main/java/org/apache/sysds/runtime/ooc/util/OOCInstructionUtils.java
  src/test/java/org/apache/sysds/test/component/ooc/OOCInstructionUtilsTest.java
Due: runtime

tests: Add test for all combination of matrix types
  src/test/java/org/apache/sysds/test/functions/ternary/FullIfElseTest.java
Due: none

feat: Add broadcasting to the ifelse operator optimization
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix

fix: only matrices need to be checked for dimensions
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

feat: Relax constraints for ifelse for matrix checking
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTernaryOp.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix, compress, compiler

tests: Add new matrix type for ifelse test
  src/test/java/org/apache/sysds/test/functions/ternary/FullIfElseTest.java
  src/test/scripts/functions/ternary/TernaryIfElse.R
Due: none

feat: implement broadcasting for cellwise ternary operation
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixTercell.java
Due: runtime, matrix

tests: Adapt dml script to work with new MatTypes
  src/test/scripts/functions/ternary/TernaryIfElse.dml
Due: none

tests: Add eps for matrix comparison
  src/test/java/org/apache/sysds/test/functions/ternary/FullIfElseTest.java
Due: none

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
