Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

add reshape DML scripts
  src/test/scripts/functions/compress/reshape/CompressedReshapeTest/01.dml
  src/test/scripts/functions/compress/reshape/CompressedReshapeTest/02.dml
  src/test/scripts/functions/compress/reshape/CompressedReshapeTest/03.dml
Due: none

do not force nonzero count to be correct if -1
  src/test/java/org/apache/sysds/test/component/compress/CompressedTestBase.java
Due: none

errased impossible case, copy instead of append for dense matrix, cleaned logic for multibands, sorting if appendtoSparse was used.
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
Due: runtime

Added fixes for tile offsets, deflate compression to parallel (from seq)
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
Due: runtime

Fixed bug with parallel reader where it would not register the end of the tile
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
Due: runtime

dictionary cleanup
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ADictBasedColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/ACachingMBDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/ADictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/AIdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DictionaryFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibLeftMultBy.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CustomDictionaryTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

add license
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/AIdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

Added unittests and added counter based normal distributed rng using boxmuller
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixDatagen.java
  src/main/java/org/apache/sysds/runtime/matrix/data/RandomMatrixGenerator.java
  src/main/java/org/apache/sysds/runtime/util/PhiloxNormalCBPRNGenerator.java
  src/main/java/org/apache/sysds/runtime/util/PhiloxUniformCBPRNGenerator.java
  src/test/java/org/apache/sysds/test/component/matrix/LibMatrixDatagenTest.java
Due: runtime, matrix

Added PlanarConfig2 to parallel reader
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC2ComDeflateRect.java
Due: runtime

check for infinites
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibDecompress.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibUtils.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibBinaryCellOpTest.java
Due: runtime, compress

Nan handling
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CustomDictionaryTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

do not log
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
Due: runtime, compress

set initial value
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCompAgg.java
  src/test/java/org/apache/sysds/test/component/compress/ExtendedMatrixTests.java
Due: runtime, compress

fill start
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCompAgg.java
Due: runtime, compress

revert the allowance of allocating empty MatrixBlockDictionaries
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/ADictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
Due: runtime, compress

Fixed bug
  scripts/nn/layers/bert_layer.dml
Due: none

bert layer forward pass testing script
  src/test/scripts/applications/nn/component/bert_layer_forward.dml
Due: none

Java automated unit tests for forward bert layer
  src/test/java/org/apache/sysds/test/applications/nn/transformers/BertLayerTest.java
Due: none

Small tweaks
  src/test/scripts/applications/nn/component/bert_layer_forward.dml
Due: none

Testing data for test case
  src/test/resources/component/transformers/bert_layer/input_W_K_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_Q_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_V_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_context_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_intermediate_test1.csv
  src/test/resources/component/transformers/bert_layer/input_W_out_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_K_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_Q_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_V_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_context_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_intermediate_test1.csv
  src/test/resources/component/transformers/bert_layer/input_b_out_test1.csv
  src/test/resources/component/transformers/bert_layer/input_beta_ln1_test1.csv
  src/test/resources/component/transformers/bert_layer/input_beta_ln2_test1.csv
  src/test/resources/component/transformers/bert_layer/input_gamma_ln1_test1.csv
  src/test/resources/component/transformers/bert_layer/input_gamma_ln2_test1.csv
  src/test/resources/component/transformers/bert_layer/input_states_test1.csv
  src/test/resources/component/transformers/bert_layer/output_attention_test1.csv
  src/test/resources/component/transformers/bert_layer/output_states_test1.csv
Due: none

Bug in MultiAttentionLayerTest
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
Due: none

[SYSTEMDS-3548] Add pandas to FrameBlock row-wise parallel processing
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
  src/main/java/org/apache/sysds/runtime/util/Py4jConverterUtils.java
  src/main/python/systemds/utils/converters.py
Due: runtime, frame

[SYSTEMDS-3010] Add missing lineage support for list operations
  src/main/java/org/apache/sysds/runtime/instructions/cp/EvalNaryCPInstruction.java
  src/main/java/org/apache/sysds/runtime/lineage/LineageCacheConfig.java
Due: runtime

[SYSTEMDS-3821] Add GELU Activation Function (Approximation)
  scripts/nn/layers/gelu.dml
  src/test/java/org/apache/sysds/test/applications/nn/NNComponentTest.java
  src/test/scripts/applications/nn/component/gelu.dml
Due: none

det calculation in libCommonsMath
  src/test/scripts/functions/unary/matrix/DetTest.dml
Due: none

registered and built local computation of det function with passing 4 tests out of 9
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/DetTest.java
  src/test/scripts/functions/unary/matrix/DetTest.dml
Due: compiler

changed det to registrate as scalar output function
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
Due: compiler

Fix issue with test
  src/test/java/org/apache/sysds/test/functions/unary/matrix/DetTest.java
  src/test/scripts/functions/unary/matrix/DetTest.dml
Due: none

implemented local det computation with gauss and laplace
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
Due: runtime, matrix

cleaned up, removed local test classes
  src/main/java/org/apache/sysds/runtime/matrix/data/AAA_TEST_DETERMINANT.class
  src/main/java/org/apache/sysds/runtime/matrix/data/AAA_TEST_DETERMINANT.java
Due: runtime, matrix

determinant calculation with test class
  src/main/java/org/apache/sysds/runtime/matrix/data/AAA_TEST_DETERMINANT.class
  src/main/java/org/apache/sysds/runtime/matrix/data/AAA_TEST_DETERMINANT.java
Due: runtime, matrix

updated laplace calculation to align recursion with returning matrix block
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
Due: runtime, matrix

Slight cleanup
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
Due: runtime

Integrated BigTIFF into multi-threaded, refactored a lot of duplicate code
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGByteReader.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
Due: runtime

Refactored and deduplicated even more code
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGProperties.java
Due: runtime

Modified parallel logic for dense matrix, slight mod for sparse
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestNTilesNBandsUInt16PC2ComNoneRectBIGTIFF.java
Due: runtime

Slight memory improvements for input stream
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/ReaderCOGParallel.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGByteReader.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
Due: runtime

corrections
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRexpand.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/CustomDictionaryTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibLMMTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibSelectionMultTest.java
Due: runtime, compress
