Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

fix identity matrix and allow with warning dense sdc
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

Not allowing sparse dense combine ... but we handle it differently incode
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/ConstEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/SparseEncoding.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCombineGroups.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CombineGroupsTest.java
Due: runtime, compress

[SYSTEMDS-3810] New codegen explain types for debugging
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/main/java/org/apache/sysds/utils/Explain.java
  src/test/java/org/apache/sysds/test/functions/codegen/SumProductChainTest.java
Due: compiler, util

adding unfinished java implementation, and tests
  bin/README.md
  bin/systemds
  scripts/builtin/.Rapp.history
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSQRTMatrixTest.java
  src/test/scripts/functions/builtin/SQRTMatrix.dml
Due: runtime, matrix, compiler, util

[MINOR] Update Python API
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/adasyn.py
  src/main/python/systemds/operator/algorithm/builtin/incSliceLine.py
Due: none

[SYSTEMDS-3548] load python parallel
  scripts/perftest/python/io/load_native.py
  scripts/perftest/python/io/load_numpy.py
  scripts/perftest/python/io/load_pandas.py
  src/main/java/org/apache/sysds/runtime/util/Py4jConverterUtils.java
  src/main/python/systemds/utils/converters.py
Due: runtime

[skip ci] remove duplcate method in MatrixBlock
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix

Most backward calculations, added attention to backward inputs
  scripts/nn/layers/multi_attention.dml
Due: none

More backward calculations
  scripts/nn/layers/multi_attention.dml
Due: none

Removed unused variable in forward pass
  scripts/nn/layers/multi_attention.dml
Due: none

Output handling in backward pass
  scripts/nn/layers/multi_attention.dml
Due: none

Fixed bugs
  scripts/nn/layers/multi_attention.dml
Due: none

Testing file for backward pass
  src/test/scripts/applications/nn/component/multi_attention_backward.dml
Due: none

Java testing logic for backwards pass
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
Due: none

feat: added iterative approach
  scripts/builtin/matrix_square_root.dml
Due: none

[SYSTEMDS-3644] Compressed transform encode
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ABooleanArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ACompressedArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ArrayFactory.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/CharArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DDCArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DoubleArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/FloatArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashIntegerArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashLongArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/IntegerArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/LongArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/OptionalArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/RaggedArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/StringArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/compress/CompressedFrameBlockFactory.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/MultiReturnParameterizedBuiltinSPInstruction.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoder.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderBagOfWords.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderBin.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderComposite.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderRecode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderWordEmbedding.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/EncoderMVImpute.java
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
  src/test/java/org/apache/sysds/test/component/frame/array/CustomArrayTests.java
  src/test/java/org/apache/sysds/test/component/frame/array/FrameArrayTests.java
  src/test/java/org/apache/sysds/test/functions/transform/ColumnEncoderSerializationTest.java
Due: runtime, frame

docs
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ACompressedArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
Due: runtime, frame

fix docs
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
Due: runtime, frame

fix serialization of BagOfWords
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderBagOfWords.java
Due: runtime

format arrays
  src/main/java/org/apache/sysds/runtime/frame/data/columns/ArrayWrapper.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/BooleanArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/CharArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/DoubleArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/FloatArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashLongArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/LongArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/OptionalArray.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/RaggedArray.java
Due: runtime, frame

remove preventive warning on more non zeros on output than input in transformencode
  src/main/java/org/apache/sysds/runtime/transform/encode/MultiColumnEncoder.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformFrameEncodeBagOfWords.java
Due: runtime

Added test case function header
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
Due: none

Bug in backward pass computation
  scripts/nn/layers/multi_attention.dml
Due: none

Bug in backward pass computation 2
  scripts/nn/layers/multi_attention.dml
Due: none

Added data for backward pass test case
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
  src/test/resources/component/transformers/multi_attention_layer/input_attention_test4.csv
  src/test/resources/component/transformers/multi_attention_layer/input_dcontext_test4.csv
  src/test/resources/component/transformers/multi_attention_layer/input_key_test4.csv
  src/test/resources/component/transformers/multi_attention_layer/input_query_test4.csv
  src/test/resources/component/transformers/multi_attention_layer/input_value_test4.csv
  src/test/resources/component/transformers/multi_attention_layer/output_dkey_test4.csv
  src/test/resources/component/transformers/multi_attention_layer/output_dquery_test4.csv
  src/test/resources/component/transformers/multi_attention_layer/output_dvalue_test4.csv
  src/test/scripts/applications/nn/component/multi_attention_backward.dml
Due: none

Large test for backward pass
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
  src/test/resources/component/transformers/multi_attention_layer/input_attention_test5.csv
  src/test/resources/component/transformers/multi_attention_layer/input_dcontext_test5.csv
  src/test/resources/component/transformers/multi_attention_layer/input_key_test5.csv
  src/test/resources/component/transformers/multi_attention_layer/input_query_test5.csv
  src/test/resources/component/transformers/multi_attention_layer/input_value_test5.csv
  src/test/resources/component/transformers/multi_attention_layer/output_dkey_test5.csv
  src/test/resources/component/transformers/multi_attention_layer/output_dquery_test5.csv
  src/test/resources/component/transformers/multi_attention_layer/output_dvalue_test5.csv
Due: none

Small test for backward pass
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
  src/test/resources/component/transformers/multi_attention_layer/input_attention_test6.csv
  src/test/resources/component/transformers/multi_attention_layer/input_dcontext_test6.csv
  src/test/resources/component/transformers/multi_attention_layer/input_key_test6.csv
  src/test/resources/component/transformers/multi_attention_layer/input_query_test6.csv
  src/test/resources/component/transformers/multi_attention_layer/input_value_test6.csv
  src/test/resources/component/transformers/multi_attention_layer/output_dkey_test6.csv
  src/test/resources/component/transformers/multi_attention_layer/output_dquery_test6.csv
  src/test/resources/component/transformers/multi_attention_layer/output_dvalue_test6.csv
Due: none

adapt scuro for python 3.8
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_dr_search.py
Due: none

Added license header
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
Due: none

Adding Java SQRT Matrix Implementation
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibCommonsMath.java
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinSQRTMatrixTest.java
  src/test/scripts/functions/builtin/SQRTMatrix.dml
Due: runtime, matrix, compiler, util

fix naming
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
Due: runtime

[MINOR] CompressedMatrixBlock parallel nonzero count
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
Due: runtime, compress
