Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

add metrics to optimizers
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/ranking.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

adapt tests
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

OOC Instruction Features / Improvements
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/lops/DataGen.java
  src/main/java/org/apache/sysds/lops/Transform.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/RandTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/SortTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/StreamCollectTest.java
  src/test/scripts/functions/ooc/Rand1.dml
  src/test/scripts/functions/ooc/Rand2.dml
  src/test/scripts/functions/ooc/Sort.dml
Due: runtime, compiler

Remove Invalid Blocksize Propagation
  src/main/java/org/apache/sysds/hops/DataOp.java
Due: compiler

[SYSTEMDS-3891] New out-of-core instructions and improvements
  src/main/java/org/apache/sysds/hops/DataOp.java
  src/main/java/org/apache/sysds/lops/DataGen.java
  src/main/java/org/apache/sysds/lops/Transform.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/MatrixObject.java
  src/main/java/org/apache/sysds/runtime/instructions/OOCInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/BinaryOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/DataGenOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TSMMOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TransposeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/RandTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/SortTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/StreamCollectTest.java
  src/test/scripts/functions/ooc/Rand1.dml
  src/test/scripts/functions/ooc/Rand2.dml
  src/test/scripts/functions/ooc/Sort.dml
Due: runtime, compiler

2_1 Part_query works, but sorting not (as in the older implementation).
  scripts/ssb/queries/q2_1_groupby.dml
Due: none

Allow Cache Deletes and More Robust Implementation of SubscribableQueues to avoid Race Conditions and Unclosed Streams
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteInjectOOCTee.java
  src/main/java/org/apache/sysds/runtime/controlprogram/caching/CacheableData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/LocalTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/IndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/MatrixIndexingOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCStreamable.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCWatchdog.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ParameterizedBuiltinOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/PlaybackStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/TeeOOCInstruction.java
  src/test/java/org/apache/sysds/test/functions/ooc/PCATest.java
  src/test/scripts/functions/ooc/PCA.dml
Due: runtime, compiler, util

HDF5 Reader comprehensive tests
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test1.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test2.java
  src/test/java/org/apache/sysds/test/functions/io/hdf5/ReadHDF5Test3.java
  src/test/scripts/functions/io/hdf5/ReadHDF5_Default.dml
  src/test/scripts/functions/io/hdf5/ReadHDF5_WithDataset.dml
  src/test/scripts/functions/io/hdf5/ReadHDF5_WithFormatAndDataset.dml
  src/test/scripts/functions/io/hdf5/gen_HDF5_testdata.R
Due: none

test data generator for HDF5 Readers
  src/test/scripts/functions/io/hdf5/gen_HDF5_testdata.R
Due: none

fix errors in ranking
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/fusion.py
Due: none

fix tests
  src/main/python/systemds/scuro/drsearch/ranking.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none

fix tests
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

q2_1 and 2_3 works on scale 0.1, but sorting string values still a problem.
  scripts/ssb/queries/q1_1.dml
  scripts/ssb/queries/q1_2.dml
  scripts/ssb/queries/q1_3.dml
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_3.dml
  scripts/ssb/sql/q2.1.sql
  scripts/ssb/sql/q2.3.sql
Due: none

Added new mode of data transfer replaced py4j with unix pipes
  .gitignore
  src/main/java/org/apache/sysds/api/PythonDMLScript.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/FloatArray.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/util/UnixPipeUtils.java
  src/main/python/systemds/context/systemds_context.py
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/matrix/test_block_converter_unix_pipe.py
  src/main/python/tests/py2j_data_transfer/__init__.py
  src/main/python/tests/py2j_data_transfer/test_dense_numpy_matrix.py
  src/main/python/tests/py2j_data_transfer/test_pandas_frame.py
  src/main/python/tests/test_utils.py
  src/test/java/org/apache/sysds/test/component/utils/UnixPipeUtilsTest.java
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
Due: runtime, frame, util

[MINOR][DOCS][SYSTEMDS-3878] Write two markdown files to log work, and document changes
  docker/project_systemds-3878.md
  docker/systemds-3878_summary-of-changes.md
Due: none

[MINOR][SYSTEMDS-3878] Add Docker Scout vulnerability scan for sysds.Dockerfile
  docker/scout_results/sysds_output0.md
Due: none

fix small typo
  scripts/builtin/raJoin.dml
Due: none

[DOC] add documentation for the OOCEvictionManager design
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

[DOC] update note on concurrency
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

fix h3 header to h2
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

[DOC] add documentation for the OOCEvictionManager design (#2370)
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCEvictionManager.java
Due: runtime

q4_1, q4_2, q4_3 works on scale 0.1, joining order matters.
  scripts/ssb/queries/q1_2.dml
  scripts/ssb/queries/q1_3.dml
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
  scripts/ssb/sql/q2.2.sql
  scripts/ssb/sql/q3.1.sql
  scripts/ssb/sql/q3.3.sql
  scripts/ssb/sql/q3.4.sql
  scripts/ssb/sql/q4.1.sql
  scripts/ssb/sql/q4.2.sql
  scripts/ssb/sql/q4.3.sql
Due: none

[SYSTEMDS-3730] Multithreaded roll operation and improved tests
  src/main/java/org/apache/sysds/hops/ReorgOp.java
  src/main/java/org/apache/sysds/lops/Transform.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ReorgCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/DenseMatrixRollOperationCorrectnessTest.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/RollOperationThreadSafetyTest.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/RollTest.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/SparseMatrixRollOperationCorrectnessTest.java
Due: runtime, matrix, compiler

q3_1,q3_2,q3_3 works on scale 0.1, q3_4 to test on larger data for verification. TO DO: Dealing with empty tables.
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_3.dml
  scripts/ssb/sql/q3.2.sql
Due: none

Updated version for empty tables.
  scripts/ssb/queries/q1_1.dml
  scripts/ssb/queries/q1_2.dml
  scripts/ssb/queries/q1_3.dml
  scripts/ssb/queries/q2_1.dml
  scripts/ssb/queries/q2_2.dml
  scripts/ssb/queries/q2_3.dml
  scripts/ssb/queries/q3_1.dml
  scripts/ssb/queries/q3_2.dml
  scripts/ssb/queries/q3_3.dml
  scripts/ssb/queries/q3_4.dml
  scripts/ssb/queries/q4_1.dml
  scripts/ssb/queries/q4_2.dml
  scripts/ssb/queries/q4_3.dml
Due: none

access metrics correclty in optimizers
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
Due: none

[SYTEMDS-3937] Access measures in optimizers correctly
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/drsearch/multimodal_optimizer.py
  src/main/python/systemds/scuro/drsearch/ranking.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_multimodal_fusion.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
Due: none

adapt representations for images
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/representations/color_histogram.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
Due: none

Added new mode of data transfer replaced py4j with unix pipes
  .gitignore
  src/main/java/org/apache/sysds/api/PythonDMLScript.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/FloatArray.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MultiReturnParameterizedBuiltinCPInstruction.java
  src/main/java/org/apache/sysds/runtime/util/UnixPipeUtils.java
  src/main/python/systemds/context/systemds_context.py
  src/main/python/systemds/utils/converters.py
  src/main/python/tests/matrix/test_block_converter_unix_pipe.py
  src/main/python/tests/python_java_data_transfer/__init__.py
  src/main/python/tests/python_java_data_transfer/test_dense_numpy_matrix.py
  src/main/python/tests/python_java_data_transfer/test_pandas_frame.py
  src/main/python/tests/test_utils.py
  src/test/java/org/apache/sysds/test/component/utils/UnixPipeUtilsTest.java
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
Due: runtime, frame, util

rename val indices to test_indices
  src/main/python/systemds/scuro/representations/fusion.py
Due: none

change correct hp score
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
Due: none

[SYSTEMDS-3913] Adapt visual representations to image modality
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/drsearch/hyperparameter_tuner.py
  src/main/python/systemds/scuro/representations/color_histogram.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
Due: none

make trainable representations work with multilabel
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
Due: none

[SYSTEMDS-3913] Make learnable fusion representations work for multi-label tasks
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/modality/modality.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/fusion.py
  src/main/python/systemds/scuro/representations/lstm.py
  src/main/python/systemds/scuro/representations/multimodal_attention_fusion.py
Due: none
