Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

[SYSTEMDS-3805] Minor performance improvement scalar right indexing
  src/main/java/org/apache/sysds/runtime/instructions/cp/MatrixIndexingCPInstruction.java
Due: runtime

Added dummy COG reader that is called with format=cog
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/runtime/io/FileFormatPropertiesCOG.java
  src/main/java/org/apache/sysds/runtime/io/MatrixReaderFactory.java
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
Due: runtime, util

[SYSTEMDS-3805] Fix scalar right indexing (only for valid indices)
  src/main/java/org/apache/sysds/runtime/instructions/cp/MatrixIndexingCPInstruction.java
Due: runtime

Initial testing file for multi attention forward
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
Due: none

Implement reading the (first) header with IFD tags
  src/main/java/org/apache/sysds/runtime/io/FileFormatPropertiesCOG.java
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTag.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTagDictionary.java
Due: runtime

[SYSTEMDS-3805] Rewrite and runtime for scalar right indexing
  src/main/java/org/apache/sysds/hops/IndexingOp.java
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteIndexingVectorization.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/MatrixIndexingCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/VariableCPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/MatrixIndexingSPInstruction.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteLoopVectorization.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteScalarRightIndexingTest.java
  src/test/scripts/functions/rewrite/RewriteScalarRightIndexing.dml
Due: runtime, compiler

feat: first dml functions
  hello.dml
  scripts/builtin/matrix_square_root.dml
Due: none

[SYSTEMDS-3704] RESOURCE_AWARE_OPTIMAL: refactoring
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAwareOptimal.java
Due: compiler

Support multiple IFDs, now reading until image data *should* begin
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
Due: runtime

[SYSTEMDS-3805] Fix rewrite issues and python test versions
  .github/workflows/documentation.yml
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateCell.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/codegenalg/partone/AlgorithmLinregCG.java
  src/test/java/org/apache/sysds/test/functions/unary/matrix/EigenFactorizeTest.java
  src/test/scripts/functions/unary/matrix/eigen.dml
Due: compiler

[MINOR] Fix python doc os version for restoring code coverage
  .github/workflows/documentation.yml
Due: none

Finally read multiple data points from an offset, get tile offsets etc. in order to parse actual image data. Extended IFDTagDictionary to accomodate that.
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTag.java
  src/main/java/org/apache/sysds/runtime/io/cog/IFDTagDictionary.java
  src/main/java/org/apache/sysds/runtime/io/cog/TIFFDataTypes.java
Due: runtime

Added some comments, some minor cleanup
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
  src/main/java/org/apache/sysds/runtime/io/cog/COGHeader.java
Due: runtime

Call dropout only with p > 0
  scripts/nn/layers/multi_attention.dml
Due: none

DML test script for forward pass
  src/test/scripts/applications/nn/component/multi_attention_forward.dml
Due: none

Test cases for multi-attention forward pass and bug fixing
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
  src/test/resources/component/transformers/multi_attention_layer/input_key_test1.csv
  src/test/resources/component/transformers/multi_attention_layer/input_key_test2.csv
  src/test/resources/component/transformers/multi_attention_layer/input_key_test3.csv
  src/test/resources/component/transformers/multi_attention_layer/input_query_test1.csv
  src/test/resources/component/transformers/multi_attention_layer/input_query_test2.csv
  src/test/resources/component/transformers/multi_attention_layer/input_query_test3.csv
  src/test/resources/component/transformers/multi_attention_layer/input_value_test1.csv
  src/test/resources/component/transformers/multi_attention_layer/input_value_test2.csv
  src/test/resources/component/transformers/multi_attention_layer/input_value_test3.csv
  src/test/resources/component/transformers/multi_attention_layer/output_attention_test1.csv
  src/test/resources/component/transformers/multi_attention_layer/output_attention_test2.csv
  src/test/resources/component/transformers/multi_attention_layer/output_attention_test3.csv
  src/test/resources/component/transformers/multi_attention_layer/output_context_test1.csv
  src/test/resources/component/transformers/multi_attention_layer/output_context_test2.csv
  src/test/resources/component/transformers/multi_attention_layer/output_context_test3.csv
Due: none

[SYSTEMDS-3704] RESOURCE_AWARE_FAST: complete refactoring with major improvements
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAwareFast.java
Due: compiler

[SYSTEMDS-3704] RESOURCE_AWARE_FAST: removed unused code
  src/main/java/org/apache/sysds/lops/compile/linearization/LinearizerResourceAwareFast.java
Due: compiler

[SYSTEMDS-3806] Robustness simplifyDotProductSum rewrite
  src/main/java/org/apache/sysds/hops/IndexingOp.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/test/scripts/functions/unary/matrix/eigen.dml
Due: compiler

[SYSTEMDS-3807] Fix code coverage by using jdk 11 on ubuntu-latest
  .github/workflows/javaTests.yml
Due: none

implement new "-explain" command to print the generated code to the console
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/main/java/org/apache/sysds/utils/Explain.java
Due: compiler, util

[MINOR] Code cleanups in rewrites and tests
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteElementwiseMultChainOptimizationAllTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteElementwiseMultChainOptimizationTest.java
Due: compiler

[MINOR] Code cleanups in rewrites and tests, part II
  .github/workflows/javaTests.yml
  .github/workflows/python.yml
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationDynamic.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteFuseBinaryOpChainTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteHoistingLoopInvariantOpsTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteIfElseTest.java
Due: compiler

added tests
  src/test/java/org/apache/sysds/test/functions/io/cog/COGTestBase.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTest.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestMultipleBands.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestSingleBand.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestSingleBandNan.java
  src/test/java/org/apache/sysds/test/functions/io/cog/ReadCOGTestSingleBandTileOnly.java
  src/test/resources/datasets/cog/testCOG_1.tif
  src/test/resources/datasets/cog/testCOG_2.tif
  src/test/resources/datasets/cog/testCOG_3.tif
  src/test/scripts/functions/io/cog/ReadCOGTest_2.dml
  src/test/scripts/functions/io/cog/ReadCOGTest_3.dml
Due: none

Registration for det-function for java implementation
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
Due: compiler, util

Reading the first tile from the image (pixel data)
  src/main/java/org/apache/sysds/runtime/io/ReaderCOG.java
Due: runtime

[SYSTEMDS-3798,3807] Improved loop vectorization rewrite, code coverage
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/hops/rewrite/RewriteForLoopVectorization.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteIfElseTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteLoopVectorization.java
Due: compiler

[SYSTEMDS-3798] Fix generality of loop vectorization rewrite
  src/main/java/org/apache/sysds/hops/rewrite/RewriteForLoopVectorization.java
  src/test/java/org/apache/sysds/test/functions/vect/AutoVectorizationTest.java
Due: compiler

[SYSTEMDS-3807] Fix test code coverage and minor lineage issues
  .github/workflows/javaTests.yml
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ParameterizedBuiltinCPInstruction.java
Due: runtime
