Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Add compressed removeEmpty edge-case tests
  src/test/java/org/apache/sysds/test/component/compress/CompressedMatrixTest.java
Due: none

Shorten federated timeout comment in multitenant test config
  src/test/config/SystemDS-MultiTenant-config.xml
Due: none

Add toString tests for negative-decimal default formatting
  src/test/java/org/apache/sysds/test/component/frame/FrameToStringTest.java
  src/test/java/org/apache/sysds/test/component/tensor/TensorToStringTest.java
Due: none

Fall back to decompression for unsupported removeEmpty encodings
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRemoveEmpty.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedRemoveEmptyForcedTest.java
Due: runtime, compress

[MINOR][CI] Raise federated request timeout for multitenant Spark tests (#2505)
  src/test/config/SystemDS-MultiTenant-config.xml
Due: none

ColGroupIO support
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupPiecewiseLinearCompressed.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedOperationsTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupPiecewiseLinearCompressedTest.java
Due: runtime, compress

[MINOR] Add ToString test for decimal-formatting in toString builtin (#2503)
  src/main/java/org/apache/sysds/runtime/util/DataConverter.java
  src/test/java/org/apache/sysds/test/component/frame/FrameToStringTest.java
  src/test/java/org/apache/sysds/test/component/tensor/TensorToStringTest.java
  src/test/java/org/apache/sysds/test/functions/misc/ToStringTest.java
  src/test/scripts/functions/misc/ToString12.dml
Due: runtime

Add multi-column subset coverage for compressed removeEmpty
  src/test/java/org/apache/sysds/test/component/compress/CompressedRemoveEmptyColSubsetTest.java
Due: none

[BWARE] Add removeEmpty support to compressed column groups (#2504)
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroupValue.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ADictBasedColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ASDCZero.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupLinearFunctional.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupOLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupRLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IdentityDictionarySlice.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/mapping/AMapToData.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AIterator.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/AOffset.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/offset/OffsetEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRemoveEmpty.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedMatrixTest.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedRemoveEmptyColSubsetTest.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedRemoveEmptyForcedTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupNegativeTests.java
  src/test/java/org/apache/sysds/test/component/compress/offset/CustomOffsetTest.java
Due: runtime, matrix, compress

[MINOR][CI] Make federated client and monitoring threads daemon
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/monitoring/FederatedMonitoringServer.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/monitoring/services/WorkerService.java
Due: runtime

[MINOR][CI] Make federated client and monitoring threads daemon (#2508)
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/monitoring/FederatedMonitoringServer.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/monitoring/services/WorkerService.java
Due: runtime

Add sort support to compressed column groups
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupLinearFunctional.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupOLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupRLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/AIdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibSort.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupNegativeTests.java
Due: runtime, compress

Add tests for compressed column-group sort and fix single-value SDC sort
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedSortTest.java
Due: runtime, compress

Hook compressed sort into the order reorg path and fix uncompressed sort
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReorg.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibSort.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedSortTest.java
Due: runtime, compress

Wire compressed sort into median/quantile and emit exact value/weight table
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibSort.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedSortTest.java
Due: runtime, compress

Match uncompressed sortOperations metadata in compressed quantile path
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibSort.java
Due: runtime, compress

Add order() sort coverage to CompressedVectorTest
  src/test/java/org/apache/sysds/test/component/compress/CompressedVectorTest.java
Due: none

add two new methods for lhs generation: improved and maximin
  scripts/builtin/lhs.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinLHSTest.java
  src/test/scripts/functions/builtin/lhs.dml
Due: none

Add dictionary/CLALibSort sort tests and simplify quantile table build
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibSort.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedSortTest.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

Bump jackson core/databind/annotations to 2.15.4
  pom.xml
Due: none

Extract jackson version to a pom property
  pom.xml
Due: none

[BWARE] Add sort support to compressed column groups (#2507)
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupConst.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupEmpty.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupLinearFunctional.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupOLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupRLE.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCFOR.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingle.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCSingleZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/AIdentityDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/DeltaDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/Dictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/IDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/MatrixBlockDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/PlaceHolderDict.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/dictionary/QDictionary.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibReorg.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibSort.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedSortTest.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedVectorTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/ColGroupNegativeTests.java
  src/test/java/org/apache/sysds/test/component/compress/dictionary/DictionaryTests.java
Due: runtime, compress

[MINOR] Bump jackson to 2.15.4 (core/databind/annotations) (#2512)
  pom.xml
Due: none

added foundation
  src/test/java/org/apache/sysds/test/applications/nn/NNOptimTest.java
  src/test/scripts/applications/nn/component/optim/sgd.dml
Due: none

rename builtin StepGLM.dml to stepglm.dml
  scripts/builtin/stepglm.dml
Due: none

rename builtin stepglm.dml to stepGLM.dml
  scripts/builtin/stepGLM.dml
Due: none

fix syntax errors in stepGLM
  scripts/algorithms/TestBuiltinStepGLM.dml
  scripts/builtin/stepGLM.dml
Due: none

fix glm_fit call syntax
  scripts/builtin/stepGLM.dml
Due: none

remove fit_glm
  scripts/builtin/stepGLM.dml
Due: none

replace glm_fit with m_glm
  scripts/builtin/stepGLM.dml
Due: none

Serialize federated monitoring and multitenant tests in CI
  .github/workflows/javaTests.yml
Due: none

Serialize federated monitoring and multitenant tests in CI (#2517)
  .github/workflows/javaTests.yml
Due: none

[MINOR][CI] Run component.c tests in parallel again
  .github/workflows/javaTests.yml
Due: none

Support single-column median and align unweighted quantile convention
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/matrix/QuantilePickTest.java
Due: runtime, matrix

Tighten MatrixBlock API and extract aggregateUnary specialization
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibAggregateUnarySpecialization.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix, compress

Add direct quantile-pick coverage on CompressedMatrixBlock
  src/test/java/org/apache/sysds/test/component/compress/CompressedSortTest.java
Due: none

Drop out-of-scope WDivMM allocation change and polish quantile API
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
Due: runtime, matrix, compress

Fix review findings on MatrixBlock API tightening
  src/main/java/org/apache/sysds/runtime/matrix/data/LibAggregateUnarySpecialization.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/matrix/QuantilePickTest.java
Due: runtime, matrix

[BWARE] Tighten MatrixBlock quantile/sort API surface (#2513)
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/CompressedSortTest.java
  src/test/java/org/apache/sysds/test/component/matrix/QuantilePickTest.java
Due: runtime, matrix, compress

Restructure CLALibBinaryCellOp and decompression fallbacks for binary ops
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryMatrixMatrixCPInstruction.java
Due: runtime, compress

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
