Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

reduce precalculated
  src/main/java/org/apache/sysds/runtime/compress/cocode/CoCodeGreedy.java
Due: runtime, compress

entry set for HasMapToInt
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
Due: runtime, frame

implemented rewrite
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteNonScalarPrint.java
  src/main/java/org/apache/sysds/parser/StatementBlock.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteNonScalarPrintTest.java
  src/test/scripts/functions/rewrite/RewriteNonScalarPrint.R
  src/test/scripts/functions/rewrite/RewriteNonScalarPrint.dml
Due: compiler

compress without specifying unique
  src/main/java/org/apache/sysds/runtime/frame/data/compress/CompressedFrameBlockFactory.java
Due: runtime, frame

sampled all
  src/main/java/org/apache/sysds/runtime/frame/data/compress/CompressedFrameBlockFactory.java
Due: runtime, frame

dict writable
  src/main/java/org/apache/sysds/runtime/compress/io/DictWritable.java
  src/main/java/org/apache/sysds/runtime/compress/io/WriterCompressed.java
Due: runtime, compress

not placeholder
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupSDCZeros.java
Due: runtime, compress

add join for raw modalities
  src/main/python/systemds/scuro/dataloader/base_loader.py
  src/main/python/systemds/scuro/modality/joined.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/utils/__init__.py
  src/main/python/systemds/scuro/utils/join_condition.py
Due: none

fix csv metadata parsing
  src/main/java/org/apache/sysds/runtime/io/FrameReaderTextCSV.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderTextCSVParallel.java
  src/main/java/org/apache/sysds/runtime/io/IOUtilFunctions.java
  src/test/java/org/apache/sysds/test/component/utils/IOUtilsTest.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformCSVFrameEncodeReadTest.java
Due: runtime

license
  src/test/java/org/apache/sysds/test/component/utils/IOUtilsTest.java
Due: none

fix contains key
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformApplyUnknownsTest.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformCSVFrameEncodeReadTest.java
Due: runtime, frame

writing to disk is painfull
  src/test/java/org/apache/sysds/test/functions/transform/TransformFrameEncodeWordEmbeddingMMTest.java
Due: none

more tests for custom array
  src/main/java/org/apache/sysds/runtime/frame/data/columns/Array.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
  src/main/java/org/apache/sysds/runtime/transform/encode/ColumnEncoderBagOfWords.java
  src/test/java/org/apache/sysds/test/component/frame/array/HashMapToIntTest.java
  src/test/java/org/apache/sysds/test/functions/transform/TransformFrameEncodeBagOfWords.java
Due: runtime, frame

sum remove on combine
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCombineGroups.java
Due: runtime, compress

combine uncompressed
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCombineGroups.java
Due: runtime, compress

combine uncompressed error
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressed.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibCombineGroups.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibRightMultBy.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime, compress

more functions
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/indexes/ColIndexFactory.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime, compress

simple version
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

more logging
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
Due: runtime, compress

logging
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

safety fix
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

only add nnz if combined
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

fixes
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
Due: runtime, compress

bad logging add
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

debugging move
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

why?
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime, compress

no longer an extension of Uncompressed
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
Due: runtime, compress

copy and set
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupUncompressedArray.java
Due: runtime, compress

count nnz
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

remove logging
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

parallel putinto
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

set nnz
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

better parallelization
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

SINGLE COL TMP INDEX
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

try ?
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

timing of combining
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

compressed size ... even if abort
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
Due: runtime, compress

parallel
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

more JIT
  src/main/java/org/apache/sysds/runtime/transform/encode/CompressedEncode.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
