Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

Add TopKData holder class
  src/main/java/org/apache/sysds/runtime/compress/TopK/TopKData.java
Due: runtime, compress

Fix test files: add content, remove AutomatedTestBase, fix tab indentation
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressedMatrix.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionConfig.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionFactory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionType.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/MatrixCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/Quantization/ProbabilisticQuantizationCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/Quantization/QuantizedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/TopK/TopKCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/TopK/TopKData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/exceptions/CompressionException.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/exceptions/DecompressionException.java
  src/test/java/org/apache/sysds/test/functions/federated/io/ProbabilisticQuantizationCompressorTest.java
  src/test/java/org/apache/sysds/test/functions/federated/io/TopKCompressorTest.java
Due: runtime

Add QuantizedData holder class
  src/main/java/org/apache/sysds/runtime/compress/Quantization/QuantizedData.java
Due: runtime, compress

Integrate compression into FederationMap broadcast
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
Due: runtime

Add GitHub Actions CI/CD workflow for compression tests
  .github/workflows/compression-tests.yml
Due: none

Add ProbabilisticQuantizationCompressor implementation
  src/main/java/org/apache/sysds/runtime/compress/Quantization/ProbabilisticQuantizationCompressor.java
Due: runtime, compress

Add TopKCompressorTest - 9 tests passing
  src/test/java/org/apache/sysds/runtime/compress/TopK/TopKCompressorTest.java
Due: none

Add CompressionConfig builder
  src/main/java/org/apache/sysds/runtime/compress/CompressionConfig.java
Due: runtime, compress

Add ProbabilisticQuantizationCompressorTest
  src/test/java/org/apache/sysds/runtime/compress/Quantization/ProbabilisticQuantizationCompressorTest.java
Due: none

Add CompressionFactory with PassthroughCompressor
  src/main/java/org/apache/sysds/runtime/compress/CompressionFactory.java
Due: runtime, compress

Address review: make compression configurable, transfer compressed data over network
  src/main/java/org/apache/sysds/api/DMLScript.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionFactory.java
Due: runtime, util

Apply Eclipse formatter to PR-edited lines via dev/format-changed.sh
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedRequest.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressedMatrix.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionConfig.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionFactory.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressionType.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/MatrixCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/Quantization/ProbabilisticQuantizationCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/Quantization/QuantizedData.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/TopK/TopKCompressor.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/TopK/TopKData.java
Due: runtime

Fix checkstyle: remove unused CompressionConfig import
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
Due: runtime

Fix DML script: use read() for federated JSON descriptor
  src/test/scripts/functions/federated/io/FederatedMatrixCompressionTest.dml
Due: none

Fix CompressedMatrix checksum in FederatedRequest for network transfer
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedRequest.java
Due: runtime

Use lossless compression settings in federated integration test
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedMatrixCompressionTest.java
Due: none

Add federated matrix compression integration test
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedMatrixCompressionTest.java
  src/test/scripts/functions/federated/io/FederatedMatrixCompressionTest.dml
  src/test/scripts/functions/federated/io/FederatedMatrixCompressionTestReference.dml
Due: none

Make federated integration test verify compression is actually applied
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedMatrixCompressionTest.java
  src/test/scripts/functions/federated/io/FederatedMatrixCompressionTest.dml
  src/test/scripts/functions/federated/io/FederatedMatrixCompressionTestReference.dml
Due: none

Remove old compress/ package files (moved to federated/compression/)
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrix.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionConfig.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionFactory.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionType.java
  src/main/java/org/apache/sysds/runtime/compress/MatrixCompressor.java
  src/main/java/org/apache/sysds/runtime/compress/Quantization/ProbabilisticQuantizationCompressor.java
  src/main/java/org/apache/sysds/runtime/compress/Quantization/QuantizedData.java
  src/main/java/org/apache/sysds/runtime/compress/TopK/TopKCompressor.java
  src/main/java/org/apache/sysds/runtime/compress/TopK/TopKData.java
  src/main/java/org/apache/sysds/runtime/compress/exceptions/CompressionException.java
  src/main/java/org/apache/sysds/runtime/compress/exceptions/DecompressionException.java
Due: runtime, compress

Fix Eclipse formatter issues in compression files
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationMap.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/compression/CompressedMatrix.java
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedMatrixCompressionTest.java
  src/test/java/org/apache/sysds/test/functions/federated/io/ProbabilisticQuantizationCompressorTest.java
Due: runtime

Fix matrix dimension mismatch in federated compression test
  src/test/java/org/apache/sysds/test/functions/federated/io/FederatedMatrixCompressionTest.java
Due: none

[SYSTEMDS-3166] Improve Isolation Forest tests and cleanup
  scripts/builtin/outlierByIsolationForest.dml
  scripts/builtin/outlierByIsolationForestApply.dml
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinIsolationForestTest.java
  src/test/scripts/functions/builtin/outlierByIsolationForestTest.R
  src/test/scripts/functions/builtin/outlierByIsolationForestTest.dml
Due: none

[MINOR] Fix literal parsing issue in svn promote script
  dev/release/svn-staging-to-release.sh
Due: none

[MINOR] Downgrade Docker Action Majors
  .github/workflows/docker-release.yml
Due: none

Revert "[MINOR] Downgrade Docker Action Majors"
  .github/workflows/docker-release.yml
Due: none

Refine multi-threaded unique memory handling
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueBase.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRow.java
Due: runtime, matrix

Align unique parallel path with SystemDS semantics
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketchUniqueParallelTest.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueBase.java
  src/test/java/org/apache/sysds/test/functions/unique/UniqueRow.java
Due: runtime, matrix

Add batched parallel unique handling
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketchUniqueParallelTest.java
Due: runtime, matrix

Account for object overhead in parallel unique memory guard
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
Due: runtime, matrix

Add multi-threaded unique in LibMatrixSketch
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketchUniqueParallelTest.java
Due: runtime, matrix

[SYSTEMDS-3524] Use InfrastructureAnalyzer for the local memory budget
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
Due: runtime, matrix

[SYSTEMDS-3524] Address review: activate parallel unique and fix batched memory guards
  src/main/java/org/apache/sysds/runtime/instructions/cp/AggregateUnaryCPInstruction.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixSketch.java
  src/test/java/org/apache/sysds/test/functions/unique/LibMatrixSketchUniqueParallelTest.java
Due: runtime, matrix

[SYSTEMDS-3857] Set/GetNames on Data Frames
  src/main/java/org/apache/sysds/api/jmlc/PreparedScript.java
  src/main/java/org/apache/sysds/api/mlcontext/MLContextConversionUtil.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/ParameterizedBuiltinFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/BuiltinNarySPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/FrameAppendRSPInstruction.java
Due: runtime, util

[SYSTEMDS-3857] wip
  src/main/java/org/apache/sysds/runtime/util/ProgramConverter.java
  src/test/java/org/apache/sysds/test/component/paramserv/SerializationTest.java
Due: runtime

[SYSTEMDS-3857] - wip
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameFrameCPInstruction.java
Due: runtime

[SYSTEMDS-3857] - added corresponding test which should fail with the old implementation
  src/test/java/org/apache/sysds/test/functions/io/csv/FrameCSVHeaderNamesTest.java
  src/test/scripts/functions/frame/FrameCSVHeaderNames.dml
Due: none

[SYSTEMDS-3857] - replaced the setColumnMetadata function in FrameBlock with a deep copy variant
  src/main/java/org/apache/sysds/runtime/frame/data/FrameBlock.java
Due: runtime, frame

[SYSTEMDS-3524] Add unique() runtime benchmark
  src/test/java/org/apache/sysds/performance/matrix/UniquePerf.java
Due: none

[SYSTEMDS-3857] - reformated some files to adhere to the SystemDS Standard
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/BinaryFrameFrameCPInstruction.java
Due: runtime, compiler

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
