Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

[SYSTEMDS-3833] Fix seq() length primitive (pos/neg increment)
  src/main/java/org/apache/sysds/runtime/util/UtilFunctions.java
Due: runtime

Add debugging and add cost for const(...)
  src/main/java/org/apache/sysds/hops/rewriter/RewriterContextSettings.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/estimators/RewriterCostEstimator.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleCreator.java
  src/main/java/org/apache/sysds/hops/rewriter/utils/CodeGenUtils.java
Due: compiler

minor adjustments
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

new test types
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
Due: none

delete todo
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

MSc Submission Finalization
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/rule/RewriterRuleCreator.java
Due: compiler

Update RewriterFramework.java
  src/main/java/org/apache/sysds/hops/rewriter/RewriterFramework.java
Due: compiler

fix executeSparseColRowProd()
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

Quantization-fused compression functionality implementation
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteQuantizationFusedCompression.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettings.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
  src/main/java/org/apache/sysds/runtime/compress/bitmap/BitmapEncoder.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstExact.java
  src/main/java/org/apache/sysds/runtime/compress/estim/ComEstSample.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelectionDenseSingleBlockQuantized.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelectionQuantized.java
  src/main/java/org/apache/sysds/runtime/instructions/CPInstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CPInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/CompressionCPInstruction.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/QuantizationFusedCompressionTest.java
  src/test/java/org/apache/sysds/test/component/compress/readers/ReadersTest.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteQuantizationFusedCompressionTest.java
  src/test/scripts/functions/rewrite/RewriteQuantizationFusedCompressionMatrix.dml
  src/test/scripts/functions/rewrite/RewriteQuantizationFusedCompressionScalar.dml
Due: runtime, compress, compiler, util

Init function
  scripts/nn/layers/embedding.dml
Due: none

[SYSTEMDS-3838] Fix unsupported expressions of boolean literals
  src/main/java/org/apache/sysds/parser/DMLTranslator.java
  src/test/java/org/apache/sysds/test/functions/misc/BooleanExpressionTest.java
  src/test/scripts/functions/misc/booleanExpr.dml
Due: compiler

Forward pass
  scripts/nn/layers/embedding.dml
Due: none

shifted SP and FED opcodes to enum. Created InstructionType to consolidate all types.
  src/main/java/org/apache/sysds/runtime/instructions/spark/BinaryFrameFrameSPInstruction.java
Due: runtime

debug executeSparseColRowProd()
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
Due: runtime

performance improvement
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

Delete scripts/staging/cuda-counter-based-prng/philox_kernel.ptx
  scripts/staging/cuda-counter-based-prng/philox_kernel.ptx
Due: none

[SYSTEMDS-3839] Fix rewrite utils robustness (correct value types)
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/hops/rewrite/HopRewriteUtils.java
  src/test/java/org/apache/sysds/test/component/misc/RewriteUtilsTest.java
Due: compiler, util

[SYSTEMDS-3837] Fix trace error handling (only squared matrices)
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/test/java/org/apache/sysds/test/functions/aggregate/TraceTest.java
  src/test/scripts/functions/aggregate/TraceInvalid1.dml
  src/test/scripts/functions/aggregate/TraceInvalid2.dml
Due: compiler

[SYSTEMDS-3836] Fix distributive binary ops rewrite for broadcasting
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyDistributiveBinaryOperationTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyDistributiveBinaryOperation.R
  src/test/scripts/functions/rewrite/RewriteSimplifyDistributiveBinaryOperation.dml
Due: compiler

added sequential/parallel readers and writers for parquet and tests for functionality
  src/main/java/org/apache/sysds/common/Types.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameReaderParquetParallel.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquet.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterParquetParallel.java
  src/test/java/org/apache/sysds/test/functions/io/SeqParReadTest2.java
  src/test/java/org/apache/sysds/test/functions/io/parquet/FrameParquetSchemaTest.java
Due: runtime, util

made changes to correct the previous issues
  src/main/java/org/apache/sysds/common/InstructionType.java
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/lops/ParameterizedBuiltin.java
  src/main/java/org/apache/sysds/runtime/util/AutoDiff.java
Due: runtime, compiler, util

Backward pass
  scripts/nn/layers/embedding.dml
Due: none

[SYSTEMDS-3841] Additional multiLogReg tests to check mmchain rewrite
  src/test/java/org/apache/sysds/test/functions/builtin/part2/BuiltinMultiLogRegTest.java
Due: none

colProd change
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
Due: runtime

fix transpose in tests
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl29.R
Due: none

lnnz fix
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

Rewrite test fix, incorporated comments
  src/main/java/org/apache/sysds/hops/rewrite/RewriteQuantizationFusedCompression.java
  src/main/java/org/apache/sysds/parser/BuiltinFunctionExpression.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/CompressionSettingsBuilder.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/main/java/org/apache/sysds/runtime/instructions/InstructionParser.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/QuantizationFusedCompressionTest.java
Due: runtime, compress, compiler

Unnecessary reader removed, encoding improved
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/bitmap/BitmapEncoder.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelection.java
  src/main/java/org/apache/sysds/runtime/compress/readers/ReaderColumnSelectionQuantized.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/CompareCompressionTypeTest.java
  src/test/java/org/apache/sysds/test/component/compress/readers/ReadersTest.java
Due: runtime, compress

made further changes to correct the previous issues
  src/main/java/org/apache/sysds/common/Opcodes.java
  src/main/java/org/apache/sysds/lops/Compression.java
  src/main/java/org/apache/sysds/lops/Data.java
  src/main/java/org/apache/sysds/lops/Federated.java
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederationUtils.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/AggregateTernaryFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuaternaryWCeMMFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuaternaryWDivMMFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/QuaternaryWSLossFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/fed/SpoofFEDInstruction.java
  src/main/java/org/apache/sysds/runtime/lineage/LineageRecomputeUtils.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteHoistingLoopInvariantOpsTest.java
Due: runtime, compiler, util

Best compression type test
  src/main/java/org/apache/sysds/runtime/compress/estim/encoding/EncodingFactory.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/CompareCompressionTypeTest.java
  src/test/java/org/apache/sysds/test/component/compress/qcompress/QuantizationFusedCompressionTest.java
Due: runtime, compress

new tests
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
Due: none

rewrite to a more readable code
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
