Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

codecov.yml:

#-------------------------------------------------------------
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#-------------------------------------------------------------

# validation:
# curl -X POST --data-binary @codecov.yml https://codecov.io/validate

coverage:
  status:
    patch: no
    project:
      default:
        threshold: 1%
        if_not_found: success
    changes: no
  precision: 2
  range: "50...75"
  ignore:
  - "src/main/java/org/apache/sysds/protobuf"
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: module_runtime  # this is an identifier that should not be changed
      name: runtime  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/**
    - component_id: module_matrix # this is an identifier that should not be changed
      name: matrix  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/matrix/**
    - component_id: module_frame # this is an identifier that should not be changed
      name: frame  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/frame/**
    - component_id: module_compress # this is an identifier that should not be changed
      name: compress  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/runtime/compress/**
    - component_id: module_compiler  # this is an identifier that should not be changed
      name: compiler  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/hops/**
        - src/main/java/org/apache/sysds/lops/**
        - src/main/java/org/apache/sysds/parser/**
    - component_id: module_util  # this is an identifier that should not be changed
      name: util  # this is a display name, and can be changed freely
      paths:
        - src/main/java/org/apache/sysds/api/**
        - src/main/java/org/apache/sysds/common/**
        - src/main/java/org/apache/sysds/conf/**
        - src/main/java/org/apache/sysds/resource/**
        - src/main/java/org/apache/sysds/utils/**

performance test
  src/test/java/org/apache/sysds/performance/PiecewiseLinearCompressionPerformanceTest.java
Due: none

[SYSTEMDS-3779] Fixed usage of wrong indexing variable in decompressToSparseBlockTransposedSparseDictionary.
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWTest.java
Due: runtime, compress

[MINOR] Mark the snapshot version 3.4.0 in docs
  .asf.yaml
  docs/_config.yml
  src/main/python/systemds/project_info.py
Due: none

[SYSTEMDS-3779] Add LZW ColGroup
  src/main/java/org/apache/sysds/runtime/compress/colgroup/AColGroup.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupFactory.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupIO.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWScheme.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeMC.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/scheme/DDCLZWSchemeSC.java
  src/main/java/org/apache/sysds/runtime/compress/estim/CompressedSizeInfoColGroup.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWBenchmark.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWTest.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWTestUtils.java
Due: runtime, compress

Fix URL for downloading Apache Maven in Dockerfile
  docker/pythonsysds.Dockerfile
Due: none

Update Maven download URL to use HTTPS
  docker/testsysds.Dockerfile
Due: none

Update Maven download URL to use HTTPS
  docker/sysds.Dockerfile
Due: none

[CHORE] Fix URL for downloading Apache Maven in Dockerfile
  docker/pythonsysds.Dockerfile
  docker/sysds.Dockerfile
  docker/testsysds.Dockerfile
Due: none

[MINOR] OOC Bugfix Cache Reference Management + Return Right BlockKey on Externally Managed Grouped Callbacks
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/BlockEntry.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCCacheScheduler.java
  src/main/java/org/apache/sysds/runtime/ooc/cache/OOCLRUCacheScheduler.java
Due: runtime

[SYSTEMDS-3921] Initial join ordering rewrites
  scripts/builtin/raJoin.dml
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteJoinReordering.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteRaJoinTest.java
  src/test/scripts/functions/rewrite/raJoin.dml
Due: compiler

[SYSTEMDS-3920] Vector API in more codegen primitives
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/BenchCase.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/BenchUtil.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/Ctx.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/PrimitivePerfSuite.java
  src/test/java/org/apache/sysds/performance/primitives_vector_api/backup_primitives_for_benchmark.java
Due: runtime, matrix

[SYSTEMDS-3928] New builtin function for Independent Subnet Training
  scripts/builtin/independentSubnetTrain.dml
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/runtime/controlprogram/context/ExecutionContext.java
  src/main/java/org/apache/sysds/runtime/instructions/cp/ListObject.java
  src/test/config/SystemDS-config.xml
  src/test/java/org/apache/sysds/test/functions/builtin/part1/BuiltinIndSubnetTest.java
  src/test/scripts/functions/builtin/indSubnetTest_mnist_lenet.dml
Due: runtime, util

[MINOR] Fix formatting and method name violations
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
Due: runtime, matrix

Add causal mask to multi-head attention forward path
  scripts/nn/layers/multi_attention.dml
  src/test/java/org/apache/sysds/test/applications/nn/transformers/MultiAttentionLayerTest.java
  src/test/scripts/applications/nn/component/multi_attention_forward_causal.dml
Due: none

llm-bench: restore README reference tables; narrow .gitignore
  scripts/staging/llm-bench/.gitignore
  scripts/staging/llm-bench/README.md
Due: none

Fix flaky R script runs: drain stdout/stderr concurrently
  src/test/java/org/apache/sysds/test/AutomatedTestBase.java
Due: none

[MINOR] Misc fixes code quality (warnings, formatting, naming)
  src/main/java/org/apache/sysds/common/Builtins.java
  src/main/java/org/apache/sysds/runtime/compress/colgroup/ColGroupDDCLZW.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/ReorgOOCInstruction.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/SubscribableTaskQueue.java
  src/test/java/org/apache/sysds/performance/vectprimitives/BenchCase.java
  src/test/java/org/apache/sysds/performance/vectprimitives/BenchUtil.java
  src/test/java/org/apache/sysds/performance/vectprimitives/BenchmarkPrimitives.java
  src/test/java/org/apache/sysds/performance/vectprimitives/Ctx.java
  src/test/java/org/apache/sysds/performance/vectprimitives/PrimitivePerfSuite.java
  src/test/java/org/apache/sysds/test/component/compress/colgroup/DDCLZW/ColGroupDDCLZWTest.java
  src/test/java/org/apache/sysds/test/component/ooc/cache/OOCLRUCacheSchedulerTest.java
  src/test/java/org/apache/sysds/test/functions/ooc/MatrixMatrixBinaryMultiplicationTest.java
Due: runtime, compress, util

[SYSTEMDS-3858] New HDBSCAN builtin function
  scripts/staging/hdbscan/hdbscan.dml
  scripts/staging/hdbscan/test_build_hierarchy.dml
  scripts/staging/hdbscan/test_build_mst.dml
  scripts/staging/hdbscan/test_cluster_model.dml
  scripts/staging/hdbscan/test_extract_stabe_clusters.dml
  scripts/staging/hdbscan/test_hdbscan.dml
  scripts/staging/hdbscan/test_kth_smallest.dml
  scripts/staging/hdbscan/test_mutual_reachability.dml
  scripts/staging/hdbscan/test_union_find.dml
Due: none

[SYSTEMDS-3855] Extended Vector API Use in Dense-Sparse Matmult
  pom.xml
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrix/MatrixMultiplyTest.java
Due: runtime, matrix

[SYSTEMDS-3921] New Rewrite for Relational Selection Pushdown
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteRaPushdown.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewritePushdownRaSelectionTest.java
  src/test/scripts/functions/rewrite/RewritePushdownRaSelection.dml
Due: compiler

[SYSTEMDS-3151] New detectMissingType builtin function
  scripts/staging/detectMissingType/create_dataset.dml
  scripts/staging/detectMissingType/detectMissingType.dml
  scripts/staging/detectMissingType/testDetectMissingType.dml
Due: none

[SYSTEMDS-3168] Matrix Multiplication Transposed Kernels
  src/main/java/org/apache/sysds/hops/OptimizerUtils.java
  src/main/java/org/apache/sysds/hops/rewrite/ProgramRewriter.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedTest.java
Due: runtime, matrix, compiler

[MINOR] Fix formatting and method name violations
  src/main/java/org/apache/sysds/runtime/instructions/ooc/CachingStream.java
  src/main/java/org/apache/sysds/runtime/instructions/ooc/OOCInstruction.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/FilteredOOCStream.java
  src/main/java/org/apache/sysds/runtime/ooc/stream/SplittingOOCStream.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedPerformanceTest.java
  src/test/java/org/apache/sysds/test/component/matrixmult/MatrixMultTransposedTest.java
Due: runtime

[SYSTEMDS-3547] Tensor in-place permutation operations
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/TestUtils.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/TransposeInPlaceBrennerTest.java
Due: runtime, matrix

[SYSTEMDS-3547] Tensor permutation operations
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixReorg.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/PermuteTest.java
  src/test/java/org/apache/sysds/test/component/matrix/libMatrixReorg/TransposeInPlaceBrennerTest.java
  src/test/java/org/apache/sysds/test/component/tensor/TransposeLinDataTest.java
Due: runtime, matrix

[MINOR] Fix test formatting (method names, tab indentation)
  src/test/java/org/apache/sysds/test/component/tensor/TransposeLinDataTest.java
Due: none

add updated memory estimators
  src/main/python/systemds/scuro/dataloader/image_loader.py
  src/main/python/systemds/scuro/dataloader/json_loader.py
  src/main/python/systemds/scuro/dataloader/text_loader.py
  src/main/python/systemds/scuro/drsearch/modality_shared_memory.py
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/task.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/modality/type.py
  src/main/python/systemds/scuro/modality/unimodal_modality.py
  src/main/python/systemds/scuro/representations/aggregate.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
  src/main/python/systemds/scuro/representations/bert.py
  src/main/python/systemds/scuro/representations/bow.py
  src/main/python/systemds/scuro/representations/clip.py
  src/main/python/systemds/scuro/representations/color_histogram.py
  src/main/python/systemds/scuro/representations/glove.py
  src/main/python/systemds/scuro/representations/mlp_averaging.py
  src/main/python/systemds/scuro/representations/representation.py
  src/main/python/systemds/scuro/representations/resnet.py
  src/main/python/systemds/scuro/representations/text_context_with_indices.py
  src/main/python/systemds/scuro/representations/tfidf.py
  src/main/python/systemds/scuro/representations/vgg.py
  src/main/python/systemds/scuro/representations/window_aggregation.py
  src/main/python/systemds/scuro/utils/static_variables.py
  src/main/python/systemds/scuro/utils/torch_dataset.py
Due: none

fix tests
  src/main/python/systemds/scuro/dataloader/audio_loader.py
  src/main/python/systemds/scuro/dataloader/timeseries_loader.py
  src/main/python/systemds/scuro/dataloader/video_loader.py
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
  src/main/python/systemds/scuro/modality/transformed.py
  src/main/python/systemds/scuro/representations/concatenation.py
  src/main/python/systemds/scuro/representations/covarep_audio_features.py
  src/main/python/systemds/scuro/representations/hadamard.py
  src/main/python/systemds/scuro/representations/spectrogram.py
  src/main/python/systemds/scuro/representations/sum.py
  src/main/python/systemds/scuro/representations/timeseries_representations.py
  src/main/python/tests/scuro/data_generator.py
  src/main/python/tests/scuro/test_data_loaders.py
  src/main/python/tests/scuro/test_hp_tuner.py
  src/main/python/tests/scuro/test_scheduler.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_representations.py
  src/main/python/tests/scuro/test_window_operations.py
Due: none

fix tests
  src/main/python/tests/scuro/test_multimodal_fusion.py
Due: none

add license
  src/main/python/systemds/scuro/utils/checkpointing.py
Due: none

fix scheduler
  src/main/python/systemds/scuro/drsearch/node_scheduler.py
Due: none

fix wrong attribute in test
  src/main/python/systemds/scuro/utils/static_variables.py
  src/main/python/tests/scuro/test_data_loaders.py
Due: none

remove prints
  src/main/python/systemds/scuro/drsearch/node_executor.py
  src/main/python/systemds/scuro/representations/aggregated_representation.py
Due: none

add dag id param
  src/main/python/systemds/scuro/drsearch/representation_dag.py
  src/main/python/systemds/scuro/drsearch/unimodal_optimizer.py
  src/main/python/tests/scuro/test_unimodal_optimizer.py
Due: none
