Repository apache/systemds: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, matrix, frame, compress, compiler, util

implemented reverse sequence step test and made changes to reorg operation function (phase ordering) in RewriteAlgebraicSimplificationStatic.
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyReverseSequenceStepTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyReverseSequenceStep.dml
Due: compiler

removed unnecessary files
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteBooleanSimplificationTest.java
Due: none

removed unnecessary files
  1
  1.mtd
  1000
  1000.mtd
Due: none

test files
  src/test/scripts/functions/codegen/rowAggPattern47.dml
  src/test/scripts/functions/codegen/rowAggPattern48.R
  src/test/scripts/functions/codegen/rowAggPattern48.dml
Due: none

[SYSTEMDS-3842] Improve test coverage of API components: DMLScript & DMLOptions
  src/main/java/org/apache/sysds/api/DMLOptions.java
  src/main/java/org/apache/sysds/hops/codegen/SpoofCompiler.java
  src/test/java/org/apache/sysds/test/component/misc/CLIOptionsParserTest.java
  src/test/java/org/apache/sysds/test/component/misc/DMLScriptTest.java
  src/test/resources/conf/invalid-codegen-conf.xml
  src/test/resources/conf/invalid-gpu-conf.xml
  src/test/resources/conf/invalid-shadow-buffer1-conf.xml
  src/test/resources/conf/invalid-shadow-buffer2-conf.xml
  src/test/resources/conf/shadow-buffer-conf.xml
Due: compiler, util

add bigger matrices
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
  src/test/scripts/functions/codegen/cellwisetmpl31.R
  src/test/scripts/functions/codegen/cellwisetmpl31.dml
Due: none

[MINOR] Fix in Python API GatewayServerListener
  src/main/java/org/apache/sysds/api/PythonDMLScript.java
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
Due: util

[MINOR] Add autogenerated Python builtins
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/sliceLineExtract.py
  src/main/python/systemds/operator/algorithm/builtin/sqrtMatrix.py
Due: none

[SYSTEMDS-3541] Exploratory workload-aware compression on intermediates
  src/main/java/org/apache/sysds/conf/DMLConfig.java
  src/main/java/org/apache/sysds/hops/rewrite/RewriteCompressedReblock.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlockFactory.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibBinaryCellOp.java
  src/main/java/org/apache/sysds/runtime/compress/workload/WorkloadAnalyzer.java
  src/main/java/org/apache/sysds/runtime/frame/data/columns/HashMapToInt.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibBinaryCellOpCustomTest.java
  src/test/java/org/apache/sysds/test/component/compress/lib/CLALibBinaryCellOpTest.java
  src/test/java/org/apache/sysds/test/functions/compress/workload/WorkloadAlgorithmTest.java
Due: runtime, frame, compress, compiler, util

[MINOR] Add ses Python autogenerated builtin
  src/main/python/systemds/operator/algorithm/__init__.py
  src/main/python/systemds/operator/algorithm/builtin/ses.py
Due: none

[MINOR] Java Pom flag for disabling doc generating
  pom.xml
Due: none

code coverage
  src/test/java/org/apache/sysds/test/usertest/pythonapi/StartupTest.java
Due: none

[DO NOT MERGE][skip ci] JAVA 17 BWARE COMMIT
  src/main/java/org/apache/sysds/hops/AggBinaryOp.java
  src/main/java/org/apache/sysds/hops/BinaryOp.java
  src/main/java/org/apache/sysds/hops/Hop.java
  src/main/java/org/apache/sysds/hops/UnaryOp.java
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/instructions/spark/utils/FrameRDDConverterUtils.java
  src/main/java/org/apache/sysds/runtime/io/FrameWriterTextCSV.java
  src/main/java/org/apache/sysds/runtime/io/IOUtilFunctions.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibAggregateUnarySpecialization.java
  src/main/java/org/apache/sysds/runtime/matrix/data/LibMatrixMult.java
  src/main/java/org/apache/sysds/runtime/matrix/data/MatrixBlock.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleMultiColTest.java
  src/test/java/org/apache/sysds/test/component/compress/estim/encoding/EncodeSampleUnbalancedTest.java
  src/test/java/org/apache/sysds/test/functions/compress/configuration/CompressForce.java
Due: runtime, matrix, compress, compiler

remove set opt level
  src/main/java/org/apache/sysds/runtime/controlprogram/ParForProgramBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/opt/OptimizationWrapper.java
Due: runtime

increment on mmchain
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkloadAnalyzer.java
Due: runtime

increment counter on mmchain
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkloadAnalyzer.java
Due: runtime

maybe faster
  src/main/java/org/apache/sysds/runtime/compress/CompressedMatrixBlock.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibMMChain.java
  src/main/java/org/apache/sysds/runtime/compress/lib/CLALibTSMM.java
Due: runtime, compress

[SYSTEMDS-3664] New simplification rewrite rev(seq())
  src/main/java/org/apache/sysds/hops/rewrite/RewriteAlgebraicSimplificationStatic.java
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteSimplifyReverseSequenceStepTest.java
  src/test/scripts/functions/rewrite/RewriteSimplifyReverseSequenceStep.dml
Due: compiler

write tests
  src/test/scripts/functions/codegen/rowAggPattern47.R
  src/test/scripts/functions/codegen/rowAggPattern47.dml
  src/test/scripts/functions/codegen/rowAggPattern48.R
  src/test/scripts/functions/codegen/rowAggPattern48.dml
Due: none

adjust var function
  src/main/java/org/apache/sysds/runtime/codegen/LibSpoofPrimitives.java
Due: runtime

create and run test configs
  src/test/java/org/apache/sysds/test/functions/codegen/RowAggTmplTest.java
Due: none

create more test cases
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
Due: none

adjust test type
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl30.R
  src/test/scripts/functions/codegen/cellwisetmpl31.R
Due: none

[SYSTEMDS-3844] Extended codegen templates w/ row/colProd Agg
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateCell.java
  src/main/java/org/apache/sysds/hops/codegen/template/TemplateRow.java
  src/main/java/org/apache/sysds/runtime/codegen/SpoofCellwise.java
  src/test/java/org/apache/sysds/test/functions/codegen/CellwiseTmplTest.java
  src/test/scripts/functions/codegen/cellwisetmpl28.R
  src/test/scripts/functions/codegen/cellwisetmpl28.dml
  src/test/scripts/functions/codegen/cellwisetmpl29.R
  src/test/scripts/functions/codegen/cellwisetmpl29.dml
  src/test/scripts/functions/codegen/cellwisetmpl30.R
  src/test/scripts/functions/codegen/cellwisetmpl30.dml
  src/test/scripts/functions/codegen/cellwisetmpl31.R
  src/test/scripts/functions/codegen/cellwisetmpl31.dml
Due: runtime, compiler

[MINOR] Cleanup append tests for proper exec type handling
  src/test/java/org/apache/sysds/test/functions/append/AppendChainTest.java
  src/test/java/org/apache/sysds/test/functions/append/AppendMatrixTest.java
  src/test/java/org/apache/sysds/test/functions/append/AppendVectorTest.java
  src/test/java/org/apache/sysds/test/functions/append/RBindCBindMatrixTest.java
Due: none

Boolean Rewrite Task
  src/test/java/org/apache/sysds/test/functions/rewrite/RewriteBooleanSimplificationTest.java
Due: none

[MINOR] Parfor remove set opt level
  src/main/java/org/apache/sysds/runtime/controlprogram/ParForProgramBlock.java
  src/main/java/org/apache/sysds/runtime/controlprogram/parfor/opt/OptimizationWrapper.java
Due: runtime

[SYSTEMDS-3845] Federated Threading Bug
  src/main/java/org/apache/sysds/runtime/controlprogram/federated/FederatedWorkerHandler.java
  src/main/java/org/apache/sysds/runtime/util/CommonThreadPool.java
  src/test/java/org/apache/sysds/test/functions/federated/algorithms/FederatedKmeansTest.java
Due: runtime

Path conditions:
  runtime: any of: src/main/java/org/apache/sysds/runtime/**
  matrix: any of: src/main/java/org/apache/sysds/runtime/matrix/**
  frame: any of: src/main/java/org/apache/sysds/runtime/frame/**
  compress: any of: src/main/java/org/apache/sysds/runtime/compress/**
  compiler: any of: src/main/java/org/apache/sysds/hops/**, src/main/java/org/apache/sysds/lops/**, src/main/java/org/apache/sysds/parser/**
  util: any of: src/main/java/org/apache/sysds/api/**, src/main/java/org/apache/sysds/common/**, src/main/java/org/apache/sysds/conf/**, src/main/java/org/apache/sysds/resource/**, src/main/java/org/apache/sysds/utils/**
